<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythNorseMasc.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>ALF</key><dict><key>nameID</key><string>01.04.0.1</string><key>nameDescription</key><string>А́львы (или альты) — по сути то же слово «эльфы», только в произношении некоторых германо-скандинавских языков.
        В ранней германо-скандинавской мифологии — нестареющая, обладающая магией, прекрасная раса, живущая как и люди, на Земле, либо в «эльфо-мире», который тоже описывался физически реальным (так как по легендам люди попадают туда и возвращаются оттуда живыми). Такое представление об альвах, частично сохранившись, дошло даже до средневековья, осталось запечатлено в языке, именах, культуре и генеалогии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D1%8C%D0%B2%D1%8B</string><key>nameImageName</key><string>MythNorseMascALF</string></dict>
    <key>ALFR</key><dict><key>nameID</key><string>01.04.0.2</string><key>nameDescription</key><string>А́львы (или альты) — по сути то же слово «эльфы», только в произношении некоторых германо-скандинавских языков.
        В ранней германо-скандинавской мифологии — нестареющая, обладающая магией, прекрасная раса, живущая как и люди, на Земле, либо в «эльфо-мире», который тоже описывался физически реальным (так как по легендам люди попадают туда и возвращаются оттуда живыми). Такое представление об альвах, частично сохранившись, дошло даже до средневековья, осталось запечатлено в языке, именах, культуре и генеалогии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D1%8C%D0%B2%D1%8B</string><key>nameImageName</key><string>MythNorseMascALF</string></dict>
    <key>ALVIS</key><dict><key>nameID</key><string>01.04.0.3</string><key>nameDescription</key><string>Альвис (др.-сканд. Alvíss — «всезнающий») — в германо-скандинавской мифологии один из цвергов.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D1%8C%D0%B2%D0%B8%D1%81</string><key>nameImageName</key><string>MythNorseMascALVIS</string></dict>
    <key>ASK</key><dict><key>nameID</key><string>01.04.0.4</string><key>nameDescription</key><string>Аск и Эмбла (др.-сканд. Askr ok Embla, «ясень» и «ива»), в скандинавской мифологии первые люди, которых ещё в виде древесных прообразов, бездыханных и «лишённых судьбы», нашли на берегу моря боги (в «Старшей Эдде» — в песне «Прорицание вёльвы» — это три аса — Один (дал душу), Лодур (дал чувства), Хёнир (дал разум), а в «Младшей Эдде» — «сыны Бора», то есть Один, Вили и Ве). Боги их оживили (доделали как людей).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%81%D0%BA_%D0%B8_%D0%AD%D0%BC%D0%B1%D0%BB%D0%B0</string><key>nameImageName</key><string>MythNorseMascASK</string></dict>
    <key>ASKR</key><dict><key>nameID</key><string>01.04.0.5</string><key>nameDescription</key><string>Аск и Эмбла (др.-сканд. Askr ok Embla, «ясень» и «ива»), в скандинавской мифологии первые люди, которых ещё в виде древесных прообразов, бездыханных и «лишённых судьбы», нашли на берегу моря боги (в «Старшей Эдде» — в песне «Прорицание вёльвы» — это три аса — Один (дал душу), Лодур (дал чувства), Хёнир (дал разум), а в «Младшей Эдде» — «сыны Бора», то есть Один, Вили и Ве). Боги их оживили (доделали как людей).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%81%D0%BA_%D0%B8_%D0%AD%D0%BC%D0%B1%D0%BB%D0%B0</string><key>nameImageName</key><string>MythNorseMascASK</string></dict>
    <key>BALDER</key><dict><key>nameID</key><string>01.04.0.6</string><key>nameDescription</key><string>Бальдр (др.-сканд. Baldr), или Ба́льдер (также встречается неправильное написание «Бальдур») — в германо-скандинавской мифологии один из асов, бог весны и света.
        Бальдр подобен присутствующим в мифологии многих народов божествам умирающей и возрождающейся природы, покровительствующим земледелию или растительности в целом. Такие боги обычны для мифологий и религий народов, живущих или живших на территориях, для природы которых характерна сезонность[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%BB%D1%8C%D0%B4%D1%80</string><key>nameImageName</key><string>MythNorseMascBALDER</string></dict>
    <key>BALDR</key><dict><key>nameID</key><string>01.04.0.7</string><key>nameDescription</key><string>Бальдр (др.-сканд. Baldr), или Ба́льдер (также встречается неправильное написание «Бальдур») — в германо-скандинавской мифологии один из асов, бог весны и света.
        Бальдр подобен присутствующим в мифологии многих народов божествам умирающей и возрождающейся природы, покровительствующим земледелию или растительности в целом. Такие боги обычны для мифологий и религий народов, живущих или живших на территориях, для природы которых характерна сезонность[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%BB%D1%8C%D0%B4%D1%80</string><key>nameImageName</key><string>MythNorseMascBALDER</string></dict>
    <key>FREY</key><dict><key>nameID</key><string>01.04.0.8</string><key>nameDescription</key><string>Фрейр (также Фрей, др.-сканд. Freyr), также Ингви (изначально означало «господин») — в германо-скандинавской мифологии бог плодородия и лета. Происходит из рода ванов, сын вана Ньёрда и великанши Скади. Отец Фрейра Ньёрд, в свою очередь — приёмный сын Одина, оставленный ванами в Асгарде заложником после заключения мира между асами и ванами. Сестра-близнец Фрейра — Фрейя.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%80</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>
    <key>FREYR</key><dict><key>nameID</key><string>01.04.0.9</string><key>nameDescription</key><string>Фрейр (также Фрей, др.-сканд. Freyr), также Ингви (изначально означало «господин») — в германо-скандинавской мифологии бог плодородия и лета. Происходит из рода ванов, сын вана Ньёрда и великанши Скади. Отец Фрейра Ньёрд, в свою очередь — приёмный сын Одина, оставленный ванами в Асгарде заложником после заключения мира между асами и ванами. Сестра-близнец Фрейра — Фрейя.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%80</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>
    <key>GANDALF</key><dict><key>nameID</key><string>01.04.0.10</string><key>nameDescription</key><string>Гэндальф — архетипический мудрый волшебник, традиционная фигура в знакомой Дж. Р. Р. Толкину скандинавской и британской мифологии. Имя «Гэндальф», или, вернее, «Гандальв», позаимствовано из древненорвежской поэмы Dvergatal, где оно принадлежит одному из «нижних свартальвов» (гномов)[1]. В ранних набросках Толкина к «Хоббиту» Гэндальфом звали предводителя отряда гномов, и описывался он как невысокий «старик с посохом»[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D1%8D%D0%BD%D0%B4%D0%B0%D0%BB%D1%8C%D1%84</string><key>nameImageName</key><string>MythNorseMascGANDALF</string></dict>
    <key>GUNNAR</key><dict><key>nameID</key><string>01.04.0.11</string><key>nameDescription</key><string>Гунтер — один из главных персонажей средневековой эпической поэмы «Песнь о Нибелунгах». Король бургундов, старший брат Гернота, Гизельхера и Кримхильды, впоследствии муж исландской королевы Брюнхильды. Историческим прототипом этого персонажа послужил король Бургундии Гундахар, правивший в 413 — 436 годах.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D1%83%D0%BD%D1%82%D0%B5%D1%80</string><key>nameImageName</key><string>MythNorseMascGUNNAR</string></dict>
    <key>GUNNARR</key><dict><key>nameID</key><string>01.04.0.12</string><key>nameDescription</key><string>Гунтер — один из главных персонажей средневековой эпической поэмы «Песнь о Нибелунгах». Король бургундов, старший брат Гернота, Гизельхера и Кримхильды, впоследствии муж исландской королевы Брюнхильды. Историческим прототипом этого персонажа послужил король Бургундии Гундахар, правивший в 413 — 436 годах.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D1%83%D0%BD%D1%82%D0%B5%D1%80</string><key>nameImageName</key><string>MythNorseMascGUNNAR</string></dict>
    <key>JARL</key><dict><key>nameID</key><string>01.04.0.13</string><key>nameDescription</key><string>Ярл (др.-сканд. Jarl) — высший титул в иерархии в средневековой Скандинавии, а также само сословие знати[1][2]. Первоначально означал племенного вождя, позже стал означать титул верховного правителя страны. После появления национальных государств ярлы стали доверенными лицами конунга и осуществляли его власть на местах.
        К началу XIV века термин вышел из употребления, так как ярлов заменили королевские брюты[3].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AF%D1%80%D0%BB</string><key>nameImageName</key><string>MythNorseMascJARL</string></dict>
    <key>LOKE</key><dict><key>nameID</key><string>01.04.0.14</string><key>nameDescription</key><string>Ло́ки (др.-сканд. Loki, также Loki Laufeyjar sonr, нем. Loge) — сын ётуна Фарбаути и Лаувейи, также упоминается в качестве бога хитрости и обмана и т. п. качеств в германо-скандинавской мифологии, происходит из рода ётунов, но асы разрешили ему жить с ними в Асгарде за его необыкновенный ум и хитрость. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BA%D0%B8</string><key>nameImageName</key><string>MythNorseMascLOKI</string></dict>
    <key>LOKI</key><dict><key>nameID</key><string>01.04.0.15</string><key>nameDescription</key><string>Ло́ки (др.-сканд. Loki, также Loki Laufeyjar sonr, нем. Loge) — сын ётуна Фарбаути и Лаувейи, также упоминается в качестве бога хитрости и обмана и т. п. качеств в германо-скандинавской мифологии, происходит из рода ётунов, но асы разрешили ему жить с ними в Асгарде за его необыкновенный ум и хитрость. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BA%D0%B8</string><key>nameImageName</key><string>MythNorseMascLOKI</string></dict>
    <key>NJÁLL</key><dict><key>nameID</key><string>01.04.0.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseMascNJÁLL</string></dict>
    <key>NJORD</key><dict><key>nameID</key><string>01.04.0.17</string><key>nameDescription</key><string>Ньёрд (др.-сканд. Njörðr) — в скандинавской мифологии бог из числа ванов, отец Фрейра и Фрейи.
        Ньёрд представляет ветер и морскую стихию, но, как и другие ваны, прежде всего является богом плодородия.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D1%8C%D1%91%D1%80%D0%B4</string><key>nameImageName</key><string>MythNorseMascNJORD</string></dict>
    <key>NJÖRÐR</key><dict><key>nameID</key><string>01.04.0.18</string><key>nameDescription</key><string>Ньёрд (др.-сканд. Njörðr) — в скандинавской мифологии бог из числа ванов, отец Фрейра и Фрейи.
        Ньёрд представляет ветер и морскую стихию, но, как и другие ваны, прежде всего является богом плодородия.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D1%8C%D1%91%D1%80%D0%B4</string><key>nameImageName</key><string>MythNorseMascNJORD</string></dict>
    <key>ODEN</key><dict><key>nameID</key><string>01.04.0.19</string><key>nameDescription</key><string>О́дин, или Во́тан (прагерм. *Wōđanaz или *Wōđinaz; др.-сканд. Óðinn) — верховный бог в германо-скандинавской мифологии, отец и предводитель асов, сын Бёра и Бестлы, внук Бури. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9E%D0%B4%D0%B8%D0%BD</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ODIN</key><dict><key>nameID</key><string>01.04.0.20</string><key>nameDescription</key><string>О́дин, или Во́тан (прагерм. *Wōđanaz или *Wōđinaz; др.-сканд. Óðinn) — верховный бог в германо-скандинавской мифологии, отец и предводитель асов, сын Бёра и Бестлы, внук Бури. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9E%D0%B4%D0%B8%D0%BD</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ÓÐINN</key><dict><key>nameID</key><string>01.04.0.21</string><key>nameDescription</key><string>О́дин, или Во́тан (прагерм. *Wōđanaz или *Wōđinaz; др.-сканд. Óðinn) — верховный бог в германо-скандинавской мифологии, отец и предводитель асов, сын Бёра и Бестлы, внук Бури. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9E%D0%B4%D0%B8%D0%BD</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ORVAR</key><dict><key>nameID</key><string>01.04.0.22</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseMascORVAR</string></dict>
    <key>ǪRVAR</key><dict><key>nameID</key><string>01.04.0.23</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseMascORVAR</string></dict>
    <key>SIGURD</key><dict><key>nameID</key><string>01.04.0.24</string><key>nameDescription</key><string>Зигфрид (нем. Siegfried, средневерхненем. Sivrit), Сигурд (др.-сканд. Sigurðr, от sigr — «победа», urðr — «судьба») — один из важнейших героев германо-скандинавской мифологии и эпоса, герой «Песни о Нибелунгах».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D1%84%D0%BD%D0%B8%D1%80</string><key>nameImageName</key><string>MythNorseMascSIGURD</string></dict>
    <key>SIGURÐR</key><dict><key>nameID</key><string>01.04.0.25</string><key>nameDescription</key><string>Зигфрид (нем. Siegfried, средневерхненем. Sivrit), Сигурд (др.-сканд. Sigurðr, от sigr — «победа», urðr — «судьба») — один из важнейших героев германо-скандинавской мифологии и эпоса, герой «Песни о Нибелунгах».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D1%84%D0%BD%D0%B8%D1%80</string><key>nameImageName</key><string>MythNorseMascSIGURD</string></dict>
    <key>SINDRI</key><dict><key>nameID</key><string>01.04.0.26</string><key>nameDescription</key><string>Синдри (Эйтри) — в германо-скандинавской мифологии гном (цверг), с которым Локи спорил о кузнечном мастерстве.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B4%D1%80%D0%B8</string><key>nameImageName</key><string>MythNorseMascSINDRI</string></dict>
    <key>THOR</key><dict><key>nameID</key><string>01.04.0.27</string><key>nameDescription</key><string>Тор (др.-сканд. Þōrr, Þunarr, др.-англ. Þunor, Þūr, др.-сакс. Þunær, др.-нидерл. и др.-в.-нем. Donar, прагерм. *Thunaraz, буквально «гром») — в скандинавской мифологии один из асов, бог грома и бури, защищающий богов и людей от великанов и чудовищ. «Триждырождённый» старший сын Одина и богини земли Ёрд (либо Хлодюн, либо Фьёргюн). В области распространения германских языков Тору посвящён день недели — четверг (англ. thursday, нем. Donnerstag).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%80_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythNorseMascTHOR</string></dict>
    <key>ÞÓRR</key><dict><key>nameID</key><string>01.04.0.28</string><key>nameDescription</key><string>Тор (др.-сканд. Þōrr, Þunarr, др.-англ. Þunor, Þūr, др.-сакс. Þunær, др.-нидерл. и др.-в.-нем. Donar, прагерм. *Thunaraz, буквально «гром») — в скандинавской мифологии один из асов, бог грома и бури, защищающий богов и людей от великанов и чудовищ. «Триждырождённый» старший сын Одина и богини земли Ёрд (либо Хлодюн, либо Фьёргюн). В области распространения германских языков Тору посвящён день недели — четверг (англ. thursday, нем. Donnerstag).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%80_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythNorseMascTHOR</string></dict>
    <key>TYR</key><dict><key>nameID</key><string>01.04.0.29</string><key>nameDescription</key><string>Тюр, Тир, Тур или Тиу (Týr, также Ziu) — в германо-скандинавской мифологии, однорукий бог воинской доблести. Из асов, сын Одина и великанши, сестры Гимира.
        Тюр лишился руки, когда асы решили сковать огромного волка Фенрира волшебной цепью Глейпнир. По одной из версий, Тюр вложил свою руку в пасть Фенрира в знак отсутствия недобрых намерений. Когда волк не смог освободиться, он откусил руку Тюра. В соответствии с эсхатологическими мифами викингов, в день Рагнарёка Тюр будет сражаться с чудовищным псом Гармом, и они убьют друг друга.
        Тюру посвящён день недели: вторник Tuesday(англ).
    </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D1%8E%D1%80</string><key>nameImageName</key><string>MythNorseMascTYR</string></dict>
    <key>TÝR</key><dict><key>nameID</key><string>01.04.0.30</string><key>nameDescription</key><string>Тюр, Тир, Тур или Тиу (Týr, также Ziu) — в германо-скандинавской мифологии, однорукий бог воинской доблести. Из асов, сын Одина и великанши, сестры Гимира.
        Тюр лишился руки, когда асы решили сковать огромного волка Фенрира волшебной цепью Глейпнир. По одной из версий, Тюр вложил свою руку в пасть Фенрира в знак отсутствия недобрых намерений. Когда волк не смог освободиться, он откусил руку Тюра. В соответствии с эсхатологическими мифами викингов, в день Рагнарёка Тюр будет сражаться с чудовищным псом Гармом, и они убьют друг друга.
        Тюру посвящён день недели: вторник Tuesday(англ).
    </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D1%8E%D1%80</string><key>nameImageName</key><string>MythNorseMascTYR</string></dict>
    <key>VIDAR</key><dict><key>nameID</key><string>01.04.0.31</string><key>nameDescription</key><string>Видар (древнесканд. Víðarr) — в скандинавской мифологии бог мщения и безмолвия, сын Одина и великанши Грид.
        Он мстит за своего отца Одина, чьей проекцией является, и помогает переживать кризис.
        В день Рагнарёка, согласно пророчеству вещих норн, богинь судьбы, громадный волк Фенрир убьёт Одина, после чего будет убит Видаром.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%B4%D0%B0%D1%80</string><key>nameImageName</key><string>MythNorseMascVIDAR</string></dict>
    <key>VÍÐARR</key><dict><key>nameID</key><string>01.04.0.32</string><key>nameDescription</key><string>Видар (древнесканд. Víðarr) — в скандинавской мифологии бог мщения и безмолвия, сын Одина и великанши Грид.
        Он мстит за своего отца Одина, чьей проекцией является, и помогает переживать кризис.
        В день Рагнарёка, согласно пророчеству вещих норн, богинь судьбы, громадный волк Фенрир убьёт Одина, после чего будет убит Видаром.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%B4%D0%B0%D1%80</string><key>nameImageName</key><string>MythNorseMascVIDAR</string></dict>
    <key>VÖLUND</key><dict><key>nameID</key><string>01.04.0.33</string><key>nameDescription</key><string>Воланд, Велунд, Вёлунд, Вёлюнд (Weyland) — персонаж мифов и литературы Европы. Первоначально — бог-кузнец[источник не указан 531 день]. После того, как язычество было вытеснено христианством в подполье, он, как и многие другие языческие боги, приобретает бесовские черты, превратившись в Сатану или же его ближайшего приспешника.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BB%D1%83%D0%BD%D0%B4</string><key>nameImageName</key><string>MythNorseMascVÖLUND</string></dict>
    <key>VÖLUNDR</key><dict><key>nameID</key><string>01.04.0.34</string><key>nameDescription</key><string>Воланд, Велунд, Вёлунд, Вёлюнд (Weyland) — персонаж мифов и литературы Европы. Первоначально — бог-кузнец[источник не указан 531 день]. После того, как язычество было вытеснено христианством в подполье, он, как и многие другие языческие боги, приобретает бесовские черты, превратившись в Сатану или же его ближайшего приспешника.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BB%D1%83%D0%BD%D0%B4</string><key>nameImageName</key><string>MythNorseMascVÖLUND</string></dict>
    <key>YNGVI</key><dict><key>nameID</key><string>01.04.0.35</string><key>nameDescription</key><string>Фрейр (также Фрей, др.-сканд. Freyr), также Ингви (изначально означало «господин») — в германо-скандинавской мифологии бог плодородия и лета. Происходит из рода ванов, сын вана Ньёрда и великанши Скади. Отец Фрейра Ньёрд, в свою очередь — приёмный сын Одина, оставленный ванами в Асгарде заложником после заключения мира между асами и ванами. Сестра-близнец Фрейра — Фрейя.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%80</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>

    
    
    
    
    </dict>
</plist>





