<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACANTHA</key>
	<string>В греч. мифологии нимфа, любимая Аполлоном и превращенная им в растение акант (Verbascum gen. - медвежья лапа). В древности его листья часто воспроизводились на вышивках, в резьбе на кубках и канделябрах; изображения их украшали капители коринфских колонн. А. посвящена опера Ж. Ф. Рамо \&quot;А. и Цефис\&quot;</string>
	<key>ADRASTEA</key>
	<string>Адрасте́я (др.-греч. Ἀδράστεια, «Неотвратимая») — в древнегреческой мифологии — богиня, дочь Зевса и Фемиды (или Зевса и Ананке). Имеет родственное с Немесидой значение, как служительница вечной справедливости и мстительница, от которой смертный не может уйти; поэтому позднейшие поэты их не различают. Происхождение её имени объясняется тем, что герой Адраст (сын Меропа) первый воздвиг ей жертвенник на берегу Эсепа. Статуя Адрастии стояла в Киррах (Фокида). В Малой Азии тождественна с Кибелой. Адрастея — прозвище Кибелы.</string>
</dict>
</plist>
