<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythVedicFem.plist
   Nickname generator

   Created by Anton Novoselov on 03/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
   
   <key>ADITI</key><dict><key>nameID</key><string>01.02.1.1</string><key>nameDescription</key><string>А́дити (санскр. अदिती — букв. «свободная», несвязанная) — в ведийской религии олицетворяет собой женское начало, высшее воплощение материнства. Называется матерью двенадцати адитьев и воплощением световой энергии Вселенной.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%B8%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemADITI</string></dict>
   <key>ANANTA</key><dict><key>nameID</key><string>01.02.1.2</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī  «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>ARUNDHATI</key><dict><key>nameID</key><string>01.02.1.3</string><key>nameDescription</key><string>Арундхати́ (санскр. अरुन्धती, Arundhatī ) — жена мудреца Васиштхи, одного из саптариши, которые ассоциируются с Большой Медведицей. Она отождествляется с Венерой, а также со звездой Алькор, которая образует двойную систему звёзд с Мицаром (ассоциируется с Васиштхой) в Большой Медведице[1]. Арундхати, несмотря на её статус жены одного из саптариши, поклоняются наряду с последними. В ведической и пуранической литературе она рассматривается как воплощение целомудрия, супружеского счастья и преданности[1]. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%80%D1%83%D0%BD%D0%B4%D1%85%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemARUNDHATI</string></dict>
   <key>BHUMI</key><dict><key>nameID</key><string>01.02.1.5</string><key>nameDescription</key><string>Бху́ми (Bhūmi ), Бхумиде́ви (Bhūmīdevī ) — богиня земли и плодородия в индуизме, супруга одной из аватар Вишну Варахи и одна из двух форм Лакшми</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%85%D1%83%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemBHUMI</string></dict>
   <key>DAMAYANTI</key><dict><key>nameID</key><string>01.02.1.7</string><key>nameDescription</key><string>Идеал верной жены, созданный древними индийцами и прославленный в поэме, входящей в состав Махабараты. Имя Дамаянти. означает сдерживающая, укрощающая, т. е. свои чувства, и было дано ей отцом, царем города Видарб Бимой, в честь брахмана-отшельника Дамана, который предсказал дотоле бездетному царю, что у него родится прекрасная дочь и три славных сына.</string><key>nameURL</key><string>http://www.wikiznanie.ru/wikipedia/index.php/%D0%94%D0%B0%D0%BC%D0%B0%D1%8F%D0%BD%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemDAMAYANTI</string></dict>
   <key>DEVI</key><dict><key>nameID</key><string>01.02.1.8</string><key>nameDescription</key><string>Де́ви, или Дэ́ви (дев. देवी, devī ) — богиня-мать, женская форма Бога в индуизме. Дэви — женская форма санскритского слова дэва. В шактизме, Дэви или Шакти поклоняются как женскому началу, как изначальной Богине-матери. В её отсутствии мужское начало рассматривается как пассивное и бездейственное. В ортодоксальном шактизме, Богине-матери, или Махадеви, поклоняются как Всевышнему, как персонификации Брахмана, единой и неделимой, из которой исходят все остальные формы Бога (как мужские так и женские) и которая является изначальным источником материального и духовного мира.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%B2%D0%B8</string><key>nameImageName</key><string>MythVedicFemDEVI</string></dict>
   <key>DRAUPADI</key><dict><key>nameID</key><string>01.02.1.9</string><key>nameDescription</key><string>Дра́упади (санскр. द्रौपदी, draupadī  «дочь Друпады») — в индуизме земное воплощение Лакшми, супруги Вишну или, по более древним представлениям, Индры; главная героиня древнеиндийского эпоса «Махабхарата», дочь царя панчалов Друпады и общая жена братьев Пандавов.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%80%D0%B0%D1%83%D0%BF%D0%B0%D0%B4%D0%B8</string><key>nameImageName</key><string>MythVedicFemDRAUPADI</string></dict>
   <key>DURGA</key><dict><key>nameID</key><string>01.02.1.10</string><key>nameDescription</key><string>Ду́рга (санскр. दुर्गा, Дурга́, «труднодоступная» или «непобедимая») — одна из самых популярных богинь в индуизме.
       По одной из версий, выступает как супруга Шивы в одной из её грозных форм. Согласно некоторым представлениям, представляет собой объединённую божественную силу, чтобы установить равновесие и гармонию, покой и благополучие. В индуистской иконографии обычно изображается в виде десятирукой женщины, хотя иногда число рук может и не равняться десяти (например, в облике Махадурги имеет двадцать рук), восседающей на гималайском тигре или льве, держащую в пальцах, сплетённых в мудрах, различные средства защиты и нападения, а также атрибуты различных богов — трезубец Шивы, диск Вишну, лук Ваю, ваджру Индры и др.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%83%D1%80%D0%B3%D0%B0</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>GAURI</key><dict><key>nameID</key><string>01.02.1.11</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī  «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.
       Ещё имена благих форм: Гаури («Светлая, Благая»), Трипурасундари («великолепие трёх миров»), Лалита — «Играющая», Бхавани («оживляющая»). В жестокой форме Дэви носит имена Кали («Чёрная»), Шьяма, Чанди (Чанда, «Гневная»), Дурга («Неприступная»), Бхайрави («Зловещая»).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>INDIRA</key><dict><key>nameID</key><string>01.02.1.12</string><key>nameDescription</key><string>Ла́кшми (санскр. लक्ष्मी, lakṣmī ) — богиня изобилия, процветания, богатства, удачи и счастья. Она — воплощение грации, красоты и обаяния. Верят, что её приверженцы будут защищены от всех видов несчастий и нищеты. Лакшми является старшей супругой Вишну, замужем за Рамой (в воплощении Ситы) и Кришной (как Радха, а позже Рукмини).
       Также другие её имена: Рама, Индира, Манушри, Чакрика, Камалика, Лалима, Нандика, Руджула, Вайшнави, Нараяни, Бхаргави, Шридеви, Чанчала, Бхуми Деви, Джаладжа, Мадхави и Айсварья.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%88%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>INDRANI</key><dict><key>nameID</key><string>01.02.1.13</string><key>nameDescription</key><string>Богиня Индрани, известная также как Аиндри, Махендри, Шакри, Ваджри, является одной из богинь Саптаматрики (семи божественных богинь) и рассматривается как шакти господа Индры. Она получила свое имя от самого Индры, которого считают царем небес. Также у Индрани схожие с ним оружия и вахана (средство передвижения).</string><key>nameURL</key><string>http://ezoterika1.ru/content/boginya-indrani</string><key>nameImageName</key><string>MythVedicFemINDRANI</string></dict>
   <key>JAYA</key><dict><key>nameID</key><string>01.02.1.14</string><key>nameDescription</key><string>Ду́рга (санскр. दुर्गा, Дурга́, «труднодоступная» или «непобедимая») — одна из самых популярных богинь в индуизме.
       По одной из версий, выступает как супруга Шивы в одной из её грозных форм. Согласно некоторым представлениям, представляет собой объединённую божественную силу, чтобы установить равновесие и гармонию, покой и благополучие. В индуистской иконографии обычно изображается в виде десятирукой женщины, хотя иногда число рук может и не равняться десяти (например, в облике Махадурги имеет двадцать рук), восседающей на гималайском тигре или льве, держащую в пальцах, сплетённых в мудрах, различные средства защиты и нападения, а также атрибуты различных богов — трезубец Шивы, диск Вишну, лук Ваю, ваджру Индры и др.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%83%D1%80%D0%B3%D0%B0</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>JAYANTI</key><dict><key>nameID</key><string>01.02.1.15</string><key>nameDescription</key><string>Ду́рга (санскр. दुर्गा, Дурга́, «труднодоступная» или «непобедимая») — одна из самых популярных богинь в индуизме.
       По одной из версий, выступает как супруга Шивы в одной из её грозных форм. Согласно некоторым представлениям, представляет собой объединённую божественную силу, чтобы установить равновесие и гармонию, покой и благополучие. В индуистской иконографии обычно изображается в виде десятирукой женщины, хотя иногда число рук может и не равняться десяти (например, в облике Махадурги имеет двадцать рук), восседающей на гималайском тигре или льве, держащую в пальцах, сплетённых в мудрах, различные средства защиты и нападения, а также атрибуты различных богов — трезубец Шивы, диск Вишну, лук Ваю, ваджру Индры и др.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%83%D1%80%D0%B3%D0%B0</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KALI</key><dict><key>nameID</key><string>01.02.1.16</string><key>nameDescription</key><string>Ка́ли (санскр. काली, Kālī , «чёрная») — тёмная и яростная форма Парвати, тёмная Шакти и разрушительный аспект Шивы. Богиня-мать, символ разрушения. Кали разрушает невежество, поддерживает мировой порядок, благословляет и освобождает тех, кто стремится познать Бога. В Ведах её имя связано с Агни, богом огня.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BB%D0%B8</string><key>nameImageName</key><string>MythVedicFemKALI</string></dict>
   <key>KALYANI</key><dict><key>nameID</key><string>01.02.1.17</string><key>nameDescription</key><string>Ду́рга (санскр. दुर्गा, Дурга́, «труднодоступная» или «непобедимая») — одна из самых популярных богинь в индуизме.
       По одной из версий, выступает как супруга Шивы в одной из её грозных форм. Согласно некоторым представлениям, представляет собой объединённую божественную силу, чтобы установить равновесие и гармонию, покой и благополучие. В индуистской иконографии обычно изображается в виде десятирукой женщины, хотя иногда число рук может и не равняться десяти (например, в облике Махадурги имеет двадцать рук), восседающей на гималайском тигре или льве, держащую в пальцах, сплетённых в мудрах, различные средства защиты и нападения, а также атрибуты различных богов — трезубец Шивы, диск Вишну, лук Ваю, ваджру Индры и др.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%83%D1%80%D0%B3%D0%B0</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KAMALA</key><dict><key>nameID</key><string>01.02.1.18</string><key>nameDescription</key><string>Ла́кшми (санскр. लक्ष्मी, lakṣmī ) — богиня изобилия, процветания, богатства, удачи и счастья. Она — воплощение грации, красоты и обаяния. Верят, что её приверженцы будут защищены от всех видов несчастий и нищеты. Лакшми является старшей супругой Вишну, замужем за Рамой (в воплощении Ситы) и Кришной (как Радха, а позже Рукмини).
       Также другие её имена: Рама, Индира, Манушри, Чакрика, Камалика, Лалима, Нандика, Руджула, Вайшнави, Нараяни, Бхаргави, Шридеви, Чанчала, Бхуми Деви, Джаладжа, Мадхави и Айсварья.
       Камала — «Лотосовая»</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%88%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>KANTI</key><dict><key>nameID</key><string>01.02.1.19</string><key>nameDescription</key><string>Ла́кшми (санскр. लक्ष्मी, lakṣmī ) — богиня изобилия, процветания, богатства, удачи и счастья. Она — воплощение грации, красоты и обаяния. Верят, что её приверженцы будут защищены от всех видов несчастий и нищеты. Лакшми является старшей супругой Вишну, замужем за Рамой (в воплощении Ситы) и Кришной (как Радха, а позже Рукмини).
       Также другие её имена: Рама, Индира, Манушри, Чакрика, Камалика, Лалима, Нандика, Руджула, Вайшнави, Нараяни, Бхаргави, Шридеви, Чанчала, Бхуми Деви, Джаладжа, Мадхави и Айсварья.
       Канти - красота.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%88%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>KUMARI</key><dict><key>nameID</key><string>01.02.1.20</string><key>nameDescription</key><string>Ду́рга (санскр. दुर्गा, Дурга́, «труднодоступная» или «непобедимая») — одна из самых популярных богинь в индуизме.
       По одной из версий, выступает как супруга Шивы в одной из её грозных форм. Согласно некоторым представлениям, представляет собой объединённую божественную силу, чтобы установить равновесие и гармонию, покой и благополучие. В индуистской иконографии обычно изображается в виде десятирукой женщины, хотя иногда число рук может и не равняться десяти (например, в облике Махадурги имеет двадцать рук), восседающей на гималайском тигре или льве, держащую в пальцах, сплетённых в мудрах, различные средства защиты и нападения, а также атрибуты различных богов — трезубец Шивы, диск Вишну, лук Ваю, ваджру Индры и др.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D1%83%D1%80%D0%B3%D0%B0</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KUNTI</key><dict><key>nameID</key><string>01.02.1.21</string><key>nameDescription</key><string>Ку́нти (санскр. कुंती) — героиня древнеиндийского эпоса «Махабхарата», жена царя Хастинапуры Панду и мать трёх старших из пяти братьев Пандавов — главных героев «Махабхараты». При рождении её назвали Притхой, и по обету отец девочки царь ядавов Шура отдал её своему бездетному кузену царю Кунтибходжи[1]. По имени приёмного отца царевна стала прозываться Кунти.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D0%BD%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemKUNTI</string></dict>
   <key>LAKSHMI</key><dict><key>nameID</key><string>01.02.1.22</string><key>nameDescription</key><string>Ла́кшми (санскр. लक्ष्मी, lakṣmī ) — богиня изобилия, процветания, богатства, удачи и счастья. Она — воплощение грации, красоты и обаяния. Верят, что её приверженцы будут защищены от всех видов несчастий и нищеты. Лакшми является старшей супругой Вишну, замужем за Рамой (в воплощении Ситы) и Кришной (как Радха, а позже Рукмини).
       Также другие её имена: Рама, Индира, Манушри, Чакрика, Камалика, Лалима, Нандика, Руджула, Вайшнави, Нараяни, Бхаргави, Шридеви, Чанчала, Бхуми Деви, Джаладжа, Мадхави и Айсварья.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%88%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>LALITA</key><dict><key>nameID</key><string>01.02.1.23</string><key>nameDescription</key><string>Лалита (Lalitā ) — первая из восьми главных гопи, известных как ашта-сакхи, в традиции поклонения Радхе и Кришне в гаудия-вайшнавизме[1].
       Среди этих восьми гопи, Лалита — самая старшая и главная в служении Радхе и Кришне.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BB%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythVedicFemLALITA</string></dict>
   <key>MADHAVI</key><dict><key>nameID</key><string>01.02.1.24</string><key>nameDescription</key><string>Ла́кшми (санскр. लक्ष्मी, lakṣmī ) — богиня изобилия, процветания, богатства, удачи и счастья. Она — воплощение грации, красоты и обаяния. Верят, что её приверженцы будут защищены от всех видов несчастий и нищеты. Лакшми является старшей супругой Вишну, замужем за Рамой (в воплощении Ситы) и Кришной (как Радха, а позже Рукмини).
       Также другие её имена: Рама, Индира, Манушри, Чакрика, Камалика, Лалима, Нандика, Руджула, Вайшнави, Нараяни, Бхаргави, Шридеви, Чанчала, Бхуми Деви, Джаладжа, Мадхави и Айсварья.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%88%D0%BC%D0%B8</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>MAYA</key><dict><key>nameID</key><string>01.02.1.25</string><key>nameDescription</key><string>Ма́йя (санскр. माया, māyā , букв. «иллюзия», «видимость») — в индийской религиозно-философской традиции особая сила (шакти), или энергия, которая одновременно скрывает истинную природу мира и обеспечивает многообразие его проявлений[1].
       Майя является иллюзией не от того, что она лишена бытия, а от того что она — преходящая.
       Человек из-за своего неведения (авидья) строит в уме ложное представление о существующем мире, такое представление о мире является майей. Человек часто пытается такое представление о мире натянуть на реальный мир, предаётся иллюзиям, майе.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%B9%D1%8F_(%D1%84%D0%B8%D0%BB%D0%BE%D1%81%D0%BE%D1%84%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythVedicFemMAYA</string></dict>
   <key>MINA</key><dict><key>nameID</key><string>01.02.1.26</string><key>nameDescription</key><string>Means "fish" in Sanskrit. This is the name of the daughter of the Hindu goddess Usha as well as the daughter of the god Kubera.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemMINA</string></dict>
   <key>MOHANA</key><dict><key>nameID</key><string>01.02.1.28</string><key>nameDescription</key><string>(жен.) околдовывающая</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemMOHANA</string></dict>
   <key>MOHINI</key><dict><key>nameID</key><string>01.02.1.29</string><key>nameDescription</key><string>Мо́хини (санскр. मोहिनी, букв. «вводящая в заблуждение») — одна из 25 аватар Вишну в индуизме. Согласно одному из мифов после пахтанья Молочного океана демоны (асуры) одолели богов (девов) и завладели божественным нектаром бессмертия — амритой. Чтобы спасти богов и вернуть нектар, Вишну принял облик прекрасной женщины — Мохини. Асуры не устояли перед чарами красавицы и сами вернули амриту богам[1]. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%85%D0%B8%D0%BD%D0%B8</string><key>nameImageName</key><string>MythVedicFemMOHINI</string></dict>
   <key>PADMA</key><dict><key>nameID</key><string>01.02.1.30</string><key>nameDescription</key><string>Па́дма (санскр. पद्म, padma ; лат. Nelumbo nucifera) — священный лотос, растение, играющее центральную роль в индийских религиях — индуизме, буддизме и джайнизме. Лотос является древним символом в культуре Азии. В индуизме лотос выступает одним из атрибутов Вишну, Брахмы, Лакшми, Сарасвати и Куберы. В индийской культуре он символизирует божественную красоту, духовную чистоту. В индуистской литературе и индийской поэзии лотос выступает эталоном красоты. Вишну и Кришна, например, часто описываются как лотосоокие. В индуистской мифологии, лотос вырастает из пупа Вишну, спящего в йога-нидре. Лотос — это также один из ключевых символов в индуистской иконографии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%B4%D0%BC%D0%B0_(%D1%81%D0%B8%D0%BC%D0%B2%D0%BE%D0%BB)</string><key>nameImageName</key><string>MythVedicFemPADMA</string></dict>
   <key>PADMAVATI</key><dict><key>nameID</key><string>01.02.1.31</string><key>nameDescription</key><string>(жен.) подобная лотосу</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemPADMAVATI</string></dict>
   <key>PARVATI</key><dict><key>nameID</key><string>01.02.1.32</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī  «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>PRITHA</key><dict><key>nameID</key><string>01.02.1.33</string><key>nameDescription</key><string>Ку́нти (санскр. कुंती) — героиня древнеиндийского эпоса «Махабхарата», жена царя Хастинапуры Панду и мать трёх старших из пяти братьев Пандавов — главных героев «Махабхараты». При рождении её назвали Притхой, и по обету отец девочки царь ядавов Шура отдал её своему бездетному кузену царю Кунтибходжи[1]. По имени приёмного отца царевна стала прозываться Кунти.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D0%BD%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemKUNTI</string></dict>
   <key>PRIYA</key><dict><key>nameID</key><string>01.02.1.34</string><key>nameDescription</key><string>Означает "Возлюбленная". Дочь короля Дакши.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemPRIYA</string></dict>
   <key>RADHA</key><dict><key>nameID</key><string>01.02.1.35</string><key>nameDescription</key><string>Ра́дха (санскр. राधा; Rādhā , она же — हरा Harā) также Радхара́ни или Радхи́ка — одна из женских форм Бога в индуизме. В пуранических текстах описывается как вечная возлюбленная Кришны, воплотившаяся вместе с ним на земле более 5000 лет назад.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%B4%D1%85%D0%B0</string><key>nameImageName</key><string>MythVedicFemRADHA</string></dict>
   <key>RAJANI</key><dict><key>nameID</key><string>01.02.1.36</string><key>nameDescription</key><string>Ка́ли (санскр. काली, Kālī , «чёрная») — тёмная и яростная форма Парвати, тёмная Шакти и разрушительный аспект Шивы. Богиня-мать, символ разрушения. Кали разрушает невежество, поддерживает мировой порядок, благословляет и освобождает тех, кто стремится познать Бога. В Ведах её имя связано с Агни, богом огня.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BB%D0%B8</string><key>nameImageName</key><string>MythVedicFemKALI</string></dict>
   <key>RATI</key><dict><key>nameID</key><string>01.02.1.37</string><key>nameDescription</key><string>Рати — в индуизме богиня любовной страсти, дочь Дакши и супруга Камы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemRATI</string></dict>
   <key>REVA</key><dict><key>nameID</key><string>01.02.1.38</string><key>nameDescription</key><string>Рати — в индуизме богиня любовной страсти, дочь Дакши и супруга Камы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemRATI</string></dict>
   <key>RUKMINI</key><dict><key>nameID</key><string>01.02.1.39</string><key>nameDescription</key><string>Рукми́ни (Rukmiṇī ) — главная жена и царевна Кришны в Двараке. В «Бхагавата-пуране» описывается, как Кришна похищает Рукмини по её же просьбе со свадебной церемонии, на которой она должна была выйти замуж за другого принца. Из 16 108 царевен-жён Кришны Рукмини считается самой главной. В индуизме Рукмини рассматривается как аватара женской ипостаси Бога — богини удачи Лакшми.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D1%83%D0%BA%D0%BC%D0%B8%D0%BD%D0%B8</string><key>nameImageName</key><string>MythVedicFemRUKMINI</string></dict>
   <key>SANDHYA</key><dict><key>nameID</key><string>01.02.1.40</string><key>nameDescription</key><string>(санскр. Sandhyâ — переходное время дня, сумерки вечерние или утренние) — в позднейшей индийской мифологии олицетворение сумерек в виде дочери Брахмы, вышедшей замуж за бога Шиву.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSANDHYA</string></dict>
   <key>SARASWATI</key><dict><key>nameID</key><string>01.02.1.41</string><key>nameDescription</key><string>Са́ра́свати[1][2] (санскр. सरस्‍वती — «богатая водами», букв. перевод — «текущая река») — в индуизме богиня мудрости, знания, искусства, красоты и красноречия. Брахмачарини, помощница Брахмы при творении Вселенной. Сарасвати осуществляет брак неба и земли, именно она созидает небесный Брачный Чертог — Чертог спасения и вечного блаженства. Первоначально речная богиня.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D1%80%D0%B0%D1%81%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemSARASWATI</string></dict>
   <key>SATI</key><dict><key>nameID</key><string>01.02.1.42</string><key>nameDescription</key><string>Сати (санскр. सती), также Дакшаяни — дочь Дакши и жена бога Шивы, описываемая в пуранической литературе индуизма.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D1%82%D0%B8_(%D0%B8%D0%BD%D0%B4%D1%83%D0%B8%D0%B7%D0%BC)</string><key>nameImageName</key><string>MythVedicFemSATI</string></dict>
   <key>SAVITRI</key><dict><key>nameID</key><string>01.02.1.43</string><key>nameDescription</key><string>САВИТРИ́ (др.-инд. Sâvitrî, «солнечная»), в древнеиндийской мифологии дочь бога Сурьи, которую он отдал в жёны Брахме</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSAVITRI</string></dict>
   <key>SHAILAJA</key><dict><key>nameID</key><string>01.02.1.44</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.
       Другие её имена, связанные с горами: Шайладжа («Дочь гор»), Гирираджапутри («Дочь царя гор»).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>SHAKTI</key><dict><key>nameID</key><string>01.02.1.45</string><key>nameDescription</key><string>Ша́кти (санскр. शक्ति śakti — мощь, сила) — в тантре, шиваизме и шактизме — супруга бога Шивы; в более широком смысле — женская творческая сила Шивы, реже — Вишну и других богов индуизма[1][2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A8%D0%B0%D0%BA%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemSHAKTI</string></dict>
   <key>SHANTA</key><dict><key>nameID</key><string>01.02.1.46</string><key>nameDescription</key><string>шанта — нейтральные отношения</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D0%B0_(%D0%B8%D0%BD%D0%B4%D1%83%D0%B8%D0%B7%D0%BC)</string><key>nameImageName</key><string>MythVedicFemSHANTA</string></dict>
   <key>SHIVALI</key><dict><key>nameID</key><string>01.02.1.47</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>SHRI</key><dict><key>nameID</key><string>01.02.1.48</string><key>nameDescription</key><string>Шри (санскр. श्री, śrī , «удача, счастье, процветание») — в классическом индуизме — эпитет Лакшми, богини счастья и процветания.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A8%D1%80%D0%B8</string><key>nameImageName</key><string>MythVedicFemSHRI</string></dict>
   <key>SHYAMA</key><dict><key>nameID</key><string>01.02.1.49</string><key>nameDescription</key><string>Шья́ма (Śyāma ) — одно из имён Вишну/Кришны и один из эпитетов грозного образа Парвати в индуизме, часто выступает как составная часть других имён: Шьямасу́ндара, Гханашья́ма, Радхешья́ма или, в более редкой форме Шьямчара́на.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A8%D1%8C%D1%8F%D0%BC%D0%B0</string><key>nameImageName</key><string>MythVedicFemSHYAMA</string></dict>
   <key>SITA</key><dict><key>nameID</key><string>01.02.1.50</string><key>nameDescription</key><string>Си́та (санскр. सीता, Sītā  — «борозда») — героиня древнеиндийского эпоса «Рамаяна», супруга Рамы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythVedicFemSITA</string></dict>
   <key>SRI</key><dict><key>nameID</key><string>01.02.1.51</string><key>nameDescription</key><string>Шри (санскр. श्री, śrī , «удача, счастье, процветание») — в классическом индуизме — эпитет Лакшми, богини счастья и процветания.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A8%D1%80%D0%B8</string><key>nameImageName</key><string>MythVedicFemSHRI</string></dict>
   <key>SUMATI</key><dict><key>nameID</key><string>01.02.1.52</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUMATI</string></dict>
   <key>SUNITA</key><dict><key>nameID</key><string>01.02.1.53</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUNITA</string></dict>
   <key>SUSHILA</key><dict><key>nameID</key><string>01.02.1.54</string><key>nameDescription</key><string>(инд.) «хорошее поведение» (санскрит)</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUSHILA</string></dict>
   <key>TARA</key><dict><key>nameID</key><string>01.02.1.55</string><key>nameDescription</key><string>Тара (санскр. तारा, Tārā  —- «звезда») — в индуизме вторая из Даша (десяти) Махавидий (Дашамахавидья), Тантрическая манифестация Махадеви, Кали или Парвати.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0_(%D0%B8%D0%BD%D0%B4%D1%83%D0%B8%D0%B7%D0%BC)</string><key>nameImageName</key><string>MythVedicFemTARA</string></dict>
   <key>UMA</key><dict><key>nameID</key><string>01.02.1.56</string><key>nameDescription</key><string>Па́рвати (санскр. पार्वती, pārvatī «горная») в индуизме — одно из имён супруги бога Шивы. Является благой формой Дэви, шакти (то есть женской творческой энергии) Шивы.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>USHA</key><dict><key>nameID</key><string>01.02.1.57</string><key>nameDescription</key><string>У́шас (санскр. उषस्; uṣas «заря») — божество в ведийской мифологии, олицетворённая заря.
       Ушас — важнейшее и одно из высших божеств «Ригведы». Иногда употребляется множественное число — «зори». Она изображается как приветствующая птиц, пробуждающая всех живых существ и прогоняющая злых духов прекрасная молодая женщина, едущая по небу на золотой колеснице.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A3%D1%88%D0%B0%D1%81</string><key>nameImageName</key><string>MythVedicFemUSHA</string></dict>
   <key>USHAS</key><dict><key>nameID</key><string>01.02.1.58</string><key>nameDescription</key><string>У́шас (санскр. उषस्; uṣas «заря») — божество в ведийской мифологии, олицетворённая заря.
       Ушас — важнейшее и одно из высших божеств «Ригведы». Иногда употребляется множественное число — «зори». Она изображается как приветствующая птиц, пробуждающая всех живых существ и прогоняющая злых духов прекрасная молодая женщина, едущая по небу на золотой колеснице.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A3%D1%88%D0%B0%D1%81</string><key>nameImageName</key><string>MythVedicFemUSHA</string></dict>
   <key>VALLI</key><dict><key>nameID</key><string>01.02.1.59</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemVALLI</string></dict>
   <key>VIDYA</key><dict><key>nameID</key><string>01.02.1.60</string><key>nameDescription</key><string>Са́ра́свати[1][2] (санскр. सरस्‍वती — «богатая водами», букв. перевод — «текущая река») — в индуизме богиня мудрости, знания, искусства, красоты и красноречия. Брахмачарини, помощница Брахмы при творении Вселенной. Сарасвати осуществляет брак неба и земли, именно она созидает небесный Брачный Чертог — Чертог спасения и вечного блаженства. Первоначально речная богиня.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D1%80%D0%B0%D1%81%D0%B2%D0%B0%D1%82%D0%B8</string><key>nameImageName</key><string>MythVedicFemSARASWATI</string></dict>
   <key>VIJAYA</key><dict><key>nameID</key><string>01.02.1.61</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemVIJAYA</string></dict>
   <key>YAMI</key><dict><key>nameID</key><string>01.02.1.62</string><key>nameDescription</key><string>Ями или Ямини (санскр. यमी, yamini , «ночь») — персонаж индийской мифологии, дочь Вивасвата и Саранью, сестра-близнец Ямы и бессмертных Ашвинов, по отцу — сестра Ману, Тапати и Шани. Ямини — богиня священной реки Ямуны, река Ямуна также связана с мифологией индуистского бога Кришны, она часто изображается чёрной, её вахана — черепаха.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AF%D0%BC%D0%B8_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythVedicFemYAMI</string></dict>

   
   
   
    </dict>
</plist>
