<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythCelticMasc.plist
   Nickname generator

   Created by Anton Novoselov on 22/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>ÁED</key><dict><key>nameID</key><string>01.07.0.1</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascÁED</string></dict>
        <key>ÁEDÁN</key><dict><key>nameID</key><string>01.07.0.2</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascÁEDÁN</string></dict>
        <key>AILILL</key><dict><key>nameID</key><string>01.07.0.3</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascAILILL</string></dict>
        <key>AODH</key><dict><key>nameID</key><string>01.07.0.4</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascAODH</string></dict>
        <key>AODHÁN</key><dict><key>nameID</key><string>01.07.0.5</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascAODHÁN</string></dict>
        <key>AONGHUS</key><dict><key>nameID</key><string>01.07.0.6</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascAONGHUS</string></dict>
        <key>BELENOS</key><dict><key>nameID</key><string>01.07.0.7</string><key>nameDescription</key><string>Беле́н (Belenos, Belinos) — кельтское божество, отождествлявшееся с Аполлоном.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%B5%D0%BD_(%D0%B1%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE)</string><key>nameImageName</key><string>MythCelticMascBELENOS</string></dict>
        <key>BELENUS</key><dict><key>nameID</key><string>01.07.0.8</string><key>nameDescription</key><string>Беле́н (Belenos, Belinos) — кельтское божество, отождествлявшееся с Аполлоном.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%B5%D0%BD_(%D0%B1%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE)</string><key>nameImageName</key><string>MythCelticMascBELENOS</string></dict>
        <key>BILE</key><dict><key>nameID</key><string>01.07.0.9</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascBILE</string></dict>
        <key>BRAN</key><dict><key>nameID</key><string>01.07.0.10</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascBRAN</string></dict>
        <key>CÁEL</key><dict><key>nameID</key><string>01.07.0.11</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCÁEL</string></dict>
        <key>CERNUNNOS</key><dict><key>nameID</key><string>01.07.0.12</string><key>nameDescription</key><string>Кернунн (лат. Cernunnos[1], букв. «рогатый», также встречается написание Цернунн) — кельтское божество, упомянутое в единственном источнике — «колонне лодочников» из музея Клюни в Париже.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%B5%D1%80%D0%BD%D1%83%D0%BD%D0%BD</string><key>nameImageName</key><string>MythCelticMascCERNUNNOS</string></dict>
        <key>CIAN</key><dict><key>nameID</key><string>01.07.0.13</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCIAN</string></dict>
        <key>CONALL</key><dict><key>nameID</key><string>01.07.0.14</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONALL</string></dict>
        <key>CONCHOBHAR</key><dict><key>nameID</key><string>01.07.0.15</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONCHOBHAR</string></dict>
        <key>CONCHÚR</key><dict><key>nameID</key><string>01.07.0.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONCHÚR</string></dict>
        <key>CONLAOCH</key><dict><key>nameID</key><string>01.07.0.17</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONLAOCH</string></dict>
        <key>CONNLA</key><dict><key>nameID</key><string>01.07.0.18</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONNLA</string></dict>
        <key>CONOR</key><dict><key>nameID</key><string>01.07.0.19</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCONOR</string></dict>
        <key>CÚCHULAINN</key><dict><key>nameID</key><string>01.07.0.20</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascCÚCHULAINN</string></dict>
        <key>DAGDA</key><dict><key>nameID</key><string>01.07.0.21</string><key>nameDescription</key><string>Дагда (др.‑ирл. Dagda, в буквальном переводе «Хороший бог») — божество ирландской мифологии, один из главных богов Племён богини Дану наряду с Лугом и Нуаду.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B0%D0%B3%D0%B4%D0%B0_(%D0%B1%D0%BE%D0%B3)</string><key>nameImageName</key><string>MythCelticMascDAGDA</string></dict>
        <key>DÁIRE</key><dict><key>nameID</key><string>01.07.0.22</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascDÁIRE</string></dict>
        <key>DIARMAID</key><dict><key>nameID</key><string>01.07.0.23</string><key>nameDescription</key><string>Пресле́дование Диармида и Гра́йне (ирл. Tóraigheacht Dhiarmada agus Ghráinne or Tóraíocht Dhiarmada agus Gráinne, англ. The Pursuit of Diarmuid and Gráinne) — ирландский миф из цикла фениев, существующий в различных вариантах, на основании которого было сделано танцевальное шоу Dancing on Dangerous Ground. Существует в списках не старше XVII века, однако содержит и более древние части, относящиеся к X веку[1][2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%94%D0%B8%D0%B0%D1%80%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0_%D0%B8_%D0%93%D1%80%D0%B0%D0%B9%D0%BD%D0%B5</string><key>nameImageName</key><string>MythCelticMascDIARMAID</string></dict>
        <key>DIARMAIT</key><dict><key>nameID</key><string>01.07.0.24</string><key>nameDescription</key><string>Пресле́дование Диармида и Гра́йне (ирл. Tóraigheacht Dhiarmada agus Ghráinne or Tóraíocht Dhiarmada agus Gráinne, англ. The Pursuit of Diarmuid and Gráinne) — ирландский миф из цикла фениев, существующий в различных вариантах, на основании которого было сделано танцевальное шоу Dancing on Dangerous Ground. Существует в списках не старше XVII века, однако содержит и более древние части, относящиеся к X веку[1][2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%94%D0%B8%D0%B0%D1%80%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0_%D0%B8_%D0%93%D1%80%D0%B0%D0%B9%D0%BD%D0%B5</string><key>nameImageName</key><string>MythCelticMascDIARMAID</string></dict>
        <key>DIARMUID</key><dict><key>nameID</key><string>01.07.0.25</string><key>nameDescription</key><string>Пресле́дование Диармида и Гра́йне (ирл. Tóraigheacht Dhiarmada agus Ghráinne or Tóraíocht Dhiarmada agus Gráinne, англ. The Pursuit of Diarmuid and Gráinne) — ирландский миф из цикла фениев, существующий в различных вариантах, на основании которого было сделано танцевальное шоу Dancing on Dangerous Ground. Существует в списках не старше XVII века, однако содержит и более древние части, относящиеся к X веку[1][2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%94%D0%B8%D0%B0%D1%80%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0_%D0%B8_%D0%93%D1%80%D0%B0%D0%B9%D0%BD%D0%B5</string><key>nameImageName</key><string>MythCelticMascDIARMAID</string></dict>
        <key>DWYN</key><dict><key>nameID</key><string>01.07.0.26</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascDWYN</string></dict>
        <key>ÉBER</key><dict><key>nameID</key><string>01.07.0.27</string><key>nameDescription</key><string>Эбер Финн (англ. Eber Finn) также называемый Светлый Эбер, сын Миля Испанца (Espáine), был, согласно средневековой ирландской легенде и исторической традиции, верховным королем Ирландии и одним из основателей ирландских династий, к которому средневековые специалисты по генеалогии возводили многие знатные ирландские королевские рода.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D0%B1%D0%B5%D1%80_%D0%A4%D0%B8%D0%BD%D0%BD</string><key>nameImageName</key><string>MythCelticMascÉBER</string></dict>
        <key>ÉIBHEAR</key><dict><key>nameID</key><string>01.07.0.28</string><key>nameDescription</key><string>Эбер Финн (англ. Eber Finn) также называемый Светлый Эбер, сын Миля Испанца (Espáine), был, согласно средневековой ирландской легенде и исторической традиции, верховным королем Ирландии и одним из основателей ирландских династий, к которому средневековые специалисты по генеалогии возводили многие знатные ирландские королевские рода.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D0%B1%D0%B5%D1%80_%D0%A4%D0%B8%D0%BD%D0%BD</string><key>nameImageName</key><string>MythCelticMascÉBER</string></dict>
        <key>EÓGAN</key><dict><key>nameID</key><string>01.07.0.29</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascEÓGAN</string></dict>
        <key>EOGHAN</key><dict><key>nameID</key><string>01.07.0.30</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascEOGHAN</string></dict>
        <key>FACHTNA</key><dict><key>nameID</key><string>01.07.0.31</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascFACHTNA</string></dict>
        <key>FEARGHAS</key><dict><key>nameID</key><string>01.07.0.32</string><key>nameDescription</key><string>Фергус, сын Ройга (ирл. Fearghus Mac Róich) — легендарный ирландский герой. Его имя значит «мужская сила».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D1%80%D0%B3%D1%83%D1%81</string><key>nameImageName</key><string>MythCelticMascFEARGHAS</string></dict>
        <key>FEDELMID</key><dict><key>nameID</key><string>01.07.0.33</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascFEDELMID</string></dict>
        <key>FEDLIMID</key><dict><key>nameID</key><string>01.07.0.34</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascFEDLIMID</string></dict>
        <key>FEIDLIMID</key><dict><key>nameID</key><string>01.07.0.35</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascFEIDLIMID</string></dict>
        <key>FERGUS</key><dict><key>nameID</key><string>01.07.0.36</string><key>nameDescription</key><string>Фергус, сын Ройга (ирл. Fearghus Mac Róich) — легендарный ирландский герой. Его имя значит «мужская сила».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D1%80%D0%B3%D1%83%D1%81</string><key>nameImageName</key><string>MythCelticMascFEARGHAS</string></dict>
        <key>FIACHRA</key><dict><key>nameID</key><string>01.07.0.37</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascFIACHRA</string></dict>
        <key>FINN</key><dict><key>nameID</key><string>01.07.0.38</string><key>nameDescription</key><string>Фингал, точнее — Финн Маккул (Финн, сын Кулла, или Кумала; ирл. Fionn mac Cumhaill, иногда англ. Finn McCool) — легендарный герой кельтских мифов III в. н. э. Ирландии, Шотландии и острова Мэн, воин, мудрец и провидец.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B8%D0%BD%D0%BD_%D0%9C%D0%B0%D0%BA%D0%BA%D1%83%D0%BB</string><key>nameImageName</key><string>MythCelticMascFINN</string></dict>
        <key>FINTAN</key><dict><key>nameID</key><string>01.07.0.39</string><key>nameDescription</key><string>Участник Битвы при Маг Туиред (ирл. Cath Maige Tuired)</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B8%D1%82%D0%B2%D0%B0_%D0%BF%D1%80%D0%B8_%D0%9C%D0%B0%D0%B3_%D0%A2%D1%83%D0%B8%D1%80%D0%B5%D0%B4</string><key>nameImageName</key><string>MythCelticMascFINTAN</string></dict>
        <key>FIONN</key><dict><key>nameID</key><string>01.07.0.40</string><key>nameDescription</key><string>Фингал, точнее — Финн Маккул (Финн, сын Кулла, или Кумала; ирл. Fionn mac Cumhaill, иногда англ. Finn McCool) — легендарный герой кельтских мифов III в. н. э. Ирландии, Шотландии и острова Мэн, воин, мудрец и провидец.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B8%D0%BD%D0%BD_%D0%9C%D0%B0%D0%BA%D0%BA%D1%83%D0%BB</string><key>nameImageName</key><string>MythCelticMascFINN</string></dict>
        <key>GOIBNIU</key><dict><key>nameID</key><string>01.07.0.41</string><key>nameDescription</key><string>Гоибниу (правильная транскрипция: Говну (Говню); ирл. Goibniu; имя происходит от слова «кузнец»), также Гавне (ирл. Gaibhne) — один из богов племени Туата Де Дананн в ирландской мифологии, брат Нуаду, бог-кузнец.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%B8%D0%B1%D0%BD%D0%B8%D1%83</string><key>nameImageName</key><string>MythCelticMascGOIBNIU</string></dict>
        <key>LIR</key><dict><key>nameID</key><string>01.07.0.42</string><key>nameDescription</key><string>Лир — один из богов племени Туата Де Дананн в ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D1%80_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLIR</string></dict>
        <key>LÓEGAIRE</key><dict><key>nameID</key><string>01.07.0.43</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascLÓEGAIRE</string></dict>
        <key>LÚ</key><dict><key>nameID</key><string>01.07.0.44</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUG</key><dict><key>nameID</key><string>01.07.0.45</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUGAID</key><dict><key>nameID</key><string>01.07.0.46</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUGH</key><dict><key>nameID</key><string>01.07.0.47</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUGHAIDH</key><dict><key>nameID</key><string>01.07.0.48</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUGOS</key><dict><key>nameID</key><string>01.07.0.49</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>LUGUS</key><dict><key>nameID</key><string>01.07.0.50</string><key>nameDescription</key><string>Луг («Сияющий»; ирл. Lugh) — один из наиболее значительных богов племени Туата Де Дананн в ирландской мифологии, имеющий природу трикстера, схожего со скандинавским Локи. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%B3_(%D0%B8%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythCelticMascLUGH</string></dict>
        <key>NAOISE</key><dict><key>nameID</key><string>01.07.0.51</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascNAOISE</string></dict>
        <key>NECHTAN</key><dict><key>nameID</key><string>01.07.0.52</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascNECHTAN</string></dict>
        <key>NUADA</key><dict><key>nameID</key><string>01.07.0.53</string><key>nameDescription</key><string>Нуаду (др.‑ирл. Nuada, Nuadu; современное название Нуава, ирл. Nuada, Nuadu), также известный как Аргетлам (др.‑ирл. Airgetlám; современное название Аргедлав, ирл. Airgeadlámh) — в мифологии ирландских кельтов король и предводитель богов Туата Де Дананн.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D1%83%D0%B0%D0%B4%D1%83</string><key>nameImageName</key><string>MythCelticMascNUADA</string></dict>
        <key>NUADHA</key><dict><key>nameID</key><string>01.07.0.54</string><key>nameDescription</key><string>Нуаду (др.‑ирл. Nuada, Nuadu; современное название Нуава, ирл. Nuada, Nuadu), также известный как Аргетлам (др.‑ирл. Airgetlám; современное название Аргедлав, ирл. Airgeadlámh) — в мифологии ирландских кельтов король и предводитель богов Туата Де Дананн.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D1%83%D0%B0%D0%B4%D1%83</string><key>nameImageName</key><string>MythCelticMascNUADA</string></dict>
        <key>ÓENGUS</key><dict><key>nameID</key><string>01.07.0.55</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascÓENGUS</string></dict>
        <key>OISÍN</key><dict><key>nameID</key><string>01.07.0.56</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascOISÍN</string></dict>
        <key>OSCAR</key><dict><key>nameID</key><string>01.07.0.57</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascOSCAR</string></dict>
        <key>PARTHALÁN</key><dict><key>nameID</key><string>01.07.0.58</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascPARTHALÁN</string></dict>
        <key>TARANIS</key><dict><key>nameID</key><string>01.07.0.59</string><key>nameDescription</key><string>Таранис — бог грома в кельтской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D0%BD%D0%B8%D1%81</string><key>nameImageName</key><string>MythCelticMascTARANIS</string></dict>
        <key>TRISTAN</key><dict><key>nameID</key><string>01.07.0.60</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticMascTRISTAN</string></dict>

        
        
        
    
    </dict>
</plist>
