<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionGOTFemTargaryen.plist
   Nickname generator

   Created by Anton Novoselov on 20/09/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Missandei</key><dict><key>nameID</key><string>02.03.1.1.02</string><key>nameDescription</key><string>Миссандея — советница и служанка Дейнерис Таргариен.
            Миссандея родилась на острове Наат, расположенном в Летнем море рядом с побережьем Сотороса. В юном возрасте попала в рабство и была увезена в залив Работорговцев в Эссосе. Принадлежала доброму мастеру Кразнису мо Наклозу из Астапора. Была освобождена после того, как Дейнерис Таргариен заполучила в свое распоряжение армию Безупречных и отменила в Астапоре рабство.
            Миссандея знает 19 языков, в том числе низкий валирийский, высокий валирийский (ее любимый), дотракийский, общий язык Вестероса, и даже почти умерший гискарский.
            Долгое время служит Кразнису мо Наклозу, переводит, когда Дейнерис Таргариен ведет с ним переговоры по поводу покупки Безупречных. Переводит неточно, так как часто комментарии Кразниса довольно обидные и неприличные. Когда соглашение достигнуто, Дейнерис требует подарок, просит Кразниса отдать ей Миссандею. Тот соглашается, и хотя позже Дейнерис дарует ей свободу, Миссандея все равно следует за ней.
            Миссандея остается с Дейнерис. Она начинает дружить с Серым Червем, Миссандея учит его говорить на общем языке.
            Однажды, купаясь в реке, Серый Червь видит обнаженную Миссандею, которая стирает одежду. Он долго смотрит на девушку, она это замечает и смущенно прикрывается. Позже Серый Червь подходит к Миссандее и извиняется за случившееся, та отвечает, что все в порядке. Также Миссандея обсуждает это происшествие с Дейнерис. По-видимому, ее смущает не столько сексуальный интерес, который проявляет к ней юноша, а то, что он, как и все Безупречные, кастрирован, а потому его желания являются очень странными. («Гора и Змей»)
            После убийства Безупречного в борделе, Миссандея подходит к Серому Червю и говорит, что это не единичный случай посещений Безупречными борделей. Она интересуется, что могло им там понадобиться, но Серый Червь не даёт ей ответа. («Грядущие войны»)
            Когда Серый Червь получает серьезное ранение, Миссандея проводит свое время возле него. Когда Безупречный приходит в себя, девушка сообщает, что Барристан мертв. Серый Червь признается, что во время боя очень испугался, но не смерти, а того, что больше никогда не увидит Миссандею. Растроганная, она его целует. После Миссандея идет к Дейнерис, которая хочет услышать ее совет о том, что делать дальше. Переводчица говорит, что королева порой не слушает своих советников, зато находит особый путь решения проблем, которого больше никто не замечает. («Убей мальчишку»)
            На празднике в честь открытия бойцовых ям Миссандея присутствует рядом с Дейнерис. Когда начинается бойня, которую устраивают Сыны Гарпии, королева и ее люди оказываются в окружении. Дейнерис берет Миссандею за руку и готовится к смерти, но тут прилетает Дрогон и начинает сжигать и пожирать нападающих. («Танец драконов»)
            Даарио и Джорах покидают Миэрин и отправляются на поиски Дейнерис. А пока королева не вернется, городом остаются управлять Тирион, Миссандея и Серый Червь. («Милосердие матери»)
            Миссандея присутствует на совете вместе с Серым Червем, Тирионом и Варисом. Она сообщает, что после исчезновения Дейнерис Визерион и Рейгаль совершенно ничего не едят. Тирион интересуется, как драконы относятся к Миссандее. Она отвечает, что много раз находилась рядом с ними, и они никогда не причиняли ей вреда. («Дом»)
            Перед одним из советов Тирион пытается поговорить с Миссандеей и Серым Червем о чем-то, что не касается управления городом и других подобных тем, но они совершенно не идут на контакт. Позже приходит Варис, который сообщает, что узнал, кто спонсирует Сынов Гарпии. Это работорговцы из Астапора, Юнкая и Волантиса. Серый Червь хочет отправить Безупречных в Астапор и Юнкай, и вновь освободить эти города. Миссандея согласна, что господам надо дать отпор. Но Тирион считает, что воины нужны для защиты Миэрина, и предлагает для начала отправить пташек Вариса шпионить за работорговцами. («Клятвопреступник»)
            Миссандея присутствует на переговорах Тириона с работорговцами, прибывшими в город. Она высказывается в поддержку кампании Дейнерис по освобождению невольников, но Тирион позволяет господам сохранить рабство еще на 7 лет, в течение которых они должны приспособиться к новой жизни. Миссандея недовольна, так как считает, что Тирион не понимает рабов. И хоть он и сам был в рабстве некоторое время, это было очень недоброе время. Еще больше Миссандею расстраивает то, что Тирион приглашает проституток, в качестве подарка за успешное заключение сделки. После этого карлику приходится объясняться с бывшими рабами, которые недовольны его решением. Тирион не может доказать им правильность своих намерений, но Миссандея и Серый Червь прилюдно вступаются за карлика. Позже они предупреждают его, что рабовладельцам не нужно доверять. («Книга Неведомого»)
            Тирион вновь пытается разговорить Миссандею и Серого Червя. Он угощает их вином, предлагая выпить за королеву, и те не могут отказаться. Позже карлик начинает рассказывать анекдоты. Миссандея также пытается пошутить, но ее юмор про переводчиков остальные не понимают. Беззаботная беседа прерывается плохими вестями — рабовладельцы нарушают перемирие и начинают осаждать город. («Никто»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9C%D0%B8%D1%81%D1%81%D0%B0%D0%BD%D0%B4%D0%B5%D1%8F</string><key>nameImageName</key><string>FictionGOTTargaryenFemMissandei</string></dict>
        <key>Shiera Seastar</key><dict><key>nameID</key><string>02.03.1.2.02</string><key>nameDescription</key><string>Шира Морская Звезда — одна из печально известных Великих бастардов короля Эйгона IV Таргариена.
            Шира вместе с братьями и сестрами упомянута в разделе Таргариены книги Родословные и история великих домов Семи Королевств. («Золотая корона»)
            В серии романов «Песнь льда и пламени» говорится, что у короля Эйгона IV было много бастардов, однако матерями четверых были женщины из благородных семей. Их детей называют «Великими бастардами». Это Деймон Блэкфайр, Эйгор Риверс по прозвищу «Жгучий Клинок», Бринден Риверс по прозвищу «Кровавый Ворон» и Шира.
            Шира — самая младшая из Великих бастардов. Она — дочь девятой и последней любовницы Эйгона IV Серенеи из Лиса, которая умерла при родах. Серенея происходила из семьи знатных валирийцев. Она назвала свою дочь Широй, что в буквальном смысле означает «Звезда моря» (неизвестно, на каком языке).
            На смертном одре Эйгон IV необдуманно признал Великих бастардов законнорожденными детьми, в результате чего возник конфликт между ними и законным наследником — королем Дейроном II. Эти разногласия стали причиной кровавой гражданской войны, известной как восстание Блэкфайра.
            Бринден и Эйгор Риверс ненавидели друг друга, поскольку оба добивались любви своей единокровной сестры Ширы. Кровавый Ворон десятки раз  предлагал Шире выйти за него замуж, но получал отказ, хотя и являлся любовником девушки. В свою очередь притязания Жгучего Клинка она полностью отвергала.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A8%D0%B8%D1%80%D0%B0_%D0%9C%D0%BE%D1%80%D1%81%D0%BA%D0%B0%D1%8F_%D0%97%D0%B2%D0%B5%D0%B7%D0%B4%D0%B0</string><key>nameImageName</key><string>FictionGOTTargaryenFemShieraSeastar</string></dict>
        <key>Elaena Targaryen</key><dict><key>nameID</key><string>02.03.1.3.02</string><key>nameDescription</key><string>Элейна Таргариен — принцесса из династии Таргариенов, сестра Бейлора I.
            Появлялась в дополнительных материалах к третьему сезону сериала.
            Чтобы избежать плотских искушений, Бейлор заточил Элейну и остальных своих сестер в одной из башен Красного замка, которая получила название Девичий склеп.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%AD%D0%BB%D0%B5%D0%B9%D0%BD%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemElaenaTargaryen</string></dict>
        <key>Aelinor Targaryen</key><dict><key>nameID</key><string>02.03.1.4.02</string><key>nameDescription</key><string>Эйлинор Таргариен — сестра и жена короля Эйриса I.
            Эйлинор — дочь короля Дейрона и его жены Мирии. Вышла замуж за своего брата Эйриса и стала королевой Вестероса. В браке у них детей не было, и поэтому после смерти короля престол занял их брат Мейкар.
            Эйлинор упоминается в книге «Родословные и история великих домов Семи Королевств». («Золотая корона»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%AD%D0%B9%D0%BB%D0%B8%D0%BD%D0%BE%D1%80_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemAelinorTargaryen</string></dict>
        <key>Helaena Targaryen</key><dict><key>nameID</key><string>02.03.1.5.02</string><key>nameDescription</key><string>Хелейна Таргариен — сестра/жена короля Эйгона II. Была всадницей дракона по имени Пламенная Мечта.
            Хелейна не упоминалась в сериале. Появлялась в дополнительных материалах к пятому сезону.
            Хелейну выдали за ее брата, когда тот, вопреки воле покойного Визериса I, был коронован как Эйгон II. Их единокровная сестра Рейнира также объявила о своих притязаниях на престол, и начался Танец драконов. У Хелейны и Эйгона родились близнецы Джейхейрис и Джейхейра, а также младший сын Мейлор.
            Когда брат Хелейны и Эйгона Эймонд убил сына Рейниры Люцериса, Рейнира и ее муж Деймон решили отомстить Эйгону II. Они подослали к его детям наёмников по прозвищу Кровь и Сыр. Те нашли Хелейну, когда она была вместе со своими детьми, схватили мальчиков и предоставили королеве право выбирать, кто из них умрет. «Сын за сына», — говорили они. Хелейна в ужасе просила убить ее саму, но этот вариант не устраивал наемников, и они пригрозили убить обоих. Тогда Хелейна назвала имя Мейлора. Возможно, она думала, что мальчик слишком мал, и не понимает, что происходит. Возможно, она хотела, чтобы в живых остался старший сын и наследник. Но услышав имя, на`мники поступили с точностью до наоборот и убили Джейхейриса. Убийцы скрылись, а стражники нашли Хелейну, склонившуюся над окровавленным сыном и обезумевшую от горя.
            Хелейна так и не смогла оправиться от этого события. Позже, когда Рейнира захватила столицу, королева попала в плен. Ее держали в Твердыне Мейгора, пока однажды она не выбросилась оттуда вниз. Хелейна угодила на острые пики и погибла. Королеву очень любили, и ее смерть послужила одной из причин того, что в Королевской Гавани разразился бунт, приведший к убийству драконов, которых тогда держали в Драконьем логове.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A5%D0%B5%D0%BB%D0%B5%D0%B9%D0%BD%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemHelaenaTargaryen</string></dict>
        <key>Rhaenys Targaryen </key><dict><key>nameID</key><string>02.03.1.6.02</string><key>nameDescription</key><string>Рейнис Веларион, в девичестве Рейнис Таргариен, — сторонница Рейниры во время Танца драконов. Была всадницей дракона Мелеис.
            Рейнис не упоминалась в сериале, но появлялась в дополнительных материалах к пятому сезону.
            Рейнис была женой Корлиса Велариона, главы дома Веларионов, которому принадлежал самый могущественный на тот момент флот в Семи Королевствах. Сын Рейнис Лейнор Веларион был первым мужем Рейниры Таргариен.
            Когда разразился Танец драконов, Веларионы сражались на стороне Рейниры. Когда Эйгон II, противник Рейниры, захватил Грачиный Приют, Рейнис пришла на помощь жителям этого поселения. Она угодила в ловушку — ее встретили Эйгон II на своем драконе по имени Солнечный Огонь и его брат Эймонд на Вхагар. Мелеис нанесла серьезные ранения Солнечному Огню, одно из его крыльев чуть было не оторвалось от тела. Эйгон II также получил ожоги и переломы. Однако справиться с Вхагар Мелеис не смогла, и вместе со своей наездницей погибла.
            В дополнительных материалах к сериалу про родственные связи Рейнис с другими представителями дома Таргариенов сказано мало, лишь то, что она была «сестрой старого короля» и «бывшей свекровью Рейниры». В книгах этому уделено значительно больше внимания.
            Неизвестно, кого в дополнительных материалах к сериалу назвали «старым королем». Вообще, это прозвище Джейхейриса I, но по книгам Рейнис была дочерью его старшего сына. Сестру старого короля звали Рейной. Если имелся ввиду Визерис I, то это также не сходится с информацией из книг, там Рейнис была его двоюродной сестрой.
            Рейнис дважды была в списке претендентов на железный трон. Первый раз при жизни Джейхейриса I, но тот выбрал не Рейнис, а своего сына Бейлона. Второй раз — после смерти Джейхейриса I, тогда король выбирался решением Малого совета, и их выбор вновь пал не на Рейнис, а на Визериса I. От этого она получила прозвище «Почти Королева».
            У Рейнис и Корлиса Велариона было двое детей, Лейнор и Лейна. Лейнор был первым мужем Рейниры, Лейна — второй женой Деймона Таргариена.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A0%D0%B5%D0%B9%D0%BD%D0%B8%D1%81_%D0%92%D0%B5%D0%BB%D0%B0%D1%80%D0%B8%D0%BE%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemRhaenysTargaryen</string></dict>
        <key>Rhaenyra Targaryen</key><dict><key>nameID</key><string>02.03.1.7.02</string><key>nameDescription</key><string>Рейнира упоминалась в сериале и появлялась в дополнительных материалах к нему.
            Визерис I был женат дважды. От первого брака с Эйммой Аррен у него остался единственный выживший ребенок — Рейнира, и Визерис стал готовить ее к тому, чтобы стать его наследницей. Потом король женился во второй раз, и вторая жена, Алисента Хайтауэр, подарила ему сыновей. Несмотря на это, Визерис все равно продолжил считать своей преемницей Рейниру, хотя документально свое желание никак не закрепил, а лишь заручился поддержкой своих верных лордов.
            Отношения Рейниры с мачехой были плохими. Однажды Рейнира явилась на один из турниров одетая в черное, в то время как Алисента надела зеленое платье. С тех пор сторонников Рейниры и Алисенты стали называть черными и зелеными соответственно.
            Когда Визерис I умер, Алисента сохранила это втайне ото всех, лорды предали Визериса, и был коронован его сын, Эйгон II. Когда эти вести достигли Драконьего Камня и Рейниры, она объявила о своих притязаниях на престол, и началась война Танец драконов.
            Среди сторонников Рейниры были ее дядя и муж Деймон Таргариен, самый опасный человек Вестероса, Корлис Веларион, контролировавший самый могущественный флот королевства, и его жена Рейнис. У Рейниры было пятеро детей, а также драконы.
            Старшие сыновья Рейниры, Джекейрис, Люцерис и Джоффри, были от ее первого брака. Рейнира была замужем за Лейнором Веларионом, и таким образом Рейнис была ее бывшей свекровью.
            Сыновья Рейниры отправились в крупнейшие замки Вестероса, чтобы заручиться поддержкой их лордов. Сын Рейниры Люцерис погиб в Харренхоле, и из-за этого она чуть было не решила прекратить войну. Но Деймон убедил ее, что не стоит сдаваться, и нужно начать мстить, после чего был убит один из сыновей Эйгона II.
            После ряда столкновений с зелеными Рейнира решила отправить двух своих младших сыновей, Эйгона и Визериса, за Узкое море, но на них напали. Визерис пропал без вести, а Эйгону удалось вернуться назад. Старший сын Рейниры Джекейрис на своем драконе Вермаксе помчался на помощь Визерису, но не имея достаточно опыта угодил в ловушку и погиб, отправившись на дно Узкого моря.
            Лишившись многих драконов и наездников, Рейнира решила, что пришла пора использовать необъезженных драконов. Так как драконьими всадниками могут стать лишь те, в ком течет кровь Древней Валирии, Рейнира объявила, что любой из многочисленных бастардов Таргариенов может попытаться приручить драконов, и те, кому это удастся, получат деньги и почести. Четверым отпрыскам дракона это удалось, и они вошли в состав армии Рейниры.
            Благодаря хитрости Деймона, он и Рейнира захватили Королевскую Гавань. Эйгон оттуда сбежал. Рейниру короновали, но когда она впервые поднялась с железного трона, все увидели, что острые края мечей, из которых он отлит, оставили на теле и руках Рейниры раны. Все говорили, что железный трон отверг королеву.
            Двое из бастардов Таргариенов предали Рейниру, а спустя некоторое время погиб Деймон. В столице разразился бунт, и драконы, которых держали в Драконьем Логове, были убиты. Сын Рейниры Джоффри погиб, пытаясь спасти драконов. Не желая быть захваченной армией зеленых или разъяренной толпой, Рейнира и ее последний выживший сын Эйгон бежали на Драконий Камень.
            Там-то они и встретились с Эйгоном II и его раненным драконом Солнечный Огонь. Эйгон II отправил свою сестру на съедение своему дракону, в то время как маленький сын Рейниры на это смотрел.
            Правление Эйгона II было недолгим, и после его смерти на престол взошел сын Рейниры, коронованный как Эйгон III.
            В серии «И теперь его дозор завершился» Джоффри Баратеон рассказывает Маргери Тирелл историю о том, как была убита Рейнира, и что ее останки похоронены под Великой септой Бейлора.
            Танцу драконов посвящена книга, которую читает Ширен Баратеон. Рассказывая об этом кровавом событии, девочка упоминает Рейниру и Эйгона II. («Танец драконов»)
            В основной серии романов про Рейниру сказано мало. Гораздо больше информации про нее можно узнать благодаря приквелам «Порочный принц» и «Принцесса и королева».
            Рейнира завоевала любовь всей страны еще в юности, ее называли Отрадой Королевства. Многие мужчины ухаживали за ней и просили ее руки. Среди ее обожателей был сир Кристон Коль, он повсюду сопровождал Рейниру и посвящал ей свои победы на турнирах. О них ходило множество слухов, возможно, они были любовниками. Но однажды все закончилось, и любовь превратилась в ненависть, и Кристон стал одним из врагов Рейниры.
            В дополнительных материалах к сериалу про мужей, детей и любовников Рейниры не дается развернутой информации. В книгах она была замужем дважды. Первым ее мужем был Лейнор Веларион, и в этом браке родилось три сына, Джекейрис, Люцерис и Джоффри. В дополнительных материалах к сериалу они обладают характерными для Таргариенов чертами — белыми волосами и фиолетовыми глазами, но в книгах эти дети более походили на любовника Рейниры, сира Харвина Стронга.
            После смерти Лейнора Рейнира вышла замуж за горячо любимого дядю Деймона, от которого родила еще двоих сыновей.
            Рейниру также называют «Королевой на полгода», именно столько времени прошло от ее коронации в Королевской Гавани до смерти. Когда Рейнира взошла на престол, она стала казнить сторонников брата, вводить новые налоги. Ее уже не считали отрадой королевства, а ненавидели и сравнивали с Мейгором Жестоким.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A0%D0%B5%D0%B9%D0%BD%D0%B8%D1%80%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemRhaenyraTargaryen</string></dict>
        <key>Rhaena Targaryen </key><dict><key>nameID</key><string>02.03.1.8.02</string><key>nameDescription</key><string>Рейна Таргариен — принцесса из династии Таргариенов, сестра Бейлора Благославенного.
            Появлялась в дополнительных материалах к третьему сезону сериала.
            Чтобы избежать плотских искушений, Бейлор заточил Рейну и остальных своих сестер в одной из башен Красного замка, которая получила название Девичий склеп.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A0%D0%B5%D0%B9%D0%BD%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemRhaenaTargaryen</string></dict>
        <key>Rhaella Targaryen</key><dict><key>nameID</key><string>02.03.1.9.02</string><key>nameDescription</key><string>Рейла Таргариен — сестра и жена Безумного короля, мать Рейгара, Визериса и Дейнерис.
            После смерти Рейгара в битве на Трезубце беременная Рейла и Визерис бежали в Драконий Камень. В это время Эйрис погиб во время разгрома Королевской Гавани. В Драконьем Камне во время страшной бури родилась Дейнерис, а Рейла умерла во время родов. После этого Дейнерис и Визерис бежали на Эссос, в вольные города.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A0%D0%B5%D0%B9%D0%BB%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemRhaellaTargaryen</string></dict>
        <key>Naerys Targaryen</key><dict><key>nameID</key><string>02.03.1.10.02</string><key>nameDescription</key><string>Нейрис Таргариен — сестра и жена Эйгона V, одиннадцатого короля на Железном троне из династии Таргариенов.
            Королева Нейрис была матерью Дейрона II Таргариена и Дейнерис Таргариен.
            Нейрис и её дети упоминаются в книге «Родословные и история великих домов Семи Королевств». («Золотая корона»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9D%D0%B5%D0%B9%D1%80%D0%B8%D1%81_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemNaerysTargaryen</string></dict>
        <key>Nettles</key><dict><key>nameID</key><string>02.03.1.11.02</string><key>nameDescription</key><string>Крапива — девушка-бастард, потомок кого-то из Таргариенов. Её настоящее имя неизвестно.
            Крапива не упоминалась в сериале, но появлялась в дополнительных материалах к нему.
            Во время войны Танец драконов Рейнира Таргариен сражалась против своего единокровного брата Эйгона. У Рейниры было гораздо больше драконов, чем у него, но не было всадников, которые могли бы оседлать этих могучих существ. Считается, что лишь те, в ком течет кровь Древней Валирии, может это сделать. К счастью для Рейниры, за все то время, когда Таргариены обитали в Драконьем Камне, они успели породить множество бастардов. Таких людей называли отпрысками дракона, и самопровозглашенная королева обратилась к ним с предложением приручить дракона, обещая каждому преуспевшему в этом деле титулы и богатства.
            Многие решили попытать счастья и многие погибли. Лишь четверо, в том числе и Крапива, смогли приручить драконов. Драконом девушки стал Овцекрад. Крапива стала напарницей Деймона, и они вместе направились в Речные земли, где выслеживали Эймонда, а вскоре стали любовниками.
            Двое других отпрысков дракона предали Рейниру. Она испугалась, что остальные двое последуют их примеру, и потребовала себе голову Крапивы. Деймон не хотел выдавать девушку, и отпустил ее вместе с драконом. Ее дальнейшая судьба неизвестна.
            История Крапивы рассказана не в основной серии романов, а в приквеле «Принцесса и королева». Девушка завоевала своего дракона хитростью — каждый день приносила ему овец, пока он не привык к ней.
            В книгах дальнейшая судьба Крапивы также не раскрывается. Согласно книге «Мир льда и пламени» в Лунных горах есть клан Обгорелых, члены которого когда-то поклонялись «огненной ведьме», живущей в горах вместе со своим драконом. Они приносили ей дары, рискуя обгореть в драконьем огне.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9A%D1%80%D0%B0%D0%BF%D0%B8%D0%B2%D0%B0</string><key>nameImageName</key><string>FictionGOTTargaryenFemNettles</string></dict>
        <key>Dyanna Dayne</key><dict><key>nameID</key><string>02.03.1.12.02</string><key>nameDescription</key><string>Дианна Дейн — жена Мейкара Таргариена и мать его сыновей Эйриона, Эймона и Эйгона.
            На смертном одре мейстеру Ночного дозора Эймону начинает казаться, что он разговаривает со своим младшем братом Эйгоном и сообщает, что его ищет мама.
            В книгах Дианна Дейн — жена принца Мейкара Таргариена, в браке с которым родились шестеро детей: четыре сына (Дейрон, Эйрион, Эймон, Эйгон) и две дочери (Дейла и Рей). Дианна умерла до того, как Мейкар стал королём и не носила титул королевы.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B8%D0%B0%D0%BD%D0%BD%D0%B0_%D0%94%D0%B5%D0%B9%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemDyannaDayne</string></dict>
        <key>Jaehaera Targaryen</key><dict><key>nameID</key><string>02.03.1.13.02</string><key>nameDescription</key><string>Джейхейра Таргариен — дочь короля Эйгона II и жена короля Эйгона III.
            Джейхейра не упоминался в сериале, а появлялся в дополнительных материалах к нему.
            Джейхейра родилась во время гражданской войны под названием Танец драконов, в которой отец Джейхейры Эйгон II сражался со своей единокровной сестрой Рейнирой. Война закончилась победой Эйгона, но спустя полгода после ее окончания король был отравлен, и на престол взошел сын Рейниры, которого короновали как Эйгона III. Джейхейра стала его женой, и тем самым был положен конец противостоянию двух ветвей дома Таргариенов. Детей у Джейхейры не было.
            Согласно книге «Мир льда и пламени» существует две версии смерти Джейхейры. Официальная — королева покончила с собой, как и ее мать, выбросившись из окна и упав на пики. Другая версия — ее убил десница короля, который хотел женить Эйгона III на своей собственной дочери.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B6%D0%B5%D0%B9%D1%85%D0%B5%D0%B9%D1%80%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemJaehaeraTargaryen</string></dict>
        <key>Daenerys Targaryen </key><dict><key>nameID</key><string>02.03.1.14.02</string><key>nameDescription</key><string>Дейнерис Мартелл, урожденная Дейнерис Таргариен, — дочь короля Эйгона IV Таргариена и королевы Нейрис Таргариен.
            Дейнерис была дочерью короля Эйгона IV и королевы Нейрис. Родилась она в 182 году после В.Э.. Ее выдали замуж за принца Дорна, Марона Мартелла, и это было частью брачного союза Мартеллов и Таргариенов. В качестве подарка своей жене Марон построил Водные Сады.
            Дейнерис упоминается в книге «Родословные и история благородных домов Семи Королевств‏‎». («Золотая корона»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B5%D0%B9%D0%BD%D0%B5%D1%80%D0%B8%D1%81_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD_(%D0%B4%D0%BE%D1%87%D1%8C_%D0%AD%D0%B9%D0%B3%D0%BE%D0%BD%D0%B0_IV)</string><key>nameImageName</key><string>FictionGOTTargaryenFemDaenerysTargaryen</string></dict>
        <key>Daenerys Targaryen</key><dict><key>nameID</key><string>02.03.1.15.02</string><key>nameDescription</key><string>Дейнерис Таргариен  — дочь «Безумного короля» Эйриса II и королевы Рейлы, свергнутых с железного трона во время восстания Роберта. Младшая сестра Рейгара и Визериса Таргариенов.
            Дейнерис вежлива, учтива и обладает тем, что называют тихой решимостью. Она несколько наивна в силу своих юных лет, но за время, проведённое с дотракийцами, Дейнерис научилась быть гордой и уверенной в себе, а благодаря уму смогла понять, каков её путь в этой жизни. В отличие от многих Таргариенов она не унаследовала склонность к безумию, хотя и обладает определённой жестокостью. Несмотря на это, Дейнерис глубоко сочувствует тем, кто угнетён, так как сама долго находилась под властью деспотичного брата и способна на искреннюю благодарность и сострадание.
            Дейнерис — единственная дочь и младший ребенок Эйриса II Таргариена и его сестры-жены Рейлы. Безумный король был убит Джейме Ланнистером во время разгрома Королевской Гавани еще до её рождения. Мать Дейнерис и её брат Визерис бежали в Драконий Камень. В ночь, когда родилась Дейнерис, разразился сильный шторм. Поэтому её иногда называют Дейнерис Бурерожденная. Когда Рейла умерла, преданный сторонник Таргариенов Уиллем Дарри вывез Дейнерис и Визериса в вольные города, где они рассчитывали найти союзников, которые помогут вернуть Железный трон. В конечном итоге брат с сестрой находят убежище у магистра города Пентос Иллирио Мопатиса.
            Дейнерис всегда жила в страхе перед своим братом, который постоянно обвинял её во всех их бедах и порой был крайне жесток.
            Иллирио Мопатис организует свадьбу кхала Дрого и Дейнерис. Дело в том, что Дрого хочет взять в жены самую необычную девушку, а взамен готов дать Визерису армию. Визерис говорит сестре, что у неё нет выбора. На свадьбе Дейнерис получает много подарков. Иллирио Мопатис дарит ей окаменевшие драконьи яйца. Джорах Мормонт из Вестероса дарит ей книги из Семи Королевств и предлагает Визерису свои услуги в качестве советника и защитника. Дрого дарит невесте красивую белую лошадь. («Зима близко»)
            Кхаласар Дрого начинает свой путь, который длится несколько месяцев. Служанка Дейнерис Дореа учит её, как лучше ублажить мужа. Дейнерис следует совету, и постепенно с помощью своей сексуальности добивается того, что муж начинает считать её равной. («Королевский тракт»)
            Ирри учит Дейнерис дотракийскому языку. Постепенно девушка становится более уверенной в себе и даже иногда отдает команды кхаласару. Джорах Мормонт периодически дает ей советы. Визерису это не нравится, он все еще хочет контролировать сестру, но когда он начинает проявлять агрессию, дотракийцы защищают девушку. Дейнерис узнает, что беременна и предсказывает, что у неё родится мальчик. Любовь Дейнерис и Дрого становится все сильнее. («Лорд Сноу»)
            Весть о беременности Дейнерис достигает Вестероса. Король Роберт приказывает убить девушку. Иллирио тайно навещает Вариса в столице, чтобы обсудить планы по воостановлению власти Таргариенов. («Волк и лев»)
            В храме дош кхалин Дейнерис приходится съесть сырое сердце лошади. Во время обряда она вновь повторяет, что у неё родится мальчик, и она выбрала ему имя Рейго в честь убитого брата Рейгара Таргариена. Дотракийские предсказатели говорят, что у неё родится кхал кхалов, Жеребец, который покроет весь мир. Визерис еще больше злится от того, что Дейнерис завоевала любовь дотракийцев. Он приходит на праздник пьяным и требует армию дотракийцев, которые помогут ему вернуть золотую корону. Он угрожает ранить Дейнерис в живот. Дрого говорит, что исполнит просьбу Визериса, но делает это в довольно своеобразной манере. Пока его люди держат Визериса, он плавит в котле золотые украшения и выливает расплавленное золото на голову Визериса, который умирает в муках. Дейнерис замечает, что Визерис не был настоящим драконом, так как огонь не может причинить им вреда. («Золотая корона»)
            Дейнерис просит Дрого помочь ей занять Железный трон, однако после смерти Визериса он не хочет выполнять условия сделки и отправляться в Вестерос. Но после того, как Дейнерис пытаются отравить вином, Дрого обещает отомстить за жену, убить короля-узурпатора и подарить своему будущему сыну «Железный стул».
            («Победа или смерть»)
            Кхаласар двигается в Лхазар, грабит их деревни, берет в плен людей, которых собирается обменять на корабли, чтобы пересечь Узкое море и попасть на Вестерос. Дейнерис заступается за схваченных женщин и говорит, что они под её защитой. Дрого делает то, что хочет его жена, чем вызывает недовольство дотракийцев. Один из них по имени Маго нападет на Дрого. В драке Дрого побеждает, но получает небольшое ранение. Одна из схваченных женщин, Мирри Маз Дуур, берется за его лечение. («Острый конец»)
            Кхаласар продолжает свой путь через Красные пустоши, но Дрого становится все хуже. Дейнерис просит Мирри Маз Дуур вновь помочь мужу. Целительница готова провести магический ритуал и требует, чтобы никто не заходил в шатер. В это время кровный всадник Дрого Квото решает остановить проведение обряда, толкает Дейнерис, она падает, и у неё начинаются роды. Джорах Мормонт заносит её в шатер. («Бейлор»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B5%D0%B9%D0%BD%D0%B5%D1%80%D0%B8%D1%81_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemDaenerysTargaryen</string></dict>
        <key>Daena Targaryen</key><dict><key>nameID</key><string>02.03.1.16.02</string><key>nameDescription</key><string>Дейна Таргариен, известная как Дейна Непокорная — королева из династии Таргариенов.
            Дейна — сестра и жена короля Бейлора I, который заточил её и ещё двух своих сестёр Элейну и Рейну в Девичий склеп Красного замка, чтобы удержаться от плотских искушений. Дейна была любовницей своего двоюродного брата Эйгона IV Таргариена и родила ему сына — Деймона Блэкфайра.
            Дейна и члены её семьи упоминаются в книге Родословные и история великих домов Семи Королевств. («Золотая корона»)
            Дейна приходилась дочерью королю Эйгону III из династии Таргариенов и сестрой Бейлору Таргариену, который позже стал королём Бейлором I Благословенным. Брат взял Дейну в жёны лишь по принуждению, и брак не был осуществлён. Кроме того, набожный Бейлор заточил своих сестёр в одну из башен Красного замка, которая получила название Девичий склеп, чтобы уберечь себя и других от искушения. Несмотря на это, Дейна несколько раз сбегала и даже успела разделить ложе со своим кузеном, Эйгоном IV Таргариеном, который уже был женат. Когда Дейна забеременела, она отказалась называть имя отца ребёнка, за что и получила своё прозвище. Её сын, Деймон Блэкфайр, стал основателем нового дома, присягнувшего Таргариенам.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B5%D0%B9%D0%BD%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemDaenaTargaryen</string></dict>
        <key>Visenya Targaryen</key><dict><key>nameID</key><string>02.03.1.17.02</string><key>nameDescription</key><string>Висенья Таргариен — сестра и жена Эйгона Завоевателя. Помогала ему  захватить Вестерос. Первая королева на железном троне из династии Таргариенов (вместе со своей сестрой Рейнис).
            Висенья была сестрой Эйгона и Рейнис, она родилась в Драконьем Камне. Следуя валирийским традициям, Рейнис и Висенья вышли замуж за своего брата Эйгона. Все трое летали на драконах; дракона Висеньи звали Вхагар. Также Висенье принадлежал клинок из валирийской стали под названием Тёмная Сестра.
            Во время Завоевательной войны Висенья и Рейнис не участвовали в сожжении Харренхола. Однако все три дракона Таргариенов со своими всадниками приняли участие в крупнейшем сражении этой войны, получившей название Пламенное поле, и сожгли огромную армию противников правления Таргариенов в Вестеросе.
            Висенья была матерью Мейгора Таргариена, прозванного Жестоким, он стал третьим Королем на Железном Троне, но умер, не оставив наследника. Таким образом все остальные Таргариены являются потомками не Висеньи, а ее сестры Рейнис.
            Во время пребывания в Харренхоле Тайвин Ланнистер рассказывает Арье Старк, которая работает у него чашницей, историю строительства и сожжения этого замка Эйгоном Завоевателем. В ответ Арья напоминает, что Эйгон не один летал на драконах: были еще Рейнис и Висенья. Арья называет Висенью великой воительницей, упоминает про принадлежащий ей меч Тёмная Сестра, и признает своим кумиром. («Человек без чести»)
            Чтобы развлечь Давоса Сиворта во время его заточения, Ширен Баратеон даёт ему книгу о жизни Эйгона Завоевателя. («Поцелованная огнём») Незадолго до выхода из темницы Давос читает абзац про Висенью и спотыкается на имени её дракона Вхагара. («Младшие сыновья»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%92%D0%B8%D1%81%D0%B5%D0%BD%D1%8C%D1%8F_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemVisenyaTargaryen</string></dict>
        <key>Alysanne Targaryen</key><dict><key>nameID</key><string>02.03.1.18.02</string><key>nameDescription</key><string>Алисанна Таргариен — сестра и жена короля Джейхериса I, четвёртого короля на Железном троне из династии Таргариенов.
            Алисанна упоминается в дополнительных материалах к пятому сезону сериала. Она была всадником драконицы Среброкрылая, а её муж — всадником Вермитора.
            Алисанна и Джейхерис — младшие дети короля Эйниса I. После смерти Эйниса Железный трон должен был достаться его старшему сыну Эйгону, однако власть узурпировал младший брат Эйниса, дядя Алисанны и Джейхериса Мейгор Жестокий; это произошло во время восстания Святого воинства.
            После смерти бездетного Мейгора на трон взошёл Джейхерис, а Алисанна стала королевой. Супружеская чета правила так долго, что преемником Джейхериса стал его внук Визерис I</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%90%D0%BB%D0%B8%D1%81%D0%B0%D0%BD%D0%BD%D0%B0_%D0%A2%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionGOTTargaryenFemAlysanneTargaryen</string></dict>
        <key>Silverwing</key><dict><key>nameID</key><string>02.03.1.19.02</string><key>nameDescription</key><string>Среброкрылая — драконица королевы Алисанны Таргариен.  Во время гражданской войны, получившей название Танец драконов, Среброкрылая обрела нового всадника — Ульфа Белого.
            После смерти королевы Алисанны Доброй Среброкрылая на протяжении многих лет не имела наездника и вместе с другими свободными драконами обитала в пещерах Драконьего камня. Во время Танца драконов на острове находилась Рейнира Таргариен и её сторонники, однако всадников у них было меньше, чем драконов. Согласно преданиям, управлять драконами могут только люди с кровью Таргариенов, однако на протяжении поколений Таргариены произвели множество незаконнорожденных детей, вступая в отношения с населением Драконьего Камня.
            Рейнира призвала всех этих бастардов, известных также как Отпрыски дракона, обуздать шестерых бесхозных драконов, в качестве награды обещая золото и титулы. Многие умерли при попытках совладать с огнедышащими чудовищами, и только четверо справились с поставленной задачей. Среброкрылую подчинил себе Ульф Белый.
            Когда из Простора пришло войско «зелёных» во главе с Хайтауэрами и осадило замок Тамблтон, королева Рейнира отправила разбираться с противником двух своих всадников — Ульфа на Среброкрылой и ещё одного бастарда, Хью Молота на драконе Вермиторе. Однако Ульф и Хью предали королеву, спалив Тамблтон вместе со всем гарнизоном «чёрных». К счастью для Рейниры, бастарды не повернули на Королевскую Гавань, а предались пьянству и разврату вместе с зелёными на руинах сожжённого ими города.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A1%D1%80%D0%B5%D0%B1%D1%80%D0%BE%D0%BA%D1%80%D1%8B%D0%BB%D0%B0%D1%8F</string><key>nameImageName</key><string>FictionGOTTargaryenFemSilverwing</string></dict>
        <key>Dreamfyre</key><dict><key>nameID</key><string>02.03.1.20.02</string><key>nameDescription</key><string>Пламенная Мечта — драконица королевы Хелейны Таргариен.
            Наездницей Пламенной Мечты была Хелейна Таргариен, жена короля Эйгона II, который воевал против своей сестры Рейниры. Пламенная Мечта могла бы быть хорошим подспорьем для Эйгона II в его борьбе, однако после того, как убили одного из сыновей Хелейны, она сошла с ума от горя, и на своем драконе не летала. Пламенную Мечту держали в Драконьем Логове.
            После ряда ужасных событий в войне, жители Королевской Гавани подняли бунт. Они напали на драконов, которые были символом власти Таргариенов. Драконы были скованы цепями, а потому не могли вырваться и улететь, но, несмотря на это, могли сжигать и пожирать нападавших. Пламенной Мечте удалось вырваться, она поднялась к потолку и ударилась о купол, который рухнул вниз, погребая под собой и дракона, и людей. («Истории и фольклор»)
            Согласно книгам первой наездницей Пламенной Мечты была Рейна, жена Джейхейриса I. В боевых действиях Танца драконов Пламенная Мечта участия не принимала. Когда ее хозяйка Хелейна покончила с собой, выбросившись из окна, драконица это почувствовала, издала ужасный рев и разорвала часть цепей, которые ее сдерживали.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9F%D0%BB%D0%B0%D0%BC%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_%D0%9C%D0%B5%D1%87%D1%82%D0%B0</string><key>nameImageName</key><string>FictionGOTTargaryenFemDreamfyre</string></dict>
        <key>Syrax</key><dict><key>nameID</key><string>02.03.1.21.02</string><key>nameDescription</key><string>Сиракс — драконица Рейниры Таргариен.
            Рейнира вела гражданскую войну за престол против своего единокровного брата Эйгона II. Она и ее муж Деймон Таргариен захватили Королевскую Гавань с помощью драконов, Рейнира была на Сиракс, а Деймон на своем драконе Караксесе.
            Спустя некоторое время простой люд поднял бунт. Они напали на Драконье Логово, где держали драконов, символ власти Таргариенов. Сын Рейниры Джоффри испугался за своего дракона, Тираксеса, который был в Драконьем Логове. Вопреки запрету матери, юноша вскочил на Сиракс и полетел на ней туда. Сиракс сбросила его с себя, и Джоффри разбился. («Истории и фольклор»)
            Согласно книгам Сиракс названа в честь богини Древней Валирии. Рейнира оседлала ее будучи семилетней девочкой. В юности Рейнира была очень дружна со своим дядей Деймоном (поженились они позже). Рейнира и Деймон часто летали вместе на своих драконах.
            Дети Рейниры от первого брака считались бастардами, хоть она и пыталась отрицать свою неверность мужу. Одного из людей, говоривших об этом в открытую, Рейнира отдала на съедение своему дракону.
            Сиракс погибла вскоре после того, как сбросила с себя Джоффри. Она напала на толпу, но почему-то не стала использовать свой драконий огонь, и была убита разъяренными людьми.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A1%D0%B8%D1%80%D0%B0%D0%BA%D1%81</string><key>nameImageName</key><string>FictionGOTTargaryenFemSyrax</string></dict>
        <key>Vhagar</key><dict><key>nameID</key><string>02.03.1.22.02</string><key>nameDescription</key><string>Вхагар — драконица Висеньи Таргариен во время Завоевательной войны. Мать некоторых других драконов. Во время Завоевательной войны была наименьшей из всех драконов. Во времена Танца драконов была самым крупным драконом.
            Вхагар была одной из трех драконов в решающей битве Завоевательной войны, обеспечившей Таргариенам власть над Семью Королевствами.
            Сопротивлялась власти Таргариенов только долина Аррен, прячась за неприступными Лунными горами, а также укрепив горные перевалы и проходы, опасаясь атак. Но Висенья пролетела на Вхагар над горами, до двора собственного замка Арренов Орлиного Гнезда. В это время в замке был лишь маленький мальчик, Роннел Аррен, мать которого — Шарра Аррен — была его регентом. Висенье не пришлось сжигать Орлиное Гнездо, как Эйгон сжег Харренхол: одного её появления с Вхагар оказалось достаточно, чтобы заставить Арренов сдаться. Роннел, правда, попросил одно условие для бескровной сдачи: взамен Висенья должна была дать ему прокатиться вокруг замка на драконе. Верная своему слову, Висенья прокатила Роннела на спине Вхагар.
            Умерла Вхагар в битве над Божьем Оком, в котором она убила и была убита драконом Караксесом. Караксес был меньше Вхагар, но быстрее. В жестокой схватке они ранили друг друга. Деймон Таргариен соскочил с Караксеса и убил Эймонда, после чего и драконы, и всадники рухнули вниз, в озеро Божье Око. Все погибли. («Истории и фольклор»)
            Когда Арья находится на службе у Тайвина Ланнистера в Харренхоле, она упоминает, что Вхагар Висеньи была одним из трех драконов в захватнической войне. («Человек без чести»)
            Находясь в тюрьме, Давос Сиворт учится читать и не может прочитать имя Вхагар. («Младшие сыновья»)
            Ширин Баратеон читает книгу про Танец драконов и пересказывает историю сира Байрона Сванна Давосу Сиворту, чтобы вместе посмеяться над ним. («Танец драконов»)
            Вхагар получила своё имя в честь одного из Валирийских богов.
            Лейна Веларион, жена лорда Деймона Таргариена, дочь лорда Корлиса Велариона и принцессы Рейнис Таргариен, была наездницей Вхагар во время правления Визериса I. После смерти Лейны во время родов, наездником Вхагар стал принц Эймонд Таргариен.
            После того, как Мераксес погибла, сражаясь в Дорне, а Балерион умер от старости (за сорок лет до Танца Драконов) Вхагар стала самым крупным драконом на Вестеросе.
            Останки Вхагар лежали под водой озера Божье Око несколько лет, отыскали их уже после Танца драконов. Череп Вхагар хранится в подвале Красного Замка в Королевской Гавани, куда его приказал перенести Роберт Баратеон после своего воцарения. Тирион Ланнистер, видевший этот череп, говорил, что в глотку Вхагар мог бы въехать всадник на лошади.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%92%D1%85%D0%B0%D0%B3%D0%B0%D1%80</string><key>nameImageName</key><string>FictionGOTTargaryenFemVhagar</string></dict>
        <key>Meraxes</key><dict><key>nameID</key><string>02.03.1.23.02</string><key>nameDescription</key><string>Мераксес — драконица Рейнис Таргариен во время Завоевательной войны. Мать некоторых других драконов. Была меньше Балериона, но тем не менее размер пасти был достаточным, чтобы в ней поместилась лошадь целиком.
            Мераксес была одной из трех драконов в решающей битве Завоевательной войны, обеспечившей Таргариенам власть над Семью Королевствами.
            После того, как Таргариенам присягнули Старки и Аррены, Рейнис верхом на Мераксес отправилась в Дорн. Но завоевать Дорн ей не удалось, так как дорнийцы прятались в горах, где их не мог достать огонь драконов. Рейнис пришлось покинуть королевство и вернуться назад — все замки, которые посещала Рейнис, были пустыми.
            Через четыре года после того, как Эйгон I  был коронован, было предпринято еще одно вторжение в Дорн, известное как Дорнийская война. Дорнийцы опять прибегли к тактике партизанской войны вместо открытого боя и перебили по частям большую сухопутную армию в Красных горах.
            Спустя 10 лет после завоевания Эйгона Балерион и Мераксес воевали у замка Адская роща, пытаясь сломить сопротивление дорнийцев. Удачным выстрелом дорнийцы убили Мераксес — болт, выпущенный с земли, попал точно в глаз, вошел в мозг и убил Мераксес прямо в полете. Всадница Мераксес, Рейнис, умерла при падении своей драконицы. По неподтвержденным слухам (или мифам) Рейнис пережила падение, но была тяжело ранена, однако дорнийцы медленно замучили её до смерти в качестве мести. («Истории и фольклор»)
            Когда Арья находится на службе у Тайвина Ланнистера в Харренхоле, она упоминает, что Мераксес Рейнис была одним из трех драконов в захватнической войне. («Человек без чести»)
            Мераксес получила своё имя в честь одного из Валирийских богов.
            Мераксес была очень крупным драконом. И если бы не погибла, то могла бы стать крупнее Балериона.
            Череп Мераксес был передан Таргариенам после присоединения Дорна к Семи Королевствам. Он хранится в подвале Красного Замка в Королевской Гавани, куда его приказал перенести Роберт Баратеон после своего воцарения.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9C%D0%B5%D1%80%D0%B0%D0%BA%D1%81%D0%B5%D1%81</string><key>nameImageName</key><string>FictionGOTTargaryenFemMeraxes</string></dict>
        <key>Meleys</key><dict><key>nameID</key><string>02.03.1.24.02</string><key>nameDescription</key><string>Мелеис — драконица Рейнис Веларион.
            Во время Танца драконов Рейнис сражалась на стороне Рейниры Таргариен. Противник Рейниры, Эйгон II, и его люди напали на Грачиный Приют, где был много людей, верных Рейнире. Те стали звать на помощь, и спустя некоторое время помощь пришла в лице Рейнис на Мелеис. Против нее был сам Эйгон II на драконе Солнечный Огонь и его младший брат Эймонд на огромной Вхагар. Рейнис не испугалась и не бежала, но никаких шансов против огромной Вхагар у нее не было. Мелеис удалось ранить Солнечного Огня, чье крыло практически оторвалось от тела, и нанести раны и ожоги Эйгону. Сама драконица, как и ее всадница, погибли. («Истории и фольклор»)
            Согласно книгам Мелеис была старой коварной драконицей красного цвета.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%9C%D0%B5%D0%BB%D0%B5%D0%B8%D1%81</string><key>nameImageName</key><string>FictionGOTTargaryenFemMeleys</string></dict>

    
    </dict>
</plist>
