<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionStarwarsFemYoda.plist
   Nickname generator

   Created by nag on 10/05/2019.
   Copyright (c) 2019 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Yaddle</key><dict><key>nameID</key><string>02.04.1.1.04</string><key>nameDescription</key><string>Йаддль (англ. Yaddle) — женщина, мастер-джедай, заседавшая в Совете джедаев. К ее расе также принадлежал Йода, гранд-мастер Ордена джедаев. Йаддль присутствовала на заседаниях Совета во время блокады Набу. После битвы за Набу она стала играть менее активную роль в делах Ордена джедаев и покинула совет.
            Йаддль родилась примерно за пятьсот девять лет до битвы при Явине. В какой-то момент её жизни оказалось, что она чувствительна к Силе, и её отвезли в Храм джедаев. В конце концов, она была повышена до звания мастера-джедая и получила место в Высшем совете джедаев, на котором она оставалась в течении некоторого времени. Она также обучала тисспиасца Оппо Ранцизиса, который впоследствии также занял место в совете вместе с ней.[1]
            Во время вторжения на Набу Йаддль находилась в Храме джедаев на Корусанте, когда мастер-джедай Квай-Гон Джинн поведал Совету пугающую новость о том, что ситхи, древние враги джедаев, вернулись в Галактику. Она присутствовала во время оценки девятилетнего Энакина Скайуокера, которого Джинн считал Избранным. Члены совета первоначально решили, что мальчика не примут в Орден джедаев, поскольку он слишком взрослый для этого. Однако впоследствии они отменили своё решение, выполнив просьбу Джинна, погибшего от руки Дарта Мола на Набу.[3]
            После блокады Набу Йаддль решила играть менее активную роль в делах джедаев[4] и покинула Высший совет джедаев к временам Войн Клонов.[2] Её место в совете заняла мастер-джедай Шаак Ти.[5]
            Спустя какое-то время после уничтожения Ордена джедаев, Дарт Вейдер сразился с лордом ситхов Момином в своей новой крепости, построенной на планете Мустафар в месте сосредоточения Тёмной стороны. После победы над Момином, Вейдеру открылось посланное Силой видение, где перед ним предстали четырнадцать джедаев из прошлого, оставивших свой отпечаток в жизни Скайуокера. Йаддль также была среди этих джедаев и вместе с остальными атаковала Вейдера своим световым мечом. Стремительной атакой лорд ситхов убил джедая. В конечном счёте, встретившись лицом к лицу со своими страхами и неудачами, Вейдер прошёл испытание, окончательно выбрав стезю Тёмной стороны.[6]
            Йаддль высоко ценилась за её великую мудрость,[7] а также была известна своим спокойствием,[2] терпением и добротой.[8] У Йаддль, принадлежавшей к тому же таинственному виду, что и Йода,[2] были каштановые волосы, зелёно-золотые глаза, зелёная кожа[3] и рост 0.6 метров.[2]
            Йаддль была опытной в использовании малоизвестных способностей джедаев,[7] таких как морихро, древнее искусство, позволявшее замедлять процессы жизнедеятельности организма противника до смерти.[1]
            Движениями Йаддль в Скрытой угрозе управлял Фил Иасон.[9] Изначально Йаддль была эскизом Йоды, но потом была введена в фильм в качестве отдельного персонажа.[10]</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%99%D0%B0%D0%B4%D0%B4%D0%BB%D1%8C/%D0%9A%D0%B0%D0%BD%D0%BE%D0%BD</string><key>nameImageName</key><string>FictionStarwarsYodaFemYaddle</string></dict>
    
    </dict>
</plist>
