<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienFemAinur.plist
   Nickname generator

   Created by Anton Novoselov on 07/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Arien</key><dict><key>nameID</key><string>02.02.1.1.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D1%80%D0%B8%D1%8D%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurFemArien</string></dict>
        <key>Elbereth</key><dict><key>nameID</key><string>02.02.1.2.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurFemElbereth</string></dict>
        <key>Estë</key><dict><key>nameID</key><string>02.02.1.3.05</string><key>nameDescription</key><string>Целительница, дарящая здоровье и покой. Она носит одежды серого цвета и днем спит на тенистом острове озера Лорелин. Бодрость приносят живущим в Валиноре дивные фонтаны Эстэ и Лориена. Валар часто отдыхают там от трудов и забот.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%AD%D1%81%D1%82%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurFemEste</string></dict>
        <key>Ilmarë</key><dict><key>nameID</key><string>02.02.1.4.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%98%D0%BB%D1%8C%D0%BC%D0%B0%D1%80%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurFemIlmare</string></dict>
        <key>Melian</key><dict><key>nameID</key><string>02.02.1.5.05</string><key>nameDescription</key><string>Мелиан (англ.Melian)— одна из майар, супруга короля Дориата Элу Тингола и мать Лутиэн Тинувиэль. В черновиках и ранних версиях книг Толкина известна под именами Венделин, Гвенделин, Гвендалойн.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B5%D0%BB%D0%B8%D0%B0%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurFemMelian</string></dict>
        <key>Nessa</key><dict><key>nameID</key><string>02.02.1.6.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D1%8D%D1%81%D1%81%D0%B0</string><key>nameImageName</key><string>FictionTolkienAinurFemNessa</string></dict>
        <key>Nielíqui</key><dict><key>nameID</key><string>02.02.1.7.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurFemNieliqui</string></dict>
        <key>Nienna</key><dict><key>nameID</key><string>02.02.1.8.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D0%B8%D1%8D%D0%BD%D0%BD%D0%B0</string><key>nameImageName</key><string>FictionTolkienAinurFemNienna</string></dict>
        <key>Uinen</key><dict><key>nameID</key><string>02.02.1.9.05</string><key>nameDescription</key><string>Она помогает всем созданиям и растениям, живущим в солёных водах, а её волосы пронизывают моря сетью водорослей и морских сорняков. Среди эльфов особенно близки ей тэлери, с которыми она и Оссэ подружились ещё в Белерианде, во время похода эльфов в Аман. После Первой Резни в Альквалондэ, Уинен оплакала погибших тэлери так, что разбущевавшееся море уничтожило многие суда тэлери, убив многих плывущих на них нолдор.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A3%D0%B8%D0%BD%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurFemUinen</string></dict>
        <key>Ungoliant</key><dict><key>nameID</key><string>02.02.1.10.05</string><key>nameDescription</key><string>Унголиант (англ.Ungoliant в некоторых русскоязычных переводах — Унголианта) — одна из падших майар, принявшая облик гигантского паука.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A3%D0%BD%D0%B3%D0%BE%D0%BB%D0%B8%D0%B0%D0%BD%D1%82</string><key>nameImageName</key><string>FictionTolkienAinurFemUngoliant</string></dict>
        <key>Vairë</key><dict><key>nameID</key><string>02.02.1.11.05</string><key>nameDescription</key><string>Известно также, что в доме Вайрэ пребывала фэа Мириэль. После того, как Мириэль возвратилась в мир живых, она снова поселилась в доме Вайрэ (единственная из живущих, кто был когда-либо туда допущен) и стала главной прислужницей Вайрэ. Её обязанностью стало вплетать в ткани Вайрэ историю дома Финвэ и деяний нолдор.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%92%D0%B0%D0%B9%D1%80%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurFemVaire</string></dict>
        <key>Valier</key><dict><key>nameID</key><string>02.02.1.12.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurFemValier</string></dict>
        <key>Vána</key><dict><key>nameID</key><string>02.02.1.13.05</string><key>nameDescription</key><string>Ее называют также Вечно Юной, Дивной и Королевой Цветов. Все цветы расцветают, когда приходит Вана, и раскрываются, когда она смотрит на них. Все птицы поют при ее появлении. В 'Книге Утраченных Сказаний' Вана описана, как богиня весны и юности. Весенняя песня и танец Ваны фигурируют в описании выращивания Лаурелин.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%92%D0%B0%D0%BD%D0%B0</string><key>nameImageName</key><string>FictionTolkienAinurFemVana</string></dict>
        <key>Varda</key><dict><key>nameID</key><string>02.02.1.14.05</string><key>nameDescription</key><string>Варда — валиэ, супруга Манвэ. Одна из Аратар. Также Владычица Звезд, которая знает все уголки Эа. Пришла из глубин Эа на помощь Манвэ в начале творения Арды, отвергла Мелькора еще до Музыки Айнур, и он ненавидел и боялся ее более всех, кого создал Эру. Согласно текстам 'Преображенные мифы', Варда очень мало участвовала в Музыке, но очень внимательно слушала и запомнила больше всех.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%92%D0%B0%D1%80%D0%B4%D0%B0</string><key>nameImageName</key><string>FictionTolkienAinurFemVarda</string></dict>
        <key>Yavanna</key><dict><key>nameID</key><string>02.02.1.15.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurFemYavanna</string></dict>
        <key>Aratar</key><dict><key>nameID</key><string>02.02.1.16.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D1%80%D0%B0%D1%82%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurFemAratar</string></dict>
        <key>Balrog</key><dict><key>nameID</key><string>02.02.1.17.05</string><key>nameDescription</key><string>Балроги (англ.Balrogs) — майар, ужаснейшие из слуг Мелькора, демоны огня и страха. Их также называли Огненными Бичами и Валараукар («могучими демонами»).</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%91%D0%B0%D0%BB%D1%80%D0%BE%D0%B3%D0%B8</string><key>nameImageName</key><string>FictionTolkienAinurFemBalrog</string></dict>
        <key>Maiar</key><dict><key>nameID</key><string>02.02.1.18.05</string><key>nameDescription</key><string>Майар (англ.Maiar, ед. ч. Майа) — Айнур, которые обладают меньшей силой, нежели Валар. Они отправились с Валар в Арду, чтобы помогать им.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B0%D0%B9%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurFemMaiar</string></dict>
        <key>Nazgûl</key><dict><key>nameID</key><string>02.02.1.19.05</string><key>nameDescription</key><string>Предводителем назгул был человек, при жизни искусный в чародействе. Точное имя его неизвестно, в летописях Средиземья его называли «Король-Чародей из Ангмара».</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D0%B0%D0%B7%D0%B3%D1%83%D0%BB</string><key>nameImageName</key><string>FictionTolkienAinurFemNazgul</string></dict>
        <key>Undead</key><dict><key>nameID</key><string>02.02.1.20.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurFemUndead</string></dict>
        <key>Valar</key><dict><key>nameID</key><string>02.02.1.21.05</string><key>nameDescription</key><string>Валар (англ.Valar, на квэнья ед.ч. Ва́ла, мн.ч. Ва́лар) — часть Айнур, которые сошли из Чертогов Безвременья в Эа, чтобы управлять ею и стать её стихиями. Большая часть Айнур при этом всё же осталась в Чертогах Безвременья. Единственные существа, кроме майар, которых нельзя убить, это может сделать только Илуватар.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%92%D0%B0%D0%BB%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurFemValar</string></dict>

    
    </dict>
</plist>
