<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienFemElves.plist
   Nickname generator

   Created by Anton Novoselov on 06/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>Amarië</key><dict><key>nameID</key><string>02.02.1.1.01</string><key>nameDescription</key><string>Финрод не имел больше ни возлюбленных, ни жён, отчасти из-за клятвы, данной Беору— когда его сестра Галадриэль спросила его, долго ли ещё будет так, Финрод сказал ей:</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%BC%D0%B0%D1%80%D0%B8%D1%8D</string><key>nameImageName</key><string>FictionTolkienElvesFemAmarie</string></dict>
        <key>Anairë</key><dict><key>nameID</key><string>02.02.1.2.01</string><key>nameDescription</key><string>Анайрэ (кв. Anairё) - эльфийка из народа нолдор.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%BD%D0%B0%D0%B9%D1%80%D1%8D</string><key>nameImageName</key><string>FictionTolkienElvesFemAnaire</string></dict>
        <key>Andriel</key><dict><key>nameID</key><string>02.02.1.3.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%BD%D0%B4%D1%80%D0%B8%D0%B5%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemAndriel</string></dict>
        <key>Aredhel</key><dict><key>nameID</key><string>02.02.1.4.01</string><key>nameDescription</key><string>Аредэль (англ. Aredhel), также известная как Ар-Фейниэль (англ. Ar-Feiniel) - дочь Финголфина и Анайрэ, сестра Фингона, Тургона и Аргона, мать Маэглина.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D1%80%D0%B5%D0%B4%D1%8D%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemAredhel</string></dict>
        <key>Eärwen</key><dict><key>nameID</key><string>02.02.1.5.01</string><key>nameDescription</key><string>По происхождению - эльф-тэлери. Дочь Ольвэ, короля тэлери в Валиноре. Жена Финарфина.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%AD%D0%B0%D1%80%D0%B2%D0%B5%D0%BD</string><key>nameImageName</key><string>FictionTolkienElvesFemEarwen</string></dict>
        <key>Eldalótë</key><dict><key>nameID</key><string>02.02.1.6.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemEldalote</string></dict>
        <key>Elenwë</key><dict><key>nameID</key><string>02.02.1.7.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%AD%D0%BB%D0%B5%D0%BD%D0%B2%D1%8D</string><key>nameImageName</key><string>FictionTolkienElvesFemElenwe</string></dict>
        <key>Evranin</key><dict><key>nameID</key><string>02.02.1.8.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemEvranin</string></dict>
        <key>Findis</key><dict><key>nameID</key><string>02.02.1.9.01</string><key>nameDescription</key><string>После убийства Финвэ Мелькором ушла вместе с матерю из Тириона к ваниар, потому не участвовала Исходе Нолдор.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A4%D0%B8%D0%BD%D0%B4%D0%B8%D1%81</string><key>nameImageName</key><string>FictionTolkienElvesFemFindis</string></dict>
        <key>Finduilas</key><dict><key>nameID</key><string>02.02.1.10.01</string><key>nameDescription</key><string>Финдуилас — женщина из эльфов нолдор, дочь короля Ородрета.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A4%D0%B8%D0%BD%D0%B4%D1%83%D0%B8%D0%BB%D0%B0%D1%81_(%D0%9F%D0%B5%D1%80%D0%B2%D0%B0%D1%8F_%D0%AD%D0%BF%D0%BE%D1%85%D0%B0)</string><key>nameImageName</key><string>FictionTolkienElvesFemFinduilas</string></dict>
        <key>Galadriel</key><dict><key>nameID</key><string>02.02.1.11.01</string><key>nameDescription</key><string>Галадриэль (синд. Galadriel) — эльфийская владычица, персонаж эпоса «Властелин колец» Джона Р.Р.Толкина. Владычица Лориэна. Самая прекрасная и могущественная из эльфийских владык, оставшихся в Средиземье в Третьей Эпохе. За свою прекрасную внешность была прозвана «Утренней звездой эльфийского народа».</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%93%D0%B0%D0%BB%D0%B0%D0%B4%D1%80%D0%B8%D1%8D%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemGaladriel</string></dict>
        <key>Idril</key><dict><key>nameID</key><string>02.02.1.12.01</string><key>nameDescription</key><string>Идриль - единственная дочь Тургона и Эленвэ, жена Туора, мать Эарендиля.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%98%D0%B4%D1%80%D0%B8%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemIdril</string></dict>
        <key>Indis</key><dict><key>nameID</key><string>02.02.1.13.01</string><key>nameDescription</key><string>Индис (англ.Indis) — эльфийка из ваниар, вторая жена Финвэ, Верховного Короля нолдор (его первая жена, Мириэль, добровольно ушла из жизни после рождения сына Феанора). Сестра короля ваниар Ингвэ.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%98%D0%BD%D0%B4%D0%B8%D1%81</string><key>nameImageName</key><string>FictionTolkienElvesFemIndis</string></dict>
        <key>Írimë</key><dict><key>nameID</key><string>02.02.1.14.01</string><key>nameDescription</key><string>Во время Исхода Нолдор она отправилась в Средиземье вместе с братом Финголфином. Дальнейшая её судьба не известна.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%98%D1%80%D0%B8%D0%BC%D1%8D</string><key>nameImageName</key><string>FictionTolkienElvesFemIrime</string></dict>
        <key>Lianna</key><dict><key>nameID</key><string>02.02.1.15.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemLianna</string></dict>
        <key>Meril-i-Turinqi</key><dict><key>nameID</key><string>02.02.1.16.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemMeriliTurinqi</string></dict>
        <key>Míriel</key><dict><key>nameID</key><string>02.02.1.17.01</string><key>nameDescription</key><string>Ми́риэль Тэриндэ (англ. Miriel Therinde | кв. - 'Драгоценная Вышивательница' | Неправильное - Сэриндэ) — женщина из эльфов-нолдор, первая жена Финвэ и первая королева нолдор. Её сыном был Куруфинвэ, широко известный под именем, которое дала ему Мириэль - Феанор (или на квенья 'Феанаро'), что означает «Дух Огня».</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B8%D1%80%D0%B8%D1%8D%D0%BB%D1%8C_%D0%A2%D1%8D%D1%80%D0%B8%D0%BD%D0%B4%D1%8D</string><key>nameImageName</key><string>FictionTolkienElvesFemMiriel</string></dict>
        <key>Mithrellas</key><dict><key>nameID</key><string>02.02.1.18.01</string><key>nameDescription</key><string>Когда в Мории пробудился балрог, Митреллас и Нимродэль, как и многие другие эльфы, отправились в 1980 г. Т.Э. к морю, чтобы уплыть в Валинор. Однако по дороге они заблудились в Белых Горах и потеряли друг друга. Митреллас была найдена человеком из спасшихся в Средиземье нуменорцев, Имразором. Он приютил её и она стала его женой, родив ему сына Галадора, первого лорда Дол Амрота, и дочь Гильмит.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B8%D1%82%D1%80%D0%B5%D0%BB%D0%BB%D0%B0%D1%81</string><key>nameImageName</key><string>FictionTolkienElvesFemMithrellas</string></dict>
        <key>Nerdanel</key><dict><key>nameID</key><string>02.02.1.19.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D0%B5%D1%80%D0%B4%D0%B0%D0%BD%D0%B5%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemNerdanel</string></dict>
        <key>Nimrodel</key><dict><key>nameID</key><string>02.02.1.20.01</string><key>nameDescription</key><string>Нимродэль жила в одиночестве возле водопадов быстрой реки у северных границ Лориэна. Была возлюбленной короля Амрота и, хотя она тоже любила его, долгие годы не соглашалась стать его женой. О судьбе Нимродэль сложено немало легенд. Одна из них гласит, что она, как и многие другие эльфы, отправилась в 1980 г. Т.Э. вместе с подругой Митреллас к морю, чтобы уплыть в Валинор. Однако по дороге они заблудились в Белых Горах и потеряли друг друга. Устав, Нимродэль заснула на берегу реки Гилрайн, что напомнила ей родную реку в Лориэне. Она проспала так долго, что опоздала на встречу с возлюбленным. Корабль Амрота унесло в море, а сам он погиб, пытаясь вернуться к берегу вплавь.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D0%B8%D0%BC%D1%80%D0%BE%D0%B4%D1%8D%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemNimrodel</string></dict>
        <key>Tauriel</key><dict><key>nameID</key><string>02.02.1.21.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A2%D0%B0%D1%83%D1%80%D0%B8%D1%8D%D0%BB%D1%8C</string><key>nameImageName</key><string>FictionTolkienElvesFemTauriel</string></dict>
        <key>Vairë</key><dict><key>nameID</key><string>02.02.1.22.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemVaire</string></dict>
        <key>Amanyar</key><dict><key>nameID</key><string>02.02.1.23.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemAmanyar</string></dict>
        <key>Ausir</key><dict><key>nameID</key><string>02.02.1.24.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemAusir</string></dict>
        <key>Calaquendi</key><dict><key>nameID</key><string>02.02.1.25.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemCalaquendi</string></dict>
        <key>Hendor</key><dict><key>nameID</key><string>02.02.1.26.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemHendor</string></dict>
        <key>Idrial</key><dict><key>nameID</key><string>02.02.1.27.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemIdrial</string></dict>
        <key>Lambengolmor</key><dict><key>nameID</key><string>02.02.1.28.01</string><key>nameDescription</key><string>Ламбенголмор (англ.Lambengolmor) — школа «мудрецов-языковедов» в Валиноре и Средиземье. По большей части учёными были эльфы-нолдор, поскольку именно это племя более всех любило изучение языков. Основы учения были заложены в юности Феанором, и он же являлся, некоторое время, главой учёных-лингвистов. Учёные Ламбенголмор не были некой гильдией книжников, которых сожгли бы слуги Моргота на костре из их же книг, они были вождями, королями и воителями, как Феанор.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9B%D0%B0%D0%BC%D0%B1%D0%B5%D0%BD%D0%B3%D0%BE%D0%BB%D0%BC%D0%BE%D1%80</string><key>nameImageName</key><string>FictionTolkienElvesFemLambengolmor</string></dict>
        <key>Littleheart</key><dict><key>nameID</key><string>02.02.1.29.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemLittleheart</string></dict>
        <key>Morwë</key><dict><key>nameID</key><string>02.02.1.30.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemMorwe</string></dict>
        <key>Nurwë</key><dict><key>nameID</key><string>02.02.1.31.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemNurwe</string></dict>
        <key>Quendi</key><dict><key>nameID</key><string>02.02.1.32.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemQuendi</string></dict>
        <key>Uruviel</key><dict><key>nameID</key><string>02.02.1.33.01</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienElvesFemUruviel</string></dict>
     
        
        
        
    
    </dict>
</plist>
