<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionStarwarsFemWookie.plist
   Nickname generator

   Created by nag on 10/05/2019.
   Copyright (c) 2019 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>Subject 6391-A</key><dict><key>nameID</key><string>02.04.1.1.02</string><key>nameDescription</key><string>Субъект 6391-A (англ. Subject 6391-A), которой гранд-мофф Лозен Толрак дал прозвище «Зуболомка» (англ. Cracktooth), — самка вуки, находившаяся в рабстве у имперского гранд-моффа Кашиика Лозена Толрака к 5 ПБЯ. Пытаясь сбежать из рабства, она попробовала перегрызть свои кандалы. Тем не менее, ей это не удалось, и она сломала большую часть своих зубов, за что получила соответствующее прозвище. Во время Освобождения Кашиика после диверсии Синджира Рат-Велуса в островной крепости Толрака Зуболомка лично перегрызла своему мучителю глотку.[1]</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%A1%D1%83%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_6391-A</string><key>nameImageName</key><string>FictionStarwarsWookieFemSubject6391A</string></dict>
        <key>Mallatobuck</key><dict><key>nameID</key><string>02.04.1.2.02</string><key>nameDescription</key><string>Маллатобак или Маллатобук (Прекрасная певица на шириивуке), сокращённо Малла — женщина-вуки с Кашиика, жена Чубакки, мать Лумпаваррумпа, сестра Варджи.
            Малла впервые встретилась с Чубаккой на Кашиике, когда они оба были подростками. Она увидела его впервые, когда он, по её словам, «…совершил отчаянный, позёрский прыжок с дерева врошир, преодолев им неоправданно большое расстояние, играя со смертью, что было совершенным ребячеством». Прыжок Чубакки был весьма впечатляющим, и в этот момент она поняла, что Чубакка должен был стать её. Однако она слишком переживала, чтобы сразу показать свои чувства к нему. Чтобы заставить Чубакку замечать её, Малла обратилась к его двоюродному брату за помощью. За их первым знакомством последовало традиционное для вуки ухаживание, хотя некоторые из их флиртов не проходили так уж хорошо.
            Через некоторое время Малла и Чубакка были пойманы трандошанскими работорговцами, но Чубакка сумел дать им отпор, оторвав при этом несколько рук. Однако, после этих событий они поддерживали только близкую дружбу.
            Через некоторое время Чубакка попал в рабство к Галактической Империи, и только после его спасения Ханом Соло и возвращения на Кашиик его отношения с Маллой стали приобретать более романтический характер. Когда Чубакка наконец решил, что он хочет жениться на Малле, вуки-альбинос по имени Тожжеввук также захотел получить её себе в жёны. Чубакка убил Тожжеввука, и клан последнего поклялся убить Чубакку. Маллатобак и Чубакка не поженились до тех пор, пока отец Тожжеввука не отозвал метку смерти Чубакки.
            У Маллы и Чубакки родился сын по имени Лумпаваррумпа. Однако Малле очень редко удавалось видеться со своим мужа из-за долга жизни, который Чубакка провозгласил по отношению к Хану Соло. Несмотря на это, раз в год Чубакка возвращался на Кашиик, чтобы отпраздновать День Жизни с Маллой и их сыном.
            В 1 ПБЯ перед одним из таких праздников Малла вместе с Лампи и отцом Чубакки Аттичиткуком никак не могли дождаться прилёта Тысячелетнего сокола. Ни Люк Скайуокер, ни торговец Саун Данн, с которыми связывалась Малла, не смогли сказать, куда подевались Чубакка и Соло. Как оказалось, причина задержки была в Блокаде Кашиика, установленной Империей. Открыв дверь на стук, Малла увидела двух штурмовиков и двух имперских офицеров, стоящих за дверью. Имперцы ворвались в дом и устроили там обыск. После того, как Чубакка и Хан прилетели и спасли их, Малла предложила Хану остаться с ними на праздник, но тот отказался, опасаясь, что имперцы заметят Сокол. Вся семья отправилась на Дерево жизни на массовое празднование, а затем уселись за праздничный ужин.
            В 4 ПБЯ Малла, как вся её деревня, оказались заложниками нагайского командующего Найфа, который стремился наладить торговлю рабами на Кашиике. Малла не знала, что её брат Варджи и несколько других вуки-отступников были участниками этой операции. Однако Чубакка, Хан Соло и Лэндо Калриссиан смогли освободить пленных и положить конец этой афёре. С помощью Альянса повстанцев сражение заканчивалось в их пользу и все её участники были арестованы. Расстроенная предательством Варджи, Малла отреклась от него.
            Во времена ранних лет Новой Республики Малла постоянно волновалась из-за растущего желания своего сына походить на отца. Из-за этого Малла в 8 ПБЯ неохотно позволила Лампи пожить с семьёй Соло на Корусанте. Во время поездки на Корусант со своим отцом Лумпаваррумпа был схвачен бургларами во время попытки захватить воров, которые ворвались в квартиру Соло. Чубакка и Малла узнали, что грабители запланировали убить лидеров Новой Республики. В попытка остановить их они проникли на вражескую базу, чтобы найти новейшего дроида-дознавателя IT-3. Вуки спасли своего сына и помешали планам дроида. После этого Малла решила, что для Лампи будет безопаснее жить на Кашиике.
            После гибели Чубакки в 25 ПБЯ Малла разрешила Лумпаваррумпе принять долг жизни его отца к Хану Соло.
            Малла очень любила готовить; особенно хорошо ей удавалось блюдо огузок банты и её знаменитые вуки-уки.
            В фильме The Star Wars Holiday Special Маллу играет Микки Мортон.
            Одно из самых известных появлений Маллы состоялось в комиксе Звёздные войны: Чубакка, где она выступает рассказчиком в первом эпизоде. Она рассказывает историю того, как она встретила Чубакку, и выступает способом изображения горя от смерти Чубакки.
            И Оригинальная трилогия: Иллюстрированный словарь, и Звёздные войны: Полный иллюстрированный словарь ошибочно называют персонажа «Мала».</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%9C%D0%B0%D0%BB%D0%BB%D0%B0%D1%82%D0%BE%D0%B1%D0%B0%D0%BA</string><key>nameImageName</key><string>FictionStarwarsWookieFemMallatobuck</string></dict>
        <key>Lohgarra</key><dict><key>nameID</key><string>02.04.1.3.02</string><key>nameDescription</key><string>Логарра (англ. Lohgarra) — пожилая женщина-вуки, владелица и капитан корабля «Могучий Дуб Апокалипсиса». После того, как её второй пилот, Тейн Кайрелл, присоединился к восстанию, Логарра, спустя некоторое время, также вступила в Альянс вместе со всей командой.[1]
            Логарра родилась на Кашиике задолго до Войн клонов. Она была свидетелем того, как её мир уничтожался Империей, но не присоединилась к анти-имперскому сопротивлению на ранних этапах, оставаясь пилотом своего корабля, «Могучего Дуба Апокалипсиса». Вскоре после битвы при Явине она приняла в свою команду дезертировавшего Имперского пилота Тейна Кайрелла. В процессе полёта на Зейтуин Тейн пришёл к выводу, что кораблю, проходящему непрерывную модернизацию, и всё равно остающемуся устаревшим, нужна новая силовая ячейка. Тем не менее, после приземления он не нашёл искомую ячейку, наоборот, увидев жестокость Империи.[1]
            В течение следующих месяцев Логарра и ей корабль посетили некоторые миры, находившиеся по Имперской оккупацией — Динва-Прайм, Ивера X, Ариели, и отправился на Оуланн доставлять медикаменты пострадавшим в крупном землетрясении, проигнорированным Империей. Тейн смог посадить «МДА» в условиях сильного шторма, выжав всё из корабля.[1]
            После того, как Ведж Антиллес завербовал Тейна присоединиться к Восстанию, Логарра поведала ему о том, что случилось с Кашииком, после чего отпустила в Альянс, узнав правду о его мотивах.[1]
            Через некоторое время после битвы при Хоте Логарра и команда «МДА» вступили в Альянс, и встретились с Тейном на новой базе Альянса, планете 5251977. Логарра и команда МДА участвовали в битве при Эндоре, после которой участвовали в празднования в деревне Светлого дерева.[1]
            После того, как Новая Республика стала выплачивать репарации пострадавшим за время существовании Империи расам, Логарра объявила, что потратит свою долю на новые двигатели для «Могучего дуба Апокалипсиса».[1]
            Логарра была мудрой и проницательной вуки с седой из-за возраста шерстью. Несмотря на то, что члены её команды были наёмными, по факту она обращалась с ними как с семьёй. Исполняя роль заботливой матери, она следила за тем, чтобы её экипаж плотно питался.[1]</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%9B%D0%BE%D0%B3%D0%B0%D1%80%D1%80%D0%B0</string><key>nameImageName</key><string>FictionStarwarsWookieFemLohgarra</string></dict>
        <key>Dewlannamapia</key><dict><key>nameID</key><string>02.04.1.4.02</string><key>nameDescription</key><string>Дьюланнамапия (англ. Dewlannamapia), известная под сокращённым именем Дьюланна (англ. Dewlanna), – женщина-вуки, жена Исщаддика, с которым они вместе покинули родной Кашиик и присоединились к экипажу корабля Удача торговца. После смерти мужа осталась там работать поваром. Примерно в 20 ДБЯ Дьюланна сдружилась с девятилетним мальчиком-человеком с Кореллии по имени Хан. Вуки всячески заботилась о нём, практически заменяя родную мать, помогала разузнать его фамилию, которую капитан корабля, Гаррис Шрайк, держал в тайне, и даже спасла мальчишке жизнь, когда тот заболел танаменом, кореллианской лихорадкой.[1]
            В 10 ДБЯ Хан спланировал сбежать, и когда на камбузе он прощался вуки, неожиданно появился Шрайк. В завязавшейся драке Дьюланна пожертвовала собой и прикрыла своим телом мальчишку бластерного выстрела. Хан сумел сбежать и позже пилотом Имперского флота.[1] Один из потомков Дьюланны, вуки по имени Утчаккалок, считал Хана Соло своим приёмным братом.[4]</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%94%D1%8C%D1%8E%D0%BB%D0%B0%D0%BD%D0%BD%D0%B0</string><key>nameImageName</key><string>FictionStarwarsWookieFemDewlannamapia</string></dict>
        <key>Warrchallra</key><dict><key>nameID</key><string>02.04.1.5.02</string><key>nameDescription</key><string>Каллидона Венс (англ. Callidona Vens) — женщина, служившая губернатором сектора Спирва. После окончательного поражения Империи в битве за Джакку и подписания Галактического Соглашения, Венн, желая показать свою лояльность победившей стороне, стала снабжать Республику данными Имперской разведки и начала кампанию по выявлению симпатизирующих Империи в секторе. В рамках этой кампании был опубликован постер «Сообщай об имперцах». Рвение губернатора вызвало опасения у инспекторов Новой Республики, посчитавших что это излишнее нагнетание паранойи и враждебности в эпоху восстановления.[1]</string><key>nameURL</key><string>https://starwars.fandom.com/ru/wiki/%D0%9A%D0%B0%D0%BB%D0%BB%D0%B8%D0%B4%D0%BE%D0%BD%D0%B0_%D0%92%D0%B5%D0%BD%D1%81</string><key>nameImageName</key><string>FictionStarwarsWookieFemWarrchallra</string></dict>

    
    </dict>
</plist>
