<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienFemHobbits.plist
   Nickname generator

   Created by Anton Novoselov on 06/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Adaldrida Brandybuck</key><dict><key>nameID</key><string>02.02.1.1.03</string><key>nameDescription</key><string>Адалрида Брендибак (Болджер) — хоббит из Шира. Родилась в 2818 году Третьей Эпохи. Она была дочерью Гундахара и Дины Болджер. У неё был старший брат Адалгар Болджер.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%B4%D0%B0%D0%BB%D0%B4%D1%80%D0%B8%D0%B4%D0%B0_%D0%91%D1%80%D0%B5%D0%BD%D0%B4%D0%B8%D0%B1%D0%B0%D0%BA</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAdaldridaBrandybuck</string></dict>
        <key>Adamanta Took</key><dict><key>nameID</key><string>02.02.1.2.03</string><key>nameDescription</key><string>Адаманта Тук (Чабб) — хоббит из Шира, жена Геронтиуса, Старого Тука. Адаманта Чабб вышла замуж за Геронтиуса, и у них родилось двенадцать детей: Изенгрим III, Хильдигард, Изумбрас IV, Хильдигрим, Изембольд, Хильдифонс, Изембард, Хильдибранд, Белладонна, Доннамира, Мирабелла и Изенгар. Их дочь Белладонна была матерью Бильбо Бэггинса.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%B4%D0%B0%D0%BC%D0%B0%D0%BD%D1%82%D0%B0_%D0%A2%D1%83%D0%BA</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAdamantaTook</string></dict>
        <key>Amaranth Brandybuck</key><dict><key>nameID</key><string>02.02.1.3.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemAmaranthBrandybuck</string></dict>
        <key>Amelia Sackville-Baggins</key><dict><key>nameID</key><string>02.02.1.4.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemAmeliaSackvilleBaggins</string></dict>
        <key>Angelica Baggins</key><dict><key>nameID</key><string>02.02.1.5.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemAngelicaBaggins</string></dict>
        <key>Asphodel Burrows</key><dict><key>nameID</key><string>02.02.1.6.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemAsphodelBurrows</string></dict>
        <key>Belba Bolger</key><dict><key>nameID</key><string>02.02.1.7.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemBelbaBolger</string></dict>
        <key>Bell Gamgee</key><dict><key>nameID</key><string>02.02.1.8.03</string><key>nameDescription</key><string>Бэлл Гудчайлд, после замужества Бэлл Гэмджи была хоббитом родом из Шира, матерью Сэмуайза Гэмджи и женой Хэмфаста Гэмджи.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%91%D1%8D%D0%BB%D0%BB_%D0%93%D1%83%D0%B4%D1%87%D0%B0%D0%B9%D0%BB%D0%B4</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBellGamgee</string></dict>
        <key>Belladonna Baggins</key><dict><key>nameID</key><string>02.02.1.9.03</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%91%D0%B5%D0%BB%D0%BB%D0%B0%D0%B4%D0%BE%D0%BD%D0%BD%D0%B0_%D0%A2%D1%83%D0%BA</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBelladonnaBaggins</string></dict>
        <key>Berylla Baggins</key><dict><key>nameID</key><string>02.02.1.10.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemBeryllaBaggins</string></dict>
        <key>Celandine Brandybuck</key><dict><key>nameID</key><string>02.02.1.11.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemCelandineBrandybuck</string></dict>
        <key>Cora Goodbody</key><dict><key>nameID</key><string>02.02.1.12.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemCoraGoodbody</string></dict>
        <key>Daisy Boffin</key><dict><key>nameID</key><string>02.02.1.13.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyBoffin</string></dict>
        <key>Daisy Gamgee</key><dict><key>nameID</key><string>02.02.1.14.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyGamgee</string></dict>
        <key>Daisy Gamgee I</key><dict><key>nameID</key><string>02.02.1.15.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyGamgeeI</string></dict>
        <key>Diamond Took</key><dict><key>nameID</key><string>02.02.1.16.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDiamondTook</string></dict>
        <key>Donnamira Boffin</key><dict><key>nameID</key><string>02.02.1.17.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDonnamiraBoffin</string></dict>
        <key>Druda Burrows Boffin</key><dict><key>nameID</key><string>02.02.1.18.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDrudaBurrowsBoffin</string></dict>
        <key>Eglantine Took</key><dict><key>nameID</key><string>02.02.1.19.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemEglantineTook</string></dict>
        <key>Esmeralda Brandybuck</key><dict><key>nameID</key><string>02.02.1.20.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemEsmeraldaBrandybuck</string></dict>
        <key>Estella Brandybuck</key><dict><key>nameID</key><string>02.02.1.21.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemEstellaBrandybuck</string></dict>
        <key>Fíriel Fairbairn</key><dict><key>nameID</key><string>02.02.1.22.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemFirielFairbairn</string></dict>
        <key>Gilly Brownlock</key><dict><key>nameID</key><string>02.02.1.23.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemGillyBrownlock</string></dict>
        <key>Goldilocks Took</key><dict><key>nameID</key><string>02.02.1.24.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemGoldilocksTook</string></dict>
        <key>Hanna Brandybuck</key><dict><key>nameID</key><string>02.02.1.25.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemHannaBrandybuck</string></dict>
        <key>Hilda Brandybuck</key><dict><key>nameID</key><string>02.02.1.26.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemHildaBrandybuck</string></dict>
        <key>Ivy Boffin</key><dict><key>nameID</key><string>02.02.1.27.03</string><key>nameDescription</key><string>Айви Боффин (Гудэнаф) — хоббит из Шира, прапрабабушка Бильбо Бэггинса. Айви Гудэнаф вышла замуж за Буффо Боффина. У них родилось четверо детей: Боско в 2767 году Третьей Эпохи, Бассо – в 2769 году, Бриффо – в 2770 году и Берилла в 2772 году. Берилла приходилась прабабушкой Бильбо. Семья жила в Йеле.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%B9%D0%B2%D0%B8_%D0%93%D1%83%D0%B4%D1%8D%D0%BD%D0%B0%D1%84</string><key>nameImageName</key><string>FictionTolkienHobbitsFemIvyBoffin</string></dict>
        <key>Jessamine Bolger</key><dict><key>nameID</key><string>02.02.1.28.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemJessamineBolger</string></dict>
        <key>Lalia Took</key><dict><key>nameID</key><string>02.02.1.29.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemLaliaTook</string></dict>
        <key>Laura Baggins</key><dict><key>nameID</key><string>02.02.1.30.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemLauraBaggins</string></dict>
        <key>Lily Goodbody</key><dict><key>nameID</key><string>02.02.1.31.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemLilyGoodbody</string></dict>
        <key>Lily Cotton</key><dict><key>nameID</key><string>02.02.1.32.03</string><key>nameDescription</key><string>Мать Роуз Коттон, Толмана Коттон младшего, Уилкома Коттон, Боумана Коттон, и Карла Коттон.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9B%D0%B8%D0%BB%D0%B8_%D0%91%D1%80%D0%B0%D1%83%D0%BD</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLilyCotton</string></dict>
        <key>Linda Proudfoot</key><dict><key>nameID</key><string>02.02.1.33.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemLindaProudfoot</string></dict>
        <key>Lobelia Sackville-Baggins</key><dict><key>nameID</key><string>02.02.1.34.03</string><key>nameDescription</key><string>Хоббитское имя Хамануллас (Hamanullas). Толкин перевел это имя на Всеобщее наречие как Лобелия, поскольку не зная точно, какое растение подразумевалось, все же считал, что hamanullas по идее должен быть маленьким голубым садовым цветком, а само слово скорее из обихода садовников, чем распространенное имя.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9B%D0%BE%D0%B1%D0%B5%D0%BB%D0%B8%D1%8F_%D0%A1%D0%B0%D0%BA%D0%B2%D0%B8%D0%BB%D0%BB%D1%8C-%D0%91%D1%8D%D0%B3%D0%B3%D0%B8%D0%BD%D1%81</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLobeliaSackvilleBaggins</string></dict>
        <key>Malva Brandybuck</key><dict><key>nameID</key><string>02.02.1.35.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMalvaBrandybuck</string></dict>
        <key>Marigold (Gamgee) Cotton</key><dict><key>nameID</key><string>02.02.1.36.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMarigold(Gamgee)Cotton</string></dict>
        <key>May Gamgee</key><dict><key>nameID</key><string>02.02.1.37.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMayGamgee</string></dict>
        <key>Melilot Brandybuck</key><dict><key>nameID</key><string>02.02.1.38.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMelilotBrandybuck</string></dict>
        <key>Mentha Brandybuck</key><dict><key>nameID</key><string>02.02.1.39.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMenthaBrandybuck</string></dict>
        <key>Mirabella Brandybuck</key><dict><key>nameID</key><string>02.02.1.40.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMirabellaBrandybuck</string></dict>
        <key>Mrs. Proudfoot</key><dict><key>nameID</key><string>02.02.1.41.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMrs.Proudfoot</string></dict>
        <key>Nina Lightfoot</key><dict><key>nameID</key><string>02.02.1.42.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemNinaLightfoot</string></dict>
        <key>Pansy Baggins</key><dict><key>nameID</key><string>02.02.1.43.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPansyBaggins</string></dict>
        <key>Pearl Took</key><dict><key>nameID</key><string>02.02.1.44.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPearlTook</string></dict>
        <key>Peony Burrows</key><dict><key>nameID</key><string>02.02.1.45.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPeonyBurrows</string></dict>
        <key>Pervinca Took</key><dict><key>nameID</key><string>02.02.1.46.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPervincaTook</string></dict>
        <key>Pimpernel Took</key><dict><key>nameID</key><string>02.02.1.47.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPimpernelTook</string></dict>
        <key>Primrose Bracegirdle</key><dict><key>nameID</key><string>02.02.1.48.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimroseBracegirdle</string></dict>
        <key>Primula Baggins</key><dict><key>nameID</key><string>02.02.1.49.03</string><key>nameDescription</key><string>Примула (Брендибак) Бэггинс (2920–2980) была дочерью Горбадока Брендибака, Хозяина Баклэнда, и Мирабеллы Тук, самой младшей дочери Старого Тука. Она вышла за Дрого Бэггинса и имела от него одного ребенка - Фродо Бэггинса. В 2980 году Примула и с мужем утонули в реке Барандуин, оставив Фродо сиротой.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9F%D1%80%D0%B8%D0%BC%D1%83%D0%BB%D0%B0_%D0%91%D1%8D%D0%B3%D0%B3%D0%B8%D0%BD%D1%81</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimulaBaggins</string></dict>
        <key>Rosa Took</key><dict><key>nameID</key><string>02.02.1.50.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosaTook</string></dict>
        <key>Rosamunda Bolger</key><dict><key>nameID</key><string>02.02.1.51.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosamundaBolger</string></dict>
        <key>Rose Gamgee</key><dict><key>nameID</key><string>02.02.1.52.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRoseGamgee</string></dict>
        <key>Rose Greenhand</key><dict><key>nameID</key><string>02.02.1.53.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRoseGreenhand</string></dict>
        <key>Rosie Cotton</key><dict><key>nameID</key><string>02.02.1.54.03</string><key>nameDescription</key><string>1 мая 3020 г. Т. Э. Роуз вышла замуж за Сэма Гэмджи. 25 марта 3021 г. Т. Э. у них родилась первая дочь — Эланор Весёлая. Впоследствии Эланор стала одной из фрейлин королевы Арвен.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A0%D0%BE%D1%83%D0%B7_%D0%9A%D0%BE%D1%82%D1%82%D0%BE%D0%BD</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosieCotton</string></dict>
        <key>Ruby Gamgee</key><dict><key>nameID</key><string>02.02.1.55.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRubyGamgee</string></dict>
        <key>Sapphira Boffin</key><dict><key>nameID</key><string>02.02.1.56.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemSapphiraBoffin</string></dict>
        <key>Widow Rumble</key><dict><key>nameID</key><string>02.02.1.57.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemWidowRumble</string></dict>
        <key>Camellia Baggins</key><dict><key>nameID</key><string>02.02.1.58.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemCamelliaBaggins</string></dict>
        <key>Chica Baggins</key><dict><key>nameID</key><string>02.02.1.59.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemChicaBaggins</string></dict>
        <key>Dina Diggle</key><dict><key>nameID</key><string>02.02.1.60.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDinaDiggle</string></dict>
        <key>Dora Baggins</key><dict><key>nameID</key><string>02.02.1.61.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemDoraBaggins</string></dict>
        <key>Lavender Boffin</key><dict><key>nameID</key><string>02.02.1.62.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemLavenderBoffin</string></dict>
        <key>Mimosa Baggins</key><dict><key>nameID</key><string>02.02.1.63.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMimosaBaggins</string></dict>
        <key>Myrtle Burrows</key><dict><key>nameID</key><string>02.02.1.64.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemMyrtleBurrows</string></dict>
        <key>Pansy Bolger</key><dict><key>nameID</key><string>02.02.1.65.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPansyBolger</string></dict>
        <key>Poppy Bolger</key><dict><key>nameID</key><string>02.02.1.66.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPoppyBolger</string></dict>
        <key>Primrose Gardner</key><dict><key>nameID</key><string>02.02.1.67.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimroseGardner</string></dict>
        <key>Prisca Bolger</key><dict><key>nameID</key><string>02.02.1.68.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemPriscaBolger</string></dict>
        <key>Ruby Baggins</key><dict><key>nameID</key><string>02.02.1.69.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemRubyBaggins</string></dict>
        <key>Salvia Bolger</key><dict><key>nameID</key><string>02.02.1.70.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemSalviaBolger</string></dict>
        <key>Tanta Baggins</key><dict><key>nameID</key><string>02.02.1.71.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemTantaBaggins</string></dict>
        <key>Tanta Hornblower</key><dict><key>nameID</key><string>02.02.1.72.03</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienHobbitsFemTantaHornblower</string></dict>

    
    </dict>
</plist>
