<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienMascAinur.plist
   Nickname generator

   Created by Anton Novoselov on 07/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    <key>Alatar</key><dict><key>nameID</key><string>02.02.0.1.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D0%BB%D0%B0%D1%82%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurMascAlatar</string></dict>
    <key>Aulë</key><dict><key>nameID</key><string>02.02.0.2.05</string><key>nameDescription</key><string>Аулэ (англ. Aulë, в некоторых переводах Ауле) — Вала-кузнец, владыка земной тверди, гор и металла, создатель многих материй, покровитель труда, супруг Йаванны.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D1%83%D0%BB%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurMascAule</string></dict>
    <key>Avatan</key><dict><key>nameID</key><string>02.02.0.3.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurMascAvatan</string></dict>
    <key>Eönwë</key><dict><key>nameID</key><string>02.02.0.4.05</string><key>nameDescription</key><string>Эонвэ — один из самых могущественных майа, вестник и глашатай Манвэ. Возглавлял воинство Валинора во время Войны Гнева. После низвержения Мелькора, оставшиеся у него в короне Сильмарили были взяты Эонвэ. Однако сыновья Феанора, Маэдрос и Маглор выкрали Самоцветы. Когда это было замечено, братьев перехватили и хотели убить, однако Эонвэ отпустил их вместе с камнями (которые принесли сыновьям Феанора погибель). Эонвэ также первым встретил Эарендиля в Тирионе и препроводил его к Валар. После затопления Белерианда, Эонвэ призывал всех эльфов отплыть в Аман. Был духовным учителем нуменорцев.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%AD%D0%BE%D0%BD%D0%B2%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurMascEonwe</string></dict>
    <key>Gandalf</key><dict><key>nameID</key><string>02.02.0.5.05</string><key>nameDescription</key><string>Гэндальф Серый (англ.Gandalf the Grey) — один из главных персонажей произведений Дж. Р. Р. Толкина «Властелин Колец» и «Хоббит». В этих книгах Гэндальф предстаёт мудрым чародеем, состоящем в Совете Мудрых и помогающим слабым.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%93%D1%8D%D0%BD%D0%B4%D0%B0%D0%BB%D1%8C%D1%84</string><key>nameImageName</key><string>FictionTolkienAinurMascGandalf</string></dict>
    <key>Gorgumoth</key><dict><key>nameID</key><string>02.02.0.6.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurMascGorgumoth</string></dict>
    <key>Gothmog</key><dict><key>nameID</key><string>02.02.0.7.05</string><key>nameDescription</key><string>Готмог (англ.Gothmog) — балрог, верховный военачальник Ангбанда и предводитель шести других балрогов. Возможно, что как и у всех Валар, изначально у Мелькора также была свита, и все они стали балрогами, а Готмог был главой свиты Моргота, как Эонвэ — глава свиты Манвэ, а Оссэ — глава свиты Улмо.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%93%D0%BE%D1%82%D0%BC%D0%BE%D0%B3</string><key>nameImageName</key><string>FictionTolkienAinurMascGothmog</string></dict>
    <key>Irmo</key><dict><key>nameID</key><string>02.02.0.8.05</string><key>nameDescription</key><string>Подруга Ирмо — нежная Эстэ, целительница ран и усталости. Из источников Ирмо и Эсте все жители Валинора черпают бодрость. И часто сами Валар являются в Лориэн, дабы найти там отдых и облегчение от забот Арды. Также в Лориэне жил Олорин — мудрейший из майар.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9B%D0%BE%D1%80%D0%B8%D1%8D%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurMascIrmo</string></dict>
    <key>Lungorthin</key><dict><key>nameID</key><string>02.02.0.9.05</string><key>nameDescription</key><string>Лунгортин, Лорд Балрогов (англ.Lungorthin, Lord of Balrogs) - балрог, упомянутый во второй версии 'Песни о детях Хурина'. Неизвестно, являлся ли это отдельный балрог или одно из имён Готмога.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9B%D1%83%D0%BD%D0%B3%D0%BE%D1%80%D1%82%D0%B8%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurMascLungorthin</string></dict>
    <key>Mandos</key><dict><key>nameID</key><string>02.02.0.10.05</string><key>nameDescription</key><string>Намо - владыка царства умерших на западе Валинора, откуда и взялось его второе имя Мандос (кв. Чёрная твердыня). Является одним из Аратар и Фэантури, Владык Валар. Его обязанностью является собирать в Чертоги Мандоса души умерших.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B0%D0%BD%D0%B4%D0%BE%D1%81</string><key>nameImageName</key><string>FictionTolkienAinurMascMandos</string></dict>
    <key>Manwë</key><dict><key>nameID</key><string>02.02.0.11.05</string><key>nameDescription</key><string>Манвэ, вместе с Улмо и Аулэ, был одним из тех, кто более прочих повлиял на создание облика Арды, он повелевает ветрами, облаками и птицами, его Великие Орлы летают по всей Арде и приносят ему вести. Покровительствует поэтам, а среди всех эльфов ему особенно близки ваниар.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B0%D0%BD%D0%B2%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurMascManwe</string></dict>
    <key>Òmar</key><dict><key>nameID</key><string>02.02.0.12.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurMascOmar</string></dict>
    <key>Oromë</key><dict><key>nameID</key><string>02.02.0.13.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9E%D1%80%D0%BE%D0%BC%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurMascOrome</string></dict>
    <key>Ossë</key><dict><key>nameID</key><string>02.02.0.14.05</string><key>nameDescription</key><string>Оссэ не уходит в глубины, а любит прибрежье и острова, и радуется вет­рам Манвэ, либо наслаждается бурей и хохочет средь рева волн. Мелькор ненавидел Море, ибо не мог покорить его. Но при сотворении Арды ему удалось переманить Оссэ на свою сторону, посулив ему владения и могущество Улмо, если он будет служить ему. Так и случи­лось, что в давние дни начались в Море великие бури, разрушавшие берега. Но Уинен, его подруга, по просьбе Ауле, смирила Оссэ и привела его пред очи Улмо, и он был прощен, и вернулся к владыке, которому с тех пор оставался верен.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9E%D1%81%D1%81%D1%8D</string><key>nameImageName</key><string>FictionTolkienAinurMascOsse</string></dict>
    <key>Pallando</key><dict><key>nameID</key><string>02.02.0.15.05</string><key>nameDescription</key><string>Палландо (Ромeстамo) — майа, один из Синих магов. Был одним из пяти Майар, которые пришли в Средиземье в Третью эпоху. Позже, вместе с Саруманом и Алатаром он отправился на Дальний Восток, однако лишь Саруман вернулся на запад. Алатар и Палландо этого не сделали, и об их судьбе почти ничего не известно.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9F%D0%B0%D0%BB%D0%BB%D0%B0%D0%BD%D0%B4%D0%BE</string><key>nameImageName</key><string>FictionTolkienAinurMascPallando</string></dict>
    <key>Radagast</key><dict><key>nameID</key><string>02.02.0.16.05</string><key>nameDescription</key><string>Возможно, прототипом Радагаста послужил западнославянский бог Радегаст (Радогост).</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A0%D0%B0%D0%B4%D0%B0%D0%B3%D0%B0%D1%81%D1%82</string><key>nameImageName</key><string>FictionTolkienAinurMascRadagast</string></dict>
    <key>Salmar</key><dict><key>nameID</key><string>02.02.0.17.05</string><key>nameDescription</key><string>Салмар — майа, пришёл в Арду вместе с Улмо, создатель Улумури (Рогов (раковины) Улмо, музыку которых не может забыть никто из слышавших их).</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A1%D0%B0%D0%BB%D0%BC%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurMascSalmar</string></dict>
    <key>Saruman</key><dict><key>nameID</key><string>02.02.0.18.05</string><key>nameDescription</key><string>Са́руман Белый (англ.Saruman the White), (Курунир Лан на синдарине) — сильнейший маг Ордена Истари, глава Белого совета. После прибытия в Средиземье стал известен среди эльфов как Куруни́р, на языках людей Севера — Саруман. В Валиноре его называли Курумо. Впоследствии, он противопоставил себя Ордену, самопровозгласил себя как Саруман Радужный.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A1%D0%B0%D1%80%D1%83%D0%BC%D0%B0%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurMascSaruman</string></dict>
    <key>Sauron</key><dict><key>nameID</key><string>02.02.0.19.05</string><key>nameDescription</key><string>Са́урон (кв. Sauron в более правильном квенийском - Таурон (Þauron)) — один из первых Майар, перешедших на сторону Мелькора. Он был его правой рукой, самым могущественным и преданным из слуг Владыки Тьмы. После падения своего хозяина, он сам стал Тёмным Властелином. Для власти над другими народами Саурон выковал в пламени Роковой Горы Единое Кольцо и стал именоваться Властелином Колец.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A1%D0%B0%D1%83%D1%80%D0%BE%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurMascSauron</string></dict>
    <key>Tilion</key><dict><key>nameID</key><string>02.02.0.20.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A2%D0%B8%D0%BB%D0%B8%D0%BE%D0%BD</string><key>nameImageName</key><string>FictionTolkienAinurMascTilion</string></dict>
    <key>Tulkas</key><dict><key>nameID</key><string>02.02.0.21.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A2%D1%83%D0%BB%D0%BA%D0%B0%D1%81</string><key>nameImageName</key><string>FictionTolkienAinurMascTulkas</string></dict>
    <key>Ulmo</key><dict><key>nameID</key><string>02.02.0.22.05</string><key>nameDescription</key><string>Улмо (англ.Ulmo. другой вариант превода Ульмо) — один из Валар, владыка вод, морской король.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%A3%D0%BB%D0%BC%D0%BE</string><key>nameImageName</key><string>FictionTolkienAinurMascUlmo</string></dict>
    <key>Aratar</key><dict><key>nameID</key><string>02.02.0.23.05</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%90%D1%80%D0%B0%D1%82%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurMascAratar</string></dict>
    <key>Balrog</key><dict><key>nameID</key><string>02.02.0.24.05</string><key>nameDescription</key><string>Балроги (англ.Balrogs) — майар, ужаснейшие из слуг Мелькора, демоны огня и страха. Их также называли Огненными Бичами и Валараукар («могучими демонами»).</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%91%D0%B0%D0%BB%D1%80%D0%BE%D0%B3%D0%B8</string><key>nameImageName</key><string>FictionTolkienAinurMascBalrog</string></dict>
    <key>Maiar</key><dict><key>nameID</key><string>02.02.0.25.05</string><key>nameDescription</key><string>Майар (англ.Maiar, ед. ч. Майа) — Айнур, которые обладают меньшей силой, нежели Валар. Они отправились с Валар в Арду, чтобы помогать им.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9C%D0%B0%D0%B9%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurMascMaiar</string></dict>
    <key>Nazgûl</key><dict><key>nameID</key><string>02.02.0.26.05</string><key>nameDescription</key><string>Предводителем назгул был человек, при жизни искусный в чародействе. Точное имя его неизвестно, в летописях Средиземья его называли «Король-Чародей из Ангмара».</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%9D%D0%B0%D0%B7%D0%B3%D1%83%D0%BB</string><key>nameImageName</key><string>FictionTolkienAinurMascNazgul</string></dict>
    <key>Undead</key><dict><key>nameID</key><string>02.02.0.27.05</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>FictionTolkienAinurMascUndead</string></dict>
    <key>Valar</key><dict><key>nameID</key><string>02.02.0.28.05</string><key>nameDescription</key><string>Валар (англ.Valar, на квэнья ед.ч. Ва́ла, мн.ч. Ва́лар) — часть Айнур, которые сошли из Чертогов Безвременья в Эа, чтобы управлять ею и стать её стихиями. Большая часть Айнур при этом всё же осталась в Чертогах Безвременья. Единственные существа, кроме майар, которых нельзя убить, это может сделать только Илуватар.</string><key>nameURL</key><string>http://ru.lotr.wikia.com/wiki/%D0%92%D0%B0%D0%BB%D0%B0%D1%80</string><key>nameImageName</key><string>FictionTolkienAinurMascValar</string></dict>

    
    </dict>
</plist>
