<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Нет женщин драконов :(</key>
	<dict>
		<key>nameID</key>
		<string>02.02.1.1.08</string>
		<key>nameDescription</key>
		<string></string>
		<key>nameURL</key>
		<string></string>
		<key>nameImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
