<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionGOTFemLannister.plist
   Nickname generator

   Created by Anton Novoselov on 20/09/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Cynda Lannister</key><dict><key>nameID</key><string>02.03.1.1.03</string><key>nameDescription</key><string>Синда Ланнистер — мать Элтона Ланнистера.
            Синда Ланнистер родом из семьи, которая является ветвью дома Ланнистеров.
            Элтон Ланнистер называет имя своей матери Джейме Ланнистеру, когда они оба сидят в клетке в плену у Старков. Джейме, пытаясь её вспомнить, спрашивает, не толстуха ли она. Элтон отвечает, что она, конечно, поправилась, но Джейме его перебивает: только одна представительница многочисленной семьи Ланнистеров действительно толстая и, видимо, это не Синда. («Человек без чести»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A1%D0%B8%D0%BD%D0%B4%D0%B0_%D0%9B%D0%B0%D0%BD%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80</string><key>nameImageName</key><string>FictionGOTLannisterFemCyndaLannister</string></dict>
        <key>Cersei Lannister</key><dict><key>nameID</key><string>02.03.1.2.03</string><key>nameDescription</key><string>Серсея Ланнистер — королева Андалов и Первых Людей, вдова короля Роберта Баратеона, мать Джоффри, Мирцеллы и Томмена Баратеонов. Настоящим отцом детей Серсеи является ее брат-близнец Джейме.
            Серсея амбициозна, хитра и готова предать любого ради того, чтобы защитить свои собственные интересы и своих детей. В обществе она предстаёт как спокойная, царственная особа, у которой имеется полный контроль над всем, что её окружает. Однако, это не совсем так, и Серсея на самом деле слишком нетерпелива и легкомысленна, чтобы грамотно вести политическую игру, и более того, она не обладает для этого достаточными навыками. Отец Серсеи Тайвин Ланнистер видел в дочери только инструмент, который поможет ему получить выгодный союз, и даже не предполагал, что она будет играть активную роль в политике.
            Отношение Серсеи к детям двоякое. С одной стороны, она любит и обожает их, но с другой — находится во власти собственных иллюзий: мечтая, чтобы Джоффри стал великим королём, Серсея не замечает его капризный и жестокий характер. Кроме того, она столько внимания уделяет своему старшему сыну, что очень мало знает о двух других своих детях.
            Серсея — дочь самого богатого лорда в Семи Королевствах, Тайвина Ланнистера, у нее есть брат-близнец Джейме, и второй брат, Тирион. Мать Серсеи умерла, когда девочке было 4, во время родов Тириона. Как и отец, Серсея всегда винила младшего брата в смерти своей матери, и считает это несправедливым, что она умерла, а такой человек, как Тирион, остался жить. Серсея воспитывалась в родовом замке Ланнистеров, который называется Утёс Кастерли. Отец редко бывал дома, он служил десницей короля и все время проводил в столице.
            Однажды в детстве Серсея с подругой Меларой пошла к гадалке, которая предсказала девочке, что она выйдет замуж не за принца, а за короля; у нее будет трое детей, а у короля двадцать; и она будет королевой до тех пор, пока не появится новая, моложе и красивее.
            Близкие отношения с Джейме начались еще в молодости, и продолжились даже после замужества Серсеи. У нее были и другие сексуальные партнеры, а вот Джейме всегда оставался ей верен. Стоит заметить, что инцест категорически осуждается религией, верой в Семерых. Обычно Джейме и Серсея успокаивали себя тем, что бывшая королевская династия, Таргариены, всегда женили братьев и сестер.
            Тайвин хотел, чтобы Серсея вышла замуж за Рейгара Таргариена, но тот взял в жены другую. После окончания восстания Роберта и падения династии Таргариенов Серсею выдали замуж за Роберта Баратеона, чтобы укрепить союз Баратеонов и Ланнистеров. Тогда ей было 19. Перед свадьбой Серсея была счастлива, она, как и все девушки королевства, восхищалась новым королем. Но в первую брачную ночь он пришел к ней пьяный и постоянно нашептывал имя Лианны Старк, своей умершей возлюбленной, и с тех пор отношения короля и королевы не заладились. У них родилось четверо детей, первый ребенок был похож на Роберта, и он умер во младенчестве. Остальные, Джоффри, Мирцелла и Томмен, на самом деле не от Роберта, а от Джейме, и похожи тоже на него. Долгое время об истинном происхождении предполагаемых наследников короля никто не подозревал. Томмен и Мирцелла — милые дети, а вот Джоффри довольно жесток и своенравен. Временами Серсея думает, что характер сына — наказание за грехи ее и Джейме.
            В Королевской Гавани Серсея наблюдает, как Молчаливые сёстры готовят к погребению тело Джона Аррена, бывшего десницы короля Роберта. Она обсуждает с Джейме, удалось ли Аррену кому-нибудь рассказать о своём открытии. Джейме думает, что нет, иначе они оба были бы уже мертвы. Серсея предполагает, что Джейме может стать новым десницей. Но это не так. Король Роберт намерен предложить эту честь своему давнему другу Эддарду Старку, поэтому королевская семья едет в Винтерфелл. Роберт также намерен устроить свадьбу между дочерью Эддарда Сансой и своим сыном Джоффри. («Зима близко»)
            По приезде в Винтерфелл Роберт первым делом хочет посетить крипту, где похоронены представители рода Старков, что очень злит Серсею. На праздничном пиру Серсея разговаривает с Кейтилин и восхищается Сансой, считая, что она будет отлично проявлять себя при дворе. На следующий день Эддард, Роберт и другие мужчины уезжают на охоту, а Серсея уединяется с Джейме в заброшенной башне, где их застает Бран Старк. Джейме выбрасывает мальчика из окна, говоря, что делает это ради любви. («Зима близко»)
            Некоторое время спустя за завтраком Тирион Ланнистер рассказывает членам своей семьи, что Бран не умирает, но находится в коме, и замечает странную реакцию со стороны Джейме и Серсеи. Королевская семья и свита покидают Винтерфелл, к ним присоединяются Эддард, Санса, Арья и некоторые люди Старков. По дороге происходит инцидент между Джоффри, Арьей и ее волчицей Нимерией, в результате Джоффри оказывается ранен, а Серсея настаивает, чтобы волчицу убили. Но так как Нимерия убежала (Арья прогнала ее ради ее же безопасности), убивают волчицу Сансы Леди. («Королевский тракт»)
            По возвращению в столицу Серсея разговаривает с сыном и дает ему несколько советов, как стать хорошим королем. Она также рекомендует ему подарить что-нибудь Сансе, чтобы загладить воспоминания о произошедшем на Королевском тракте. В столицу прилетает ворон и приносит сообщение о том, что Бран пришел в себя, но, к некоторому облегчению Серсеи, ничего не помнит. («Лорд Сноу»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%A1%D0%B5%D1%80%D1%81%D0%B5%D1%8F_%D0%9B%D0%B0%D0%BD%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80</string><key>nameImageName</key><string>FictionGOTLannisterFemCerseiLannister</string></dict>
        <key>Joanna Lannister</key><dict><key>nameID</key><string>02.03.1.3.03</string><key>nameDescription</key><string>Джоанна Ланнистер — упомянутый персонаж. Мать Серсеи, Джейме и Тириона. Умерла до событий сериала при родах Тириона.
            Сначала у Тайвина и Джоанны родились близнецы, Джейме и Серсея. Когда им было четыре, Джоанна умерла при родах, ребенок выжил, его назвали Тирион. Тайвин очень тяжело воспринимал смерть жены. Как и Серсея, всю оставшуюся жизнь он винил в этом Тириона. А Серсея после смерти матери днями молилась и просила богов ее вернуть, пока отец не объяснил ей, что этого не произойдет.
            В книгах история Джоанны описывается более подробно. Она была кузиной Тайвина, он очень любил её, и поговаривали, что она была единственной, кто мог заставить улыбнуться этого жёсткого человека. Интересно, что для своих детей Тайвин заключал выгодные браки, которые укрепляли мощь его рода, при этом он сам женился по любви, и это не принесло ему ни новых земель, ни богатства.
            По-видимому, Джоанна была очень красивой, на свадьбе она очень понравилась Безумному Королю, и он высказывал свое сожаление о том, что традиция первой брачной ночи ушла в прошлое.
            В книгах Джоанна умерла, когда Серсее и Джейме было восемь или девять лет.</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%94%D0%B6%D0%BE%D0%B0%D0%BD%D0%BD%D0%B0_%D0%9B%D0%B0%D0%BD%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80</string><key>nameImageName</key><string>FictionGOTLannisterFemJoannaLannister</string></dict>
        <key>Bernadette</key><dict><key>nameID</key><string>02.03.1.4.03</string><key>nameDescription</key><string>Бернадетт — служанка Серсеи Ланнистер.
            Бернадетт становится свидетельницей того, как Санса Старк и Шая пытаются скрыть следы первой менструации Сансы. Горничная убегает, Шая догоняет её и говорит, что убьёт её, если та кому-нибудь расскажет. Всё это было зря, так как пока Шаи не было, в комнату Сансы вошёл Сандор Клиган, который потом рассказал всё королеве. («Человек без чести»)
            Бернадетт появляется в третьем сезоне, она объявляет Сансе, что пришёл Тирион Ланнистер (он пришёл, чтобы объявить об их предстоящей свадьбе). («Поцелованная огнём»)
            В неопределённый момент времени Бернадетт по приказу Серсеи начинает шпионить за Тирионом, это становится известно в серии «Два меча». Она подслушивает разговор Тириона и Шаи и рассказывает обо всём королеве.
            Бернадетт сообщает Серсее, что в столицу прибыл корабль из Дорна. Радостная королева спешит на пристань, чтобы встретить Джейме и Мирцеллу. («Красная женщина»)
            После коронации Серсеи придворные служанки стали подражать её стилю, надевая тёмные платья и коротко подстригаясь. По крайней мере, Бернадетт выглядит именно так.
            Бернадетт стучится в покои Серсеи и сообщает ей, что в Королевскую Гавань прибыл посланник из Браавоса. («Правосудие королевы»)</string><key>nameURL</key><string>http://ru.gameofthrones.wikia.com/wiki/%D0%91%D0%B5%D1%80%D0%BD%D0%B0%D0%B4%D0%B5%D1%82%D1%82</string><key>nameImageName</key><string>FictionGOTLannisterFemBernadette</string></dict>

    
    </dict>
</plist>
