<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythPersianMasc.plist
   Nickname generator

   Created by Anton Novoselov on 22/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>AHRIMAN</key><dict><key>nameID</key><string>01.06.0.1</string><key>nameDescription</key><string>А́нгра-Ма́йнью (А́нхра-Ма́йнью) в некоторых источниках встречается под именем Ахрима́н, Ариман (древнеперсид. Ahriya mainyus, зендское añhro-mainyus, то есть «злой дух»[1]) — олицетворение зла в маздаизме и более позднем зороастризме; бог тьмы и олицетворение всего дурного, первоисточник зла, противник Ормузда (Ахура Мазды)[2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D1%80%D0%B0-%D0%9C%D0%B0%D0%B9%D0%BD%D1%8C%D1%8E</string><key>nameImageName</key><string>MythPersianMascAHRIMAN</string></dict>
    <key>AHURA MAZDA</key><dict><key>nameID</key><string>01.06.0.2</string><key>nameDescription</key><string>Аху́ра Ма́зда (также Аху́ра-Ма́зда, реже Ахурама́зда, авест. ahura- mazdā-, др.-перс. ahuramazdā-, арм. Արամազդ-Aramazd), Орма́зд или Орму́зд (пехл. ʾwhrmzd'), «Бог Мудрый» — авестийское имя божества, провозглашённое пророком Зороастром — основателем зороастризма — единым Богом. В Авесте Ахура Мазда — безначальный Творец, пребывающий в бесконечном свете[1], создатель всех вещей[2] и податель всего благого[3], всеведущий[4] устроитель и властитель мира и высший объект почитания зороастрийцев, называющих себя по-авестийски mazdayasna- «почитатель Мазды».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%85%D1%83%D1%80%D0%B0_%D0%9C%D0%B0%D0%B7%D0%B4%D0%B0</string><key>nameImageName</key><string>MythPersianMascAHURA MAZDA</string></dict>
    <key>ANGRA MAINYU</key><dict><key>nameID</key><string>01.06.0.3</string><key>nameDescription</key><string>А́нгра-Ма́йнью (А́нхра-Ма́йнью) в некоторых источниках встречается под именем Ахрима́н, Ариман (древнеперсид. Ahriya mainyus, зендское añhro-mainyus, то есть «злой дух»[1]) — олицетворение зла в маздаизме и более позднем зороастризме; бог тьмы и олицетворение всего дурного, первоисточник зла, противник Ормузда (Ахура Мазды)[2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D1%80%D0%B0-%D0%9C%D0%B0%D0%B9%D0%BD%D1%8C%D1%8E</string><key>nameImageName</key><string>MythPersianMascAHRIMAN</string></dict>
    <key>ARASH</key><dict><key>nameID</key><string>01.06.0.4</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascARASH</string></dict>
    <key>BAHMAN</key><dict><key>nameID</key><string>01.06.0.5</string><key>nameDescription</key><string>Бахма́н (Бехмен, перс. بهمن‎) — имя иранской традиции, происходящее из Авесты. Изначально Вохумана (авест. vohu- manah-), «Благой Помысел» — первый из Амешаспандов, приближенных к Ахура Мазде высших духовных существ. Ему был посвящён утраченный Бахман-яшт.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%85%D0%BC%D0%B0%D0%BD_(%D0%B8%D1%80%D0%B0%D0%BD%D1%81%D0%BA%D0%BE%D0%B5_%D0%B8%D0%BC%D1%8F)</string><key>nameImageName</key><string>MythPersianMascBAHMAN</string></dict>
    <key>BAHRAM</key><dict><key>nameID</key><string>01.06.0.6</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascBAHRAM</string></dict>
    <key>FEREYDOUN</key><dict><key>nameID</key><string>01.06.0.7</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascFEREYDOUN</string></dict>
    <key>GOVAD</key><dict><key>nameID</key><string>01.06.0.8</string><key>nameDescription</key><string>Язаты (авест. «достойные почитания») — в зороастрийской мифологии особый вид божеств, приближенных к Ахура Мазде, его помощников и свиты[1]. Являются творениями.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AF%D0%B7%D0%B0%D1%82%D1%8B</string><key>nameImageName</key><string>MythPersianMascGOVAD</string></dict>
    <key>HORMAZD</key><dict><key>nameID</key><string>01.06.0.9</string><key>nameDescription</key><string>Аху́ра Ма́зда (также Аху́ра-Ма́зда, реже Ахурама́зда, авест. ahura- mazdā-, др.-перс. ahuramazdā-, арм. Արամազդ-Aramazd), Орма́зд или Орму́зд (пехл. ʾwhrmzd'), «Бог Мудрый» — авестийское имя божества, провозглашённое пророком Зороастром — основателем зороастризма — единым Богом. В Авесте Ахура Мазда — безначальный Творец, пребывающий в бесконечном свете[1], создатель всех вещей[2] и податель всего благого[3], всеведущий[4] устроитель и властитель мира и высший объект почитания зороастрийцев, называющих себя по-авестийски mazdayasna- «почитатель Мазды».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%85%D1%83%D1%80%D0%B0_%D0%9C%D0%B0%D0%B7%D0%B4%D0%B0</string><key>nameImageName</key><string>MythPersianMascAHURA MAZDA</string></dict>
    <key>HVARE KHSHAETA</key><dict><key>nameID</key><string>01.06.0.10</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascHVARE KHSHAETA</string></dict>
    <key>JAM</key><dict><key>nameID</key><string>01.06.0.11</string><key>nameDescription</key><string>Джам — состояние верующего в суфизме, когда существует только Бог и более ничего. В его высшей стадии — «джам аль-джама» — верующий-суфист видит эманации Бога во всех феноменах мира.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC</string><key>nameImageName</key><string>MythPersianMascJAM</string></dict>
    <key>JAMSHED</key><dict><key>nameID</key><string>01.06.0.12</string><key>nameDescription</key><string>Джамши́д (Джемшид, Джамшед, Джамшуд, Джам, Йим; авест. Йима Хшайта; др.-перс. Йама) — в иранской мифологии и эпосе царь, третий или четвёртый правитель из династии Парадата (Пишдадидов).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC%D1%88%D0%B8%D0%B4</string><key>nameImageName</key><string>MythPersianMascJAMSHED</string></dict>
    <key>JAMSHEED</key><dict><key>nameID</key><string>01.06.0.13</string><key>nameDescription</key><string>Джамши́д (Джемшид, Джамшед, Джамшуд, Джам, Йим; авест. Йима Хшайта; др.-перс. Йама) — в иранской мифологии и эпосе царь, третий или четвёртый правитель из династии Парадата (Пишдадидов).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC%D1%88%D0%B8%D0%B4</string><key>nameImageName</key><string>MythPersianMascJAMSHEED</string></dict>
    <key>JAMSHID</key><dict><key>nameID</key><string>01.06.0.14</string><key>nameDescription</key><string>Джамши́д (Джемшид, Джамшед, Джамшуд, Джам, Йим; авест. Йима Хшайта; др.-перс. Йама) — в иранской мифологии и эпосе царь, третий или четвёртый правитель из династии Парадата (Пишдадидов).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC%D1%88%D0%B8%D0%B4</string><key>nameImageName</key><string>MythPersianMascJAMSHID</string></dict>
    <key>KAVEH</key><dict><key>nameID</key><string>01.06.0.15</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascKAVEH</string></dict>
    <key>KHURSHID</key><dict><key>nameID</key><string>01.06.0.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascKHURSHID</string></dict>
    <key>KSHATHRA VAIRYA</key><dict><key>nameID</key><string>01.06.0.17</string><key>nameDescription</key><string>Язаты (авест. «достойные почитания») — в зороастрийской мифологии особый вид божеств, приближенных к Ахура Мазде, его помощников и свиты[1]. Являются творениями.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AF%D0%B7%D0%B0%D1%82%D1%8B</string><key>nameImageName</key><string>MythPersianMascGOVAD</string></dict>
    <key>MEHR</key><dict><key>nameID</key><string>01.06.0.18</string><key>nameDescription</key><string>Ми́тра (др.-инд. Mitrá-, авест. Miθra- «дружба, договор, согласие») — божество индоиранского происхождения, связанное с дружественностью, договором, согласием и солнечным светом.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D1%82%D1%80%D0%B0_(%D0%B1%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE)</string><key>nameImageName</key><string>MythPersianMascMITHRA</string></dict>
    <key>MITHRA</key><dict><key>nameID</key><string>01.06.0.19</string><key>nameDescription</key><string>Ми́тра (др.-инд. Mitrá-, авест. Miθra- «дружба, договор, согласие») — божество индоиранского происхождения, связанное с дружественностью, договором, согласием и солнечным светом.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D1%82%D1%80%D0%B0_(%D0%B1%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE)</string><key>nameImageName</key><string>MythPersianMascMITHRA</string></dict>
    <key>MITHRAS</key><dict><key>nameID</key><string>01.06.0.20</string><key>nameDescription</key><string>Ми́тра (др.-инд. Mitrá-, авест. Miθra- «дружба, договор, согласие») — божество индоиранского происхождения, связанное с дружественностью, договором, согласием и солнечным светом.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D1%82%D1%80%D0%B0_(%D0%B1%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE)</string><key>nameImageName</key><string>MythPersianMascMITHRA</string></dict>
    <key>NAIRYOSANGHA</key><dict><key>nameID</key><string>01.06.0.21</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascNAIRYOSANGHA</string></dict>
    <key>ORMAZD</key><dict><key>nameID</key><string>01.06.0.22</string><key>nameDescription</key><string>Аху́ра Ма́зда (также Аху́ра-Ма́зда, реже Ахурама́зда, авест. ahura- mazdā-, др.-перс. ahuramazdā-, арм. Արամազդ-Aramazd), Орма́зд или Орму́зд (пехл. ʾwhrmzd'), «Бог Мудрый» — авестийское имя божества, провозглашённое пророком Зороастром — основателем зороастризма — единым Богом. В Авесте Ахура Мазда — безначальный Творец, пребывающий в бесконечном свете[1], создатель всех вещей[2] и податель всего благого[3], всеведущий[4] устроитель и властитель мира и высший объект почитания зороастрийцев, называющих себя по-авестийски mazdayasna- «почитатель Мазды».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%85%D1%83%D1%80%D0%B0_%D0%9C%D0%B0%D0%B7%D0%B4%D0%B0</string><key>nameImageName</key><string>MythPersianMascAHURA MAZDA</string></dict>
    <key>RASHN</key><dict><key>nameID</key><string>01.06.0.23</string><key>nameDescription</key><string>Ра́шну (авест. Rašnu, пехл. Rašn, букв. «прямой, честный») — дух или божество (язат) праведности в древнеиранской мифологии и зороастризме.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%88%D0%BD%D1%83</string><key>nameImageName</key><string>MythPersianMascRASHN</string></dict>
    <key>RASHNU</key><dict><key>nameID</key><string>01.06.0.24</string><key>nameDescription</key><string>Ра́шну (авест. Rašnu, пехл. Rašn, букв. «прямой, честный») — дух или божество (язат) праведности в древнеиранской мифологии и зороастризме.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%88%D0%BD%D1%83</string><key>nameImageName</key><string>MythPersianMascRASHN</string></dict>
    <key>ROSTAM</key><dict><key>nameID</key><string>01.06.0.25</string><key>nameDescription</key><string>Руста́м, Росте́м (пехл. Rodastahm, Rostahm от др. иран. Raudas-taxma; перс. رستم‎, дословно — «мощнотелый») — легендарный герой персидского народного эпоса, одна из центральных фигур написанного Фирдоуси «Шахнаме».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D1%83%D1%81%D1%82%D0%B0%D0%BC</string><key>nameImageName</key><string>MythPersianMascROSTAM</string></dict>
    <key>SAAM</key><dict><key>nameID</key><string>01.06.0.26</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascSAAM</string></dict>
    <key>SAM</key><dict><key>nameID</key><string>01.06.0.27</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascSAM</string></dict>
    <key>SAROSH</key><dict><key>nameID</key><string>01.06.0.28</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascSAROSH</string></dict>
    <key>SHAHRIVAR</key><dict><key>nameID</key><string>01.06.0.29</string><key>nameDescription</key><string>Язаты (авест. «достойные почитания») — в зороастрийской мифологии особый вид божеств, приближенных к Ахура Мазде, его помощников и свиты[1]. Являются творениями.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AF%D0%B7%D0%B0%D1%82%D1%8B</string><key>nameImageName</key><string>MythPersianMascGOVAD</string></dict>
    <key>SIAVASH</key><dict><key>nameID</key><string>01.06.0.30</string><key>nameDescription</key><string>Сиявуш (авест. Syāvaršan, «чёрный конь»; пехл. Syāvakhš, Siāvaš; перс. سیاوش‎ Сиявуш; тадж. Сиёвуш) — в иранской мифологии сын легендарного царя Ирана Кей-Кавуса и отец Кей-Хосрова. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%8F%D0%B2%D1%83%D1%88</string><key>nameImageName</key><string>MythPersianMascSIAVASH</string></dict>
    <key>SOHRAB</key><dict><key>nameID</key><string>01.06.0.31</string><key>nameDescription</key><string>Сухраб (перс. سهراب‎; тадж. Суҳроб) — легендарный герой персидско-таджикского народного эпоса, одна из центральных фигур написанного Фирдоуси «Шахнаме», сын Рустама.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D1%83%D1%85%D1%80%D0%B0%D0%B1</string><key>nameImageName</key><string>MythPersianMascSOHRAB</string></dict>
    <key>SOROUSH</key><dict><key>nameID</key><string>01.06.0.32</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascSOROUSH</string></dict>
    <key>SRAOSHA</key><dict><key>nameID</key><string>01.06.0.33</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascSRAOSHA</string></dict>
    <key>TAHMURAS</key><dict><key>nameID</key><string>01.06.0.34</string><key>nameDescription</key><string>Тахмурас (Тахмурес; ср.-перс. Тахмуруп; авест. Тахма-Урупи, «Отважный, в лисий мех одетый» или «Отважная лиса, носящая шкуру») — мифический иранский царь.
    </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%85%D0%BC%D1%83%D1%80%D0%B0%D1%81</string><key>nameImageName</key><string>MythPersianMascTAHMURAS</string></dict>
    <key>TAKHMA URUPI</key><dict><key>nameID</key><string>01.06.0.35</string><key>nameDescription</key><string>Тахмурас (Тахмурес; ср.-перс. Тахмуруп; авест. Тахма-Урупи, «Отважный, в лисий мех одетый» или «Отважная лиса, носящая шкуру») — мифический иранский царь.
    </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%85%D0%BC%D1%83%D1%80%D0%B0%D1%81</string><key>nameImageName</key><string>MythPersianMascTAHMURAS</string></dict>
    <key>VERETHRAGNA</key><dict><key>nameID</key><string>01.06.0.36</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascVERETHRAGNA</string></dict>
    <key>VOHU MANAH</key><dict><key>nameID</key><string>01.06.0.37</string><key>nameDescription</key><string>Бахма́н (Бехмен, перс. بهمن‎) — имя иранской традиции, происходящее из Авесты. Изначально Вохумана (авест. vohu- manah-), «Благой Помысел» — первый из Амешаспандов, приближенных к Ахура Мазде высших духовных существ. Ему был посвящён утраченный Бахман-яшт.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%85%D0%BC%D0%B0%D0%BD_(%D0%B8%D1%80%D0%B0%D0%BD%D1%81%D0%BA%D0%BE%D0%B5_%D0%B8%D0%BC%D1%8F)</string><key>nameImageName</key><string>MythPersianMascBAHMAN</string></dict>
    <key>YIMA</key><dict><key>nameID</key><string>01.06.0.38</string><key>nameDescription</key><string>Джам — состояние верующего в суфизме, когда существует только Бог и более ничего. В его высшей стадии — «джам аль-джама» — верующий-суфист видит эманации Бога во всех феноменах мира.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC</string><key>nameImageName</key><string>MythPersianMascJAM</string></dict>
    <key>YIMA KSHAETA</key><dict><key>nameID</key><string>01.06.0.39</string><key>nameDescription</key><string>Джамши́д (Джемшид, Джамшед, Джамшуд, Джам, Йим; авест. Йима Хшайта; др.-перс. Йама) — в иранской мифологии и эпосе царь, третий или четвёртый правитель из династии Парадата (Пишдадидов).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B0%D0%BC%D1%88%D0%B8%D0%B4</string><key>nameImageName</key><string>MythPersianMascJAMSHID</string></dict>
    <key>ZAL</key><dict><key>nameID</key><string>01.06.0.40</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythPersianMascZAL</string></dict>
    
    
    
    </dict>
</plist>
