<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythEgyptMasc.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>AMEN</key><dict><key>nameID</key><string>01.05.0.1</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>
        <key>AMMON</key><dict><key>nameID</key><string>01.05.0.2</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>
        <key>AMON</key><dict><key>nameID</key><string>01.05.0.3</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>
        <key>AMON-RA</key><dict><key>nameID</key><string>01.05.0.4</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>
        <key>AMUN</key><dict><key>nameID</key><string>01.05.0.5</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>
        <key>ANAPA</key><dict><key>nameID</key><string>01.05.0.6</string><key>nameDescription</key><string>Ану́бис (греч.), Инпу (др.-егип.) — божество Древнего Египта с головой шакала и телом человека, проводник умерших в загробный мир. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D1%83%D0%B1%D0%B8%D1%81</string><key>nameImageName</key><string>MythEgyptMascANUBIS</string></dict>
        <key>ANOUBIS</key><dict><key>nameID</key><string>01.05.0.7</string><key>nameDescription</key><string>Ану́бис (греч.), Инпу (др.-егип.) — божество Древнего Египта с головой шакала и телом человека, проводник умерших в загробный мир. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D1%83%D0%B1%D0%B8%D1%81</string><key>nameImageName</key><string>MythEgyptMascANUBIS</string></dict>
        <key>ANUBIS</key><dict><key>nameID</key><string>01.05.0.8</string><key>nameDescription</key><string>Ану́бис (греч.), Инпу (др.-егип.) — божество Древнего Египта с головой шакала и телом человека, проводник умерших в загробный мир. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D1%83%D0%B1%D0%B8%D1%81</string><key>nameImageName</key><string>MythEgyptMascANUBIS</string></dict>
        <key>ASAR</key><dict><key>nameID</key><string>01.05.0.9</string><key>nameDescription</key><string>Оси́рис (егип. wsjr, Усир; др.-греч. Ὄσιρις, лат. Osiris, Ози́рис) — бог возрождения, царь загробного мира в древнеегипетской мифологии и судья душ усопших.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D0%B8%D1%80%D0%B8%D1%81</string><key>nameImageName</key><string>MythEgyptMascOSIRIS</string></dict>
        <key>ATEM</key><dict><key>nameID</key><string>01.05.0.10</string><key>nameDescription</key><string>Атум — бог первотворения в древнеегипетской мифологии. Он символизировал первоначальное и вечное единство всего сущего. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%82%D1%83%D0%BC</string><key>nameImageName</key><string>MythEgyptMascATUM</string></dict>
        <key>ATEN</key><dict><key>nameID</key><string>01.05.0.11</string><key>nameDescription</key><string>Ато́н — единый бог солнца, монотеистический культ которого был введён фараоном Эхнатоном.[1]</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascATON</string></dict>
        <key>ATON</key><dict><key>nameID</key><string>01.05.0.12</string><key>nameDescription</key><string>Ато́н — единый бог солнца, монотеистический культ которого был введён фараоном Эхнатоном.[1]</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascATON</string></dict>
        <key>ATUM</key><dict><key>nameID</key><string>01.05.0.13</string><key>nameDescription</key><string>Атум — бог первотворения в древнеегипетской мифологии. Он символизировал первоначальное и вечное единство всего сущего. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%82%D1%83%D0%BC</string><key>nameImageName</key><string>MythEgyptMascATUM</string></dict>
        <key>DJEHUTI</key><dict><key>nameID</key><string>01.05.0.14</string><key>nameDescription</key><string>Тот (иначе Теут, Тут, Туут, Тоут, Техути, Джехути др.-греч. Θώθ, Θόουτ от егип. ḏḥwty, возможно произносится ḏiḥautī[2]) — древнеегипетский бог мудрости, знаний, Луны, покровитель библиотек, ученых, чиновников, государственного и мирового порядка. Является одним из самых ранних египетских богов[3].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%82</string><key>nameImageName</key><string>MythEgyptMascTHOTH</string></dict>
        <key>HERU</key><dict><key>nameID</key><string>01.05.0.15</string><key>nameDescription</key><string>Хор, Гор (ḥr — «высота», «небо») — бог в древнеегипетской мифологии, сын Исиды и Осириса . Изображался в виде человека с головой орла (сокола). Его супруга — Хатхор. Его главный противник — Сет. Одна из самых распространённых форм Хора в период Нового царства — Хоремахет (или Гормахис в греческой транскрипции — «Хор на горизонте (небосклоне)»).
            Хор — бог неба, царственности и солнца; живого древнеегипетского фараона представляли воплощением бога Хора.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D1%80_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascHORUS</string></dict>
        <key>HOROS</key><dict><key>nameID</key><string>01.05.0.16</string><key>nameDescription</key><string>Хор, Гор (ḥr — «высота», «небо») — бог в древнеегипетской мифологии, сын Исиды и Осириса . Изображался в виде человека с головой орла (сокола). Его супруга — Хатхор. Его главный противник — Сет. Одна из самых распространённых форм Хора в период Нового царства — Хоремахет (или Гормахис в греческой транскрипции — «Хор на горизонте (небосклоне)»).
            Хор — бог неба, царственности и солнца; живого древнеегипетского фараона представляли воплощением бога Хора.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D1%80_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascHORUS</string></dict>
        <key>HORUS</key><dict><key>nameID</key><string>01.05.0.17</string><key>nameDescription</key><string>Хор, Гор (ḥr — «высота», «небо») — бог в древнеегипетской мифологии, сын Исиды и Осириса . Изображался в виде человека с головой орла (сокола). Его супруга — Хатхор. Его главный противник — Сет. Одна из самых распространённых форм Хора в период Нового царства — Хоремахет (или Гормахис в греческой транскрипции — «Хор на горизонте (небосклоне)»).
            Хор — бог неба, царственности и солнца; живого древнеегипетского фараона представляли воплощением бога Хора.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D1%80_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascHORUS</string></dict>
        <key>IAH</key><dict><key>nameID</key><string>01.05.0.18</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythEgyptMascIAH</string></dict>
        <key>OSIRIS</key><dict><key>nameID</key><string>01.05.0.19</string><key>nameDescription</key><string>Оси́рис (егип. wsjr, Усир; др.-греч. Ὄσιρις, лат. Osiris, Ози́рис) — бог возрождения, царь загробного мира в древнеегипетской мифологии и судья душ усопших.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D0%B8%D1%80%D0%B8%D1%81</string><key>nameImageName</key><string>MythEgyptMascOSIRIS</string></dict>
        <key>PTAH</key><dict><key>nameID</key><string>01.05.0.20</string><key>nameDescription</key><string>Птах или Пта, — одно из имен Бога-Творца в древнеегипетской религиозной традиции.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%82%D0%B0%D1%85</string><key>nameImageName</key><string>MythEgyptMascPTAH</string></dict>
        <key>RA</key><dict><key>nameID</key><string>01.05.0.21</string><key>nameDescription</key><string>Ра (др.-греч. Ρα; лат. Ra) — древнеегипетский бог солнца, верховное божество древних египтян. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0</string><key>nameImageName</key><string>MythEgyptMascRA</string></dict>
        <key>RE</key><dict><key>nameID</key><string>01.05.0.22</string><key>nameDescription</key><string>Ра (др.-греч. Ρα; лат. Ra) — древнеегипетский бог солнца, верховное божество древних египтян. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B0</string><key>nameImageName</key><string>MythEgyptMascRA</string></dict>
        <key>SET</key><dict><key>nameID</key><string>01.05.0.23</string><key>nameDescription</key><string>Сет (Сетх, Сутех, Сута, Сети егип. Stẖ) — в древнеегипетской мифологии бог ярости, песчаных бурь, разрушения, хаоса, войны и смерти, входящий в гелиопольскую Эннеаду.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascSET</string></dict>
        <key>SETH</key><dict><key>nameID</key><string>01.05.0.24</string><key>nameDescription</key><string>Сет (Сетх, Сутех, Сута, Сети егип. Stẖ) — в древнеегипетской мифологии бог ярости, песчаных бурь, разрушения, хаоса, войны и смерти, входящий в гелиопольскую Эннеаду.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascSET</string></dict>
        <key>SUTEKH</key><dict><key>nameID</key><string>01.05.0.25</string><key>nameDescription</key><string>Сет (Сетх, Сутех, Сута, Сети егип. Stẖ) — в древнеегипетской мифологии бог ярости, песчаных бурь, разрушения, хаоса, войны и смерти, входящий в гелиопольскую Эннеаду.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythEgyptMascSET</string></dict>
        <key>THOTH</key><dict><key>nameID</key><string>01.05.0.26</string><key>nameDescription</key><string>Тот (иначе Теут, Тут, Туут, Тоут, Техути, Джехути др.-греч. Θώθ, Θόουτ от егип. ḏḥwty, возможно произносится ḏiḥautī[2]) — древнеегипетский бог мудрости, знаний, Луны, покровитель библиотек, ученых, чиновников, государственного и мирового порядка. Является одним из самых ранних египетских богов[3].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%82</string><key>nameImageName</key><string>MythEgyptMascTHOTH</string></dict>
        <key>YAMANU</key><dict><key>nameID</key><string>01.05.0.27</string><key>nameDescription</key><string>Амо́н — древнеегипетский бог небесного пространства, воздуха. Позже, при Новом царстве — бог солнца (Амон-Ра). Считался покровителем Фив[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%BE%D0%BD</string><key>nameImageName</key><string>MythEgyptMascAMON</string></dict>

        
    
    </dict>
</plist>
