<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythNorseFem.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>BORGHILD</key><dict><key>nameID</key><string>01.04.1.1</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemBORGHILD</string></dict>
    <key>BORGHILDR</key><dict><key>nameID</key><string>01.04.1.2</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemBORGHILDR</string></dict>
    <key>BRYNHILDR</key><dict><key>nameID</key><string>01.04.1.3</string><key>nameDescription</key><string>Брюнхильда (Брунгильда, Брюнхильд — Brynhildr, Brunhild', в Старшей Эдде — Сигрдрива) — супруга Гунтера, короля Бургундии, героиня германо-скандинавской мифологии и эпоса. Встречается прежде всего в нескольких песнях «Старшей Эдды».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%80%D1%8E%D0%BD%D1%85%D0%B8%D0%BB%D1%8C%D0%B4%D0%B0</string><key>nameImageName</key><string>MythNorseFemBRYNHILDR</string></dict>
    <key>EIR</key><dict><key>nameID</key><string>01.04.1.4</string><key>nameDescription</key><string>Эйр (древнесканд. Eir) — в скандинавской мифологии богиня-целительница.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D0%B9%D1%80_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythNorseFemEIR</string></dict>
    <key>EMBLA</key><dict><key>nameID</key><string>01.04.1.5</string><key>nameDescription</key><string>Аск и Эмбла (др.-сканд. Askr ok Embla, «ясень» и «ива»), в скандинавской мифологии первые люди, которых ещё в виде древесных прообразов, бездыханных и «лишённых судьбы», нашли на берегу моря боги (в «Старшей Эдде» — в песне «Прорицание вёльвы» — это три аса — Один (дал душу), Лодур (дал чувства), Хёнир (дал разум), а в «Младшей Эдде» — «сыны Бора», то есть Один, Вили и Ве). Боги их оживили (доделали как людей).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D1%81%D0%BA_%D0%B8_%D0%AD%D0%BC%D0%B1%D0%BB%D0%B0</string><key>nameImageName</key><string>MythNorseFemEMBLA</string></dict>
    <key>ERNA</key><dict><key>nameID</key><string>01.04.1.6</string><key>nameDescription</key><string>Супруга Ярла.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%81%D0%BD%D1%8C_%D0%BE_%D0%A0%D0%B8%D0%B3%D0%B5</string><key>nameImageName</key><string>MythNorseFemERNA</string></dict>
    <key>FREA</key><dict><key>nameID</key><string>01.04.1.7</string><key>nameDescription</key><string>Фрейя, Ванадис, Гефна, Хёрн, Мардёлл, Сюр, Вальфрейя (др.-сканд. Freyja — дама; др.-сканд. Vanadís — дочь Ванов; др.-сканд. Gefn, Hörn, Mardöll, Sýr, Valfreyja) — в германо-скандинавской мифологии богиня любви и войны, жительница Асгарда.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%8F</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FREYA</key><dict><key>nameID</key><string>01.04.1.8</string><key>nameDescription</key><string>Фрейя, Ванадис, Гефна, Хёрн, Мардёлл, Сюр, Вальфрейя (др.-сканд. Freyja — дама; др.-сканд. Vanadís — дочь Ванов; др.-сканд. Gefn, Hörn, Mardöll, Sýr, Valfreyja) — в германо-скандинавской мифологии богиня любви и войны, жительница Асгарда.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%8F</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FREYJA</key><dict><key>nameID</key><string>01.04.1.9</string><key>nameDescription</key><string>Фрейя, Ванадис, Гефна, Хёрн, Мардёлл, Сюр, Вальфрейя (др.-сканд. Freyja — дама; др.-сканд. Vanadís — дочь Ванов; др.-сканд. Gefn, Hörn, Mardöll, Sýr, Valfreyja) — в германо-скандинавской мифологии богиня любви и войны, жительница Асгарда.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D1%8F</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FRIGG</key><dict><key>nameID</key><string>01.04.1.10</string><key>nameDescription</key><string>Фригг (др.-сканд. Frigg, др.-в.-нем. Frija «возлюбленная») — в германо-скандинавской мифологии жена Одина, верховная богиня[1]. Она покровительствует любви, браку, домашнему очагу, деторождению. Она является провидицей, которой известна судьба любого человека, но которая не делится этими знаниями ни с кем[2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B8%D0%B3%D0%B3</string><key>nameImageName</key><string>MythNorseFemFRIGG</string></dict>
    <key>GERD</key><dict><key>nameID</key><string>01.04.1.11</string><key>nameDescription</key><string>Герд — тёмноволосая инеистая великанша и владычица всех рек, озёр и водопадов Ётунхейма в древнескандинавской мифологии. Дочь морского великана Гимира и Аурбоды ("Дарительницы золота"). Возлюбленная, а после долгих колебаний — жена бога плодородия Фрейра. В мифах упоминается место (роща), где они впервые встретились. Проживает с ним в Асгарде. Больше всего на свете любила свой укромный, надежно отгороженный от внешнего мира сад, полный целебных трав, цветов, овощей и съедобных кореньев. Само её имя означает стену, границу, замкнутое пространство.
        В честь Герды назван астероид (122) Герда, открытый в 1872 году.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D1%80%D0%B4_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythNorseFemGERD</string></dict>
    <key>GRID</key><dict><key>nameID</key><string>01.04.1.12</string><key>nameDescription</key><string>Грид — в скандинавской мифологии — великанша, одна из тех ётунов, которые хорошо относились к асам и Асгарду. Сыграла существенную роль в ряде ключевых мифов.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B8%D0%B4_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythNorseFemGRID</string></dict>
    <key>GRÍMHILDR</key><dict><key>nameID</key><string>01.04.1.13</string><key>nameDescription</key><string>Кримхильда (ср.-в.-нем. Kriemhilt) — главный женский персонаж средневековой поэмы «Песнь о Нибелунгах»; сестра бургундских королей Гунтера, Гернота и самого младшего Гизельхера. Жена прославленного воителя и короля нидерландцев Зигфрида. Известна необыкновенной красотой, которая обрекла на смерть многих доблестных воинов.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B8%D0%BC%D1%85%D0%B8%D0%BB%D1%8C%D0%B4%D0%B0</string><key>nameImageName</key><string>MythNorseFemGRÍMHILDR</string></dict>
    <key>GRÓA</key><dict><key>nameID</key><string>01.04.1.14</string><key>nameDescription</key><string>волшебница, жена знаменитого героя Аурвандиля, лечила Тора после поединка с Грунгниром.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemGRÓA</string></dict>
    <key>GUDRUN</key><dict><key>nameID</key><string>01.04.1.15</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemGUDRUN</string></dict>
    <key>GUÐRÚN</key><dict><key>nameID</key><string>01.04.1.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemGUÐRÚN</string></dict>
    <key>GUNNR</key><dict><key>nameID</key><string>01.04.1.17</string><key>nameDescription</key><string>Вальки́рия (др.-исл. valkyrja — «выбирающая убитых») — в скандинавской мифологии — дочь славного воина или конунга, которая реет на крылатом коне над полем битвы и подбирает павших воинов. Погибшие отправляются в небесный чертог — Валхаллу. С гривы её коня (облака) капает оплодотворяющая роса, а от её меча исходит свет.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BB%D1%8C%D0%BA%D0%B8%D1%80%D0%B8%D1%8F</string><key>nameImageName</key><string>MythNorseFemVALKIRJA</string></dict>
    <key>HEIDRUN</key><dict><key>nameID</key><string>01.04.1.18</string><key>nameDescription</key><string>Хейдрун (др.-исл. Heiðrún) — в германо-скандинавской мифологии коза, щиплющая листья Мирового Древа Иггдрасиль с крыши Вальхаллы. Её неиссякаемое медвяное молоко питает эйнхериев.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%B5%D0%B9%D0%B4%D1%80%D1%83%D0%BD</string><key>nameImageName</key><string>MythNorseFemHEIDRUN</string></dict>
    <key>HEIÐRÚN</key><dict><key>nameID</key><string>01.04.1.19</string><key>nameDescription</key><string>Хейдрун (др.-исл. Heiðrún) — в германо-скандинавской мифологии коза, щиплющая листья Мирового Древа Иггдрасиль с крыши Вальхаллы. Её неиссякаемое медвяное молоко питает эйнхериев.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%B5%D0%B9%D0%B4%D1%80%D1%83%D0%BD</string><key>nameImageName</key><string>MythNorseFemHEIDRUN</string></dict>
    <key>HEL</key><dict><key>nameID</key><string>01.04.1.20</string><key>nameDescription</key><string>Хель (др.-сканд. Hel) — в германо-скандинавской мифологии повелительница мира мёртвых (Хельхейма), дочь коварного Локи и великанши Ангрбоды (Вредоносной), одно из трёх хтонических чудовищ[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%B5%D0%BB%D1%8C</string><key>nameImageName</key><string>MythNorseFemHEL</string></dict>
    <key>HILDR</key><dict><key>nameID</key><string>01.04.1.21</string><key>nameDescription</key><string>Хильд (др.-сканд. Hildr — битва), (также Хильдар) — валькирия в Германо-скандинавской мифологии. Упомянута в Младшей Эдде как дочь Хёгни (др.-сканд. Högni) и жена Хедина (др.-сканд. Hedin) Хильд упомянута в легенде о вечной битве (др.-сканд. Hjaðningavíg). Хильд обладает даром воскрешения и использует его, чтобы битва между Хёгни и Хедином длилась вечно.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BB%D1%8C%D0%B4</string><key>nameImageName</key><string>MythNorseFemHILDR</string></dict>
    <key>HULD</key><dict><key>nameID</key><string>01.04.1.22</string><key>nameDescription</key><string>Хульдра, или хюльдра — сказочное существо, выглядит как девушка с коровьим хвостом; персонаж скандинавского фольклора[en]. Норвежское слово huldra восходит к древненорвежскому глаголу hylja («скрывать»).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D1%83%D0%BB%D1%8C%D0%B4%D1%80%D0%B0</string><key>nameImageName</key><string>MythNorseFemHULD</string></dict>
    <key>HULDA</key><dict><key>nameID</key><string>01.04.1.23</string><key>nameDescription</key><string>Хульдра, или хюльдра — сказочное существо, выглядит как девушка с коровьим хвостом; персонаж скандинавского фольклора[en]. Норвежское слово huldra восходит к древненорвежскому глаголу hylja («скрывать»).</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A5%D1%83%D0%BB%D1%8C%D0%B4%D1%80%D0%B0</string><key>nameImageName</key><string>MythNorseFemHULD</string></dict>
    <key>IDUN</key><dict><key>nameID</key><string>01.04.1.24</string><key>nameDescription</key><string>Идунн (Iðunn, также Iduna) — в германо-скандинавской мифологии богиня вечной юности, дочь карлика Ивальди, супруга Браги, бога поэзии[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%98%D0%B4%D1%83%D0%BD%D0%BD</string><key>nameImageName</key><string>MythNorseFemIDUN</string></dict>
    <key>IÐUNN</key><dict><key>nameID</key><string>01.04.1.25</string><key>nameDescription</key><string>Идунн (Iðunn, также Iduna) — в германо-скандинавской мифологии богиня вечной юности, дочь карлика Ивальди, супруга Браги, бога поэзии[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%98%D0%B4%D1%83%D0%BD%D0%BD</string><key>nameImageName</key><string>MythNorseFemIDUN</string></dict>
    <key>NANNA</key><dict><key>nameID</key><string>01.04.1.26</string><key>nameDescription</key><string>Нанна (др.-сканд. Nanna — «мать»)— дочь Непра, супруга Бальдра, мать Форсети. Богиня из клана асов в скандинавской мифологии. Жила вместе с мужем Бальдром во дворце Брейдаблик в Асгарде. После того, как Локи обманом заставил слепого Хёда убить Бальдра, она кинулась в погребальный костер Бальдра.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%BD%D0%BD%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythNorseFemNANNA</string></dict>
    <key>SAGA</key><dict><key>nameID</key><string>01.04.1.27</string><key>nameDescription</key><string>Сага (древнесканд. Saga) — богиня скандинавской мифологии, о которой имеется мало данных. По Grimnismál Эдды, Сага обитает на Сёкквабекке и ежедневно пьёт там с Одином из золотого сосуда. По-видимому, Сага — лишь другое название Фригг, супруги Одина. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B3%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythNorseFemSAGA</string></dict>
    <key>SIF</key><dict><key>nameID</key><string>01.04.1.28</string><key>nameDescription</key><string>Сиф (др.-сканд. Sif) — в германо-скандинавской мифологии богиня плодородия, супруга Тора, жительница Асгарда.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%84_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythNorseFemSIV</string></dict>
    <key>SIGNÝ</key><dict><key>nameID</key><string>01.04.1.29</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemSIGNÝ</string></dict>
    <key>SIGRÚN</key><dict><key>nameID</key><string>01.04.1.30</string><key>nameDescription</key><string>Вальки́рия (др.-исл. valkyrja — «выбирающая убитых») — в скандинавской мифологии — дочь славного воина или конунга, которая реет на крылатом коне над полем битвы и подбирает павших воинов. Погибшие отправляются в небесный чертог — Валхаллу. С гривы её коня (облака) капает оплодотворяющая роса, а от её меча исходит свет.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BB%D1%8C%D0%BA%D0%B8%D1%80%D0%B8%D1%8F</string><key>nameImageName</key><string>MythNorseFemVALKIRJA</string></dict>
    <key>SIV</key><dict><key>nameID</key><string>01.04.1.31</string><key>nameDescription</key><string>Сиф (др.-сканд. Sif) — в германо-скандинавской мифологии богиня плодородия, супруга Тора, жительница Асгарда.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%84_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythNorseFemSIV</string></dict>
    <key>SKAÐI</key><dict><key>nameID</key><string>01.04.1.32</string><key>nameDescription</key><string>Ска́ди (древнескандинавск. Skaði; варианты написания: Skade — общеупотребительный скандинавский, Skadi, Skadhi, Skathi — транслитерация имени Skaði) — в скандинавской мифологии инеистая великанша, покровительница охоты. Атрибуты её (так же как и бога Улля) — лук и лыжи. Первоначально она, вероятно, была богиней плодородия в её зимней ипостаси. Скади представляет зиму и лёд, является супругой Ньёрда. Упоминается в Старшей Эдде, Младшей Эдде и Саге об Инглингах.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%B0%D0%B4%D0%B8</string><key>nameImageName</key><string>MythNorseFemSKAÐI</string></dict>
    <key>SKULD</key><dict><key>nameID</key><string>01.04.1.33</string><key>nameDescription</key><string>Но́рны — в германо-скандинавской мифологии три женщины, волшебницы, наделенные чудесным даром определять судьбы мира, людей и даже богов. Являются гранью транскультурного образа мойр.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%BD%D1%8B</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>
    <key>SVANHILD</key><dict><key>nameID</key><string>01.04.1.34</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemSVANHILD</string></dict>
    <key>SVANHILDR</key><dict><key>nameID</key><string>01.04.1.35</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythNorseFemSVANHILDR</string></dict>
    <key>URD</key><dict><key>nameID</key><string>01.04.1.36</string><key>nameDescription</key><string>Но́рны — в германо-скандинавской мифологии три женщины, волшебницы, наделенные чудесным даром определять судьбы мира, людей и даже богов. Являются гранью транскультурного образа мойр.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%BD%D1%8B</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>
    <key>VERDANDI</key><dict><key>nameID</key><string>01.04.1.37</string><key>nameDescription</key><string>Но́рны — в германо-скандинавской мифологии три женщины, волшебницы, наделенные чудесным даром определять судьбы мира, людей и даже богов. Являются гранью транскультурного образа мойр.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%BD%D1%8B</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>

    
    
    
    </dict>
</plist>
