<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythRomanFem.plist
   Nickname generator

   Created by Anton Novoselov on 03/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>ANGERONA</key><dict><key>nameID</key><string>01.03.1.1</string><key>nameDescription</key><string>Ангеро́на (лат. Angerona или Angeronia) — в римской мифологии богиня, изображавшаяся с прижатым к губам пальцем. Её значение было неясно самим древним римлянам. Ангерону связывали с манами, таинственными силами, утешением в горе, исцелением от болезней. Современные исследователи рассматривают Ангерону как богиню смены времен года и помощницу при родах[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D0%B5%D1%80%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemANGERONA</string></dict>
        <key>AURORA</key><dict><key>nameID</key><string>01.03.1.2</string><key>nameDescription</key><string>Аврора (лат. Aurora, от лат. aura — «предрассветный ветерок», у греков Эос) — древнеримская богиня зари, дочь Гипериона и Тейи, сестра Гелиоса (бог солнца) и Селены (богиня луны) и жена титана Астрея.
            От Астрея и Авроры произошли все звёзды, горящие на тёмном ночном небосводе, и все ветры: бурный северный Борей, восточный Эвр, влажный южный Нот и западный ласковый ветер Зефир, несущий обильные дожди. В римской мифологии она богиня утренней зари, приносящая дневной свет богам и людям.
            Обычно она изображалась крылатой, часто на колеснице, запряженной крылатыми или некрылатыми конями, в красно-желтом одеянии, иногда с солнечным диском над головой, с нимбом или венцом лучей вокруг чела, или с факелом в правой руке, иногда также с сосудами (росы) в руках.
            В честь Авроры назван астероид (94) Аврора, открытый в 1867 году.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%B2%D1%80%D0%BE%D1%80%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemAURORA</string></dict>
        <key>BELLONA</key><dict><key>nameID</key><string>01.03.1.3</string><key>nameDescription</key><string>Белло́на (лат. Bellona) — древнеримская богиня войны, входила в свиту Марса, богиня защиты Родины, богиня подземного мира. Имеет древнесабинское происхождение.
            Её имя произошло от bellum или duellum — «война». Также считалась матерью (варианты: дочь, супруга, кормилица) Марса. Изображалась с мечом или бичом, с факелом, в длинном одеянии, часто в центре битвы, на колеснице. Атрибут: двойная секира.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%BB%D0%BE%D0%BD%D0%B0_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythRomanFemBELLONA</string></dict>
        <key>CAMILLA</key><dict><key>nameID</key><string>01.03.1.4</string><key>nameDescription</key><string>Камилла — персонаж «Энеиды» Вергилия, дева-воительница [1] Дочь Метаба, царя вольсков и Касмиллы. В младенчестве была вскормлена кобылицей [2]. Пришла на помощь Турну в его войне с Энеем [3]. Была убита Аррунтом [4].
            В честь Камиллы назван астероид (107) Камилла, открытый в 1868 году</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BC%D0%B8%D0%BB%D0%BB%D0%B0_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythRomanFemCAMILLA</string></dict>
        <key>CARDEA</key><dict><key>nameID</key><string>01.03.1.5</string><key>nameDescription</key><string>Карде́я или Карда (лат. Cardĕa, Carda) — древнеримская богиня дверных запоров (крючьев — лат. cardines) и хранительница дома[1]. Её праздником было 1 июня, эта дата была определена Юнием Брутом[2][3]. Также считается богиней порогов, дверей и особенно дверных шарниров (петель), а также богиня здоровья. Она защищала маленьких детей от вампиров. Овидий говорил о ней, используя религиозную формулу: «в её власти открывать то, что закрыто, и закрывать то, что открыто». Он соотносил её с богиней Карной. Роберт Грейвс называет священным растением Кардеи боярышник.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemCARDEA</string></dict>
        <key>CERES</key><dict><key>nameID</key><string>01.03.1.6</string><key>nameDescription</key><string>Цере́ра (лат. Cerēs, род. п. Cereris) — древнеримская богиня урожая и плодородия (нередко вместе с Анноной — покровительницей жатвы). Её изображали прекрасной матроной с фруктами в руках. Вторая дочь Сатурна и Опы (в греческой мифологии ей соответствует Деметра). Сестра Юпитера, Плутона, Нептуна, Юноны и Весты. Единственная дочь Цереры — Прозерпина, родившаяся от Юпитера.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A6%D0%B5%D1%80%D0%B5%D1%80%D0%B0_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythRomanFemCERES</string></dict>
        <key>CONCORDIA</key><dict><key>nameID</key><string>01.03.1.7</string><key>nameDescription</key><string>Конко́рдия (лат. Concordia) — в древнеримской мифологии богиня согласия и покровительница супружества.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D0%BA%D0%BE%D1%80%D0%B4%D0%B8%D1%8F_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemCONCORDIA</string></dict>
        <key>DIANA</key><dict><key>nameID</key><string>01.03.1.8</string><key>nameDescription</key><string>Диа́на (лат. Diana, возможно, тот же индоевропейский корень, что дэв, Див, Зевс, лат. deus 'бог') в римской мифологии — богиня растительного и животного мира, охоты, женственности и плодородия, родовспомогательница, олицетворение Луны; соответствует греческим Артемиде и Селене.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%B0%D0%BD%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemDIANA</string></dict>
        <key>DIDO</key><dict><key>nameID</key><string>01.03.1.9</string><key>nameDescription</key><string>Дидо́на (лат. Dido), или Элисса — имя легендарной основательницы Карфагена (конец IX века до н. э.). Также её называли Фиоссо[2]. Возможно, на образ Дидоны повлияли представления о финикийских богинях[3], и её после смерти обожествили под именем Танит[4].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%B4%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemDIDO</string></dict>
        <key>ELISSA</key><dict><key>nameID</key><string>01.03.1.10</string><key>nameDescription</key><string>Дидо́на (лат. Dido), или Элисса — имя легендарной основательницы Карфагена (конец IX века до н. э.). Также её называли Фиоссо[2]. Возможно, на образ Дидоны повлияли представления о финикийских богинях[3], и её после смерти обожествили под именем Танит[4].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%B4%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemDIDO</string></dict>
        <key>FAUNA</key><dict><key>nameID</key><string>01.03.1.11</string><key>nameDescription</key><string>Благая Богиня, часто Добрая богиня, иногда Фавна (Фауна) или Фавния (лат. Bona Dea) — в римской мифологии богиня плодородия, здоровья и невинности, богиня женщин[1].
            Богиня считалась дочерью бога Фавна, была вечной девственницей[источник не указан 356 дней], ассоциировалась с женским плодородием и невинностью. Отправлять её культ позволялось только женщинам. Мужчинам возбранялось обращаться к ней, и они не допускались к отправлению религиозных ритуалов.
            Также богине приписывалась забота о здоровье женщин, к ней обращались за помощью женщины, ищущие излечения от болезней, а также молящиеся о зачатии детей.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%B0%D0%B3%D0%B0%D1%8F_%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F</string><key>nameImageName</key><string>MythRomanFemFAUNA</string></dict>
        <key>FELICITAS</key><dict><key>nameID</key><string>01.03.1.12</string><key>nameDescription</key><string>Форту́на (лат. Fortuna) — древнеримская богиня удачи. Отождествлялась с древнегреческой Тюхе.
            Именем богини назван астероид (19) Фортуна</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D1%80%D1%82%D1%83%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemFELICITAS</string></dict>
        <key>FLORA</key><dict><key>nameID</key><string>01.03.1.13</string><key>nameDescription</key><string>Флора (Flora) — древнеримская богиня, культ которой был распространён у сабинян и особенно в Средней Италии. Она была богиней цветов, расцвета, весны и полевых плодов; в честь неё у сабинян был назван месяц, соответствующий апрелю или маю (mese Flusare = mensis Floralis).
            Римская богиня Флора соответствует греческой богине Хлорис. Её приблизительные аналоги существуют и в других мифологиях: это божества, олицетворяющие природу вообще и её весеннее пробуждение в частности; покровительствующие растительности и отчасти земледелию. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%BB%D0%BE%D1%80%D0%B0_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythRomanFemFLORA</string></dict>
        <key>HERSILIA</key><dict><key>nameID</key><string>01.03.1.14</string><key>nameDescription</key><string>Герси́лия — жена Ромула, одна из тридцати[1] похищенных римлянами сабинянок.
            Была единственной замужней женщиной среди похищенных.[1] Похищенные женщины стали жёнами римлян и родили им детей, причём Герсилия стала женой Ромула и, по одной из версий, родила ему дочь Приму и сына Авилия.[2]</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D1%80%D1%81%D0%B8%D0%BB%D0%B8%D1%8F</string><key>nameImageName</key><string>MythRomanFemHERSILIA</string></dict>
        <key>IUNO</key><dict><key>nameID</key><string>01.03.1.15</string><key>nameDescription</key><string>Юно́на (лат. Iuno) — древнеримская богиня брака и рождения, семьи и семейных постановлений, материнства, женщин и женской производительной силы[1]. Дочь Сатурна и Опы. Сестра Плутона, Нептуна, Цереры и Весты. Сестра и супруга Юпитера. Мать Марса и Вулкана.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AE%D0%BD%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemJUNO</string></dict>
        <key>JUNO</key><dict><key>nameID</key><string>01.03.1.16</string><key>nameDescription</key><string>Юно́на (лат. Iuno) — древнеримская богиня брака и рождения, семьи и семейных постановлений, материнства, женщин и женской производительной силы[1]. Дочь Сатурна и Опы. Сестра Плутона, Нептуна, Цереры и Весты. Сестра и супруга Юпитера. Мать Марса и Вулкана.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AE%D0%BD%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemJUNO</string></dict>
        <key>JUTURNA</key><dict><key>nameID</key><string>01.03.1.17</string><key>nameDescription</key><string>Ютурна (лат. Juturna) — в римской и латинской мифологии [1] нимфа источника, почитавшаяся ремесленниками и имевшая в Риме водоем (лат. lacus Juturnae), близ храма Весты[2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AE%D1%82%D1%83%D1%80%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemJUTURNA</string></dict>
        <key>JUVENTAS</key><dict><key>nameID</key><string>01.03.1.18</string><key>nameDescription</key><string>Ювента или Ювентас (лат. Iuventas) — у древних римлян богиня юности, дочь Юпитера и Юноны, имевшая своё небольшое святилище в пределах храма Юпитера Капитолийского, где она олицетворяла вечную молодость города Рима[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AE%D0%B2%D0%B5%D0%BD%D1%82%D0%B0</string><key>nameImageName</key><string>MythRomanFemJUVENTAS</string></dict>
        <key>LARA</key><dict><key>nameID</key><string>01.03.1.19</string><key>nameDescription</key><string>имя Лара берет свое начало от имени одной из нимф, Ларунды. Эта нимфа имела одну особенность, которая и стала значением имени Лара. Это была болтливость. Так получается, что согласно второй латинской версии, имя Лара означает "болтливая".</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemLARA</string></dict>
        <key>LARUNDA</key><dict><key>nameID</key><string>01.03.1.20</string><key>nameDescription</key><string>имя Лара берет свое начало от имени одной из нимф, Ларунды. Эта нимфа имела одну особенность, которая и стала значением имени Лара. Это была болтливость. Так получается, что согласно второй латинской версии, имя Лара означает "болтливая".</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemLARA</string></dict>
        <key>LAVERNA</key><dict><key>nameID</key><string>01.03.1.21</string><key>nameDescription</key><string>Лаверна (лат. Laverna, от латинского глагола latere или слова levator — «вор») — римская богиня прибыли, покровительница воров.
            Лаверне была посвящена роща близ Рима, рядом с которой располагались Лавернские ворота, и жертвенник. Упоминания о Лаверне встречаются ещё в этрусских гробницах. Жертвоприношения Лаверне полагалось приносить только левой рукой. Культ Лаверны был распространён в римской Италии. В честь Лаверны был назван астероид 2103 Laverna.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%B2%D0%B5%D1%80%D0%BD%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemLAVERNA</string></dict>
        <key>LAVINIA</key><dict><key>nameID</key><string>01.03.1.22</string><key>nameDescription</key><string>Лавиния (лат. Lavinia) — персонаж римской мифологии [1]. По наиболее распространённой версии сказания, дочь Латина [2], царя Лациума и Аматы, жена Энея [3]. Из-за страха перед Асканием после смерти Энея бежала в лес к пастуху Тирру и родила там Сильвия [4]. Будучи невестой местного князя, должна была по желанию отца выйти замуж за троянского выходца Энея, которому она родила Сильвия. Лавиния воспета римскими поэтами Вергилием и Овидием.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%B2%D0%B8%D0%BD%D0%B8%D1%8F</string><key>nameImageName</key><string>MythRomanFemLAVINIA</string></dict>
        <key>LIBITINA</key><dict><key>nameID</key><string>01.03.1.23</string><key>nameDescription</key><string>чтилась в Риме как богиня похорон и имела священную рощу, откуда получалось все необходимое для похоронных церемоний. Там была касса, в которую за каждого покойника вносилась определенная сумма денег; там же велась статистика смертей и жили похоронные подрядчики (libitinarii). Культ богини, принадлежавшей, по-видимому, к числу "пришлых божеств" (dii novensides или adventitii) был не из древних. Благодаря звуковому сближению имен "Либитина" и "Любенция" (= Венера) Л. была отожествлена с Венерой; так в роще Л. находилось одно из двух древнейших римских святилищ Венеры.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemLIBITINA</string></dict>
        <key>LUCINA</key><dict><key>nameID</key><string>01.03.1.24</string><key>nameDescription</key><string>Люцина (Луцина) - римская богиня, покровительница брака и охранительница женщин. В греческой мифологии ей соответствует Илифия. Дочь Юпитера и Юноны. Часто ее отождествляют с самой Юноной или Дианой. В Риме ежегодно замужние женщины 1 марта отмечали женский праздник - матроналии в честь Юноны - Люцины. </string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemLUCINA</string></dict>
        <key>LUCRETIA</key><dict><key>nameID</key><string>01.03.1.25</string><key>nameDescription</key><string>Лукреция (лат. Lucretia) (ок 500 г до н. э.) — по преданию, римская женщина, славившаяся своей красотой и добродетелью. Жена римского патриция Тарквиния Коллатина и дочь консула Спурия Лукреция Триципитина.
            Известнейший римский историк древности Тит Ливий писал, что Секст Тарквиний (сын древнеримского царя Тарквиния Гордого) пленился красотой Лукреции и, угрожая ей оружием, изнасиловал её. Лукреция рассказала обо всём своему мужу и заколола себя на его глазах. Это событие послужило началом бунта, поднятого Луцием Юнием Брутом и привело к свержению царской власти в Риме и к установлению республики. Именно поэтому на протяжении веков римской истории и в дальнейшем Лукреция была весьма почитаема.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%BA%D1%80%D0%B5%D1%86%D0%B8%D1%8F</string><key>nameImageName</key><string>MythRomanFemLUCRETIA</string></dict>
        <key>LUNA</key><dict><key>nameID</key><string>01.03.1.26</string><key>nameDescription</key><string>Луна́ (лат. Luna) — в древнеримской мифологии богиня Луны.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%BD%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemLUNA</string></dict>
        <key>MAIA</key><dict><key>nameID</key><string>01.03.1.28</string><key>nameDescription</key><string>Ма́йя (др.-греч. Μαῖα матушка, кормилица; позднелат. Maia)[1] в древнегреческой мифологии — старшая[2] из семи сестёр-плеяд, дочерей титана Атланта и океаниды Плейоны[3], нимфа гор.
            Римляне отождествляли Майю с италийской богиней Майей (Майестой), покровительницей плодоносной земли. Ей приносились 1 мая жертвы; от её имени — название месяца мая в римском календаре. В эллинистическо-римскую эпоху считалась супругой Вулкана и матерью Меркурия, отождествлялась с римскими Бона деа, Фауной.
            В честь Майи назван астероид (66) Майя, открытый в 1861 году.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%B9%D1%8F_(%D0%BF%D0%BB%D0%B5%D1%8F%D0%B4%D0%B0)</string><key>nameImageName</key><string>MythRomanFemMAIA</string></dict>
        <key>MINERVA</key><dict><key>nameID</key><string>01.03.1.29</string><key>nameDescription</key><string>Минерва (лат. Minerva, предположительно от италийского Meneswā «отмеряющая»), соответствующая греческой Афине Палладе[1], — в римской мифологии богиня мудрости. </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D0%BD%D0%B5%D1%80%D0%B2%D0%B0</string><key>nameImageName</key><string>MythRomanFemMINERVA</string></dict>
        <key>NAENIA</key><dict><key>nameID</key><string>01.03.1.30</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemNAENIA</string></dict>
        <key>NONA</key><dict><key>nameID</key><string>01.03.1.31</string><key>nameDescription</key><string>Нона (лат. Nona) — языческая богиня, одна из Парок, трёх сестёр, олицетворяющих судьбу в древнеримской мифологии (им соответствуют Мойры в древнегреческой мифологии и Норны в германо-скандинавской). Так же является древнеримской богиней беременности. Римский эквивалент греческой Клото. Она тянет нить жизни и наматывает её на своё веретено. Нона, чьё имя означает «девятая», была названа так в честь беременной женщины на девятом месяце, когда ребёнок уже готов появиться на свет.
            Нона, Децима и Морта контролируют метафорическую нить жизни.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemNONA</string></dict>
        <key>PAX</key><dict><key>nameID</key><string>01.03.1.32</string><key>nameDescription</key><string>    Пакс (лат. Pax «мир») — в римской мифологии богиня мира, соответствующая греческой Эйрене. В древнейшие времена римляне не знали такой богини. Её почитание начинается со времен императора Августа. Он посвятил Пакс Алтарь мира, установив его в 9 году до н. э. после возвращения из Испании и Галлии. Храм находился на площади Веспасиана, жертвоприношения в нем совершались 30 января и 30 марта. Римляне оказывали богини мира такие почести потому, что стремились к миру после длительных гражданских войн, которые им надоели. Богиню Пакс изображали молодой женщиной с оливковой ветвью и рогом изобилия.</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemPAX</string></dict>
        <key>POMONA</key><dict><key>nameID</key><string>01.03.1.33</string><key>nameDescription</key><string>Помо́на — римская богиня древесных плодов и изобилия, супруга Вертумна. У Овидия присутствует грациозный миф о том, как Вертумн добился взаимности Помоны, остававшейся холодной ко всем лесным ухаживателям. Вертумн прибегал сначала к разного рода превращениям, до старухи включительно, но победил Помону, только явившись в своем настоящем образе — светлого, как солнце, юноши. Помона имела своего жреца (flamen Pomonalis), принадлежавшего к низшим ступеням жреческой иерархии.
            В честь Помоны назван астероид (32) Помона, открытый в 1854 году.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BC%D0%BE%D0%BD%D0%B0_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemPOMONA</string></dict>
        <key>PROSERPINA</key><dict><key>nameID</key><string>01.03.1.34</string><key>nameDescription</key><string>Прозерпи́на (лат. Proserpina) — в древнеримской мифологии богиня подземного царства, соответствующая древнегреческой Персефоне, дочь Юпитера и Цереры, племянница и супруга Плутона (Дита). По одной версии, имя её — латинизированное греческое «Персефона». По другому толкованию, так называлась римская богиня, способствовавшая произрастанию (proserpere) семени и слившаяся позднее, по введении греческих культов, с богиней Персефоной.
            По легенде, Прозерпина, дочь богини зерна Цереры, собирала ирисы, розы, фиалки, гиацинты и нарциссы на лугу со своими подругами, когда её заметил, воспылав любовью, Плутон, царь подземного мира. Он умчал её на колеснице, заставив бездну разверзнуться перед ними и Прозерпина была унесена в подземное царство. Плутон вынужден был отпустить её, но дал вкусить ей зернышко граната, чтобы она не забыла царство смерти и вернулась к нему. С той поры Прозерпина половину года проводит в царстве мертвых и половину — в царстве живых.
        </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B7%D0%B5%D1%80%D0%BF%D0%B8%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemPROSERPINA</string></dict>
        <key>PROSERPINE</key><dict><key>nameID</key><string>01.03.1.35</string><key>nameDescription</key><string>Прозерпи́на (лат. Proserpina) — в древнеримской мифологии богиня подземного царства, соответствующая древнегреческой Персефоне, дочь Юпитера и Цереры, племянница и супруга Плутона (Дита). По одной версии, имя её — латинизированное греческое «Персефона». По другому толкованию, так называлась римская богиня, способствовавшая произрастанию (proserpere) семени и слившаяся позднее, по введении греческих культов, с богиней Персефоной.
            По легенде, Прозерпина, дочь богини зерна Цереры, собирала ирисы, розы, фиалки, гиацинты и нарциссы на лугу со своими подругами, когда её заметил, воспылав любовью, Плутон, царь подземного мира. Он умчал её на колеснице, заставив бездну разверзнуться перед ними и Прозерпина была унесена в подземное царство. Плутон вынужден был отпустить её, но дал вкусить ей зернышко граната, чтобы она не забыла царство смерти и вернулась к нему. С той поры Прозерпина половину года проводит в царстве мертвых и половину — в царстве живых.
        </string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B7%D0%B5%D1%80%D0%BF%D0%B8%D0%BD%D0%B0</string><key>nameImageName</key><string>MythRomanFemPROSERPINA</string></dict>
        <key>RHEA</key><dict><key>nameID</key><string>01.03.1.36</string><key>nameDescription</key><string>Рея Сильвия (лат. Rhea Silvia), Илия — в римской мифологии мать Ромула и Рема.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D1%8F_%D0%A1%D0%B8%D0%BB%D1%8C%D0%B2%D0%B8%D1%8F</string><key>nameImageName</key><string>MythRomanFemRHEA</string></dict>
        <key>SALACIA</key><dict><key>nameID</key><string>01.03.1.37</string><key>nameDescription</key><string>Салация (лат. Salacia, от salum, «морская пена» ?) — в древнеримской мифологии божество соленой воды (моря) либо источников. Спутница (супруга) Нептуна.
            Позднее стала отождествляться с древнегреческими богинями Амфитритой, Фетидой и Афродитой (как возникшая из морской пены).
            Салация почиталась римскими гетерами.
            У римлян - мать Тритона [1].</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythRomanFemSALACIA</string></dict>
        <key>SILVIA</key><dict><key>nameID</key><string>01.03.1.38</string><key>nameDescription</key><string>Рея Сильвия (лат. Rhea Silvia), Илия — в римской мифологии мать Ромула и Рема.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D1%8F_%D0%A1%D0%B8%D0%BB%D1%8C%D0%B2%D0%B8%D1%8F</string><key>nameImageName</key><string>MythRomanFemRHEA</string></dict>
        <key>VENUS</key><dict><key>nameID</key><string>01.03.1.39</string><key>nameDescription</key><string>Вене́ра (лат. venus, род. п. veneris «плотская любовь») — в римской мифологии богиня красоты, плотской любви, желания, плодородия и процветания.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BD%D0%B5%D1%80%D0%B0_(%D0%BC%D0%B8%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)</string><key>nameImageName</key><string>MythRomanFemVENUS</string></dict>
        <key>VESTA</key><dict><key>nameID</key><string>01.03.1.40</string><key>nameDescription</key><string>Ве́ста (лат. Vesta, др.-греч. Ἑστία) — богиня, покровительница семейного очага и жертвенного огня в Древнем Риме. Ей соответствует греческая Гестия.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D1%81%D1%82%D0%B0</string><key>nameImageName</key><string>MythRomanFemVESTA</string></dict>
        <key>VICTORIA</key><dict><key>nameID</key><string>01.03.1.41</string><key>nameDescription</key><string>Викто́рия (лат. Victoria) — в римской мифологии Виктория — богиня победы.
            Это очень давнее, чисто римское божество, культ которого существовал задолго до появления романо-греческого пантеона и идентификации Виктории с греческой богиней победы Никой.
            В честь богини назван астероид (12) Виктория, открытый в 1850 году.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%B8%D1%8F_(%D0%B1%D0%BE%D0%B3%D0%B8%D0%BD%D1%8F)</string><key>nameImageName</key><string>MythRomanFemVICTORIA</string></dict>

    
    </dict>
</plist>
