<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythCelticFem.plist
   Nickname generator

   Created by Anton Novoselov on 20/05/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>AGRONA</key><dict><key>nameID</key><string>01.07.1.1</string><key>nameDescription</key><string>Агрона, богиня раздора и войны</string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemAGRONA</string></dict>
        <key>ANDRASTE</key><dict><key>nameID</key><string>01.07.1.2</string><key>nameDescription</key><string>Андраста, согласно римскому историку Диону Кассию, была кельтской богиней победы, которую часто изображали мчащейся на боевой колеснице.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B4%D1%80%D0%B0%D1%81%D1%82%D0%B0</string><key>nameImageName</key><string>MythCelticFemANDRASTE</string></dict>
        <key>AOIFE</key><dict><key>nameID</key><string>01.07.1.3</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemAOIFE</string></dict>
        <key>BÉBINN</key><dict><key>nameID</key><string>01.07.1.4</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemBÉBINN</string></dict>
        <key>BLÁTHNAT</key><dict><key>nameID</key><string>01.07.1.5</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemBLÁTHNAT</string></dict>
        <key>BRIDGET</key><dict><key>nameID</key><string>01.07.1.6</string><key>nameDescription</key><string>Бригита (в Британии[1] — Бригантия[2]) — в традиционной Ирландской мифологии: дочь Дагды[источник не указан 258 дней], была важным женским божеством Ирландии[3], богиней войны[4], а в мирной жизни - богиней поэзии, ремесел и врачевания, а также помогающей женщинам при родах[5].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D0%B3%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGHID</key><dict><key>nameID</key><string>01.07.1.7</string><key>nameDescription</key><string>Бригита (в Британии[1] — Бригантия[2]) — в традиционной Ирландской мифологии: дочь Дагды[источник не указан 258 дней], была важным женским божеством Ирландии[3], богиней войны[4], а в мирной жизни - богиней поэзии, ремесел и врачевания, а также помогающей женщинам при родах[5].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D0%B3%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGID</key><dict><key>nameID</key><string>01.07.1.8</string><key>nameDescription</key><string>Бригита (в Британии[1] — Бригантия[2]) — в традиционной Ирландской мифологии: дочь Дагды[источник не указан 258 дней], была важным женским божеством Ирландии[3], богиней войны[4], а в мирной жизни - богиней поэзии, ремесел и врачевания, а также помогающей женщинам при родах[5].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D0%B3%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGIT</key><dict><key>nameID</key><string>01.07.1.9</string><key>nameDescription</key><string>Бригита (в Британии[1] — Бригантия[2]) — в традиционной Ирландской мифологии: дочь Дагды[источник не указан 258 дней], была важным женским божеством Ирландии[3], богиней войны[4], а в мирной жизни - богиней поэзии, ремесел и врачевания, а также помогающей женщинам при родах[5].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D0%B3%D0%B8%D1%82%D0%B0</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>CÉIBHFHIONN</key><dict><key>nameID</key><string>01.07.1.10</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemCÉIBHFHIONN</string></dict>
        <key>CLÍDNA</key><dict><key>nameID</key><string>01.07.1.11</string><key>nameDescription</key><string>Клиодна, также Клидна (правильная транскрипция: Клина; ирл. Clíodhna, англ. Clíodhna) — кельтская богиня красоты, моря и загробной жизни, дочь последнего друида Ирландии, королева клана Мунстера, правившая из сида возле Мэллоу, графство Корк.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B8%D0%BE%D0%B4%D0%BD%D0%B0</string><key>nameImageName</key><string>MythCelticFemCLÍDNA</string></dict>
        <key>CLÍODHNA</key><dict><key>nameID</key><string>01.07.1.12</string><key>nameDescription</key><string>Клиодна, также Клидна (правильная транскрипция: Клина; ирл. Clíodhna, англ. Clíodhna) — кельтская богиня красоты, моря и загробной жизни, дочь последнего друида Ирландии, королева клана Мунстера, правившая из сида возле Мэллоу, графство Корк.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B8%D0%BE%D0%B4%D0%BD%D0%B0</string><key>nameImageName</key><string>MythCelticFemCLÍDNA</string></dict>
        <key>DAIREANN</key><dict><key>nameID</key><string>01.07.1.13</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDAIREANN</string></dict>
        <key>DEIRDRE</key><dict><key>nameID</key><string>01.07.1.14</string><key>nameDescription</key><string>Де́йрдре (ирл. Deirdre, [ˈdʲɛɾˠdʲɾʲə], «трепетная»[1]) — персонаж ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%B9%D1%80%D0%B4%D1%80%D0%B5</string><key>nameImageName</key><string>MythCelticFemDEIRDRE</string></dict>
        <key>DERDRIU</key><dict><key>nameID</key><string>01.07.1.15</string><key>nameDescription</key><string>Де́йрдре (ирл. Deirdre, [ˈdʲɛɾˠdʲɾʲə], «трепетная»[1]) — персонаж ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%B9%D1%80%D0%B4%D1%80%D0%B5</string><key>nameImageName</key><string>MythCelticFemDEIRDRE</string></dict>
        <key>DOIREANN</key><dict><key>nameID</key><string>01.07.1.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDOIREANN</string></dict>
        <key>DOIREND</key><dict><key>nameID</key><string>01.07.1.17</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDOIREND</string></dict>
        <key>ÉIMHEAR</key><dict><key>nameID</key><string>01.07.1.18</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemÉIMHEAR</string></dict>
        <key>EMER</key><dict><key>nameID</key><string>01.07.1.19</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemEMER</string></dict>
        <key>EPONA</key><dict><key>nameID</key><string>01.07.1.20</string><key>nameDescription</key><string>Эпо́на (кельт. Epona, от *epos «лошадь») — в кельтской мифологии богиня коневодства, считавшаяся покровительницей лошадей, мулов, ослов, погонщиков и возчиков[1].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D0%BF%D0%BE%D0%BD%D0%B0</string><key>nameImageName</key><string>MythCelticFemEPONA</string></dict>
        <key>ÉRIU</key><dict><key>nameID</key><string>01.07.1.21</string><key>nameDescription</key><string>Эриу (др.‑ирл. Ériu, в родительном падеже Érenn)— в ирландской мифологии женщина из племени Туата Де Дананн, мать Бреса, эпонимная богиня Ирландии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D1%80%D0%B8%D1%83</string><key>nameImageName</key><string>MythCelticFemÉRIU</string></dict>
        <key>ÉTAÍN</key><dict><key>nameID</key><string>01.07.1.22</string><key>nameDescription</key><string>Этайн (правильная транскрипция: Этан; ирл. Étaín), также Эдан (ирл. Édaín) или Эйдин (ирл. Éadaoin) — героиня ирландской мифологии, в основном известная по легенде «Сватовство к Этайн».</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%AD%D1%82%D0%B0%D0%B9%D0%BD</string><key>nameImageName</key><string>MythCelticFemÉTAÍN</string></dict>
        <key>FEDELM</key><dict><key>nameID</key><string>01.07.1.23</string><key>nameDescription</key><string>Фе́дельм (также Фе́йдельм; ирл. Fedelm или Feidelm) — пророчица и филид в Уладском цикле ирландской мифологии</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D0%BC</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEDELMID</key><dict><key>nameID</key><string>01.07.1.24</string><key>nameDescription</key><string>Фе́дельм (также Фе́йдельм; ирл. Fedelm или Feidelm) — пророчица и филид в Уладском цикле ирландской мифологии</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D0%BC</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEDLIMID</key><dict><key>nameID</key><string>01.07.1.25</string><key>nameDescription</key><string>Фе́дельм (также Фе́йдельм; ирл. Fedelm или Feidelm) — пророчица и филид в Уладском цикле ирландской мифологии</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D0%BC</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEIDELM</key><dict><key>nameID</key><string>01.07.1.26</string><key>nameDescription</key><string>Фе́дельм (также Фе́йдельм; ирл. Fedelm или Feidelm) — пророчица и филид в Уладском цикле ирландской мифологии</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D0%BC</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEIDLIMID</key><dict><key>nameID</key><string>01.07.1.27</string><key>nameDescription</key><string>Фе́дельм (также Фе́йдельм; ирл. Fedelm или Feidelm) — пророчица и филид в Уладском цикле ирландской мифологии</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D0%BC</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FINNGUALA</key><dict><key>nameID</key><string>01.07.1.28</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemFINNGUALA</string></dict>
        <key>FINNUALA</key><dict><key>nameID</key><string>01.07.1.29</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemFINNUALA</string></dict>
        <key>FIONNGHUALA</key><dict><key>nameID</key><string>01.07.1.30</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemFIONNGHUALA</string></dict>
        <key>FIONNUALA</key><dict><key>nameID</key><string>01.07.1.31</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemFIONNUALA</string></dict>
        <key>GRÁINNE</key><dict><key>nameID</key><string>01.07.1.32</string><key>nameDescription</key><string>Пресле́дование Диармида и Гра́йне (ирл. Tóraigheacht Dhiarmada agus Ghráinne or Tóraíocht Dhiarmada agus Gráinne, англ. The Pursuit of Diarmuid and Gráinne) — ирландский миф из цикла фениев, существующий в различных вариантах, на основании которого было сделано танцевальное шоу Dancing on Dangerous Ground. Существует в списках не старше XVII века, однако содержит и более древние части, относящиеся к X веку[1][2].</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%94%D0%B8%D0%B0%D1%80%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0_%D0%B8_%D0%93%D1%80%D0%B0%D0%B9%D0%BD%D0%B5</string><key>nameImageName</key><string>MythCelticFemGRÁINNE</string></dict>
        <key>ISEULT</key><dict><key>nameID</key><string>01.07.1.33</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemISEULT</string></dict>
        <key>ISOLDA</key><dict><key>nameID</key><string>01.07.1.34</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemISOLDA</string></dict>
        <key>ISOLDE</key><dict><key>nameID</key><string>01.07.1.35</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemISOLDE</string></dict>
        <key>MAEVE</key><dict><key>nameID</key><string>01.07.1.36</string><key>nameDescription</key><string>Медб (др.‑ирл. Medb [mɛðv], среднеирл. Meḋḃ, Meaḋḃ = Medhbh, Meadhbh, ирл. Meabh, англ. Maeve, в англоязычных странах общепринято произношение Мэйв — в пер.: опьяняющая, упоительная) — воинственная божественная королева Коннахта, одна из центральных фигур ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MÉABH</key><dict><key>nameID</key><string>01.07.1.37</string><key>nameDescription</key><string>Медб (др.‑ирл. Medb [mɛðv], среднеирл. Meḋḃ, Meaḋḃ = Medhbh, Meadhbh, ирл. Meabh, англ. Maeve, в англоязычных странах общепринято произношение Мэйв — в пер.: опьяняющая, упоительная) — воинственная божественная королева Коннахта, одна из центральных фигур ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MEADHBH</key><dict><key>nameID</key><string>01.07.1.38</string><key>nameDescription</key><string>Медб (др.‑ирл. Medb [mɛðv], среднеирл. Meḋḃ, Meaḋḃ = Medhbh, Meadhbh, ирл. Meabh, англ. Maeve, в англоязычных странах общепринято произношение Мэйв — в пер.: опьяняющая, упоительная) — воинственная божественная королева Коннахта, одна из центральных фигур ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MEDB</key><dict><key>nameID</key><string>01.07.1.39</string><key>nameDescription</key><string>Медб (др.‑ирл. Medb [mɛðv], среднеирл. Meḋḃ, Meaḋḃ = Medhbh, Meadhbh, ирл. Meabh, англ. Maeve, в англоязычных странах общепринято произношение Мэйв — в пер.: опьяняющая, упоительная) — воинственная божественная королева Коннахта, одна из центральных фигур ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MÓR</key><dict><key>nameID</key><string>01.07.1.40</string><key>nameDescription</key><string>Морриган («Великая Госпожа Ворон», «Великая королева») — богиня войны в ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D1%80%D0%B8%D0%B3%D0%B0%D0%BD</string><key>nameImageName</key><string>MythCelticFemMÓR</string></dict>
        <key>MORRIGAN</key><dict><key>nameID</key><string>01.07.1.41</string><key>nameDescription</key><string>Морриган («Великая Госпожа Ворон», «Великая королева») — богиня войны в ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D1%80%D0%B8%D0%B3%D0%B0%D0%BD</string><key>nameImageName</key><string>MythCelticFemMORRIGAN</string></dict>
        <key>MÓRRÍGHAN</key><dict><key>nameID</key><string>01.07.1.42</string><key>nameDescription</key><string>Морриган («Великая Госпожа Ворон», «Великая королева») — богиня войны в ирландской мифологии.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D1%80%D0%B8%D0%B3%D0%B0%D0%BD</string><key>nameImageName</key><string>MythCelticFemMÓRRÍGHAN</string></dict>
        <key>MUIRENN</key><dict><key>nameID</key><string>01.07.1.43</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemMUIRENN</string></dict>
        <key>MUIRGEN</key><dict><key>nameID</key><string>01.07.1.44</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemMUIRGEN</string></dict>
        <key>MUIRNE</key><dict><key>nameID</key><string>01.07.1.45</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemMUIRNE</string></dict>
        <key>NEAS</key><dict><key>nameID</key><string>01.07.1.46</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemNEAS</string></dict>
        <key>NEASA</key><dict><key>nameID</key><string>01.07.1.47</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemNEASA</string></dict>
        <key>NESS</key><dict><key>nameID</key><string>01.07.1.48</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemNESS</string></dict>
        <key>NESSA</key><dict><key>nameID</key><string>01.07.1.49</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemNESSA</string></dict>
        <key>NIAMH</key><dict><key>nameID</key><string>01.07.1.50</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemNIAMH</string></dict>
        <key>RIGANTONA</key><dict><key>nameID</key><string>01.07.1.51</string><key>nameDescription</key><string>В Мабиногионе (валлийская мифология) Рианнон (валл. Rhiannon) — богиня лошадей, схожая с Эпоной в мифологии галлов. Дочь Хефайда Старого. Была замужем за Пуйлом, а позже за Манауиданом.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A0%D0%B8%D0%B0%D0%BD%D0%BD%D0%BE%D0%BD</string><key>nameImageName</key><string>MythCelticFemRIGANTONA</string></dict>
        <key>RÍGHNACH</key><dict><key>nameID</key><string>01.07.1.52</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemRÍGHNACH</string></dict>
        <key>RÍOGHNACH</key><dict><key>nameID</key><string>01.07.1.53</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemRÍOGHNACH</string></dict>
        <key>SABIA</key><dict><key>nameID</key><string>01.07.1.54</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemSABIA</string></dict>
        <key>SADB</key><dict><key>nameID</key><string>01.07.1.55</string><key>nameDescription</key><string>Садб — богиня в ирландской мифологии. Олицетворяла кротость и красоту. Является дочерью Бодба Дерга, короля сидов, матерью Оссиана от Финна Маккула.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SADBH</key><dict><key>nameID</key><string>01.07.1.56</string><key>nameDescription</key><string>Садб — богиня в ирландской мифологии. Олицетворяла кротость и красоту. Является дочерью Бодба Дерга, короля сидов, матерью Оссиана от Финна Маккула.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SADHBH</key><dict><key>nameID</key><string>01.07.1.57</string><key>nameDescription</key><string>Садб — богиня в ирландской мифологии. Олицетворяла кротость и красоту. Является дочерью Бодба Дерга, короля сидов, матерью Оссиана от Финна Маккула.</string><key>nameURL</key><string>https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B4%D0%B1</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SIONANN</key><dict><key>nameID</key><string>01.07.1.58</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemSIONANN</string></dict>
        <key>YSOLT</key><dict><key>nameID</key><string>01.07.1.59</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemYSOLT</string></dict>


        
        
        
    
    </dict>
</plist>
