<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionGOTFemLannister.plist
   Nickname generator

   Created by Anton Novoselov on 20/09/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Cynda Lannister</key><dict><key>nameID</key><string>02.03.1.1.03</string><key>nameDescription</key><string>Cynda Lannister is the mother of Ser Alton Lannister.
            Cynda Lannister is a member of a lesser branch of House Lannister and the mother of Ser Alton Lannister.
            While in the Starks' stockade, Ser Alton tells Jaime that his mother is Cynda Lannister. Jaime cannot remember her, and asks if she is the fat one. Ser Alton admits that she has got a little rounder with the years. Jaime responds that there is only one fat Lannister, and he would know it, if she was. Jaime uses the reminiscences to draw Alton closer to him. He then murders Alton to facilitate an escape attempt.[1]
            In the A Song of Ice and Fire books, there is no character named "Alton Lannister", nor that he has a mother named "Cynda Lannister". The character Cleos Frey has the role of being a captive of House Stark and delivering terms to House Lannister. Cleos Frey is the son of Ser Emmon Frey, Walder Frey's second son, and Genna Lannister, the only sister of Tywin Lannister. His name appears to have been changed so that TV viewers would not be confused that he is on the Lannisters' side, despite House Frey officially declaring for Robb Stark.
            While Alton does serve in the same role as Cleos Frey in the books, it is later made clear that he is not the son of Genna Lannister as he mentions his mother is Cynda Lannister, whom Jaime has difficulty remembering. Thus "Alton Lannister" isn't as important a familial relation as Cleos Frey is; he is not Lord Tywin's nephew and Jaime's first cousin the way Cleos is in the books. Similarly, "Cynda Lannister" does not correspond to Genna Lannister. In any case, Genna Lannister has a more important role to play in the books, memorably remarking to Ser Jaime that, while Tywin consideres Jaime to be his heir, Tyrion is truly his son.</string><key>nameURL</key><string>http://gameofthrones.wikia.com/wiki/Cynda_Lannister</string><key>nameImageName</key><string>FictionGOTLannisterFemCyndaLannister</string></dict>
        <key>Cersei Lannister</key><dict><key>nameID</key><string>02.03.1.2.03</string><key>nameDescription</key><string>Queen Cersei I Lannister is the widow of King Robert Baratheon and Queen of the Seven Kingdoms. She is the daughter of Lord Tywin Lannister, twin sister of Jaime Lannister and elder sister of Tyrion Lannister. She has an incestuous relationship with Jaime, who is secretly the father of her three children, Joffrey, Myrcella and Tommen.
            After the assassinations of Joffrey and Myrcella and Tommen's suicide in the wake of the destruction of the Great Sept of Baelor, Cersei assumed the throne under the name of Cersei of the House Lannister, the First of Her Name, Queen of the Andals and the First Men, Protector of the Seven Kingdoms.
            Cersei is the only daughter and eldest child of Lord Tywin Lannister and his wife Joanna Lannister, who was also his cousin. Tywin is the head of House Lannister, the richest man in the Seven Kingdoms and Lord Paramount of the Westerlands. The Westerlands are one of the constituent regions of the Seven Kingdoms and House Lannister is one of the Great Houses of the realm. Cersei is the elder twin of Ser Jaime Lannister and the elder sister of Tyrion Lannister. She was raised in privilege in the family seat of Casterly Rock.[2] She is noted for her great beauty.
            Cersei's mother died when she was four years old, after giving birth to her younger brother Tyrion. Like her father, Cersei has always blamed Tyrion for her mother's death and deeply resents that her mother died so that Tyrion would be brought into the world.[3][4] As for Cersei's father Tywin, he was constantly away from home during her childhood and teenage years, serving as Hand of the King at the capital, with only infrequent visits back to his seat at Casterly Rock. Coupled with the death of her mother, this meant that Cersei and her two brothers were primarily raised by servants attached to House Lannister. She began an incestuous relationship with Jaime in her youth which has continued despite her marriage.[2] While Cersei has had other partners, Jaime has always kept himself strictly for her.[5]
            When she was about fifteen, Cersei and her friend Melara visited Maggy, a woods witch and reputed fortune teller dwelling in a hut deep in a forest close to Casterly Rock. Melara was reluctant, but Cersei convinced her to go. After rudely awakening her and insisting on having her future foretold, Maggy tasted a drop of her blood and revealed to Cersei she wouldn't marry "the Prince" but "the King", and while the king would have twenty children, she would bear only three children who will wear golden crowns as well as golden shrouds. Finally, she revealed to Cersei that although she would indeed be Queen, she would be cast down by another, younger and more beautiful queen.[6]
            After the end of the civil war which ended the reign of House Targaryen, Cersei was married to King Robert Baratheon, a political marriage Robert agreed to in thanks for her father's last-minute alliance. She was only 19 when she married Robert and became Queen.[7] At first, Cersei was infatuated with the handsome Robert, but their love began to wane when he called her "Lyanna" on their wedding night.[8] She nevertheless bore Robert a son who died shortly after his birth. Cersei was devastated by the loss of her son and refused to have the body taken from her, forcing Robert to hold her while they took her son from her.[9] In time, Cersei's feelings for Robert turned to hatred and she returned to her brother as a result. Her three children, Joffrey, Myrcella and Tommen, are officially Robert's, but in reality are the products of her incestuous relationship with Jaime.
            In King's Landing, Queen Cersei watches the silent sisters preparing the body of Lord Jon Arryn, the Hand of the King, for burial. She and her twin brother, Jaime, discuss the situation and wonder if Jon told anyone else about what he had discovered. Jaime tells her not to worry, since if the King knew the truth they'd be dead already. She suggests that Jaime could be the next Hand, but Jaime refuses, citing the position as too much responsibility and danger.[10]
            King Robert decides to travel to Winterfell and ask his best friend, Lord Eddard Stark, to become the new Hand, as well as proposing that his son Joffrey marry Eddard's eldest daughter, Sansa.
            Cersei, Jaime, and a retinue of courtiers accompany him. When the royal party arrives at Winterfell (the seat of House Stark) a month later, Lord Eddard presents his household to Robert and Cersei. After initial greetings, Robert demands to see the crypts and pay his respects to his former betrothed, Lyanna Stark, stoking Cersei's impatience. After Robert and Eddard depart, Cersei sends Jaime to find their younger brother Tyrion, who has become distracted at the local brothel.[10]
            That evening, a great feast is held and Cersei and Catelyn Stark exchange cordial words. Cersei seems impressed by Sansa, thinking that she will be a great hit at court. The next morning, Eddard and Robert go hunting, leaving the castle largely empty. Cersei and Jaime liaise in derelict tower. Bran Stark climbs the tower and finds them engaged in sexual intercourse. He is caught watching by Cersei, and Jaime grabs him. He asks how old Bran is. When Bran replies "ten", Jaime sighs and pushes him out of the window, musing, "The things I do for love."[10]</string><key>nameURL</key><string>http://gameofthrones.wikia.com/wiki/Cersei_Lannister</string><key>nameImageName</key><string>FictionGOTLannisterFemCerseiLannister</string></dict>
        <key>Joanna Lannister</key><dict><key>nameID</key><string>02.03.1.3.03</string><key>nameDescription</key><string>Joanna Lannister was the wife of Tywin Lannister and the mother of Jaime, Cersei, and Tyrion Lannister. As Tywin's first cousin, she was a Lannister before her marriage.
            Joanna was the wife of Tywin Lannister, the head of House Lannister and the Lord of Casterly Rock. Joanna was perhaps the only person Tywin loved unconditionally. Joanna bore him the twins Jaime and Cersei. She died giving birth to Tyrion.[1][2] Joanna died when Cersei and Jaime were only four years old. Tywin took Joanna's death very hard, as did Cersei, who holds Tyrion responsible for her death.[3][4] However, Jaime understands that Tyrion was just an infant and had no control over what happened.[5]
            When Tyrion arrives in King's Landing to serve as acting Hand of the King, Cersei is annoyed at how he is checking her power, and his quips that she is not ruling wisely. At one point she bitterly says that he is funny, but nothing will ever match his first joke: killing her mother in childbirth when he came out of her. The greatest joke of all is that she had to die so something as worthless as him could live. Tyrion is hurt and coldly reminds her that she was his mother too.[4]
            Joanna's brother, Stafford Lannister, is briefly mentioned by Lancel Lannister as having been killed at the Battle of Oxcross.[6]
            Cersei explains to Sansa Stark that when she was four and her mother died, she prayed for days hoping the gods would give her mother back until her father explained that prayer could not do that.[3]
            After the Battle of the Blackwater, Tyrion (who was seriously injured in the battle but recovered) came to his father in the Tower of the Hand. He asked that as a basic reward for loyal service, his father grant him rule of Casterly Rock itself, given that Tywin would be remaining in King's Landing as Hand of the King. Tyrion pointed out that by all laws it was his right, given that his older brother Jaime foreswore all right to inheritance when he joined the Kingsguard. Tywin refuses and when Tyrion asks why, he launches into a bitter tirade saying that he shouldn't need to explain something so obvious: Tyrion's mother died so he could enter the world, and on top of that he is a stunted dwarf whose very existence is a shame to their family. Tywin always hated Tyrion for "killing" his beloved wife.[7]
            After the Red Wedding, Tyrion confronts Tywin after a Small Council meeting about his plans to force Tyrion to impregnate Sansa Stark, which he says is for the good of the Lannister family. Tyrion counters by demanding to know when Tywin ever did something "for the family", putting the family's interests above and at the expense of his own. Wounded and choking back anger, Tywin bluntly declares that the day Tyrion was born and his mother died in childbirth, he was so stricken with grief that he wanted to carry Tyrion into the sea and let him drown but stayed his hand because Tyrion is a Lannister and Tywin refused to become a kinslayer. Therefore, he earnestly believes that Tyrion should be outright grateful for this as if it were a deep personal sacrifice: that Tywin refrained from killing his own infant son.[8]
            When Tyrion demands a trial by combat to prove his innocence in the killing of his nephew, King Joffrey, he is visited by Oberyn Martell, who regales him with a tale of their first encounter when Tyrion was just a baby, and how even then Cersei showed her hatred for Tyrion as she irrationally blamed him for Joanna's death.[9]
            When Jaime shows his disgust with Cersei for having Tyrion falsely convicted and sentenced to die for killing their son Joffrey, Cersei irrationally justifies her actions on the grounds that he killed their mother too, which exasperates Jaime even more. Although Jaime reciprocates when Cersei kisses him passionately, he later defies his sister when he goes down to the cells and frees Tyrion. Before setting eyes on his brother, Tyrion grumpily calls him a "son of a whore", to which Jaime replies, "Is that any way to speak about our mother?"[5]
            When Daenerys asks Tyrion why she shouldn't kill him for what his family did to hers, he answers: "You want revenge against the Lannisters? I killed my mother, Joanna Lannister, on the day I was born. I killed my father, Tywin Lannister, with a bolt to the heart. I am the greatest Lannister-killer of all time."[10]
            In the A Song of Ice and Fire novels, Joanna Lannister was a daughter of Tytos Lannister's younger brother, Jason Lannister, making her a first cousin of Tywin Lannister.  Her surname was already "Lannister" before she married Tywin. First cousin marriage is not uncommon among the nobility in Westeros, and apparently isn't considered incest in their culture. She was the sister of Ser Stafford Lannister, who was later killed during the War of the Five Kings by Robb Stark's army.
            Though Tywin was always a stern and ruthless man, Joanna was said to bring out what little warmth he had, and he was even known to smile in her presence. Tywin and Joanna were very deeply in love, and thus Tywin took her death very hard. He became even more stern and was never known to smile again. Her death also fueled his senseless hatred for his younger son Tyrion, whom he blamed for killing her, combined with the shame he brought on their House for being born a dwarf.</string><key>nameURL</key><string>http://gameofthrones.wikia.com/wiki/Joanna_Lannister</string><key>nameImageName</key><string>FictionGOTLannisterFemJoannaLannister</string></dict>
        <key>Bernadette</key><dict><key>nameID</key><string>02.03.1.4.03</string><key>nameDescription</key><string>She is a handmaiden to Sansa Stark. She finds Sansa and Shae trying to turn over her mattress to conceal Sansa's first flowering. She attempts to inform Queen Cersei but Shae threatens her with a knife to keep quiet. Nevertheless, the Queen is informed by Sandor Clegane.[2]
            Bernadette continues to be assigned to Sansa. She announces Tyrion Lannister when he calls on Sansa to "propose" to her.[3]
            Bernadette continues to spy on Tyrion for Cersei and discovers that his real secret lover is actually Shae. She then enters Cersei's chambers, while Jaime is present, to inform her of something "important".[4]
            After Sansa's departure from King's Landing, Bernadette now seems to be serving Cersei herself. She notifies Cersei that a ship has arrived from Dorne.[5] Later, at the day of Cersei's trial by the Faith, she helps Cersei into her clothes, moments before the Destruction of the Great Sept.[6]
            Following Cersei's coronation, Bernadette began to wear dark robes and cut her hair short as the court fashion for women was now mimicking Cersei's appearance. One morning, Bernadette went to the Queen's room to inform her that Tycho Nestoris was waiting for her. While there, Bernadette spotted a naked Jaime in the bed of his sister, as Cersei decided that they would no longer hide their incestuous love affair. Although clearly surprised, Bernadette was wise enough not to comment and to simply deal with Cersei's instructions right away.[7]
            There is no character named "Bernadette" in the novels, and it doesn't seem to match their fantasy world. The character is never actually called that aloud and the name is apparently purely from the filming credits. This name was probably given after Bernadette Caulfield, one of the major producers on the TV series.
            In the A Song of Ice and Fire novels, both Sansa and Tyrion are aware that all of Sansa's maids are spies for Cersei. Thus Sansa is careful not to reveal her true feelings to any of them and Tyrion takes precautions when he meets Shae.
            When Tyrion hears servants joke about him that he still has not had sex with Sansa, he figures that Sansa's maids are the ones who spread the gossip. Tyrion complains to his father about Sansa's maids being women in Cersei's service. Tywin answers nonchalantly that if Tyrion doesn't like his wife's servants, he can dismiss them and hire new ones. Tyrion does so, hiring Shae (who unlike in the series, is utterly indifferent to Sansa) and another woman named Brella. Sansa feels more comfortable around them, but is still careful.</string><key>nameURL</key><string>http://gameofthrones.wikia.com/wiki/Bernadette</string><key>nameImageName</key><string>FictionGOTLannisterFemBernadette</string></dict>

    
    </dict>
</plist>
