<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienFemAinur.plist
   Nickname generator

   Created by Anton Novoselov on 07/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Arien</key><dict><key>nameID</key><string>02.02.1.1.05</string><key>nameDescription</key><string>Arien (Quenya, IPA: [ˈari.en] or [ˈarijen] - 'Maiden Of Sunlight') was a Maia and the Guardian of the Sun.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Arien</string><key>nameImageName</key><string>FictionTolkienAinurFemArien</string></dict>
        <key>Elbereth</key><dict><key>nameID</key><string>02.02.1.2.05</string><key>nameDescription</key><string>Elbereth is the Sindarin name of the Vala Varda. Her name comes up at various times during The Lord of the Rings, usually in a song or invocation. In The Fellowship of the Ring (novel), the Elves whom Frodo Baggins, Peregrin Took, and Samwise Gamgee meet in the Shire are singing a song in her praise. Frodo calls out to Elbereth when he is attacked at Weathertop, and Aragorn refers to her name as 'deadly' to the Nazgûl. Sam suggests 'Elbereth' as a password to Frodo after he frees Frodo from the orcs in the Tower of Cirith Ungol, that way Frodo can let down the ladder when he returns from gathering gear for them to wear into Mordor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Elbereth</string><key>nameImageName</key><string>FictionTolkienAinurFemElbereth</string></dict>
        <key>Estë</key><dict><key>nameID</key><string>02.02.1.3.05</string><key>nameDescription</key><string>Estë (Quenya, IPA: [ˈeste]) was a Ainu and a Vala who was responsible for the healing of the hurt and weary.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Est%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurFemEste</string></dict>
        <key>Ilmarë</key><dict><key>nameID</key><string>02.02.1.4.05</string><key>nameDescription</key><string>Ilmarë (Quenya, IPA: [ˈilmare] - 'Starlight') was a chief amongst the Maiar and the handmaiden to Queen Varda.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ilmar%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurFemIlmare</string></dict>
        <key>Melian</key><dict><key>nameID</key><string>02.02.1.5.05</string><key>nameDescription</key><string>Melian (Sindarin IPA: [ˈmeljan]) was a Maia of the race of the Ainur, Queen of Doriath and mother of Lúthien Tinúviel.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Melian</string><key>nameImageName</key><string>FictionTolkienAinurFemMelian</string></dict>
        <key>Nessa</key><dict><key>nameID</key><string>02.02.1.6.05</string><key>nameDescription</key><string>Nessa (Quenya, IPA: [ˈnessa] - 'Young') was an Ainu and a Valië and was ranked the least among the Valar. She was notable for her speed, being fast 'as an arrow in movement', for which reason she was called Nessa the Swift.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nessa</string><key>nameImageName</key><string>FictionTolkienAinurFemNessa</string></dict>
        <key>Nielíqui</key><dict><key>nameID</key><string>02.02.1.7.05</string><key>nameDescription</key><string>Nielíqui was a Valar and the daughter of Oromë and Vána in the earlier forms of the legendarium.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Niel%C3%ADqui</string><key>nameImageName</key><string>FictionTolkienAinurFemNieliqui</string></dict>
        <key>Nienna</key><dict><key>nameID</key><string>02.02.1.8.05</string><key>nameDescription</key><string>Nienna (Quenya, IPA [niˈenna] or [niˈjenna] - 'Weeping' or 'She Who Weeps') was an Ainu, one of the Aratar and a Vala who was responsible for the mercy and grief spread across Arda. She was the sister of Mandos and Irmo and had no spouse. Her part in the Music of the Ainur was one of deep sadness, from which grief entered the world at its beginning.[1] She had dominion over the Halls of Nienna, which were on the western edge of Valinor, looking over the sea.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nienna</string><key>nameImageName</key><string>FictionTolkienAinurFemNienna</string></dict>
        <key>Uinen</key><dict><key>nameID</key><string>02.02.1.9.05</string><key>nameDescription</key><string>Uinen (Quenya, IPA: [ˈuɪnen] - 'No Water') was a Maia spirit known as The Lady of the Sea and the wife of the Maia Ossë, and she was also a patron to all mariners.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Uinen</string><key>nameImageName</key><string>FictionTolkienAinurFemUinen</string></dict>
        <key>Ungoliant</key><dict><key>nameID</key><string>02.02.1.10.05</string><key>nameDescription</key><string>Ungoliant (Sindarin IPA: [uŋˈɡoljant] - 'Dark Spider') was a primordial taking the shape of a gigantic spider. She was initially an ally of Melkor in Aman, and for a short time in Middle-earth as well. She is the mother of Shelob, and therefore the oldest, and first spider of the south, possibly even the first spider.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ungoliant</string><key>nameImageName</key><string>FictionTolkienAinurFemUngoliant</string></dict>
        <key>Vairë</key><dict><key>nameID</key><string>02.02.1.11.05</string><key>nameDescription</key><string>Vairë (Quenya, IPA: [ˈvaɪre] or [ˈwaɪre] - 'Weaver') is an Ainu and Vala who was responsible for the weaving of the story of Arda.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Vair%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurFemVaire</string></dict>
        <key>Valier</key><dict><key>nameID</key><string>02.02.1.12.05</string><key>nameDescription</key><string>Valier (Quenya, IPA: [ˈvali.er] or Third Age Middle-earth [ˈvalijer]) were the Queens of the Valar:</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Valier</string><key>nameImageName</key><string>FictionTolkienAinurFemValier</string></dict>
        <key>Vána</key><dict><key>nameID</key><string>02.02.1.13.05</string><key>nameDescription</key><string>Vána (Quenya, IPA: [ˈvaːna] - 'Beautiful One') is an Ainu and a Valië who was responsible for the preserving of the youth made for all life in Arda. Among the seven Valier, Vána was considered a rank of six of the Queens of the Valar.[1] She was known as Vána the Ever-Young.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/V%C3%A1na</string><key>nameImageName</key><string>FictionTolkienAinurFemVana</string></dict>
        <key>Varda</key><dict><key>nameID</key><string>02.02.1.14.05</string><key>nameDescription</key><string>Varda (Quenya, IPA: [ˈvarda] - 'Sublime' or 'Lofty') is an Ainu, and one of the Aratar and a Vala who was responsible for the outlining of the stars in the heavens above Arda. She was also known as Elbereth (Sindarin, IPA: 'Queen of the Stars') or Gilthoniel and is the spouse of Manwë, with whom she lives in Ilmarin on the summit of Taniquetil in Aman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Varda</string><key>nameImageName</key><string>FictionTolkienAinurFemVarda</string></dict>
        <key>Yavanna</key><dict><key>nameID</key><string>02.02.1.15.05</string><key>nameDescription</key><string>Yavanna (Quenya, IPA: [jaˈvanna] - 'Giver of Fruits') was an Ainu, one of the Aratar and a Vala who was responsible for the growth of all the fruits and growing things of Arda. She was also called Kementári (Quenya, IPA: 'Queen of the Earth'), Ivon (Sindarin, IPA: 'Giver of Fruits'). She resided in the Pastures of Yavanna, in the south of Valinor.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Yavanna</string><key>nameImageName</key><string>FictionTolkienAinurFemYavanna</string></dict>
        <key>Aratar</key><dict><key>nameID</key><string>02.02.1.16.05</string><key>nameDescription</key><string>The Aratar (Sindarin for 'exalted') or the High Ones of Arda are the eight greatest of the Valar. In descending order of power they are Manwë, Varda, Ulmo, Yavanna, Aulë, Mandos, Nienna, and Oromë. Melkor, the most powerful of all, was removed from the order upon his rebellion.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aratar</string><key>nameImageName</key><string>FictionTolkienAinurFemAratar</string></dict>
        <key>Balrog</key><dict><key>nameID</key><string>02.02.1.17.05</string><key>nameDescription</key><string>Balrogs, also known as the Valaraukar, were Maiar that were seduced and corrupted by Melkor into his service.[2]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Balrog</string><key>nameImageName</key><string>FictionTolkienAinurFemBalrog</string></dict>
        <key>Maiar</key><dict><key>nameID</key><string>02.02.1.18.05</string><key>nameDescription</key><string>The Maiar (the singular of which is Maia) were nearly-primordial spirits that descended into Arda to help the Valar first shape the World. They were supposed to be numerous, yet not many were named. Their chiefs were Eönwë, banner-bearer and herald of Manwë, and Ilmarë, the handmaid of Varda.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Maiar</string><key>nameImageName</key><string>FictionTolkienAinurFemMaiar</string></dict>
        <key>Nazgûl</key><dict><key>nameID</key><string>02.02.1.19.05</string><key>nameDescription</key><string>The Nazgûl were once nine great powerful Men, all of whom were given Rings of Power by Sauron. Sauron meant and achieved the goal of corrupting the powerful Nine. The Nine took them and used them to achieve great power, wealth and prestige in life. But as time passed, the Rings continued to exert their corrupting influence. The Rings eventually left the kings spectral, invisible to all but those who could see into the wraith world, and slaves to the will of Sauron. Their lives and power became bound to Sauron's via the One Ring, as Sauron grew or diminished in power, so too did the Nazgûl.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nazg%C3%BBl</string><key>nameImageName</key><string>FictionTolkienAinurFemNazgul</string></dict>
        <key>Undead</key><dict><key>nameID</key><string>02.02.1.20.05</string><key>nameDescription</key><string>The Undead are dead who can still interact with the Living. By the Third Age, the Rohirric word 'Dwimmerlaik,' meaning 'Spectre' or 'Work of Necromancy' was used as a catch-all term.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Undead</string><key>nameImageName</key><string>FictionTolkienAinurFemUndead</string></dict>
        <key>Valar</key><dict><key>nameID</key><string>02.02.1.21.05</string><key>nameDescription</key><string>The Valar (Quenya), singular Vala, are the Powers of Arda who lived on the Western continent of Aman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Valar</string><key>nameImageName</key><string>FictionTolkienAinurFemValar</string></dict>

    
    </dict>
</plist>
