<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienMascAinur.plist
   Nickname generator

   Created by Anton Novoselov on 07/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>Alatar</key><dict><key>nameID</key><string>02.02.0.1.05</string><key>nameDescription</key><string>Alatar (Quenya; IPA: [ˈalatar] - "After-Comer"), also called Morinehtar (Quenya; [moriˈneçtar]) was a Maia and an immortal Istar wizard. He travelled to Middle-earth in the Second Age with Rómestámo (Pallando), and they became the Ithryn Luin, or "Blue Wizards". They travelled to the east of Arda, to countries in far eastern Middle-earth such as Rhûn and Khand, where they were sent to stir up rebellions against those serving Sauron. In this, they were successful, and they later returned to Middle-earth in the Third Age and travelled East and South once again, but they never returned to the West after their journey with Saruman. It is possible that they became the founders of secret and magical cults, but their ultimate fate remains unknown.
        
    </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Alatar</string><key>nameImageName</key><string>FictionTolkienAinurMascAlatar</string></dict>
    <key>Aulë</key><dict><key>nameID</key><string>02.02.0.2.05</string><key>nameDescription</key><string>Aulë (Quenya, IPA: [ˈaʊle] - 'Invention') was an Ainu, one of the Aratar and a Vala, who was responsible for fashioning and crafting the substances of which Arda, the world, was composed. He was also called Mahal (Khuzdul, IPA: 'Maker'), Oli (Sindarin, IPA: 'Dream') or Návatar and delights in the nature of substances and in works of skill, but not concerned with possession or mastery. Besides the shaping of Arda, Aulë's greatest works were the Two Lamps of the Valar, the vessels of the Sun and Moon, and the Dwarves, whom he created out of impatience for the Children of Ilúvatar. He also created Angainor (the chain of Melkor).</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aul%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurMascAule</string></dict>
    <key>Avatan</key><dict><key>nameID</key><string>02.02.0.3.05</string><key>nameDescription</key><string>Avatan was a Hermit Wizard who was a Hero in The War of the Ring</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Avatan</string><key>nameImageName</key><string>FictionTolkienAinurMascAvatan</string></dict>
    <key>Eönwë</key><dict><key>nameID</key><string>02.02.0.4.05</string><key>nameDescription</key><string>Eönwë (Quenya, IPA: [eˈonʷe]) was a Maia serving Manwë as his herald and banner-bearer, and Chief of the Maiar along with Ilmarë.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/E%C3%B6nw%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurMascEonwe</string></dict>
    <key>Gandalf</key><dict><key>nameID</key><string>02.02.0.5.05</string><key>nameDescription</key><string>Gandalf (Norse, IPA: [gand:alf] - 'Elf of the Wand' or 'Wand-elf') the Grey, later known as Gandalf the White, and originally named Olórin (Quenya, IPA: [oˈloːrin] - 'Dreamer' or 'Of Dreams'), was an Istar (wizard), sent by the West in the Third Age to combat the threat of Sauron. He joined Thorin and his company to reclaim the Lonely Mountain from Smaug, convoked the Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gandalf</string><key>nameImageName</key><string>FictionTolkienAinurMascGandalf</string></dict>
    <key>Gorgumoth</key><dict><key>nameID</key><string>02.02.0.6.05</string><key>nameDescription</key><string>Gorgumoth was the hound of the Vala Mandos who guarded Melkor in the Castle of Lumbi after he was overthrown by Tulkas.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gorgumoth</string><key>nameImageName</key><string>FictionTolkienAinurMascGorgumoth</string></dict>
    <key>Gothmog</key><dict><key>nameID</key><string>02.02.0.7.05</string><key>nameDescription</key><string>Gothmog (Sindarin IPA: [ˈɡoθmoɡ] - 'Strife and Hate') was the Lord of Balrogs during the First Age, and the greatest Balrog ever to walk Middle-earth. As the High Captain of Angband, his only equal in rank was Sauron. He fought many battles in the name of his master Morgoth, and was personally responsible for killing two of the High Kings of the Ñoldor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gothmog</string><key>nameImageName</key><string>FictionTolkienAinurMascGothmog</string></dict>
    <key>Irmo</key><dict><key>nameID</key><string>02.02.0.8.05</string><key>nameDescription</key><string>Irmo (Quenya, IPA: [ˈirmo] - 'Desirer' or 'Master of Desires') is an Ainu, and a Vala who was responsible for the creation of dreams and desires as well as visions too. He was more commonly known as Lórien, after the name of his dwelling place. Irmo-Lórien was the younger brother of Námo who also like his brother was commonly known as Mandos the name of his dwelling place, and Irmo was also the brother of Nienna (Lady of Pity and Mourning).</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Irmo</string><key>nameImageName</key><string>FictionTolkienAinurMascIrmo</string></dict>
    <key>Lungorthin</key><dict><key>nameID</key><string>02.02.0.9.05</string><key>nameDescription</key><string>Lungorthin was a Balrog mentioned in earlier versions of The Silmarillion. Like Gothmog, he bore the title of 'Lord of Balrogs'. He was the captain of security in Angband and, like his superior officer, Gothmog, was fiercely loyal to his lord, Morgoth. It is unknown if he was an earlier version of Gothmog, but he might have been a different Balrog altogether.[citation needed]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lungorthin</string><key>nameImageName</key><string>FictionTolkienAinurMascLungorthin</string></dict>
    <key>Mandos</key><dict><key>nameID</key><string>02.02.0.10.05</string><key>nameDescription</key><string>Mandos (Quenya, IPA: [ˈmandos] - 'Prison-Fortress') is an Ainu, one of the Aratar and a Vala who is responsible for the judgement of the Spirits, or Fëa of all Elven dead. He also has responsibility for pronouncing the dooms and judgments of Eru Ilúvatar under Manwë. His real name is Námo (Quenya, IPA: 'Ordainer' or 'Judge') but was later known by the Elves as Mandos after his sacred halls Halls of Mandos, over which he presides and where ultimately the Elves go after they are slain.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mandos</string><key>nameImageName</key><string>FictionTolkienAinurMascMandos</string></dict>
    <key>Manwë</key><dict><key>nameID</key><string>02.02.0.11.05</string><key>nameDescription</key><string>Manwë (Quenya, IPA: [ˈmanʷe] - 'Blessed One') was the leader of the Ainur, one of the Aratar, King of the Valar, husband of Varda, brother of the Dark Lord Melkor, and King of Arda. He was also known as Súlimo, Mânawenûz or Valahiru and lives atop Mount Taniquetil in Valinor, the highest mountain of the world. The winds and airs are his servants. He was the greatest in authority, but not in power, of all the Valar, Melkor being more powerful. He was however the greatest of the Aratar, among whom Melkor was not counted.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Manw%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurMascManwe</string></dict>
    <key>Òmar</key><dict><key>nameID</key><string>02.02.0.12.05</string><key>nameDescription</key><string>Òmar also known as Amillo[1] was a Valar in the earlier forms of the legendarium.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/%C3%92mar</string><key>nameImageName</key><string>FictionTolkienAinurMascOmar</string></dict>
    <key>Oromë</key><dict><key>nameID</key><string>02.02.0.13.05</string><key>nameDescription</key><string>Oromë (Quenya, IPA: [ˈorome] - 'Horn-Blower' or 'Sound of Horns'), also known as Aldaron (Quenya, IPA: 'Horn-Blower'), Araw (Sindarin, IPA: 'Horn-Blower') or Arômêz, was an Ainu, one of the Aratar and a Vala who was responsible for the hunt. He was the brother of Nessa and the husband of Vána.[3]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orom%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurMascOrome</string></dict>
    <key>Ossë</key><dict><key>nameID</key><string>02.02.0.14.05</string><key>nameDescription</key><string>Ossë (Quenya or Ñoldor, IPA: [ˈosse], from the Valarin Ošošai, Oššai) was a Maia associated with Ulmo.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Oss%C3%AB</string><key>nameImageName</key><string>FictionTolkienAinurMascOsse</string></dict>
    <key>Pallando</key><dict><key>nameID</key><string>02.02.0.15.05</string><key>nameDescription</key><string>Pallando (Quenya, IPA: [palˈlando]), also known as Pallando the Blue and Rómestámo (Quenya, [ˌroːmesˈtaːmo]), was one of the five Istari or Wizards that were sent to Middle-earth to aid the Free Peoples in their struggle against Sauron.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pallando</string><key>nameImageName</key><string>FictionTolkienAinurMascPallando</string></dict>
    <key>Radagast</key><dict><key>nameID</key><string>02.02.0.16.05</string><key>nameDescription</key><string>Radagast (Adûnaic, IPA: ['radagast] - 'Tender Of Beasts') the Brown, also called Aiwendil (Quenya, IPA: [ai'wendil] - 'Bird-Friend') was one of the five Wizards, or Istari. He was a good friend of Gandalf the Grey, whom he aided occasionally. Radagast was mainly concerned with the well-being of the plant and animal worlds, and thus did not participate heavily in the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Radagast</string><key>nameImageName</key><string>FictionTolkienAinurMascRadagast</string></dict>
    <key>Salmar</key><dict><key>nameID</key><string>02.02.0.17.05</string><key>nameDescription</key><string>Salmar was a Maia, creator of the Ulumúri. Made for his lord Ulmo, the Ulumúri were great conches who produced the music of the sea.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Salmar</string><key>nameImageName</key><string>FictionTolkienAinurMascSalmar</string></dict>
    <key>Saruman</key><dict><key>nameID</key><string>02.02.0.18.05</string><key>nameDescription</key><string>Saruman(Quenya, IPA: ['saruman] - 'Man Of Skill'), also known as Saruman the White was an Istar (wizard), who lived in Middle-earth during the Third Age. Originally, he was the chief of the wizards and of the White Council that opposed Sauron. His extensive studies of dark magic, however, eventually led him to desire the One Ring for himself. Thinking he could ally himself with Sauron and then betray him, Saruman allied Isengard with Mordor in the War of the Ring, in which he was defeated.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Saruman</string><key>nameImageName</key><string>FictionTolkienAinurMascSaruman</string></dict>
    <key>Sauron</key><dict><key>nameID</key><string>02.02.0.19.05</string><key>nameDescription</key><string>Sauron (or Þauron (Thauron), Quenya, IPA: [ˈsaʊron] or Vanyarin, IPA: [ˈθaʊron] - 'The Abhorred'), the eponymous Lord of the Rings, was a fallen Maia, the creator of the One Ring, and the most trusted lieutenant of his master Melkor (Morgoth, the first Dark Lord). After Melkor's defeat in the First Age, Sauron became the second Dark Lord and strove to conquer Arda by creating the Rings of Power. In the Second Age, he was defeated in the War of the Last Alliance by the last line of defense: Elves and Men under kings Gil-galad and Elendil.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Sauron</string><key>nameImageName</key><string>FictionTolkienAinurMascSauron</string></dict>
    <key>Tilion</key><dict><key>nameID</key><string>02.02.0.20.05</string><key>nameDescription</key><string>Tilion (Quenya, IPA: [ˈtili.on] - 'The Horned')[1] was a Maia and the guardian of the Moon.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tilion</string><key>nameImageName</key><string>FictionTolkienAinurMascTilion</string></dict>
    <key>Tulkas</key><dict><key>nameID</key><string>02.02.0.21.05</string><key>nameDescription</key><string>Tulkas (Quenya, IPA: [ˈtulkas] - 'Strong' or 'Steadfast') is an Ainu, a Vala who was responsible for participating in war and the last of them to descend into Arda, coming to the aid of the others when he heard of their war with Melkor. He was also called Tulukastāz or Astaldo.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tulkas</string><key>nameImageName</key><string>FictionTolkienAinurMascTulkas</string></dict>
    <key>Ulmo</key><dict><key>nameID</key><string>02.02.0.22.05</string><key>nameDescription</key><string>Ulmo (Quenya, IPA: [ˈulmo] - 'Pourer' or 'Rainer') - also known as Ulubôz or Ullubôz - was an Ainu, one of the Aratar, and the Vala who was responsible for the control over the oceans of Arda. A lover of water, Ulmo was one of the Arda's chief architects and was always in a close friendship with Manwë. He had always distrusted Melkor, and the Dark Lord feared the Sea almost as much as he feared Varda because the sea cannot be tamed. Ulmo had no dwelling in Valinor or any permanent dwelling on land, as he preferred the deeps of the seas and the rivers. His palace, on the bottom of Vaiya, was called Ulmonan.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ulmo</string><key>nameImageName</key><string>FictionTolkienAinurMascUlmo</string></dict>
    <key>Aratar</key><dict><key>nameID</key><string>02.02.0.23.05</string><key>nameDescription</key><string>The Aratar (Sindarin for 'exalted') or the High Ones of Arda are the eight greatest of the Valar. In descending order of power they are Manwë, Varda, Ulmo, Yavanna, Aulë, Mandos, Nienna, and Oromë. Melkor, the most powerful of all, was removed from the order upon his rebellion.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aratar</string><key>nameImageName</key><string>FictionTolkienAinurMascAratar</string></dict>
    <key>Balrog</key><dict><key>nameID</key><string>02.02.0.24.05</string><key>nameDescription</key><string>Balrogs, also known as the Valaraukar, were Maiar that were seduced and corrupted by Melkor into his service.[2]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Balrog</string><key>nameImageName</key><string>FictionTolkienAinurMascBalrog</string></dict>
    <key>Maiar</key><dict><key>nameID</key><string>02.02.0.25.05</string><key>nameDescription</key><string>The Maiar (the singular of which is Maia) were nearly-primordial spirits that descended into Arda to help the Valar first shape the World. They were supposed to be numerous, yet not many were named. Their chiefs were Eönwë, banner-bearer and herald of Manwë, and Ilmarë, the handmaid of Varda.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Maiar</string><key>nameImageName</key><string>FictionTolkienAinurMascMaiar</string></dict>
    <key>Nazgûl</key><dict><key>nameID</key><string>02.02.0.26.05</string><key>nameDescription</key><string>The Nazgûl were once nine great powerful Men, all of whom were given Rings of Power by Sauron. Sauron meant and achieved the goal of corrupting the powerful Nine. The Nine took them and used them to achieve great power, wealth and prestige in life. But as time passed, the Rings continued to exert their corrupting influence. The Rings eventually left the kings spectral, invisible to all but those who could see into the wraith world, and slaves to the will of Sauron. Their lives and power became bound to Sauron's via the One Ring, as Sauron grew or diminished in power, so too did the Nazgûl.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nazg%C3%BBl</string><key>nameImageName</key><string>FictionTolkienAinurMascNazgul</string></dict>
    <key>Undead</key><dict><key>nameID</key><string>02.02.0.27.05</string><key>nameDescription</key><string>The Undead are dead who can still interact with the Living. By the Third Age, the Rohirric word 'Dwimmerlaik,' meaning 'Spectre' or 'Work of Necromancy' was used as a catch-all term.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Undead</string><key>nameImageName</key><string>FictionTolkienAinurMascUndead</string></dict>
    <key>Valar</key><dict><key>nameID</key><string>02.02.0.28.05</string><key>nameDescription</key><string>The Valar (Quenya), singular Vala, are the Powers of Arda who lived on the Western continent of Aman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Valar</string><key>nameImageName</key><string>FictionTolkienAinurMascValar</string></dict>

    
    
    </dict>
</plist>
