<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienMascOrcs.plist
   Nickname generator

   Created by Anton Novoselov on 07/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>Ashpar</key><dict><key>nameID</key><string>02.02.0.1.06</string><key>nameDescription</key><string>Ashpar was an Orc Commander in the Third Age</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ashpar</string><key>nameImageName</key><string>FictionTolkienOrcsMascAshpar</string></dict>
        <key>Azog</key><dict><key>nameID</key><string>02.02.0.2.06</string><key>nameDescription</key><string>Azog, known also as the Defiler and the Pale Orc, was an orc who lived in the Third Age. He commanded the tribes of Moria from TA 2790 until his death in TA 2799. He was responsible for the death of King Thror and for King Thrain's madness.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Azog</string><key>nameImageName</key><string>FictionTolkienOrcsMascAzog</string></dict>
        <key>Balcmeg</key><dict><key>nameID</key><string>02.02.0.3.06</string><key>nameDescription</key><string>Balcmeg was one of the Orcs killed in the Fall of Gondolin by Tuor, according to The Book of Lost Tales. Tolkien wrote the story of the fall of the city in 1917 and never fully revised it, and Balcmeg does not appear in the published Silmarillion, although he was obviously of some importance, for only three orcs out of many that Tuor slew in Gondolin were named.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Balcmeg</string><key>nameImageName</key><string>FictionTolkienOrcsMascBalcmeg</string></dict>
        <key>Boldog</key><dict><key>nameID</key><string>02.02.0.4.06</string><key>nameDescription</key><string>Boldog was an Orc-captain of the host of Angband during the First Age, who is only told of in the original Lay of Leithian, and does not appear in the stories of The Silmarillion.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Boldog_(Character)</string><key>nameImageName</key><string>FictionTolkienOrcsMascBoldog</string></dict>
        <key>Bolg</key><dict><key>nameID</key><string>02.02.0.5.06</string><key>nameDescription</key><string>Bolg was an Orc leader of the Misty Mountains during the late Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Bolg</string><key>nameImageName</key><string>FictionTolkienOrcsMascBolg</string></dict>
        <key>Felgrom</key><dict><key>nameID</key><string>02.02.0.6.06</string><key>nameDescription</key><string>Felgrom was the character created from LOTR: Two Towers which blows up the sewer grate to achieve entrance into Helms Deep. Warner Bros. elaborated upon the character, giving him a name and he is playable as a Tactician in their game: Guardians of Middle-earth. He is a suicide bomber, with several Orcish explosives strapped to his back.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Felgrom</string><key>nameImageName</key><string>FictionTolkienOrcsMascFelgrom</string></dict>
        <key>Fimbul</key><dict><key>nameID</key><string>02.02.0.7.06</string><key>nameDescription</key><string>Fimbul was one of Azog's Orc hunters in The Hobbit and the lieutenant of the vile Yazneg, who led the Orc hunters after Thorin Oakenshield and his band of Dwarves. Fimbul later becomes Azog's right hand and second-in-command after Yazneg is fed to the Wargs by Azog for his failures. The character of Fimbul is not in the writings of J.R.R. Tolkien, he was created for Peter Jackson's The Hobbit film trilogy.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Fimbul</string><key>nameImageName</key><string>FictionTolkienOrcsMascFimbul</string></dict>
        <key>Gluthrak</key><dict><key>nameID</key><string>02.02.0.8.06</string><key>nameDescription</key><string>Gluthrak was an Uruk warrior under the command of Saruman during the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gluthrak</string><key>nameImageName</key><string>FictionTolkienOrcsMascGluthrak</string></dict>
        <key>Goblok</key><dict><key>nameID</key><string>02.02.0.9.06</string><key>nameDescription</key><string>Goblok was an Half-troll[2] chieftain from the fan film The Hunt for Gollum.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Goblok</string><key>nameImageName</key><string>FictionTolkienOrcsMascGoblok</string></dict>
        <key>Golb</key><dict><key>nameID</key><string>02.02.0.10.06</string><key>nameDescription</key><string>Golb was an Uruk of Isengard who participated in the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Golb</string><key>nameImageName</key><string>FictionTolkienOrcsMascGolb</string></dict>
        <key>Golfimbul</key><dict><key>nameID</key><string>02.02.0.11.06</string><key>nameDescription</key><string>Golfimbul was the Goblin chieftain of Mount Gram, the fortress of Goblins in the Ettenmoors, who led his band in an invasion of the Shire. He was defeated and beheaded at the Battle of Greenfields by Bandobras 'Bullroarer' Took. The manner of his death at Bullroarer's hands is said to have inspired the game of Golf.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Golfimbul</string><key>nameImageName</key><string>FictionTolkienOrcsMascGolfimbul</string></dict>
        <key>Gorbag</key><dict><key>nameID</key><string>02.02.0.12.06</string><key>nameDescription</key><string>Gorbag was an Orc captain of Cirith Ungol during the Third Age, originally from Minas Morgul.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gorbag</string><key>nameImageName</key><string>FictionTolkienOrcsMascGorbag</string></dict>
        <key>Gorganog</key><dict><key>nameID</key><string>02.02.0.13.06</string><key>nameDescription</key><string>Gorganog was an Orc in the service of Sauron.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gorganog</string><key>nameImageName</key><string>FictionTolkienOrcsMascGorganog</string></dict>
        <key>Gorgol</key><dict><key>nameID</key><string>02.02.0.14.06</string><key>nameDescription</key><string>Gorgol was an Orc chieftain, also called the Butcher, who lived in Beleriand during the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gorgol</string><key>nameImageName</key><string>FictionTolkienOrcsMascGorgol</string></dict>
        <key>Gorkil</key><dict><key>nameID</key><string>02.02.0.15.06</string><key>nameDescription</key><string>Goblin King</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gorkil_the_Goblin_King</string><key>nameImageName</key><string>FictionTolkienOrcsMascGorkil</string></dict>
        <key>Gothmog</key><dict><key>nameID</key><string>02.02.0.16.06</string><key>nameDescription</key><string>Gothmog was the lieutenant of the Witch-king in the Third Age, from Minas Morgul, notably at the Battle of the Pelennor Fields.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gothmog_(Lieutenant_of_Morgul)</string><key>nameImageName</key><string>FictionTolkienOrcsMascGothmog</string></dict>
        <key>Grishnákh</key><dict><key>nameID</key><string>02.02.0.17.06</string><key>nameDescription</key><string>Grishnákh was an Orc captain from Barad-dûr in the service of Sauron in the Third Age, who led a host of Mordor Orcs to join Saruman's Uruk-hai soldiers who were taking Merry and Pippin across the plain of Rohan to Isengard, in The Two Towers.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Grishn%C3%A1kh</string><key>nameImageName</key><string>FictionTolkienOrcsMascGrishnakh</string></dict>
        <key>Guritz</key><dict><key>nameID</key><string>02.02.0.18.06</string><key>nameDescription</key><string>Guritz[1] was an Orc captain in the Return of the King film who served Gothmog during the Battle of the Pelennor Fields.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Guritz</string><key>nameImageName</key><string>FictionTolkienOrcsMascGuritz</string></dict>
        <key>Hobgoblin</key><dict><key>nameID</key><string>02.02.0.19.06</string><key>nameDescription</key><string>Hobgoblins were stronger, larger, and more menacing than other orcs. They are mentioned only once, by Gandalf, in The Hobbit. He described them as one of the many kinds of orcs inhabiting the Wilderland. Many of them are probably some form of Uruk-hai or else a particularly large breed of orcs living in the wilderland. There is however no specific orc-race called hobgoblins but it is simply the name for all larger kinds of orcs, used in The Hobbit.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hobgoblin</string><key>nameImageName</key><string>FictionTolkienOrcsMascHobgoblin</string></dict>
        <key>Hoital</key><dict><key>nameID</key><string>02.02.0.20.06</string><key>nameDescription</key><string>Hoital was an Isengard Uruk warrior who participated, under Saruman's banner, in the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hoital</string><key>nameImageName</key><string>FictionTolkienOrcsMascHoital</string></dict>
        <key>Lagduf</key><dict><key>nameID</key><string>02.02.0.21.06</string><key>nameDescription</key><string>Lagduf was an Orc of the Tower of Cirith Ungol.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lagduf</string><key>nameImageName</key><string>FictionTolkienOrcsMascLagduf</string></dict>
        <key>Lugdush</key><dict><key>nameID</key><string>02.02.0.22.06</string><key>nameDescription</key><string>Lugdush was an Uruk-hai of Isengard.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lugdush</string><key>nameImageName</key><string>FictionTolkienOrcsMascLugdush</string></dict>
        <key>Lurtz</key><dict><key>nameID</key><string>02.02.0.23.06</string><key>nameDescription</key><string>Lurtz was the first leader of the Uruk-hai Scouts created specifically for Peter Jackson's movie The Lord of the Rings: The Fellowship of the Ring. He was portrayed by New Zealand actor Lawrence Makoare in the first film, Fellowship of the Ring, in which he kills Boromir later slain by Aragorn as revenge.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lurtz</string><key>nameImageName</key><string>FictionTolkienOrcsMascLurtz</string></dict>
        <key>Matum</key><dict><key>nameID</key><string>02.02.0.24.06</string><key>nameDescription</key><string>Matum was an Uruk of Isengard</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Matum</string><key>nameImageName</key><string>FictionTolkienOrcsMascMatum</string></dict>
        <key>Mauhúr</key><dict><key>nameID</key><string>02.02.0.25.06</string><key>nameDescription</key><string>Mauhúr was an Uruk-hai of Isengard in the late Third Age during the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mauh%C3%BAr</string><key>nameImageName</key><string>FictionTolkienOrcsMascMauhur</string></dict>
        <key>Morflak</key><dict><key>nameID</key><string>02.02.0.26.06</string><key>nameDescription</key><string>Morflak is an Uruk-hai commander who appears in the Lord of the Rings Online. He can be found at the command center in the Ring of Isengard.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Morflak</string><key>nameImageName</key><string>FictionTolkienOrcsMascMorflak</string></dict>
        <key>Mozgog</key><dict><key>nameID</key><string>02.02.0.27.06</string><key>nameDescription</key><string>Mozgog was an orc berserker of Mordor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mozgog</string><key>nameImageName</key><string>FictionTolkienOrcsMascMozgog</string></dict>
        <key>Murgash</key><dict><key>nameID</key><string>02.02.0.28.06</string><key>nameDescription</key><string>Murgash was a Black Uruk captain or lieutenant serving under Gothmog during the Siege of Gondor.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Murgash</string><key>nameImageName</key><string>FictionTolkienOrcsMascMurgash</string></dict>
        <key>Muzgash</key><dict><key>nameID</key><string>02.02.0.29.06</string><key>nameDescription</key><string>Muzgash was an Orc of Cirith Ungol.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Muzgash</string><key>nameImageName</key><string>FictionTolkienOrcsMascMuzgash</string></dict>
        <key>Narzug</key><dict><key>nameID</key><string>02.02.0.30.06</string><key>nameDescription</key><string>Narzug was a member of the Hunter Orcs searching for Thorin's company of dwarves in the film The Hobbit: The Desolation of Smaug. The character of Narzug is not in the writings of J.R.R. Tolkien; he was created for Peter Jackson's The Hobbit film trilogy.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Narzug</string><key>nameImageName</key><string>FictionTolkienOrcsMascNarzug</string></dict>
        <key>Orcobal</key><dict><key>nameID</key><string>02.02.0.31.06</string><key>nameDescription</key><string>Orcobal was an Orc chieftain of Angband during the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orcobal</string><key>nameImageName</key><string>FictionTolkienOrcsMascOrcobal</string></dict>
        <key>Radbug</key><dict><key>nameID</key><string>02.02.0.32.06</string><key>nameDescription</key><string>Radbug was an Orc in the Tower of Cirith Ungol, who was killed by Shagrat in the battle over Frodo's Mithril Shirt (apparently by strangulation).[citation needed]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Radbug</string><key>nameImageName</key><string>FictionTolkienOrcsMascRadbug</string></dict>
        <key>Ragash</key><dict><key>nameID</key><string>02.02.0.33.06</string><key>nameDescription</key><string>Ragash was an Orc from Dol Guldur who served Azog and fought in the Battle of Five Armies.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ragash</string><key>nameImageName</key><string>FictionTolkienOrcsMascRagash</string></dict>
        <key>Shagrat</key><dict><key>nameID</key><string>02.02.0.34.06</string><key>nameDescription</key><string>Shagrat was a large, long-armed orc, Captain of the Tower of Cirith Ungol, and one of the orcs who found Frodo Baggins after he had been poisoned by Shelob. Later his Black Uruk tower garrison fought with an orc patrol from Minas Morgul over possession of Frodo's Mithril mail-shirt. Shagrat interpreted his orders literally: all captives to be searched, but left unharmed and they and their possessions taken to Barad-dûr. Gorbag, leader of a patrol sent up the Stair of Cirith Ungol to investigate matters, coveted Frodo's pretty mithril dwarf-mail shirt for himself. A fight soon started. Gorbag wounded Shagrat in the arm with a knife, but was eventually killed by Shagrat. Their respective followers began fighting also, and slaughtered each other wholesale over the next several hours.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Shagrat</string><key>nameImageName</key><string>FictionTolkienOrcsMascShagrat</string></dict>
        <key>Shaknar</key><dict><key>nameID</key><string>02.02.0.35.06</string><key>nameDescription</key><string>Shaknar was an Orc in service of Sauron during the Third Age.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Shaknar</string><key>nameImageName</key><string>FictionTolkienOrcsMascShaknar</string></dict>
        <key>Sharku</key><dict><key>nameID</key><string>02.02.0.36.06</string><key>nameDescription</key><string>Sharku was the veteran Orc leading Saruman's Warg-Riders. He only appears in the film adaptation of The Two Towers.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Sharku</string><key>nameImageName</key><string>FictionTolkienOrcsMascSharku</string></dict>
        <key>Thak</key><dict><key>nameID</key><string>02.02.0.37.06</string><key>nameDescription</key><string>Thak was an Uruk of Isengard during the War of the Ring. He served under Saruman's banner</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thak</string><key>nameImageName</key><string>FictionTolkienOrcsMascThak</string></dict>
        <key>Tharzog</key><dict><key>nameID</key><string>02.02.0.38.06</string><key>nameDescription</key><string>Tharzog was an Orc chieftain from Mount Gram who served Agandaur, the fictional 'Right Hand' of Sauron. He is also the boss of Level One in the video game War in the North.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tharzog</string><key>nameImageName</key><string>FictionTolkienOrcsMascTharzog</string></dict>
        <key>Thrugg</key><dict><key>nameID</key><string>02.02.0.39.06</string><key>nameDescription</key><string>Thrugg was an Uruk-hai Berserker who was one of the leaders that commanded Saruman's army during the Battle of the Hornburg.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thrugg</string><key>nameImageName</key><string>FictionTolkienOrcsMascThrugg</string></dict>
        <key>Ufthak</key><dict><key>nameID</key><string>02.02.0.40.06</string><key>nameDescription</key><string>Ufthak was a Mordor Orc serving in the Tower of Cirith Ungol.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ufthak</string><key>nameImageName</key><string>FictionTolkienOrcsMascUfthak</string></dict>
        <key>Uglúk</key><dict><key>nameID</key><string>02.02.0.41.06</string><key>nameDescription</key><string>Uglúk was the leader of the Uruk-hai scouts who were sent to pursue the Fellowship of the Ring in TA 3018, and was a highly trusted servant of Saruman.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ugl%C3%BAk</string><key>nameImageName</key><string>FictionTolkienOrcsMascUgluk</string></dict>
        <key>Urbhár</key><dict><key>nameID</key><string>02.02.0.42.06</string><key>nameDescription</key><string>Urbhár was an Uruk of Isengard that participated in the War of the Ring under Saruman's banner.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Urbh%C3%A1r</string><key>nameImageName</key><string>FictionTolkienOrcsMascUrbhar</string></dict>
        <key>Urdan</key><dict><key>nameID</key><string>02.02.0.43.06</string><key>nameDescription</key><string>Urdan was an Uruk of Isengard during the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Urdan</string><key>nameImageName</key><string>FictionTolkienOrcsMascUrdan</string></dict>
        <key>Vrasku</key><dict><key>nameID</key><string>02.02.0.44.06</string><key>nameDescription</key><string>Vrasku, never mentioned or seen in canonical works, is an Uruk-hai Captain of the White-Hand. With his crossbow he shot down Théodred, Prince of Rohan in the First Battle of the Fords of Isen but later met his doom in the Second Battle of the Fords of Isen at the hands of Erkenbrand.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Vrasku</string><key>nameImageName</key><string>FictionTolkienOrcsMascVrasku</string></dict>
        <key>Yazneg</key><dict><key>nameID</key><string>02.02.0.45.06</string><key>nameDescription</key><string>Yazneg was a character in (and created specifically for) Peter Jackson's The Hobbit film series. He was a fierce Orc captain and Warg rider. In the film he is the right hand and second-in-command of Azog the Defiler, leading his Hunter Orcs after Thorin Oakenshield and his band of Dwarves.
            
        </string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Yazneg</string><key>nameImageName</key><string>FictionTolkienOrcsMascYazneg</string></dict>

    
    </dict>
</plist>
