<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienFemHobbits.plist
   Nickname generator

   Created by Anton Novoselov on 06/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>Adaldrida Brandybuck</key><dict><key>nameID</key><string>02.02.1.1.03</string><key>nameDescription</key><string>Adaldrida Brandybuck, née Bolger was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Adaldrida_(Bolger)_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAdaldridaBrandybuck</string></dict>
        <key>Adamanta Took</key><dict><key>nameID</key><string>02.02.1.2.03</string><key>nameDescription</key><string>Adamanta Took, née Chubb was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Adamanta_(Chubb)_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAdamantaTook</string></dict>
        <key>Amaranth Brandybuck</key><dict><key>nameID</key><string>02.02.1.3.03</string><key>nameDescription</key><string>Amaranth Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amaranth_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAmaranthBrandybuck</string></dict>
        <key>Amelia Sackville-Baggins</key><dict><key>nameID</key><string>02.02.1.4.03</string><key>nameDescription</key><string>Amelia Daisy April Bracegirdle was the fifth child of Horace and Daisy Bracegirdle. Posh and well versed she married Phillip Sackville-Baggins. Living at No. 9 Bagshot Row. In TA 3001 she attended Bilbo's 111th birthday party. She died in TA 3015.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amelia_Sackville-Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAmeliaSackvilleBaggins</string></dict>
        <key>Angelica Baggins</key><dict><key>nameID</key><string>02.02.1.5.03</string><key>nameDescription</key><string>Angelica Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Angelica_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAngelicaBaggins</string></dict>
        <key>Asphodel Burrows</key><dict><key>nameID</key><string>02.02.1.6.03</string><key>nameDescription</key><string>Asphodel Burrows was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Asphodel_(Brandybuck)_Burrows</string><key>nameImageName</key><string>FictionTolkienHobbitsFemAsphodelBurrows</string></dict>
        <key>Belba Bolger</key><dict><key>nameID</key><string>02.02.1.7.03</string><key>nameDescription</key><string>Belba (Baggins) Bolger: (TA 2856–2956) (1256-1356 Shire Reckoning) The wife of Rudigar Bolger and second child of Mungo Baggins and Laura Grubb, she was Bilbo's aunt.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Belba_(Baggins)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBelbaBolger</string></dict>
        <key>Bell Gamgee</key><dict><key>nameID</key><string>02.02.1.8.03</string><key>nameDescription</key><string>Bell Gamgee, born Bell Goodchild was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Bell_(Goodchild)_Gamgee</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBellGamgee</string></dict>
        <key>Belladonna Baggins</key><dict><key>nameID</key><string>02.02.1.9.03</string><key>nameDescription</key><string>Belladonna (Took) Baggins was the mother of Bilbo Baggins and was from a very large and wealthy family, having many siblings.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Belladonna_(Took)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBelladonnaBaggins</string></dict>
        <key>Berylla Baggins</key><dict><key>nameID</key><string>02.02.1.10.03</string><key>nameDescription</key><string>Berylla (Boffin) Baggins was a Hobbit of the Shire and the wife of Balbo Baggins, the first recorded member of the Baggins family.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Berylla_(Boffin)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemBeryllaBaggins</string></dict>
        <key>Celandine Brandybuck</key><dict><key>nameID</key><string>02.02.1.11.03</string><key>nameDescription</key><string>Celandine Brandybuck was a Hobbit of the Shire, a second cousin of Meriadoc Brandybuck.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celandine_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemCelandineBrandybuck</string></dict>
        <key>Cora Goodbody</key><dict><key>nameID</key><string>02.02.1.12.03</string><key>nameDescription</key><string>Cora Goodbody was a Hobbit of the Shire and the wife to Rudolph Bolger.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Cora_Goodbody</string><key>nameImageName</key><string>FictionTolkienHobbitsFemCoraGoodbody</string></dict>
        <key>Daisy Boffin</key><dict><key>nameID</key><string>02.02.1.13.03</string><key>nameDescription</key><string>Daisy (Baggins) Boffin was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Daisy_(Baggins)_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyBoffin</string></dict>
        <key>Daisy Gamgee</key><dict><key>nameID</key><string>02.02.1.14.03</string><key>nameDescription</key><string>Daisy Gamgee, born in SR 1473, was the eighth child and fourth daughter of Samwise Gamgee and his wife Rosie (née Cotton) Gamgee.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Daisy_Gamgee</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyGamgee</string></dict>
        <key>Daisy Gamgee I</key><dict><key>nameID</key><string>02.02.1.15.03</string><key>nameDescription</key><string>Daisy had two older brothers: Hamson and Halfred. She also had three younger siblings: May, Samwise, and Marigold. Samwise would later on become one of the greatest Hobbits in the history of Middle-earth. [1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Daisy_Gamgee_I</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDaisyGamgeeI</string></dict>
        <key>Diamond Took</key><dict><key>nameID</key><string>02.02.1.16.03</string><key>nameDescription</key><string>Diamond 'of Long Cleeve' Took was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Diamond_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDiamondTook</string></dict>
        <key>Donnamira Boffin</key><dict><key>nameID</key><string>02.02.1.17.03</string><key>nameDescription</key><string>Donnamira (Took) Boffin was a Hobbit of The shire and an aunt of Bilbo Baggins.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Donnamira_(Took)_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDonnamiraBoffin</string></dict>
        <key>Druda Burrows Boffin</key><dict><key>nameID</key><string>02.02.1.18.03</string><key>nameDescription</key><string>Druda Burrows Boffin, formerly Druda Boffin was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Druda_Burrows_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDrudaBurrowsBoffin</string></dict>
        <key>Eglantine Took</key><dict><key>nameID</key><string>02.02.1.19.03</string><key>nameDescription</key><string>Eglantine Took, née Banks was a Hobbit of the Shire. She was a member of the Banks family and was the mother of Peregrin Took.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Eglantine_(Banks)_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemEglantineTook</string></dict>
        <key>Esmeralda Brandybuck</key><dict><key>nameID</key><string>02.02.1.20.03</string><key>nameDescription</key><string>Esmeralda Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Esmeralda_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemEsmeraldaBrandybuck</string></dict>
        <key>Estella Brandybuck</key><dict><key>nameID</key><string>02.02.1.21.03</string><key>nameDescription</key><string>Estella (Bolger) Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Estella_(Bolger)_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemEstellaBrandybuck</string></dict>
        <key>Fíriel Fairbairn</key><dict><key>nameID</key><string>02.02.1.22.03</string><key>nameDescription</key><string>Fíriel Fairbairn (b. Early FO ?) was the daughter of Elanor Gardner and Fastred of Greenholm. She was one of the Fairbairns of Undertowers, the Warden of Westmarch.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/F%C3%ADriel_Fairbairn</string><key>nameImageName</key><string>FictionTolkienHobbitsFemFirielFairbairn</string></dict>
        <key>Gilly Brownlock</key><dict><key>nameID</key><string>02.02.1.23.03</string><key>nameDescription</key><string>Gilly Brownlock was a Hobbit of the Shire. She married Posco Baggins and became Gilly Baggins. They had 3 children: Ponto, Porto, and Peony. In year 3001 of the Third Age, Gilly attended Bilbo Baggins's Farewell Party.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gilly_Brownlock</string><key>nameImageName</key><string>FictionTolkienHobbitsFemGillyBrownlock</string></dict>
        <key>Goldilocks Took</key><dict><key>nameID</key><string>02.02.1.24.03</string><key>nameDescription</key><string>Goldilocks (Gardner) Took: (FO 11-?) (SR 1431–?) was the 3rd daughter of Master Samwise Gamgee and his wife Rosie Cotton. She was one of the children Frodo predicted for Sam before leaving Middle-earth. In SR 1463, she married Faramir Took I, son of Peregrin Took, Thain of the Shire. Faramir became Thain in SR 1484, when his father left for Gondor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Goldilocks_(Gardner)_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemGoldilocksTook</string></dict>
        <key>Hanna Brandybuck</key><dict><key>nameID</key><string>02.02.1.25.03</string><key>nameDescription</key><string>Hanna Brandybuck, née Goldworthy was a Hobbit of the Shire and Buckland.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hanna_(Goldworthy)_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemHannaBrandybuck</string></dict>
        <key>Hilda Brandybuck</key><dict><key>nameID</key><string>02.02.1.26.03</string><key>nameDescription</key><string>Hilda Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hilda_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemHildaBrandybuck</string></dict>
        <key>Ivy Boffin</key><dict><key>nameID</key><string>02.02.1.27.03</string><key>nameDescription</key><string>Ivy Goodenough was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ivy_(Goodenough)_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemIvyBoffin</string></dict>
        <key>Jessamine Bolger</key><dict><key>nameID</key><string>02.02.1.28.03</string><key>nameDescription</key><string>Jessamine Boffin was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Jessamine_(Boffin)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemJessamineBolger</string></dict>
        <key>Lalia Took</key><dict><key>nameID</key><string>02.02.1.29.03</string><key>nameDescription</key><string>Lalia (Clayhanger) Took was a Hobbit of the Shire and the wife of the Thain Fortinbras Took II.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lalia_(Clayhanger)_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLaliaTook</string></dict>
        <key>Laura Baggins</key><dict><key>nameID</key><string>02.02.1.30.03</string><key>nameDescription</key><string>Laura Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Laura_(Grubb)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLauraBaggins</string></dict>
        <key>Lily Goodbody</key><dict><key>nameID</key><string>02.02.1.31.03</string><key>nameDescription</key><string>Lily (Baggins) Goodbody was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lily_(Baggins)_Goodbody</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLilyGoodbody</string></dict>
        <key>Lily Cotton</key><dict><key>nameID</key><string>02.02.1.32.03</string><key>nameDescription</key><string>Lily Cotton was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lily_Cotton</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLilyCotton</string></dict>
        <key>Linda Proudfoot</key><dict><key>nameID</key><string>02.02.1.33.03</string><key>nameDescription</key><string>Linda (Baggins) Proudfoot (TA 2862 (SR 1261) - TA 2963 (SR 1361)) was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Linda_(Baggins)_Proudfoot</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLindaProudfoot</string></dict>
        <key>Lobelia Sackville-Baggins</key><dict><key>nameID</key><string>02.02.1.34.03</string><key>nameDescription</key><string>Lobelia Sackville-Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lobelia_Sackville-Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLobeliaSackvilleBaggins</string></dict>
        <key>Malva Brandybuck</key><dict><key>nameID</key><string>02.02.1.35.03</string><key>nameDescription</key><string>Malva 'Headstrong' Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Malva_%22Headstrong%22_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMalvaBrandybuck</string></dict>
        <key>Marigold (Gamgee) Cotton</key><dict><key>nameID</key><string>02.02.1.36.03</string><key>nameDescription</key><string>Marigold (Gamgee) Cotton was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Marigold_(Gamgee)_Cotton</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMarigold(Gamgee)Cotton</string></dict>
        <key>May Gamgee</key><dict><key>nameID</key><string>02.02.1.37.03</string><key>nameDescription</key><string>Apparently, she was named after May an aunt of hers.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/May_Gamgee</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMayGamgee</string></dict>
        <key>Melilot Brandybuck</key><dict><key>nameID</key><string>02.02.1.38.03</string><key>nameDescription</key><string>Melilot Brandybuck was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Melilot_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMelilotBrandybuck</string></dict>
        <key>Mentha Brandybuck</key><dict><key>nameID</key><string>02.02.1.39.03</string><key>nameDescription</key><string>Mentha Brandybuck was a young and beautiful Hobbit who lived in the country of Buckland, which bordered east from the Shire during the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mentha_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMenthaBrandybuck</string></dict>
        <key>Mirabella Brandybuck</key><dict><key>nameID</key><string>02.02.1.40.03</string><key>nameDescription</key><string>Mirabella Took was the eleventh child and youngest daughter of Gerontius 'The Old' Took and his wife Adamanta Chubb. Mirabella had ten older siblings: Isengrim III, Hildigard, Isumbras IV, Hildigrim, Isembold, Hildifons, Isembard, Hildibrand, Belladonna, and Donnamira, and one younger sibling: Isengar.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mirabella_(Took)_Brandybuck</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMirabellaBrandybuck</string></dict>
        <key>Mrs. Proudfoot</key><dict><key>nameID</key><string>02.02.1.41.03</string><key>nameDescription</key><string>Mrs. Proudfoot was a Hobbit of the Shire in Peter Jackson's film The Fellowship of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mrs._Proudfoot</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMrs.Proudfoot</string></dict>
        <key>Nina Lightfoot</key><dict><key>nameID</key><string>02.02.1.42.03</string><key>nameDescription</key><string>Nina Lightfoot is a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nina_Lightfoot</string><key>nameImageName</key><string>FictionTolkienHobbitsFemNinaLightfoot</string></dict>
        <key>Pansy Baggins</key><dict><key>nameID</key><string>02.02.1.43.03</string><key>nameDescription</key><string>Pansy Baggins (b. TA 2812 (SR 1212) - ?) was the daughter of Balbo Baggins and Berylla Boffin, and the great-aunt of Bilbo Baggins.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pansy_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPansyBaggins</string></dict>
        <key>Pearl Took</key><dict><key>nameID</key><string>02.02.1.44.03</string><key>nameDescription</key><string>Pearl Took was a Hobbit of the Shire, and a sister of Pippin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pearl_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPearlTook</string></dict>
        <key>Peony Burrows</key><dict><key>nameID</key><string>02.02.1.45.03</string><key>nameDescription</key><string>Peony Burrows was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Peony_(Baggins)_Burrows</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPeonyBurrows</string></dict>
        <key>Pervinca Took</key><dict><key>nameID</key><string>02.02.1.46.03</string><key>nameDescription</key><string>Pervinca Took was a sister of Pippin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pervinca_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPervincaTook</string></dict>
        <key>Pimpernel Took</key><dict><key>nameID</key><string>02.02.1.47.03</string><key>nameDescription</key><string>Pimpernel Took was the second daughter of Paladin Took and sister to Pippin Took. She was a guest at Bilbo's farewell party.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pimpernel_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPimpernelTook</string></dict>
        <key>Primrose Bracegirdle</key><dict><key>nameID</key><string>02.02.1.48.03</string><key>nameDescription</key><string>Primrose Bracegirdle was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Primrose_Bracegirdle</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimroseBracegirdle</string></dict>
        <key>Primula Baggins</key><dict><key>nameID</key><string>02.02.1.49.03</string><key>nameDescription</key><string>Primula Baggins was a Hobbit of the Shire, the mother of Frodo Baggins, who was one of the many bearers of the Ring, and the cousin of Bilbo Baggins.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Primula_(Brandybuck)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimulaBaggins</string></dict>
        <key>Rosa Took</key><dict><key>nameID</key><string>02.02.1.50.03</string><key>nameDescription</key><string>Rosa Took, née Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Rosa_(Baggins)_Took</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosaTook</string></dict>
        <key>Rosamunda Bolger</key><dict><key>nameID</key><string>02.02.1.51.03</string><key>nameDescription</key><string>Rosamunda (Took) Bolger was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Rosamunda_(Took)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosamundaBolger</string></dict>
        <key>Rose Gamgee</key><dict><key>nameID</key><string>02.02.1.52.03</string><key>nameDescription</key><string>Rose Gamgee also known as Rosie-lass was born in SR 1425, was the third child and second daughter of Samwise Gamgee and his wife Rosie (née Cotton) Gamgee.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Rose_Gamgee</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRoseGamgee</string></dict>
        <key>Rose Greenhand</key><dict><key>nameID</key><string>02.02.1.53.03</string><key>nameDescription</key><string>Rose Greenhand was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Rose_Greenhand</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRoseGreenhand</string></dict>
        <key>Rosie Cotton</key><dict><key>nameID</key><string>02.02.1.54.03</string><key>nameDescription</key><string>Rosie Cotton, nicknamed Rose, was a Hobbit of the Shire. She was the wife of Samwise Gamgee, the renowned companion of Frodo Baggins during his quest to destroy the One Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Rosie_Cotton</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRosieCotton</string></dict>
        <key>Ruby Gamgee</key><dict><key>nameID</key><string>02.02.1.55.03</string><key>nameDescription</key><string>Ruby Gamgee, born in SR 1438, was the eleventh child and sixth and last daughter of Samwise Gamgee and his wife, Rosie (née Cotton) Gamgee. She had two younger brothers: Robin and Tolman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ruby_Gamgee</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRubyGamgee</string></dict>
        <key>Sapphira Boffin</key><dict><key>nameID</key><string>02.02.1.56.03</string><key>nameDescription</key><string>Sapphira Boffin, formerly Sapphira Brockhouse was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Sapphira_(Brockhouse)_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemSapphiraBoffin</string></dict>
        <key>Widow Rumble</key><dict><key>nameID</key><string>02.02.1.57.03</string><key>nameDescription</key><string>Widow Rumble was a servant, or nurse, to Hamfast Gamgee as he became of age after the War of the Ring in number three Bagshot Row.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Widow_Rumble</string><key>nameImageName</key><string>FictionTolkienHobbitsFemWidowRumble</string></dict>
        <key>Camellia Baggins</key><dict><key>nameID</key><string>02.02.1.58.03</string><key>nameDescription</key><string>Camellia (Sackville) Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Camellia_(Sackville)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemCamelliaBaggins</string></dict>
        <key>Chica Baggins</key><dict><key>nameID</key><string>02.02.1.59.03</string><key>nameDescription</key><string>Chica (Chubb) Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Chica_(Chubb)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemChicaBaggins</string></dict>
        <key>Dina Diggle</key><dict><key>nameID</key><string>02.02.1.60.03</string><key>nameDescription</key><string>Dina Diggle was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Dina_Diggle</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDinaDiggle</string></dict>
        <key>Dora Baggins</key><dict><key>nameID</key><string>02.02.1.61.03</string><key>nameDescription</key><string>Dora Baggins (TA 2902 (SR 1302) - TA 3006 (SR 1406))[1] was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Dora_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemDoraBaggins</string></dict>
        <key>Lavender Boffin</key><dict><key>nameID</key><string>02.02.1.62.03</string><key>nameDescription</key><string>Lavender (Grubb) Boffin was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lavender_(Grubb)_Boffin</string><key>nameImageName</key><string>FictionTolkienHobbitsFemLavenderBoffin</string></dict>
        <key>Mimosa Baggins</key><dict><key>nameID</key><string>02.02.1.63.03</string><key>nameDescription</key><string>Mimosa (Bunce) Baggins was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mimosa_(Bunce)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMimosaBaggins</string></dict>
        <key>Myrtle Burrows</key><dict><key>nameID</key><string>02.02.1.64.03</string><key>nameDescription</key><string>Myrtle Burrows was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Myrtle_Burrows</string><key>nameImageName</key><string>FictionTolkienHobbitsFemMyrtleBurrows</string></dict>
        <key>Pansy Bolger</key><dict><key>nameID</key><string>02.02.1.65.03</string><key>nameDescription</key><string>Pansy Bolger, née Baggins, was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pansy_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPansyBolger</string></dict>
        <key>Poppy Bolger</key><dict><key>nameID</key><string>02.02.1.66.03</string><key>nameDescription</key><string>Poppy (née Chubb-Baggins) Bolger was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Poppy_(Chubb-Baggins)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPoppyBolger</string></dict>
        <key>Primrose Gardner</key><dict><key>nameID</key><string>02.02.1.67.03</string><key>nameDescription</key><string>Primrose Gardner was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Primrose_Gardner</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPrimroseGardner</string></dict>
        <key>Prisca Bolger</key><dict><key>nameID</key><string>02.02.1.68.03</string><key>nameDescription</key><string>Prisca (Baggins) Bolger was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Prisca_(Baggins)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemPriscaBolger</string></dict>
        <key>Ruby Baggins</key><dict><key>nameID</key><string>02.02.1.69.03</string><key>nameDescription</key><string>Ruby Bolger (b. TA 2864 (SR 1264) - ?) was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ruby_(Bolger)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemRubyBaggins</string></dict>
        <key>Salvia Bolger</key><dict><key>nameID</key><string>02.02.1.70.03</string><key>nameDescription</key><string>Salvia (Brandybuck) Bolger was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Salvia_(Brandybuck)_Bolger</string><key>nameImageName</key><string>FictionTolkienHobbitsFemSalviaBolger</string></dict>
        <key>Tanta Baggins</key><dict><key>nameID</key><string>02.02.1.71.03</string><key>nameDescription</key><string>Tanta Hornblower was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tanta_(Hornblower)_Baggins</string><key>nameImageName</key><string>FictionTolkienHobbitsFemTantaBaggins</string></dict>
        <key>Tanta Hornblower</key><dict><key>nameID</key><string>02.02.1.72.03</string><key>nameDescription</key><string>Tanta Hornblower was a Hobbit of the Shire.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tanta_Hornblower</string><key>nameImageName</key><string>FictionTolkienHobbitsFemTantaHornblower</string></dict>

        
    
    </dict>
</plist>
