<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FictionTolkienMascElves.plist
   Nickname generator

   Created by Anton Novoselov on 06/04/2017.
   Copyright (c) 2017 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>Aegnor</key><dict><key>nameID</key><string>02.02.0.1.01</string><key>nameDescription</key><string>Aegnor was a Ñoldorin Elf, the third son of Finarfin, elder brother of Galadriel, younger brother of Finrod Felagund and Angrod and lord of the Ñoldor of Dorthonion in the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aegnor</string><key>nameImageName</key><string>FictionTolkienElvesMascAegnor</string></dict>
        <key>Aerandir</key><dict><key>nameID</key><string>02.02.0.2.01</string><key>nameDescription</key><string>It is not known of what kindred Aerandir was or when he was born, bu tit is assumed that his abode was in Arvernien, in the Havens of Sirion.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aerandir</string><key>nameImageName</key><string>FictionTolkienElvesMascAerandir</string></dict>
        <key>Amdír</key><dict><key>nameID</key><string>02.02.0.3.01</string><key>nameDescription</key><string>Amdír, also known as Malgalad[1], was an Elf of Lothlórien, the father of Amroth and King of Lórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amd%C3%ADr</string><key>nameImageName</key><string>FictionTolkienElvesMascAmdir</string></dict>
        <key>Amras</key><dict><key>nameID</key><string>02.02.0.4.01</string><key>nameDescription</key><string>The main part of this article relates to the last versions of Middle-earth's history, and as such may controvert parts of The Silmarillion. See Middle-earth canon for a discussion. This subject's portrayal in earlier or alternative versions is discussed in the other versions of the legendarium section.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amras</string><key>nameImageName</key><string>FictionTolkienElvesMascAmras</string></dict>
        <key>Amrod</key><dict><key>nameID</key><string>02.02.0.5.01</string><key>nameDescription</key><string>The main part of this article relates to the last versions of Middle-earth's history, and as such may controvert parts of The Silmarillion. See Middle-earth canon for a discussion. This subject's portrayal in earlier or alternative versions is discussed in the other versions of the legendarium section.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amrod</string><key>nameImageName</key><string>FictionTolkienElvesMascAmrod</string></dict>
        <key>Amroth</key><dict><key>nameID</key><string>02.02.0.6.01</string><key>nameDescription</key><string>Amroth was a handsome Elf king of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amroth</string><key>nameImageName</key><string>FictionTolkienElvesMascAmroth</string></dict>
        <key>Angrod</key><dict><key>nameID</key><string>02.02.0.7.01</string><key>nameDescription</key><string>Angrod was a Ñoldorin Elf, the second son of Finarfin and lord of the Ñoldor of Dorthonion.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Angrod</string><key>nameImageName</key><string>FictionTolkienElvesMascAngrod</string></dict>
        <key>Aranel</key><dict><key>nameID</key><string>02.02.0.8.01</string><key>nameDescription</key><string>Aranel was the Captain of the Lothlorien Rangers and brother of Idrial. When his sister arrived in Eastemnet with Berethor, Elegost and Hadhod, Aranel protected them from Uruks and enlisted their aid in finding his scouts which had disappeared.[citation needed]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aranel</string><key>nameImageName</key><string>FictionTolkienElvesMascAranel</string></dict>
        <key>Aranwë</key><dict><key>nameID</key><string>02.02.0.9.01</string><key>nameDescription</key><string>Aranwë was an Elf of Gondolin and the father of Voronwë.[1] His son stated that he was from the House of Fingolfin, suggesting that Aranwë might have been a noble elf in Gondolin.[2]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Aranw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascAranwe</string></dict>
        <key>Argon</key><dict><key>nameID</key><string>02.02.0.10.01</string><key>nameDescription</key><string>The main part of this article relates to the last versions of Middle-earth's history, and as such may controvert parts of The Silmarillion. See Middle-earth canon for a discussion. This subject's portrayal in earlier or alternative versions is discussed in the other versions of the legendarium section.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Argon</string><key>nameImageName</key><string>FictionTolkienElvesMascArgon</string></dict>
        <key>Arminas</key><dict><key>nameID</key><string>02.02.0.11.01</string><key>nameDescription</key><string>Arminas was a Ñoldor Elf of the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Arminas</string><key>nameImageName</key><string>FictionTolkienElvesMascArminas</string></dict>
        <key>Belenthrod</key><dict><key>nameID</key><string>02.02.0.12.01</string><key>nameDescription</key><string>Belenthrod is an Elf featured in War of the Ring, he is one of the instructors sent by Gandalf in the free peoples tutorial (The other being the Dwarf Varin). He believed that he was sent to explain the more complex matters, while the Dwarf explained the simpler tasks, he thought of Varin as a loud obnoxious Dwarf and the two often bickered.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Belenthrod</string><key>nameImageName</key><string>FictionTolkienElvesMascBelenthrod</string></dict>
        <key>Berembor</key><dict><key>nameID</key><string>02.02.0.13.01</string><key>nameDescription</key><string>Berembor was a Silvan elf and a Galadhrim warrior from the realm of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Berembor</string><key>nameImageName</key><string>FictionTolkienElvesMascBerembor</string></dict>
        <key>Blodrin</key><dict><key>nameID</key><string>02.02.0.14.01</string><key>nameDescription</key><string>Blodrin was a treacherous Elf whose story was told in the The Lays of Beleriand and in The Shaping of Middle-earth. He grew up among the wicked dwarves in Nogrod and developed their personality and greed.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Blodrin</string><key>nameImageName</key><string>FictionTolkienElvesMascBlodrin</string></dict>
        <key>Caladhir</key><dict><key>nameID</key><string>02.02.0.15.01</string><key>nameDescription</key><string>Caladhir was a Silvan elf from Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Caladhir</string><key>nameImageName</key><string>FictionTolkienElvesMascCaladhir</string></dict>
        <key>Caranthir</key><dict><key>nameID</key><string>02.02.0.16.01</string><key>nameDescription</key><string>Caranthir, also known as Caranthir the Dark,[3] was the fourth son of Fëanor and the harshest and the quickest to anger of his seven brothers.[4]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Caranthir</string><key>nameImageName</key><string>FictionTolkienElvesMascCaranthir</string></dict>
        <key>Celebrílad</key><dict><key>nameID</key><string>02.02.0.17.01</string><key>nameDescription</key><string>Celebrílad was a Silvan Elf from Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celebr%C3%ADlad</string><key>nameImageName</key><string>FictionTolkienElvesMascCelebrilad</string></dict>
        <key>Celebrim</key><dict><key>nameID</key><string>02.02.0.18.01</string><key>nameDescription</key><string>Celebrim was an Elf who participated in the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celebrim</string><key>nameImageName</key><string>FictionTolkienElvesMascCelebrim</string></dict>
        <key>Celebrimbor</key><dict><key>nameID</key><string>02.02.0.19.01</string><key>nameDescription</key><string>Celebrimbor was a Ñoldorin prince, and the last in the line of the House of Fëanor, who lived in Middle-earth. He was a ruler of Eregion in the Second Age, and a master smith. He is remembered primarily for his creation of the three greatest Elven Rings of Power: Vilya, Narya, and Nenya.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celebrimbor</string><key>nameImageName</key><string>FictionTolkienElvesMascCelebrimbor</string></dict>
        <key>Celegorm</key><dict><key>nameID</key><string>02.02.0.20.01</string><key>nameDescription</key><string>Celegorm, called Celegorm the Fair,[3] was the third son of Fëanor and Nerdanel, most closely associated with another brother, Curufin. He is somewhat anomalously described as having fair hair, rather than the black or red hair of his parents and his six siblings.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celegorm</string><key>nameImageName</key><string>FictionTolkienElvesMascCelegorm</string></dict>
        <key>Curufin</key><dict><key>nameID</key><string>02.02.0.21.01</string><key>nameDescription</key><string>Curufin, also called Curufin the Crafty,[3] was a Ñoldorin prince and the fifth of the seven Sons of Fëanor and Nerdanel. Curufin is the father of Celebrimbor, master Jewel-smith of Eregion who would later forge the three Elvish Rings of Power.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Curufin</string><key>nameImageName</key><string>FictionTolkienElvesMascCurufin</string></dict>
        <key>Dimtilion</key><dict><key>nameID</key><string>02.02.0.22.01</string><key>nameDescription</key><string>Dimtilion was a Silvan Elf who served the Galadhrim Warriors that defended Lothlórien's borders.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Dimtilion</string><key>nameImageName</key><string>FictionTolkienElvesMascDimtilion</string></dict>
        <key>Dínendal</key><dict><key>nameID</key><string>02.02.0.23.01</string><key>nameDescription</key><string>Dínendal is an elven archer from Lothlórien. He also had a role in the hunt for Gollum.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/D%C3%ADnendal</string><key>nameImageName</key><string>FictionTolkienElvesMascDinendal</string></dict>
        <key>Dorongúr</key><dict><key>nameID</key><string>02.02.0.24.01</string><key>nameDescription</key><string>Dorongúr Whitethorn was an Elf and one of the original inhabitants of Edhelion. Dorongúr led Elrond and the player to the place where they saw that Skorgrím Dourhand and two Dourhands had surrounded Talagan Silvertongue, the lord of Edhelion. Talagan Silvertongue, in attempt to protect Edhelion's relics, destroys the entrance of the palace in which not only the Dourhands die, but Talagan himself too.[1] Dorongúr and the survivors of Edhelion leave the city, on Elrond's counsel. Unlike many of the other survivors Dorongúr does not sail to Valinor but remains in Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Dorong%C3%BAr_Whitethorn</string><key>nameImageName</key><string>FictionTolkienElvesMascDorongur</string></dict>
        <key>Ecthelion</key><dict><key>nameID</key><string>02.02.0.25.01</string><key>nameDescription</key><string>Ecthelion, or Ecthelion of the Fountain, was a mighty lord of Gondolin during the First Age of Middle-earth, and one of its greatest heroes.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ecthelion_of_the_Fountain</string><key>nameImageName</key><string>FictionTolkienElvesMascEcthelion</string></dict>
        <key>Edrahil</key><dict><key>nameID</key><string>02.02.0.26.01</string><key>nameDescription</key><string>Edrahil was an Elf of Nargothrond.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Edrahil</string><key>nameImageName</key><string>FictionTolkienElvesMascEdrahil</string></dict>
        <key>Egalmoth</key><dict><key>nameID</key><string>02.02.0.27.01</string><key>nameDescription</key><string>Egalmoth was an Ñoldorin Elf-lord of Gondolin during the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Egalmoth_(elf)</string><key>nameImageName</key><string>FictionTolkienElvesMascEgalmoth</string></dict>
        <key>Elemmakil</key><dict><key>nameID</key><string>02.02.0.28.01</string><key>nameDescription</key><string>Elemmakil was an Elf of Gondolin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Elemmakil</string><key>nameImageName</key><string>FictionTolkienElvesMascElemmakil</string></dict>
        <key>Elros</key><dict><key>nameID</key><string>02.02.0.29.01</string><key>nameDescription</key><string>Elros the Guard is an Elf of Mirkwood who appears in The Hobbit: The Desolation of Smaug.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Elros_the_Guard</string><key>nameImageName</key><string>FictionTolkienElvesMascElros</string></dict>
        <key>Enerdhil</key><dict><key>nameID</key><string>02.02.0.30.01</string><key>nameDescription</key><string>Enerdhil was a possibly mythical jewel-smith of Gondolin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Enerdhil</string><key>nameImageName</key><string>FictionTolkienElvesMascEnerdhil</string></dict>
        <key>Erellont</key><dict><key>nameID</key><string>02.02.0.31.01</string><key>nameDescription</key><string>Erellont was a faithful friend of Eärendil and one of the three mariners that accompanied him on his voyages on the high seas west of Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Erellont</string><key>nameImageName</key><string>FictionTolkienElvesMascErellont</string></dict>
        <key>Erethón</key><dict><key>nameID</key><string>02.02.0.32.01</string><key>nameDescription</key><string>Erethón was a Silvan Elf who served as a Naith of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ereth%C3%B3n</string><key>nameImageName</key><string>FictionTolkienElvesMascErethon</string></dict>
        <key>Falathar</key><dict><key>nameID</key><string>02.02.0.33.01</string><key>nameDescription</key><string>Falathar was a faithful friend of Eärendil, and one of the three mariners who accompanied him on his voyages on the high seas west of Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Falathar</string><key>nameImageName</key><string>FictionTolkienElvesMascFalathar</string></dict>
        <key>Farambar</key><dict><key>nameID</key><string>02.02.0.34.01</string><key>nameDescription</key><string>Farambar was an Elf who lived in the realm of Lothlórien during the time of the Third Age of Middle-earth.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Farambar</string><key>nameImageName</key><string>FictionTolkienElvesMascFarambar</string></dict>
        <key>Fëanor</key><dict><key>nameID</key><string>02.02.0.35.01</string><key>nameDescription</key><string>Fëanor was a Ñoldorin elf and one of the Elven kindred that departed from Valinor in the land of Aman, where they had lived with the Valar.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/F%C3%ABanor</string><key>nameImageName</key><string>FictionTolkienElvesMascFeanor</string></dict>
        <key>Finarfin</key><dict><key>nameID</key><string>02.02.0.36.01</string><key>nameDescription</key><string>Finarfin was a Ñoldorin Elf of Valinor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Finarfin</string><key>nameImageName</key><string>FictionTolkienElvesMascFinarfin</string></dict>
        <key>Fingolfin</key><dict><key>nameID</key><string>02.02.0.37.01</string><key>nameDescription</key><string>Fingolfin was the second High King of the Ñoldor in Beleriand, the Ñoldor being one of the three branches of Elves. He was the eldest son of Finwë and Indis, younger brother of Findis, older brother of Irimë and Finarfin, and the younger half-brother of Fëanor. He founded the House of Fingolfin, which ruled the Ñoldor in Middle-earth. His wife was Anairë and his children were Fingon, Turgon, Aredhel, and Argon. Fingolfin was said to be the strongest, most steadfast, and most valiant of Finwë's sons.[3]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Fingolfin</string><key>nameImageName</key><string>FictionTolkienElvesMascFingolfin</string></dict>
        <key>Fingon</key><dict><key>nameID</key><string>02.02.0.38.01</string><key>nameDescription</key><string>Fingon, the Valiant was an Ñoldorin elf, the eldest son of Fingolfin, and older brother of Turgon, Aredhel, and Argon.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Fingon</string><key>nameImageName</key><string>FictionTolkienElvesMascFingon</string></dict>
        <key>Finrod</key><dict><key>nameID</key><string>02.02.0.39.01</string><key>nameDescription</key><string>The main part of this article relates to the last versions of Middle-earth's history, and as such may controvert parts of The Silmarillion. See Middle-earth canon for a discussion. This subject's portrayal in earlier or alternative versions is discussed in the other versions of the legendarium section.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Finrod</string><key>nameImageName</key><string>FictionTolkienElvesMascFinrod</string></dict>
        <key>Finwë</key><dict><key>nameID</key><string>02.02.0.40.01</string><key>nameDescription</key><string>Finwë was the first High King of the Ñoldor who led his people on the journey from Middle-earth to Valinor in the blessed realm of Aman. He was a great friend of Elu Thingol, the King of Doriath. He was the father of Fëanor, Fingolfin, and Finarfin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Finw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascFinwe</string></dict>
        <key>Galdor</key><dict><key>nameID</key><string>02.02.0.41.01</string><key>nameDescription</key><string>Galdor was an Elven warrior who guarded Lothlórien's borders during the Third Age in Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Galdor_(L%C3%B3rien)</string><key>nameImageName</key><string>FictionTolkienElvesMascGaldor</string></dict>
        <key>Gelmir</key><dict><key>nameID</key><string>02.02.0.42.01</string><key>nameDescription</key><string>Gelmir was a Ñoldorin Elf of Nargothrond, son of Guilin and brother of Gwindor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gelmir</string><key>nameImageName</key><string>FictionTolkienElvesMascGelmir</string></dict>
        <key>Gildor</key><dict><key>nameID</key><string>02.02.0.43.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gildor_Inglorion</string><key>nameImageName</key><string>FictionTolkienElvesMascGildor</string></dict>
        <key>Gilfanon</key><dict><key>nameID</key><string>02.02.0.44.01</string><key>nameDescription</key><string>Gilfanon was a Ñoldor Elf of Tol Eressëa.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gilfanon</string><key>nameImageName</key><string>FictionTolkienElvesMascGilfanon</string></dict>
        <key>Gil-galad</key><dict><key>nameID</key><string>02.02.0.45.01</string><key>nameDescription</key><string>Gil-galad, originally named Ereinion, was a Ñoldorin Elf, son of Fingon [note 2]. He was the last High King of the Ñoldor in Middle-earth, and bore many titles, including High King of the Elves of the West, King of the Eldar, King of Lindon, Lord of the High Elves, and the Lord of Eriador.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gil-galad</string><key>nameImageName</key><string>FictionTolkienElvesMascGilgalad</string></dict>
        <key>Glorfindel</key><dict><key>nameID</key><string>02.02.0.46.01</string><key>nameDescription</key><string>Glorfindel was one of the mighty of the Firstborn (the Elves), and was once the Lord of the House of the Golden Flower in Gondolin. After his death, he was re-embodied by the Valar to act as an emissary.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Glorfindel</string><key>nameImageName</key><string>FictionTolkienElvesMascGlorfindel</string></dict>
        <key>Guilin</key><dict><key>nameID</key><string>02.02.0.47.01</string><key>nameDescription</key><string>Guilin was a noble Elf of Nargothrond and the father of Gelmir and Gwindor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Guilin</string><key>nameImageName</key><string>FictionTolkienElvesMascGuilin</string></dict>
        <key>Gwindor</key><dict><key>nameID</key><string>02.02.0.48.01</string><key>nameDescription</key><string>Gwindor was an Elf of Nargothrond during the First Age. He was the son of Guilin and a Prince of Nargothrond.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Gwindor</string><key>nameImageName</key><string>FictionTolkienElvesMascGwindor</string></dict>
        <key>Haldir</key><dict><key>nameID</key><string>02.02.0.49.01</string><key>nameDescription</key><string>Haldir was an Elf of Lothlórien, probably a Silvan Elf, and a marchwarden who guarded the forest's northern borders. When the Fellowship of the Ring arrived in Lórien, he became their guide to Caras Galadhon. He and his companions are described as wearing grey hooded cloaks and residing on platforms or flets.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Haldir_(Lorien)</string><key>nameImageName</key><string>FictionTolkienElvesMascHaldir</string></dict>
        <key>Hengest</key><dict><key>nameID</key><string>02.02.0.50.01</string><key>nameDescription</key><string>Hengest was a son of Eriol (Ælfwine), and, by way of mythology external to J.R.R. Tolkien's legendarium, is a character affiliated with the story of Finn and Hengest.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hengest</string><key>nameImageName</key><string>FictionTolkienElvesMascHengest</string></dict>
        <key>Ingwë</key><dict><key>nameID</key><string>02.02.0.51.01</string><key>nameDescription</key><string>Ingwë was a Vanyar Elf, the King of the Vanyar and the High King of the Elves.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ingw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascIngwe</string></dict>
        <key>Ingwion</key><dict><key>nameID</key><string>02.02.0.52.01</string><key>nameDescription</key><string>Ingwion was the son of Ingwë, the High King of the Elves.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ingwion</string><key>nameImageName</key><string>FictionTolkienElvesMascIngwion</string></dict>
        <key>Legolas</key><dict><key>nameID</key><string>02.02.0.53.01</string><key>nameDescription</key><string>Legolas was a Sindarin elf who was part of the Fellowship of the Ring in the Third Age. As he was the son of the Elvenking Thranduil of Mirkwood, Legolas was a Prince of the Woodland Realm (Mirkwood), a messenger, and a master bowman. With his keen eyesight, sensitive hearing, and excellent bowmanship, Legolas was a valuable resource to the other eight members of the Fellowship. His age was never stated by Tolkien. Legolas was well-known for becoming friends with the dwarf Gimli, despite their long held differences.
            It is not known whether Legolas was Thranduil's only son, or whether he was heir to his father's crown.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Legolas</string><key>nameImageName</key><string>FictionTolkienElvesMascLegolas</string></dict>
        <key>Lindo</key><dict><key>nameID</key><string>02.02.0.54.01</string><key>nameDescription</key><string>Lindo was a Ñoldor Elf of Tol Eressëa and the owner and/or keeper of the Cottage of Lost Play.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lindo</string><key>nameImageName</key><string>FictionTolkienElvesMascLindo</string></dict>
        <key>Maedhros</key><dict><key>nameID</key><string>02.02.0.55.01</string><key>nameDescription</key><string>Maedhros, also called Maedhros the Tall,[4] was one of the princes of the Ñoldor, the eldest of the seven Sons of Fëanor and head of the House of Fëanor following the death of his father in Middle-earth. For hundreds of years, he led his House against the forces of Morgoth but the Oath he and his six brothers swore to recover the Silmarils constrained him and ultimately led to his death.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Maedhros</string><key>nameImageName</key><string>FictionTolkienElvesMascMaedhros</string></dict>
        <key>Maeglin</key><dict><key>nameID</key><string>02.02.0.56.01</string><key>nameDescription</key><string>Maeglin was an Elf, the son of Eöl the 'Dark Elf' and Aredhel daughter of Fingolfin. He lived during the First Age of the Sun in Middle-earth, and was a lord of the Hidden Elven Kingdom of Gondolin. He became infamous for being the one who betrayed the location of Gondolin to the Dark Lord Morgoth who later destroyed the city and sacked its army.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Maeglin</string><key>nameImageName</key><string>FictionTolkienElvesMascMaeglin</string></dict>
        <key>Maglor</key><dict><key>nameID</key><string>02.02.0.57.01</string><key>nameDescription</key><string>Maglor was the second son of Fëanor and Nerdanel. He was the greatest poet and minstrel of the Ñoldor and was said to have inherited more of his mother's gentler temperament.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Maglor</string><key>nameImageName</key><string>FictionTolkienElvesMascMaglor</string></dict>
        <key>Mahtan</key><dict><key>nameID</key><string>02.02.0.58.01</string><key>nameDescription</key><string>Mahtan was a renowned Ñoldorin metallurgist of Aman and the father of Nerdanel, the wife of Fëanor.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Mahtan</string><key>nameImageName</key><string>FictionTolkienElvesMascMahtan</string></dict>
        <key>Nestadion</key><dict><key>nameID</key><string>02.02.0.59.01</string><key>nameDescription</key><string>Nestadion was a little-known Elf of Rivendell who attended the Council of Elrond. He probably helped Elrond decide that the Ring of Power must be destroyed in the fires of Mount Doom. When Aragorn saw elves at the Return of the King, Nestadion was the first elf seen. He smiled at Aragorn, and stepped aside, so Aragorn could marry Arwen. Nestadion cheered, for he was happy for them, and proud of Aragorn. He later went to the Undying Lands in the West with his people. This was sometime in the Fourth Age of Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nestadion</string><key>nameImageName</key><string>FictionTolkienElvesMascNestadion</string></dict>
        <key>Olwë</key><dict><key>nameID</key><string>02.02.0.60.01</string><key>nameDescription</key><string>Olwë was an Elf of the Teleri of Aman. When he and his kin reached Aman, they chose to remain there in both Tol Eressëa and Alqualondë apart from the rest of the Elves of Aman. He became both Lord of Alqualondë and King of the Teleri.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Olw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascOlwe</string></dict>
        <key>Orodreth</key><dict><key>nameID</key><string>02.02.0.61.01</string><key>nameDescription</key><string>Orodreth was a Ñoldorin Elf of the First Age who was the second ruler of the underground city of Nargothrond in western Beleriand. He was born to a Noldorin father, Finarfin, and a Telerin mother, Eärwen, in the city of Tirion during the Years of the Trees and was the brother of Finrod Felagund, Angrod, Aegnor and Galadriel. Orodreth had an only child and daughter Finduilas with an unnamed wife. He was later killed in the Battle of Tumhalad.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orodreth</string><key>nameImageName</key><string>FictionTolkienElvesMascOrodreth</string></dict>
        <key>Orolonn</key><dict><key>nameID</key><string>02.02.0.62.01</string><key>nameDescription</key><string>Orolonn was a Galadhrim Elven warrior from Lothlórien. He accompanied Haldir of Lorien to Helm's Deep with many Galadhrim Warriors to support King Theoden and the Rohirrim in defending the fortress from Saruman's army. That night, he was seen on top of the Deeping Wall where he stood behind Legolas, Gimli, and Fereveldir. He was among the combatants that were killed during the Battle of Helm's Deep.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orolonn</string><key>nameImageName</key><string>FictionTolkienElvesMascOrolonn</string></dict>
        <key>Orophin</key><dict><key>nameID</key><string>02.02.0.63.01</string><key>nameDescription</key><string>Orophin was a Silvan Marchwarden from Lothlórien, and the brother of Haldir and Rúmil.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orophin</string><key>nameImageName</key><string>FictionTolkienElvesMascOrophin</string></dict>
        <key>Pengolodh</key><dict><key>nameID</key><string>02.02.0.64.01</string><key>nameDescription</key><string>Pengolodh (or Pengoloð) was a Loremaster of the Ñoldor who dwelt in Gondolin.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pengolodh</string><key>nameImageName</key><string>FictionTolkienElvesMascPengolodh</string></dict>
        <key>Penlod</key><dict><key>nameID</key><string>02.02.0.65.01</string><key>nameDescription</key><string>Penlod was an Elf of Gondolin during the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Penlod</string><key>nameImageName</key><string>FictionTolkienElvesMascPenlod</string></dict>
        <key>Rúmil</key><dict><key>nameID</key><string>02.02.0.66.01</string><key>nameDescription</key><string>Rúmil was an Elf of Lórien and brother of Orophin and Haldir, the leading marchwarden of Lórien, during the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/R%C3%BAmil</string><key>nameImageName</key><string>FictionTolkienElvesMascRumil</string></dict>
        <key>Salgant</key><dict><key>nameID</key><string>02.02.0.67.01</string><key>nameDescription</key><string>Salgant was an Elf of Gondolin during the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Salgant</string><key>nameImageName</key><string>FictionTolkienElvesMascSalgant</string></dict>
        <key>Talagan Silvertongue</key><dict><key>nameID</key><string>02.02.0.68.01</string><key>nameDescription</key><string>Talagan Silvertongue (c. death TA 2500[1] was the Lord of Edhelion, he died when the Dourhands surrounded him and the halls crushed on him.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Talagan_Silvertongue</string><key>nameImageName</key><string>FictionTolkienElvesMascTalaganSilvertongue</string></dict>
        <key>Tellon</key><dict><key>nameID</key><string>02.02.0.69.01</string><key>nameDescription</key><string>Tellon was a Galadhrim Elven warrior from Lothlórien. He accompanied Haldir of Lorien to Helm's Deep with many Galadhrim Warriors to support King Theoden and the Rohirrim in defending the fortress from Saruman's army. That night, he was seen on top of the Deeping Wall where he stood behind Legolas, Gimli, and Fereveldir. He was among the combatants that were killed during the Battle of Helm's Deep.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tellon</string><key>nameImageName</key><string>FictionTolkienElvesMascTellon</string></dict>
        <key>Thandronen</key><dict><key>nameID</key><string>02.02.0.70.01</string><key>nameDescription</key><string>Thandronen[1] was a non-canonical Elven warrior of Lothlórien, and the father of Fereveldir and Ferevellon.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thandronen</string><key>nameImageName</key><string>FictionTolkienElvesMascThandronen</string></dict>
        <key>Thingol</key><dict><key>nameID</key><string>02.02.0.71.01</string><key>nameDescription</key><string>Elu Thingol was an Elf of the Teleri during the First Age. His brother was Olwë, who became the Lord of Alqualonde, Lord of Tol Eressëa, and High King of the Teleri of Aman, both of whom may have had a second brother called Elmo. He was a good friend of Finwë, the first High King of the Ñoldor during the times before the elves reached Aman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thingol</string><key>nameImageName</key><string>FictionTolkienElvesMascThingol</string></dict>
        <key>Tulkastor</key><dict><key>nameID</key><string>02.02.0.72.01</string><key>nameDescription</key><string>Tulkastor was a Elf of Tol Eressëa.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Tulkastor</string><key>nameImageName</key><string>FictionTolkienElvesMascTulkastor</string></dict>
        <key>Turgon</key><dict><key>nameID</key><string>02.02.0.73.01</string><key>nameDescription</key><string>Turgon was a Ñoldorin Elf of Gondolin, second son of Fingolfin, brother of Fingon, Aredhel, Argon, and father of Idril. In Middle-earth, Turgon was the King of Gondolin and the High King of the Ñoldor. For hundreds of years of the First Age, Turgon remained hidden from the eyes and ears of the great enemy until a betrayal from within caused his downfall.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Turgon</string><key>nameImageName</key><string>FictionTolkienElvesMascTurgon</string></dict>
        <key>Voronwë</key><dict><key>nameID</key><string>02.02.0.74.01</string><key>nameDescription</key><string>Voronwë, also called Aranwion, was a Ñoldorin Elf mariner from Gondolin who was one of a crew of several ships sent by Turgon to solicit aid from the Valar. The Doom of Mandos, however, made any such attempt futile, and Voronwë was the only one to survive.[2]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Voronw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascVoronwe</string></dict>
        <key>Amanyar</key><dict><key>nameID</key><string>02.02.0.75.01</string><key>nameDescription</key><string>Amanyar (Quenyan for 'Those of Aman') for is another name for the Calaquendi ('Elves of Light') (with the exception of Thingol, who was not of the Amanyar) as opposed to the Úmanyar 'Not of Aman'. Those kindreds who settled in Aman or descended from them were also referred to as High Elves, or 'Tareldar'.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Amanyar</string><key>nameImageName</key><string>FictionTolkienElvesMascAmanyar</string></dict>
        <key>Anendel</key><dict><key>nameID</key><string>02.02.0.76.01</string><key>nameDescription</key><string>Anendel was a Silvan Elf who served as a guardian of Lothlórien during the Third Age of Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Anendel</string><key>nameImageName</key><string>FictionTolkienElvesMascAnendel</string></dict>
        <key>Anglor</key><dict><key>nameID</key><string>02.02.0.77.01</string><key>nameDescription</key><string>Anglor was a Silvan Elf who lived in the realm of Lothlórien, ruled by Galadriel and Celeborn.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Anglor</string><key>nameImageName</key><string>FictionTolkienElvesMascAnglor</string></dict>
        <key>Ausir</key><dict><key>nameID</key><string>02.02.0.78.01</string><key>nameDescription</key><string>Ausir is one of the children in the Cottage of Lost Play when Ælfwine visited there in J. R. R. Tolkien's The Book of Lost Tales.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ausir_(child)</string><key>nameImageName</key><string>FictionTolkienElvesMascAusir</string></dict>
        <key>Balglin</key><dict><key>nameID</key><string>02.02.0.79.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Balglin</string><key>nameImageName</key><string>FictionTolkienElvesMascBalglin</string></dict>
        <key>Belurion</key><dict><key>nameID</key><string>02.02.0.80.01</string><key>nameDescription</key><string>Belurion is a Silvan Elf and a Galadhrim Warrior from the realm of Lothlórien during the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Belurion</string><key>nameImageName</key><string>FictionTolkienElvesMascBelurion</string></dict>
        <key>Calaglin</key><dict><key>nameID</key><string>02.02.0.81.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Calaglin</string><key>nameImageName</key><string>FictionTolkienElvesMascCalaglin</string></dict>
        <key>Calaquendi</key><dict><key>nameID</key><string>02.02.0.82.01</string><key>nameDescription</key><string>The Calaquendi (singular Calaquendë) are the Elves of the Light, that reached Valinor and dwelt there ever after or for some time. They include the Vanyar, Ñoldor, and those Teleri who passed over Belegaer, as well as the Sindarin King Thingol alone of all his people. Another name for them is Amanyar (with the exception of Thingol, who was not of the Amanyar), 'Those of Aman'. Those kindreds who settled in Aman or descended from them were also referred to as High Elves, or 'Tareldar'.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Calaquendi</string><key>nameImageName</key><string>FictionTolkienElvesMascCalaquendi</string></dict>
        <key>Celebring</key><dict><key>nameID</key><string>02.02.0.83.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Celebring</string><key>nameImageName</key><string>FictionTolkienElvesMascCelebring</string></dict>
        <key>Feren</key><dict><key>nameID</key><string>02.02.0.84.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Feren</string><key>nameImageName</key><string>FictionTolkienElvesMascFeren</string></dict>
        <key>Figwit</key><dict><key>nameID</key><string>02.02.0.85.01</string><key>nameDescription</key><string>Figwit is the fan-derived name for an unnamed Elf extra in The Lord of the Rings movies.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Figwit</string><key>nameImageName</key><string>FictionTolkienElvesMascFigwit</string></dict>
        <key>Firnmereth</key><dict><key>nameID</key><string>02.02.0.86.01</string><key>nameDescription</key><string>Firnmereth was a Silvan Elf who lived in the realm of Lothlórien, ruled by Lady Galadriel and Lord Celeborn during the time of the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Firnmereth</string><key>nameImageName</key><string>FictionTolkienElvesMascFirnmereth</string></dict>
        <key>Githramir</key><dict><key>nameID</key><string>02.02.0.87.01</string><key>nameDescription</key><string>Githramir was a Silvan Elf who lived in the realm of Lothlórien, ruled by Lady Galadriel and Lord Celeborn during the time of the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Githramir</string><key>nameImageName</key><string>FictionTolkienElvesMascGithramir</string></dict>
        <key>Golradir</key><dict><key>nameID</key><string>02.02.0.88.01</string><key>nameDescription</key><string>Golradir was an Elf who attended the Council of Elrond during the War of the Ring.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Golradir</string><key>nameImageName</key><string>FictionTolkienElvesMascGolradir</string></dict>
        <key>Halladol</key><dict><key>nameID</key><string>02.02.0.89.01</string><key>nameDescription</key><string>Halladol was a Silvan Elf from Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Halladol</string><key>nameImageName</key><string>FictionTolkienElvesMascHalladol</string></dict>
        <key>Hendor</key><dict><key>nameID</key><string>02.02.0.90.01</string><key>nameDescription</key><string>Hendor was a house-carle and servant of Idril Celebrindal who in The Book of Lost Tales, part 2 carries Eärendil, as a child, from ruined Gondolin when they, Tuor, and others are attacked by wolf-riders.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Hendor</string><key>nameImageName</key><string>FictionTolkienElvesMascHendor</string></dict>
        <key>Lambengolmor</key><dict><key>nameID</key><string>02.02.0.91.01</string><key>nameDescription</key><string>The Lambengolmor were the Loremasters of the Elves in the First Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lambengolmor</string><key>nameImageName</key><string>FictionTolkienElvesMascLambengolmor</string></dict>
        <key>Lethuin</key><dict><key>nameID</key><string>02.02.0.92.01</string><key>nameDescription</key><string>Lethuin was a Silvan Elf character who only appears in the The Hobbit film trilogy.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lethuin</string><key>nameImageName</key><string>FictionTolkienElvesMascLethuin</string></dict>
        <key>Lhunurion</key><dict><key>nameID</key><string>02.02.0.93.01</string><key>nameDescription</key><string>Lhunurion was a Silvan Elf who lived in the realm of Lothlórien, ruled by Galadriel and Celeborn.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Lhunurion</string><key>nameImageName</key><string>FictionTolkienElvesMascLhunurion</string></dict>
        <key>Littleheart</key><dict><key>nameID</key><string>02.02.0.94.01</string><key>nameDescription</key><string>Littleheart, whose birthname was Ilfrin, was an Elf of Tol Eressëa who is mentioned only in earlier versions of the Middle-earth legendarium.[1]</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Littleheart</string><key>nameImageName</key><string>FictionTolkienElvesMascLittleheart</string></dict>
        <key>Melisilion</key><dict><key>nameID</key><string>02.02.0.95.01</string><key>nameDescription</key><string>Melisilion was an Elven warrior who guarded Lothlórien's borders during the Third Age in Middle-earth.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Melisilion</string><key>nameImageName</key><string>FictionTolkienElvesMascMelisilion</string></dict>
        <key>Morwë</key><dict><key>nameID</key><string>02.02.0.96.01</string><key>nameDescription</key><string>Morwë, along with Nurwë, refused the summons of the Valar to Aman.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Morw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascMorwe</string></dict>
        <key>Nilfaleth</key><dict><key>nameID</key><string>02.02.0.97.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nilfaleth</string><key>nameImageName</key><string>FictionTolkienElvesMascNilfaleth</string></dict>
        <key>Nurwë</key><dict><key>nameID</key><string>02.02.0.98.01</string><key>nameDescription</key><string>Nurwë was an elf from Cuiviénen who refused the summons of the Valar.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Nurw%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascNurwe</string></dict>
        <key>Ordulus</key><dict><key>nameID</key><string>02.02.0.99.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Ordulus</string><key>nameImageName</key><string>FictionTolkienElvesMascOrdulus</string></dict>
        <key>Orollon</key><dict><key>nameID</key><string>02.02.0.100.01</string><key>nameDescription</key><string>Orollon was a Silvan elf and a Galadhrim warrior from the realm of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Orollon</string><key>nameImageName</key><string>FictionTolkienElvesMascOrollon</string></dict>
        <key>Pengedhel</key><dict><key>nameID</key><string>02.02.0.101.01</string><key>nameDescription</key><string>Pengedhel was an elven Naith warrior of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Pengedhel</string><key>nameImageName</key><string>FictionTolkienElvesMascPengedhel</string></dict>
        <key>Quendi</key><dict><key>nameID</key><string>02.02.0.102.01</string><key>nameDescription</key><string>The Elves named themselves Quendi (Quenya, IPA: [ˈkʷendi], 'the Speakers', singular Quendë, [ˈkʷende]), in honour of the fact that, when they were created, they were the only living things they knew of who were able to speak. (This name is no accident — Tolkien was a philologist.)</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Quendi</string><key>nameImageName</key><string>FictionTolkienElvesMascQuendi</string></dict>
        <key>Riodur</key><dict><key>nameID</key><string>02.02.0.103.01</string><key>nameDescription</key><string>Riodur[citation needed] was a Silvan elf and a skilled Galadhrim warrior from the realm of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Riodur</string><key>nameImageName</key><string>FictionTolkienElvesMascRiodur</string></dict>
        <key>Saelbeth</key><dict><key>nameID</key><string>02.02.0.104.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Saelbeth</string><key>nameImageName</key><string>FictionTolkienElvesMascSaelbeth</string></dict>
        <key>Silindë</key><dict><key>nameID</key><string>02.02.0.105.01</string><key>nameDescription</key><string>Silindë was an Elf of Rivendell, serving as an assistant to Lord Elrond.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Silind%C3%AB</string><key>nameImageName</key><string>FictionTolkienElvesMascSilinde</string></dict>
        <key>Taramel</key><dict><key>nameID</key><string>02.02.0.106.01</string><key>nameDescription</key><string>Taramel was a Silvan elf and a Galadhrim warrior from the realm of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Taramel</string><key>nameImageName</key><string>FictionTolkienElvesMascTaramel</string></dict>
        <key>Taurnil</key><dict><key>nameID</key><string>02.02.0.107.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Taurnil</string><key>nameImageName</key><string>FictionTolkienElvesMascTaurnil</string></dict>
        <key>Thalisule</key><dict><key>nameID</key><string>02.02.0.108.01</string><key>nameDescription</key><string>Thalisule was a Silvan Elf who lived in the realm of Lothlórien, ruled by Galadriel and Celeborn.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thalisule</string><key>nameImageName</key><string>FictionTolkienElvesMascThalisule</string></dict>
        <key>Thingalad</key><dict><key>nameID</key><string>02.02.0.109.01</string><key>nameDescription</key><string>Thingalad was a Silvan Elf who lived in the realm of Lothlórien, ruled by Lady Galadriel and Lord Celeborn during the time of the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thingalad</string><key>nameImageName</key><string>FictionTolkienElvesMascThingalad</string></dict>
        <key>Thónnas</key><dict><key>nameID</key><string>02.02.0.110.01</string><key>nameDescription</key><string></string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Th%C3%B3nnas</string><key>nameImageName</key><string>FictionTolkienElvesMascThonnas</string></dict>
        <key>Thrandel</key><dict><key>nameID</key><string>02.02.0.111.01</string><key>nameDescription</key><string>Thrandel was a Silvan Elf who served the Galadhrim Warriors that defended Lothlórien's borders.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Thrandel</string><key>nameImageName</key><string>FictionTolkienElvesMascThrandel</string></dict>
        <key>Unaldor</key><dict><key>nameID</key><string>02.02.0.112.01</string><key>nameDescription</key><string>Unaldor was a Silvan Elf who lived in the realm of Lothlórien, ruled by Galadriel and Celeborn.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Unaldor</string><key>nameImageName</key><string>FictionTolkienElvesMascUnaldor</string></dict>
        <key>Uremir</key><dict><key>nameID</key><string>02.02.0.113.01</string><key>nameDescription</key><string>Uremir was a Silvan Elf who lived in the realm of Lothlórien, ruled by Lady Galadriel and Lord Celeborn during the time of the Third Age.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Uremir</string><key>nameImageName</key><string>FictionTolkienElvesMascUremir</string></dict>
        <key>Vadrieldur</key><dict><key>nameID</key><string>02.02.0.114.01</string><key>nameDescription</key><string>Vadrieldur was a Silvan Elf who served the Galadhrim Warriors that defended Lothlórien's borders.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Vadrieldur</string><key>nameImageName</key><string>FictionTolkienElvesMascVadrieldur</string></dict>
        <key>Vinyasir</key><dict><key>nameID</key><string>02.02.0.115.01</string><key>nameDescription</key><string>Vinyasir was a Silvan elf and a Galadhrim warrior from the realm of Lothlórien.</string><key>nameURL</key><string>http://lotr.wikia.com/wiki/Vinyasir</string><key>nameImageName</key><string>FictionTolkienElvesMascVinyasir</string></dict>

    
    </dict>
</plist>
