<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythNorseMasc.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>ALF</key><dict><key>nameID</key><string>01.04.0.1</string><key>nameDescription</key><string>The male name Alf or Alv is derived from álf, the Old Norse for "elf". It is also the shortened form of various Germanic names with álf as their first part, notably Alfred, Alfonso, or more directly from Ataulf (English: Adolph).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Alf_(name)</string><key>nameImageName</key><string>MythNorseMascALF</string></dict>
    <key>ALFR</key><dict><key>nameID</key><string>01.04.0.2</string><key>nameDescription</key><string>The male name Alf or Alv is derived from álf, the Old Norse for "elf". It is also the shortened form of various Germanic names with álf as their first part, notably Alfred, Alfonso, or more directly from Ataulf (English: Adolph).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Alf_(name)</string><key>nameImageName</key><string>MythNorseMascALF</string></dict>
    <key>ALVIS</key><dict><key>nameID</key><string>01.04.0.3</string><key>nameDescription</key><string>Alvíss ("All-Wise") was a dwarf in Norse mythology.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Alv%C3%ADss</string><key>nameImageName</key><string>MythNorseMascALVIS</string></dict>
    <key>ASK</key><dict><key>nameID</key><string>01.04.0.4</string><key>nameDescription</key><string>In Norse mythology, Ask and Embla (from Old Norse Askr ok Embla)—male and female respectively—were the first two humans, created by the Gods. The pair are attested in both the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In both sources, three gods, one of whom is Odin, find Ask and Embla and bestow upon them various corporeal and spiritual gifts. A number of theories have been proposed to explain the two figures, and there are occasional references to them in popular culture.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ask_and_Embla</string><key>nameImageName</key><string>MythNorseMascASK</string></dict>
    <key>ASKR</key><dict><key>nameID</key><string>01.04.0.5</string><key>nameDescription</key><string>In Norse mythology, Ask and Embla (from Old Norse Askr ok Embla)—male and female respectively—were the first two humans, created by the Gods. The pair are attested in both the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In both sources, three gods, one of whom is Odin, find Ask and Embla and bestow upon them various corporeal and spiritual gifts. A number of theories have been proposed to explain the two figures, and there are occasional references to them in popular culture.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ask_and_Embla</string><key>nameImageName</key><string>MythNorseMascASK</string></dict>
    <key>BALDER</key><dict><key>nameID</key><string>01.04.0.6</string><key>nameDescription</key><string>Baldr (also Balder, Baldur) is a god in Norse mythology, who is given a central role in the mythology. Despite this his precise function is rather disputed. He is often interpreted as the god of love, peace, forgiveness, justice, light or purity, but was not directly attested as a god of such.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Baldr</string><key>nameImageName</key><string>MythNorseMascBALDER</string></dict>
    <key>BALDR</key><dict><key>nameID</key><string>01.04.0.7</string><key>nameDescription</key><string>Baldr (also Balder, Baldur) is a god in Norse mythology, who is given a central role in the mythology. Despite this his precise function is rather disputed. He is often interpreted as the god of love, peace, forgiveness, justice, light or purity, but was not directly attested as a god of such.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Baldr</string><key>nameImageName</key><string>MythNorseMascBALDER</string></dict>
    <key>FREY</key><dict><key>nameID</key><string>01.04.0.8</string><key>nameDescription</key><string>Freyr or Frey[1] is one of the most important gods of Norse religion. The name is conjectured to derive from the Proto-Norse *frawjaz, "lord."[2] Freyr was associated with sacral kingship, virility and prosperity, with sunshine and fair weather, and was pictured as a phallic fertility god; Freyr is said to "bestow peace and pleasure on mortals." Freyr, sometimes referred to as Yngvi-Freyr, was especially associated with Sweden and seen as an ancestor of the Swedish royal house.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyr</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>
    <key>FREYR</key><dict><key>nameID</key><string>01.04.0.9</string><key>nameDescription</key><string>Freyr or Frey[1] is one of the most important gods of Norse religion. The name is conjectured to derive from the Proto-Norse *frawjaz, "lord."[2] Freyr was associated with sacral kingship, virility and prosperity, with sunshine and fair weather, and was pictured as a phallic fertility god; Freyr is said to "bestow peace and pleasure on mortals." Freyr, sometimes referred to as Yngvi-Freyr, was especially associated with Sweden and seen as an ancestor of the Swedish royal house.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyr</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>
    <key>GANDALF</key><dict><key>nameID</key><string>01.04.0.10</string><key>nameDescription</key><string>Gandalf is a Dvergr (Norse dwarf) in Norse mythology, appearing in the so-called 'Tally of the Dwarves' within the poem Völuspá from the Poetic Edda,[1] as well as in the Prose Edda. The name derives from the Old Norse words gandr (magic staff) and álfr (elf), thus a protective spirit who wields a magical wand.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gandalf_(mythology)</string><key>nameImageName</key><string>MythNorseMascGANDALF</string></dict>
    <key>GUNNAR</key><dict><key>nameID</key><string>01.04.0.11</string><key>nameDescription</key><string>Gunther (Gundahar, Gundahari, Latin Gundaharius, Gundicharius, or Guntharius, Old English Gūðhere, Old Norse Gunnarr, anglicised as Gunnar) was a semi-legendary King of Burgundy in the early 5th century. Legendary tales about him appear in Latin, medieval Middle High German, Old Norse, and Old English texts, especially concerning his relations with Siegfried (Sigurd in Old Norse) and his death by treachery in the hall of Attila the Hun.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gunther</string><key>nameImageName</key><string>MythNorseMascGUNNAR</string></dict>
    <key>GUNNARR</key><dict><key>nameID</key><string>01.04.0.12</string><key>nameDescription</key><string>Gunther (Gundahar, Gundahari, Latin Gundaharius, Gundicharius, or Guntharius, Old English Gūðhere, Old Norse Gunnarr, anglicised as Gunnar) was a semi-legendary King of Burgundy in the early 5th century. Legendary tales about him appear in Latin, medieval Middle High German, Old Norse, and Old English texts, especially concerning his relations with Siegfried (Sigurd in Old Norse) and his death by treachery in the hall of Attila the Hun.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gunther</string><key>nameImageName</key><string>MythNorseMascGUNNAR</string></dict>
    <key>JARL</key><dict><key>nameID</key><string>01.04.0.13</string><key>nameDescription</key><string>In Norse mythology, Ríg-Jarl or Jarl was a son of the god Ríg. His wife Erna bore him eleven sons, the ancestors of the race of warriors in Norse society.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/R%C3%ADg-Jarl</string><key>nameImageName</key><string>MythNorseMascJARL</string></dict>
    <key>LOKE</key><dict><key>nameID</key><string>01.04.0.14</string><key>nameDescription</key><string>In Norse mythology, Loki (/ˈlɒkɪ/) Anglicized (/ˈloʊki/), Loptr, or Hveðrungr is a god or jötunn (or both). Loki is the son of Fárbauti and Laufey, and the brother of Helblindi and Býleistr. By the jötunn Angrboða, Loki is the father of Hel, the wolf Fenrir, and the world serpent Jörmungandr. By his wife Sigyn, Loki is the father of Narfi and/or Nari. By the stallion Svaðilfari, Loki is the mother—giving birth in the form of a mare—to the eight-legged horse Sleipnir. In addition, Loki is referred to as the father of Váli in the Prose Edda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Loki</string><key>nameImageName</key><string>MythNorseMascLOKI</string></dict>
    <key>LOKI</key><dict><key>nameID</key><string>01.04.0.15</string><key>nameDescription</key><string>In Norse mythology, Loki (/ˈlɒkɪ/) Anglicized (/ˈloʊki/), Loptr, or Hveðrungr is a god or jötunn (or both). Loki is the son of Fárbauti and Laufey, and the brother of Helblindi and Býleistr. By the jötunn Angrboða, Loki is the father of Hel, the wolf Fenrir, and the world serpent Jörmungandr. By his wife Sigyn, Loki is the father of Narfi and/or Nari. By the stallion Svaðilfari, Loki is the mother—giving birth in the form of a mare—to the eight-legged horse Sleipnir. In addition, Loki is referred to as the father of Váli in the Prose Edda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Loki</string><key>nameImageName</key><string>MythNorseMascLOKI</string></dict>
    <key>NJÁLL</key><dict><key>nameID</key><string>01.04.0.16</string><key>nameDescription</key><string>Njáls saga is a 13th century Icelandic saga that describes events between 960 and 1020. The principal characters are the friends Njáll Þorgeirsson,[1] a lawyer and a sage, and Gunnar Hámundarson, a formidable warrior.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Nj%C3%A1ls_saga</string><key>nameImageName</key><string>MythNorseMascNJÁLL</string></dict>
    <key>NJORD</key><dict><key>nameID</key><string>01.04.0.17</string><key>nameDescription</key><string>In Norse mythology, Njörðr is a god among the Vanir. Njörðr, father of the deities Freyr and Freyja by his unnamed Vanir sister, was in an ill-fated marriage with the goddess Skaði, lives in Nóatún and is associated with sea, seafaring, wind, fishing, wealth, and crop fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Nj%C3%B6r%C3%B0r</string><key>nameImageName</key><string>MythNorseMascNJORD</string></dict>
    <key>NJÖRÐR</key><dict><key>nameID</key><string>01.04.0.18</string><key>nameDescription</key><string>In Norse mythology, Njörðr is a god among the Vanir. Njörðr, father of the deities Freyr and Freyja by his unnamed Vanir sister, was in an ill-fated marriage with the goddess Skaði, lives in Nóatún and is associated with sea, seafaring, wind, fishing, wealth, and crop fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Nj%C3%B6r%C3%B0r</string><key>nameImageName</key><string>MythNorseMascNJORD</string></dict>
    <key>ODEN</key><dict><key>nameID</key><string>01.04.0.19</string><key>nameDescription</key><string>In Germanic mythology, Odin (from Old Norse Óðinn) is a widely revered god. In Norse mythology, from which stems most of our information about the god, Odin is associated with healing, death, royalty, the gallows, knowledge, battle, sorcery, poetry, frenzy, and the runic alphabet, and is the husband of the goddess Frigg.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Odin</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ODIN</key><dict><key>nameID</key><string>01.04.0.20</string><key>nameDescription</key><string>In Germanic mythology, Odin (from Old Norse Óðinn) is a widely revered god. In Norse mythology, from which stems most of our information about the god, Odin is associated with healing, death, royalty, the gallows, knowledge, battle, sorcery, poetry, frenzy, and the runic alphabet, and is the husband of the goddess Frigg.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Odin</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ÓÐINN</key><dict><key>nameID</key><string>01.04.0.21</string><key>nameDescription</key><string>In Germanic mythology, Odin (from Old Norse Óðinn) is a widely revered god. In Norse mythology, from which stems most of our information about the god, Odin is associated with healing, death, royalty, the gallows, knowledge, battle, sorcery, poetry, frenzy, and the runic alphabet, and is the husband of the goddess Frigg.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Odin</string><key>nameImageName</key><string>MythNorseMascODIN</string></dict>
    <key>ORVAR</key><dict><key>nameID</key><string>01.04.0.22</string><key>nameDescription</key><string>Örvar-Oddr (Old Norse Ǫrvar-Oddr, "Arrow-Odd" or "Arrow's Point") is a legendary hero about whom an anonymous Icelander wrote a fornaldarsaga in the latter part of the 13th century. Örvar-Odds saga, the Saga of Örvar-Odd, became very popular and contains old legends and songs. He also appears in Hervarar saga and, concerning the battle on Samsø, in Gesta Danorum.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/%C3%96rvar-Oddr</string><key>nameImageName</key><string>MythNorseMascORVAR</string></dict>
    <key>ǪRVAR</key><dict><key>nameID</key><string>01.04.0.23</string><key>nameDescription</key><string>Örvar-Oddr (Old Norse Ǫrvar-Oddr, "Arrow-Odd" or "Arrow's Point") is a legendary hero about whom an anonymous Icelander wrote a fornaldarsaga in the latter part of the 13th century. Örvar-Odds saga, the Saga of Örvar-Odd, became very popular and contains old legends and songs. He also appears in Hervarar saga and, concerning the battle on Samsø, in Gesta Danorum.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/%C3%96rvar-Oddr</string><key>nameImageName</key><string>MythNorseMascORVAR</string></dict>
    <key>SIGURD</key><dict><key>nameID</key><string>01.04.0.24</string><key>nameDescription</key><string>Sigurd (Old Norse: Sigurðr) is a legendary hero of Norse mythology, as well as the central character in the Völsunga saga. The earliest extant representations for his legend come in pictorial form from seven runestones in Sweden[1] and most notably the Ramsund carving (c. 1000) and the Gök Runestone (11th century).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sigurd</string><key>nameImageName</key><string>MythNorseMascSIGURD</string></dict>
    <key>SIGURÐR</key><dict><key>nameID</key><string>01.04.0.25</string><key>nameDescription</key><string>Sigurd (Old Norse: Sigurðr) is a legendary hero of Norse mythology, as well as the central character in the Völsunga saga. The earliest extant representations for his legend come in pictorial form from seven runestones in Sweden[1] and most notably the Ramsund carving (c. 1000) and the Gök Runestone (11th century).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sigurd</string><key>nameImageName</key><string>MythNorseMascSIGURD</string></dict>
    <key>SINDRI</key><dict><key>nameID</key><string>01.04.0.26</string><key>nameDescription</key><string>In Norse mythology, Sindri (from the Old Norse sindr: "spark") is the name of both a character (probably a dwarf) and a hall that will serve as a dwelling place for the souls of the virtuous after Ragnarök.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sindri_(mythology)</string><key>nameImageName</key><string>MythNorseMascSINDRI</string></dict>
    <key>THOR</key><dict><key>nameID</key><string>01.04.0.27</string><key>nameDescription</key><string>In Norse mythology, Thor (/θɔːr/; from Old Norse Þórr) is a hammer-wielding god associated with thunder, lightning, storms, oak trees, strength, the protection of mankind, and also hallowing, healing and fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Thor</string><key>nameImageName</key><string>MythNorseMascTHOR</string></dict>
    <key>ÞÓRR</key><dict><key>nameID</key><string>01.04.0.28</string><key>nameDescription</key><string>In Norse mythology, Thor (/θɔːr/; from Old Norse Þórr) is a hammer-wielding god associated with thunder, lightning, storms, oak trees, strength, the protection of mankind, and also hallowing, healing and fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Thor</string><key>nameImageName</key><string>MythNorseMascTHOR</string></dict>
    <key>TYR</key><dict><key>nameID</key><string>01.04.0.29</string><key>nameDescription</key><string>Týr (/ˈtɪr/;[1] Old Norse: Týr [tyːr]) is a Germanic god associated with law and heroic glory in Norse mythology, portrayed as one-handed. Corresponding names in other Germanic languages are Gothic Teiws, Old English Tīw and Old High German Ziu and Cyo, all from Proto-Germanic *Tīwaz. The Latinised name is Tius or Tio.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/T%C3%BDr</string><key>nameImageName</key><string>MythNorseMascTYR</string></dict>
    <key>TÝR</key><dict><key>nameID</key><string>01.04.0.30</string><key>nameDescription</key><string>Týr (/ˈtɪr/;[1] Old Norse: Týr [tyːr]) is a Germanic god associated with law and heroic glory in Norse mythology, portrayed as one-handed. Corresponding names in other Germanic languages are Gothic Teiws, Old English Tīw and Old High German Ziu and Cyo, all from Proto-Germanic *Tīwaz. The Latinised name is Tius or Tio.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/T%C3%BDr</string><key>nameImageName</key><string>MythNorseMascTYR</string></dict>
    <key>VIDAR</key><dict><key>nameID</key><string>01.04.0.31</string><key>nameDescription</key><string>In Norse mythology, Víðarr (Old Norse, possibly "wide ruler",[1] sometimes anglicized as Vidar, Vithar, Vidarr, and Vitharr) is a god among the Æsir associated with vengeance.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/V%C3%AD%C3%B0arr</string><key>nameImageName</key><string>MythNorseMascVIDAR</string></dict>
    <key>VÍÐARR</key><dict><key>nameID</key><string>01.04.0.32</string><key>nameDescription</key><string>In Norse mythology, Víðarr (Old Norse, possibly "wide ruler",[1] sometimes anglicized as Vidar, Vithar, Vidarr, and Vitharr) is a god among the Æsir associated with vengeance.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/V%C3%AD%C3%B0arr</string><key>nameImageName</key><string>MythNorseMascVIDAR</string></dict>
    <key>VÖLUND</key><dict><key>nameID</key><string>01.04.0.33</string><key>nameDescription</key><string>In Norse mythology, Wayland the Smith (Old English: Wēland; Old Norse: Völundr, Velentr; Old High German: Wiolant; Proto-Germanic: *Wēlandaz, from *Wēla-nandaz, lit. "battle-brave"[1]) is a legendary master blacksmith. In Old Norse sources, Völundr appears in Völundarkviða, a poem in the Poetic Edda, and in Þiðrekssaga, and his legend is also depicted on the Ardre image stone VIII. In Old English sources, he appears in Deor, Waldere and in Beowulf and the legend is depicted on the Franks Casket. He is mentioned in the German poems about Dietrich von Bern as the Father of Witige.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Wayland_the_Smith</string><key>nameImageName</key><string>MythNorseMascVÖLUND</string></dict>
    <key>VÖLUNDR</key><dict><key>nameID</key><string>01.04.0.34</string><key>nameDescription</key><string>In Norse mythology, Wayland the Smith (Old English: Wēland; Old Norse: Völundr, Velentr; Old High German: Wiolant; Proto-Germanic: *Wēlandaz, from *Wēla-nandaz, lit. "battle-brave"[1]) is a legendary master blacksmith. In Old Norse sources, Völundr appears in Völundarkviða, a poem in the Poetic Edda, and in Þiðrekssaga, and his legend is also depicted on the Ardre image stone VIII. In Old English sources, he appears in Deor, Waldere and in Beowulf and the legend is depicted on the Franks Casket. He is mentioned in the German poems about Dietrich von Bern as the Father of Witige.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Wayland_the_Smith</string><key>nameImageName</key><string>MythNorseMascVÖLUND</string></dict>
    <key>YNGVI</key><dict><key>nameID</key><string>01.04.0.35</string><key>nameDescription</key><string>Freyr or Frey[1] is one of the most important gods of Norse religion. The name is conjectured to derive from the Proto-Norse *frawjaz, "lord."[2] Freyr was associated with sacral kingship, virility and prosperity, with sunshine and fair weather, and was pictured as a phallic fertility god; Freyr is said to "bestow peace and pleasure on mortals." Freyr, sometimes referred to as Yngvi-Freyr, was especially associated with Sweden and seen as an ancestor of the Swedish royal house.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyr</string><key>nameImageName</key><string>MythNorseMascFREYR</string></dict>


    
    
    
    
    </dict>
</plist>





