<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythVedicFem.plist
   Nickname generator

   Created by Anton Novoselov on 03/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
   
   
   <key>ADITI</key><dict><key>nameID</key><string>01.02.1.1</string><key>nameDescription</key><string>In the Vedas, Aditi (Sanskrit: अदिति "limitless")[1] is mother of the gods (devamata) and all twelve zodiacal spirits from whose cosmic matrix the heavenly bodies were born.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Aditi</string><key>nameImageName</key><string>MythVedicFemADITI</string></dict>
   <key>ANANTA</key><dict><key>nameID</key><string>01.02.1.2</string><key>nameDescription</key><string>Ananta is a Sanskrit term which means 'endless' or 'limitless', also means 'eternal' or 'infinite',[1] in other words, it also means infinitude or an unending expansion or without limit. It is one of the many names of Lord Vishnu.[2] Ananta is the Shesha-naga, the celestial snake, on which Lord Vishnu reclines.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ananta_(infinite)</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>ARUNDHATI</key><dict><key>nameID</key><string>01.02.1.3</string><key>nameDescription</key><string>Arundhati (Sanskrit: अरुन्धती, IAST: Arundhatī) is the wife of the sage Vashistha, one of the seven sages (Saptarshi) who are identified with the Ursa Major. She is identified with the morning star and also with the star Alcor which forms a double star with Mizar (identified as Vashista Maharshi) in Ursa Major.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Arundhati_(Hinduism)</string><key>nameImageName</key><string>MythVedicFemARUNDHATI</string></dict>
   <key>BHUMI</key><dict><key>nameID</key><string>01.02.1.4</string><key>nameDescription</key><string>Bhūmi (Sanskrit: भूमि), or Bhūmī-Devī (Sanskrit: भूमी देवी), also known as Bhuma-Devi, Bhū-Devī, Vasudha, Vasundhara, Vaishnavi, Kashyapi, Urvi, Vasumati, or Hiranmaya, is the Hindu goddess representing Mother Earth.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bh%C5%ABmi</string><key>nameImageName</key><string>MythVedicFemBHUMI</string></dict>
   <key>DAMAYANTI</key><dict><key>nameID</key><string>01.02.1.5</string><key>nameDescription</key><string>Damayanti(दमयंती), a character in Hindu mythology, was the princess of Vidarbha Kingdom, who married king Nala of Nishadha Kingdom and their story is told in the Mahabharata. Her other lesser known name is Bhaimi.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Damayanti</string><key>nameImageName</key><string>MythVedicFemDAMAYANTI</string></dict>
   <key>DEVI</key><dict><key>nameID</key><string>01.02.1.6</string><key>nameDescription</key><string>Devī is the Sanskrit word for "goddess"; the masculine form is Deva. Devi – the feminine form, and Deva – the masculine form, mean "heavenly, divine, anything of excellence", and are also gender specific terms for a deity in Hinduism.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Devi</string><key>nameImageName</key><string>MythVedicFemDEVI</string></dict>
   <key>DRAUPADI</key><dict><key>nameID</key><string>01.02.1.7</string><key>nameDescription</key><string>Draupadi (Sanskrit: द्रौपदी, Sanskrit pronunciation: [d̪rəʊpəd̪i]) is one of the most important female characters in the Hindu epic, Mahabharata.[2] According to the epic, she is the daughter of Drupada, King of Panchala and also became the common wife of the five Pandavas.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Draupadi</string><key>nameImageName</key><string>MythVedicFemDRAUPADI</string></dict>
   <key>DURGA</key><dict><key>nameID</key><string>01.02.1.8</string><key>nameDescription</key><string>Durga (Hindustani pronunciation: [ˈd̪ʊrɡaː], Sanskrit: दुर्गा துர்கா தேவி Durgā "Invincible") is the principal form of the Mother Goddess in Hinduism. She is known by a variety of names - including Amba, Ambika, Jagadamba, Parvathi, Shakti, Adishakti, Adi Parashakti and Devi.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Durga</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>GAURI</key><dict><key>nameID</key><string>01.02.1.9</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.
       The apparent contradiction that Parvati is addressed as the fair one, Gauri, as well as the dark one, Kali or Shyama, as a calm and placid wife Parvati mentioned as Gauri and as a goddess who destroys evil she is Kali. Regional stories of Gauri suggest an alternate origin for Gauri's name and complexion. In parts of India, Gauri's skin color is golden or yellow in honor of her being the goddess of ripened corn/harvest and of fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>INDIRA</key><dict><key>nameID</key><string>01.02.1.10</string><key>nameDescription</key><string>Indira is a Hindu/Sanskrit Indian popular feminine given name, which means "beauty" and "splendid".</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Indira</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>INDRANI</key><dict><key>nameID</key><string>01.02.1.11</string><key>nameDescription</key><string>In Hinduism (specifically, early Vedic accounts), Shachi (Sanskrit: शची; also known as Indrani (queen of Indra), Aindri, Mahendri , Pulomaja and Poulomi) is the goddess of wrath and jealousy, and a daughter of Puloman, an Asura who was killed by Indrani's future husband, Indra.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Shachi</string><key>nameImageName</key><string>MythVedicFemINDRANI</string></dict>
   <key>JAYA</key><dict><key>nameID</key><string>01.02.1.12</string><key>nameDescription</key><string>Jaya and Vijaya are the two demigod gatekeepers (Dvarapala) of the abode of Vishnu, known as Vaikuntha (meaning place of eternal bliss).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jaya-Vijaya</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>JAYANTI</key><dict><key>nameID</key><string>01.02.1.13</string><key>nameDescription</key><string>In Hindu mythology, Jayanti is the daughter of Indra, the king of the devas (gods) and ruler of Svarga (heaven), and his consort Shachi. She is described as the wife of Shukra, the god of the planet Venus and the guru of the asuras (demons). Their union results in the birth of a daughter, Devayani.[1] Jayanti is described as the sister of Jayanta.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jayanti_(Hinduism)</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KALI</key><dict><key>nameID</key><string>01.02.1.14</string><key>nameDescription</key><string>Kālī (/ˈkɑːli/; Sanskrit: काली; Telugu: కాళీ; Kannada: ಕಾಳಿ; Tamil: காளி; Bengali: কালী), also known as Kālikā (Sanskrit: कालिका, Telugu: కాళికా), is a Hindu goddess who is the mighty aspect of the goddess Durga.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Kali</string><key>nameImageName</key><string>MythVedicFemKALI</string></dict>
   <key>KALYANI</key><dict><key>nameID</key><string>01.02.1.15</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.[1][2][3] She is the gentle and nurturing aspect of the Hindu goddess Shakti and one of the central deities of the Goddess-oriented Shakta sect. She is the mother goddess in Hinduism and has many attributes and aspects.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KAMALA</key><dict><key>nameID</key><string>01.02.1.16</string><key>nameDescription</key><string>In Hinduism, Kamalatmika (Sanskrit: कमलात्मिका) or Kamala (Sanskrit: कमला) is the Devi in the fullness of her graceful aspect. She is believed as the tenth Mahavidya (great wisdom).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Kamalatmika</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>KANTI</key><dict><key>nameID</key><string>01.02.1.17</string><key>nameDescription</key><string>Lakshmi (Sanskrit:लक्ष्मी, lakṣmī, ˈləkʂmiː) is the Hindu goddess of wealth, fortune, and prosperity (both material and spiritual). She is the wife and active energy of Lord Vishnu.[1] Her four hands represent the four goals of human life considered important to the Hindu way of life – dharma, kāma, artha, and moksha.[2][3] Representations of Lakshmi are also found in Jain monuments. In Buddhist sects of Tibet, Nepal, and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lakshmi</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>KUMARI</key><dict><key>nameID</key><string>01.02.1.18</string><key>nameDescription</key><string>Durga (Hindustani pronunciation: [ˈd̪ʊrɡaː], Sanskrit: दुर्गा துர்கா தேவி Durgā "Invincible") is the principal form of the Mother Goddess in Hinduism. </string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Durga</string><key>nameImageName</key><string>MythVedicFemDURGA</string></dict>
   <key>KUNTI</key><dict><key>nameID</key><string>01.02.1.19</string><key>nameDescription</key><string>In Mahabharata, Kunti (Sanskrit: कुन्ती Kuntī) was the daughter of Shurasena,[1] and the foster daughter of his cousin Kuntibhoja.[2] She is the sister of Vasudeva, father of Lord Krishna. She was married to king Pandu[3] of Hastinapur and was the mother of Karna and the Pandava brothers Yudhishthira, Bhima, Arjuna.[4] She is often regarded as the female protagonist of Mahabharata along with her daughter in law, Draupadi as her role so significant being the aunt of Krishna and Balarama and mother of mighty Pandavas and Karna.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Kunti</string><key>nameImageName</key><string>MythVedicFemKUNTI</string></dict>
   <key>LAKSHMI</key><dict><key>nameID</key><string>01.02.1.20</string><key>nameDescription</key><string>Lakshmi (Sanskrit:लक्ष्मी, lakṣmī, ˈləkʂmiː) is the Hindu goddess of wealth, fortune, and prosperity (both material and spiritual). She is the wife and active energy of Lord Vishnu.[1] Her four hands represent the four goals of human life considered important to the Hindu way of life – dharma, kāma, artha, and moksha.[2][3] Representations of Lakshmi are also found in Jain monuments. In Buddhist sects of Tibet, Nepal, and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lakshmi</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>LALITA</key><dict><key>nameID</key><string>01.02.1.21</string><key>nameDescription</key><string>Lalita is the name of one of the eight principal gopis within traditional Gaudiya Vaishnava worship of Radha and Krishna.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lalita_(gopi)</string><key>nameImageName</key><string>MythVedicFemLALITA</string></dict>
   <key>MADHAVI</key><dict><key>nameID</key><string>01.02.1.22</string><key>nameDescription</key><string>Lakshmi (Sanskrit:लक्ष्मी, lakṣmī, ˈləkʂmiː) is the Hindu goddess of wealth, fortune, and prosperity (both material and spiritual). She is the wife and active energy of Lord Vishnu.[1] Her four hands represent the four goals of human life considered important to the Hindu way of life – dharma, kāma, artha, and moksha.[2][3] Representations of Lakshmi are also found in Jain monuments. In Buddhist sects of Tibet, Nepal, and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences.
       Madhavi - another name of Lakshmi</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lakshmi</string><key>nameImageName</key><string>MythVedicFemLAKSHMI</string></dict>
   <key>MAYA</key><dict><key>nameID</key><string>01.02.1.23</string><key>nameDescription</key><string>Maya (Sanskrit: माया māyā), literally "illusion" or "magic",[1][2] has multiple meanings in Indian philosophies depending on the context. In ancient Vedic literature, Māyā literally implies extraordinary power and wisdom.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Maya_(illusion)</string><key>nameImageName</key><string>MythVedicFemMAYA</string></dict>
   <key>MINA</key><dict><key>nameID</key><string>01.02.1.24</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemMINA</string></dict>
   <key>MOHANA</key><dict><key>nameID</key><string>01.02.1.25</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemMOHANA</string></dict>
   <key>MOHINI</key><dict><key>nameID</key><string>01.02.1.26</string><key>nameDescription</key><string>Mohini (Devnagari:मोहिनी, Mohinī) is the only female avatar of the Hindu god Vishnu. She is portrayed as a femme fatale, an enchantress, who maddens lovers, sometimes leading them to their doom. Mohini is introduced into the Hindu mythology in the narrative epic of the Mahabharata. Here, she appears as a form of Vishnu, acquires the pot of Amrita (an elixir of immortality) from thieving asuras (demons), and gives it back to the devas (gods), helping them retain their immortality.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mohini</string><key>nameImageName</key><string>MythVedicFemMOHINI</string></dict>
   <key>PADMA</key><dict><key>nameID</key><string>01.02.1.27</string><key>nameDescription</key><string>Padma (Nelumbo nucifera), the sacred lotus, is an aquatic plant that plays a central role in Indian religions such as Hinduism, Buddhism, Sikhism, and Jainism. The lotus flower has many different names such as the "Indian Lotus", the "Sacred Lotus", and the "Bean of India".</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Padma_(attribute)</string><key>nameImageName</key><string>MythVedicFemPADMA</string></dict>
   <key>PADMAVATI</key><dict><key>nameID</key><string>01.02.1.28</string><key>nameDescription</key><string>Alamelu also known as Alamelu manga and Padmavati[1] (often spelled "Padmavathi" or "Padmavathy"), is a Hindu devi. Believed to be a form of Lakshmi, the Hindu devi of wealth and good fortune, Alamelu Manga is the consort of Sri Venkateshwara. The name Padmavati is Sanskrit for "she who emerged from lotus". The most prominent shrine of Padmavathi is Sri Padmavathi Ammavari Temple situated at Tiruchanur, a suburb of Tirupati City. Tradition dictates that every pilgrim to Tirupati must offer obeisance at this temple after visiting the Tirumala Venkateswara Temple.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Alamelu</string><key>nameImageName</key><string>MythVedicFemPADMAVATI</string></dict>
   <key>PARVATI</key><dict><key>nameID</key><string>01.02.1.29</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.
       The apparent contradiction that Parvati is addressed as the fair one, Gauri, as well as the dark one, Kali or Shyama, as a calm and placid wife Parvati mentioned as Gauri and as a goddess who destroys evil she is Kali. Regional stories of Gauri suggest an alternate origin for Gauri's name and complexion. In parts of India, Gauri's skin color is golden or yellow in honor of her being the goddess of ripened corn/harvest and of fertility.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>PRITHA</key><dict><key>nameID</key><string>01.02.1.30</string><key>nameDescription</key><string>In Mahabharata, Kunti (Sanskrit: कुन्ती Kuntī) was the daughter of Shurasena,[1] and the foster daughter of his cousin Kuntibhoja.[2] She is the sister of Vasudeva, father of Lord Krishna. She was married to king Pandu[3] of Hastinapur and was the mother of Karna and the Pandava brothers Yudhishthira, Bhima, Arjuna.[4] She is often regarded as the female protagonist of Mahabharata along with her daughter in law, Draupadi as her role so significant being the aunt of Krishna and Balarama and mother of mighty Pandavas and Karna.
       Pritha - another name of the Queen Kunti.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Kunti</string><key>nameImageName</key><string>MythVedicFemKUNTI</string></dict>
   <key>PRIYA</key><dict><key>nameID</key><string>01.02.1.31</string><key>nameDescription</key><string>According to Hindu legend, Daksha is one of the sons of Lord Brahma reside in North West, who, after creating the ten Manas Putras, created Daksha, Dharma, Kamadeva and Agni from his right thumb, chest, heart and eyebrows respectively.[1] Besides his noble birth, Daksa was a great king. Pictures show him as a rotund and obese man with a stocky body, protruding belly, and muscular with the head of an ibex-like creature with spiral horns.
       Priya - one of the daughters of Daksha</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Daksha</string><key>nameImageName</key><string>MythVedicFemPRIYA</string></dict>
   <key>RADHA</key><dict><key>nameID</key><string>01.02.1.32</string><key>nameDescription</key><string>Radha (IAST: Rādhā, Hindi: राधा ), also called Radhika, Radharani, and Radhe, is a Hindu goddess who is almost always depicted alongside Krishna and features prominently within the theology of Vaishnav sects, which regards Radha as the original Goddess or Shakti. </string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Radha</string><key>nameImageName</key><string>MythVedicFemRADHA</string></dict>
   <key>RAJANI</key><dict><key>nameID</key><string>01.02.1.33</string><key>nameDescription</key><string>Kālī (/ˈkɑːli/; Sanskrit: काली; Telugu: కాళీ; Kannada: ಕಾಳಿ; Tamil: காளி; Bengali: কালী), also known as Kālikā (Sanskrit: कालिका, Telugu: కాళికా), is a Hindu goddess who is the mighty aspect of the goddess Durga.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Kali</string><key>nameImageName</key><string>MythVedicFemKALI</string></dict>
   <key>RATI</key><dict><key>nameID</key><string>01.02.1.34</string><key>nameDescription</key><string>Rati (Sanskrit: रति, Rati) is the Hindu goddess of love, carnal desire, lust, passion and sexual pleasure.[1][2][3][4] Usually described as the daughter of Prajapati Daksha, Rati is the female counterpart, the chief consort and the assistant of Kama (Kamadeva), the god of love.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rati</string><key>nameImageName</key><string>MythVedicFemRATI</string></dict>
   <key>REVA</key><dict><key>nameID</key><string>01.02.1.35</string><key>nameDescription</key><string>Rati (Sanskrit: रति, Rati) is the Hindu goddess of love, carnal desire, lust, passion and sexual pleasure.[1][2][3][4] Usually described as the daughter of Prajapati Daksha, Rati is the female counterpart, the chief consort and the assistant of Kama (Kamadeva), the god of love.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rati</string><key>nameImageName</key><string>MythVedicFemRATI</string></dict>
   <key>RUKMINI</key><dict><key>nameID</key><string>01.02.1.36</string><key>nameDescription</key><string>Rukmini(or Rukmani) is the principal wife and queen of the God Krishna, the king of Dwaraka. Krishna heroically kidnapped her and eloped with her to prevent an unwanted marriage at her request and saved her from evil Shishupala(described in the Bhagavata Purana). Rukmini is the first and most prominent queen of Krishna. Rukmini is also considered an avatar of Lakshmi, the Goddess of fortune.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rukmini</string><key>nameImageName</key><string>MythVedicFemRUKMINI</string></dict>
   <key>SANDHYA</key><dict><key>nameID</key><string>01.02.1.37</string><key>nameDescription</key><string>In Hindu mythology, when Brahma was creating the universe, he made a female deity known as Shatarupa (literally śata-rūpā, she of a hundred beautiful forms) or 'one who can aqqire hundreed forms'. According to the Matsya Purana, Shatarupa was known by different names, including Satarupa,Sandhya,or Brahmi. According to Brahma Purana, Shatarupa is regarded as the first woman to be created by Brahma along with Manu.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Shatarupa</string><key>nameImageName</key><string>MythVedicFemSANDHYA</string></dict>
   <key>SARASWATI</key><dict><key>nameID</key><string>01.02.1.38</string><key>nameDescription</key><string>Saraswati (Sanskrit: सरस्वती, Sarasvatī) is the Hindu goddess of knowledge, music, arts, wisdom and learning.[1] She is a part of the trinity (Tridevi) of Saraswati, Lakshmi and Parvati. All the three forms help the trinity of Brahma, Vishnu and Shiva to create, maintain and regenerate-recycle the Universe respectively.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Saraswati</string><key>nameImageName</key><string>MythVedicFemSARASWATI</string></dict>
   <key>SATI</key><dict><key>nameID</key><string>01.02.1.39</string><key>nameDescription</key><string>Satī (Pron:ˈsʌti:) (Devnagri: सती, IAST: satī), or Sati Devi, is also known as Dakshayani (Devanagari: दाक्षायणी, IAST: dākṣāyaṇī). In the Tamil tradition, Sati is called Poovadakari, and in Telugu tradition she is known as Perantalu. Sati is a Hindu goddess of marital felicity and longevity. An aspect of Adi Parashakti, Dakshayani is the first consort of Shiva, the second being Parvati who is the reincarnation of Sati.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sati_(goddess)</string><key>nameImageName</key><string>MythVedicFemSATI</string></dict>
   <key>SAVITRI</key><dict><key>nameID</key><string>01.02.1.40</string><key>nameDescription</key><string>The oldest known version of the story of Savitri and Satyavan is found in Vana Parva ("The Book of the Forest") of the Mahabharata.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Savitri_and_Satyavan</string><key>nameImageName</key><string>MythVedicFemSAVITRI</string></dict>
   <key>SHAILAJA</key><dict><key>nameID</key><string>01.02.1.41</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.
       The apparent contradiction that Parvati is addressed as the fair one, Gauri, as well as the dark one, Kali or Shyama, as a calm and placid wife Parvati mentioned as Gauri and as a goddess who destroys evil she is Kali. Regional stories of Gauri suggest an alternate origin for Gauri's name and complexion. In parts of India, Gauri's skin color is golden or yellow in honor of her being the goddess of ripened corn/harvest and of fertility.
       Shailaja - another name of the goddess Parvati.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>SHAKTI</key><dict><key>nameID</key><string>01.02.1.42</string><key>nameDescription</key><string>In Hinduism, Shakti (Sanskrit pronunciation: [ˈʃəkt̪ɪ]) (Telugu: శక్తి) (Tamil: சக்தி) (Devanagari: शक्ति; from Sanskrit shak, "to be able"), also spelled as Sakthi or Shakthi, meaning "power" or "empowerment," is the primordial cosmic energy and represents the dynamic forces that are thought to move through the entire universe.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Shakti</string><key>nameImageName</key><string>MythVedicFemSHAKTI</string></dict>
   <key>SHANTA</key><dict><key>nameID</key><string>01.02.1.43</string><key>nameDescription</key><string>Shanta is a character in the Ramayana. She was the daughter of Dasharatha and Kausalya, elder sister of Rama, Bharata, Lakshmana and Shatrughna and played crucial role in their birth, adopted by the couple Rompad and Vershini.[1] Shanta was married to Rishyasringa, son of the legendary Indian Hindu saint Vibhandaka.[1] The descendants of Shanta and Rishyasringa are Sengar Rajputs who are called the only Rishivanshi rajputs.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Shanta</string><key>nameImageName</key><string>MythVedicFemSHANTA</string></dict>
   <key>SHIVALI</key><dict><key>nameID</key><string>01.02.1.44</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.
       The apparent contradiction that Parvati is addressed as the fair one, Gauri, as well as the dark one, Kali or Shyama, as a calm and placid wife Parvati mentioned as Gauri and as a goddess who destroys evil she is Kali. Regional stories of Gauri suggest an alternate origin for Gauri's name and complexion. In parts of India, Gauri's skin color is golden or yellow in honor of her being the goddess of ripened corn/harvest and of fertility.
       Shivali - another name of the goddess Parvati.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>SHRI</key><dict><key>nameID</key><string>01.02.1.45</string><key>nameDescription</key><string>Lakshmi (Sanskrit:लक्ष्मी, lakṣmī, ˈləkʂmiː) is the Hindu goddess of wealth, fortune, and prosperity (both material and spiritual). She is the wife and active energy of Lord Vishnu.[1] Her four hands represent the four goals of human life considered important to the Hindu way of life – dharma, kāma, artha, and moksha.[2][3] Representations of Lakshmi are also found in Jain monuments. In Buddhist sects of Tibet, Nepal, and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences.
       Shri - another name of the goddess Lakshmi</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lakshmi</string><key>nameImageName</key><string>MythVedicFemSHRI</string></dict>
   <key>SHYAMA</key><dict><key>nameID</key><string>01.02.1.46</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSHYAMA</string></dict>
   <key>SITA</key><dict><key>nameID</key><string>01.02.1.47</string><key>nameDescription</key><string>Sita (also spelled Sîta, Seeta or Seetha [ˈsiː taː],meaning "furrow"), also known as Vaidehi, Janaki, Maithili or Bhoomija, is the central female character of the Hindu epic Ramayana and a daughter of King Janak of Janakpur and his wife queen Sunayana.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sita</string><key>nameImageName</key><string>MythVedicFemSITA</string></dict>
   <key>SRI</key><dict><key>nameID</key><string>01.02.1.48</string><key>nameDescription</key><string>Lakshmi (Sanskrit:लक्ष्मी, lakṣmī, ˈləkʂmiː) is the Hindu goddess of wealth, fortune, and prosperity (both material and spiritual). She is the wife and active energy of Lord Vishnu.[1] Her four hands represent the four goals of human life considered important to the Hindu way of life – dharma, kāma, artha, and moksha.[2][3] Representations of Lakshmi are also found in Jain monuments. In Buddhist sects of Tibet, Nepal, and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences.
       Shri - another name of the goddess Lakshmi</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Lakshmi</string><key>nameImageName</key><string>MythVedicFemSHRI</string></dict>
   <key>SUMATI</key><dict><key>nameID</key><string>01.02.1.49</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUMATI</string></dict>
   <key>SUNITA</key><dict><key>nameID</key><string>01.02.1.50</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUNITA</string></dict>
   <key>SUSHILA</key><dict><key>nameID</key><string>01.02.1.51</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythVedicFemSUSHILA</string></dict>
   <key>TARA</key><dict><key>nameID</key><string>01.02.1.52</string><key>nameDescription</key><string>In Hinduism, the goddess Tara (Sanskrit: Tārā, Devanagari: तारा, Telugu: తారా, Bengali: তারা) meaning "One who protects", is the second of the Dasa (ten) Mahavidyas or "Great Wisdom [goddesses]", and is a form of Shakti (primeval energy in female form). Tantric manifestations of Durga or Mahadevi, or Parvati. The word 'Tara', and also 'Tarini' (another popular name of the goddess) have been derived from the Sanskrit root syllable 'tAr', signifying protection. In many other contemporary Indian languages, the word 'tara' also means star. As the star is seen as a beautiful but perpetually self-combusting thing, so Tara is perceived at core as the absolute, unquenchable hunger that propels all life.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Tara_(Devi)</string><key>nameImageName</key><string>MythVedicFemTARA</string></dict>
   <key>UMA</key><dict><key>nameID</key><string>01.02.1.53</string><key>nameDescription</key><string>Parvati (IAST: Pārvatī) is the Hindu goddess of fertility, love and devotion; as well as of divine strength and power.
       The apparent contradiction that Parvati is addressed as the fair one, Gauri, as well as the dark one, Kali or Shyama, as a calm and placid wife Parvati mentioned as Gauri and as a goddess who destroys evil she is Kali. Regional stories of Gauri suggest an alternate origin for Gauri's name and complexion. In parts of India, Gauri's skin color is golden or yellow in honor of her being the goddess of ripened corn/harvest and of fertility.
       Uma - another name of the goddess Parvati.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Parvati</string><key>nameImageName</key><string>MythVedicFemPARVATI</string></dict>
   <key>USHA</key><dict><key>nameID</key><string>01.02.1.54</string><key>nameDescription</key><string>Ushas (उषस्; uṣas), Sanskrit for "dawn",[1] is a Vedic deity, and consequently a Hindu deity as well.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ushas</string><key>nameImageName</key><string>MythVedicFemUSHA</string></dict>
   <key>USHAS</key><dict><key>nameID</key><string>01.02.1.55</string><key>nameDescription</key><string>Ushas (उषस्; uṣas), Sanskrit for "dawn",[1] is a Vedic deity, and consequently a Hindu deity as well.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ushas</string><key>nameImageName</key><string>MythVedicFemUSHA</string></dict>
   <key>VALLI</key><dict><key>nameID</key><string>01.02.1.56</string><key>nameDescription</key><string>Vaḷḷi (Tamil: வள்ளி "Creeper, Sweet Potato Plant")[1] is a Hindu goddess and the divine consort of the prominent god Murugan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Valli</string><key>nameImageName</key><string>MythVedicFemVALLI</string></dict>
   <key>VIDYA</key><dict><key>nameID</key><string>01.02.1.57</string><key>nameDescription</key><string>Saraswati (Sanskrit: सरस्वती, Sarasvatī) is the Hindu goddess of knowledge, music, arts, wisdom and learning.[1] She is a part of the trinity (Tridevi) of Saraswati, Lakshmi and Parvati. All the three forms help the trinity of Brahma, Vishnu and Shiva to create, maintain and regenerate-recycle the Universe respectively.
       Vidya - another name of the goddess Saraswati</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Saraswati</string><key>nameImageName</key><string>MythVedicFemSARASWATI</string></dict>
   <key>VIJAYA</key><dict><key>nameID</key><string>01.02.1.58</string><key>nameDescription</key><string>Jaya and Vijaya are the two demigod gatekeepers (Dvarapala) of the abode of Vishnu, known as Vaikuntha (meaning place of eternal bliss).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jaya-Vijaya</string><key>nameImageName</key><string>MythVedicFemVIJAYA</string></dict>
   <key>YAMI</key><dict><key>nameID</key><string>01.02.1.59</string><key>nameDescription</key><string>Yamuna is a sacred river in Hinduism and the main tributary of the Ganges (Ganga), the holiest river of Hinduism. The river is worshipped as a Hindu goddess called Yamuna.[1] In the Vedas, Yamuna is known as Yami, while in later literature, she is called Kalindi.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Yamuna_in_Hinduism</string><key>nameImageName</key><string>MythVedicFemYAMI</string></dict>

   
   
   

   
   
   
    </dict>
</plist>
