<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythPersianMasc.plist
   Nickname generator

   Created by Anton Novoselov on 22/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    
    <key>AHRIMAN</key><dict><key>nameID</key><string>01.06.0.1</string><key>nameDescription</key><string>Angra Mainyu (also: Aŋra Mainiiu) is the Avestan-language name of Zoroastrianism's hypostasis of the "destructive spirit". The Middle Persian equivalent is Ahriman (Anglicised pronunciation: /ˈɑːrɪmən/).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Angra_Mainyu</string><key>nameImageName</key><string>MythPersianFemAHRIMAN</string></dict>
    <key>AHURA MAZDA</key><dict><key>nameID</key><string>01.06.0.2</string><key>nameDescription</key><string>Ahura Mazda (/əˌhʊrəˌmæzdə/;[1]) (also known as Ohrmazd, Ahuramazda, Hourmazd, Hormazd, Harzoo and Hurmuz, Lord or simply as spirit) is the Avestan name for the creator and sole God of Zoroastrianism, the old Iranian religion predating Islam. Ahura Mazda is described as the highest spirit of worship in Zoroastrianism, along with being the first and most frequently invoked spirit in the Yasna. The literal meaning of the word Ahura is "mighty" or "lord" and Mazda is wisdom. Zoroastrianism revolves around three basic tenets – Good Thoughts, Good Words and Good Deeds.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ahura_Mazda</string><key>nameImageName</key><string>MythPersianFemAHURA MAZDA</string></dict>
    <key>ANGRA MAINYU</key><dict><key>nameID</key><string>01.06.0.3</string><key>nameDescription</key><string>Angra Mainyu (also: Aŋra Mainiiu) is the Avestan-language name of Zoroastrianism's hypostasis of the "destructive spirit". The Middle Persian equivalent is Ahriman (Anglicised pronunciation: /ˈɑːrɪmən/).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Angra_Mainyu</string><key>nameImageName</key><string>MythPersianFemAHRIMAN</string></dict>
    <key>ARASH</key><dict><key>nameID</key><string>01.06.0.4</string><key>nameDescription</key><string>Arash the Archer (Persian: آرش کمانگیر‎‎ Āraŝ-e Kamāngīr) is a heroic archer-figure of Iranian mythology.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Arash</string><key>nameImageName</key><string>MythPersianFemARASH</string></dict>
    <key>BAHMAN</key><dict><key>nameID</key><string>01.06.0.5</string><key>nameDescription</key><string>Vohu Manah[pronunciation?] is the Avestan language term for a Zoroastrian concept, generally translated as "Good Purpose" or "Good Mind" (cognate with Sanskrit vasu manas), referring to the good moral state of mind that enables an individual to accomplish his duties. Its Middle Persian equivalent, as attested in the Pahlavi script texts of Zoroastrian tradition, is Wahman, which is a borrowing of the Avestan language expression and has the same meaning, and which continues in New Persian as Bahman and variants. Manah is cognate with the Sanskrit word Manas suggesting some commonality between the ideas of the Gathas and those of the rig veda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Vohu_Manah</string><key>nameImageName</key><string>MythPersianFemBAHMAN</string></dict>
    <key>BAHRAM</key><dict><key>nameID</key><string>01.06.0.6</string><key>nameDescription</key><string>Verethragna (vərəθraγna) is an Avestan language neuter noun literally meaning "smiting of resistance" (Gnoli, 1989:510; Boyce 1975:63). Representing this concept is the divinity Verethragna, who is the hypostasis of "victory", and "as a giver of victory Verethragna plainly enjoyed the greatest popularity of old" (Boyce, 1975:63).
        The neuter noun verethragna is related to Avestan verethra, 'obstacle' and verethragnan, 'victorious'. (Gnoli, 1989:510) In Zoroastrian Middle Persian, Verethragna became Warahran, from which Vahram, Vehram, Bahram, Behram and other variants derive.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Verethragna</string><key>nameImageName</key><string>MythPersianFemBAHRAM</string></dict>
    <key>FEREYDOUN</key><dict><key>nameID</key><string>01.06.0.7</string><key>nameDescription</key><string>Fereydun (Persian: فریدون - Fereydūn or Farīdūn‎‎; Middle Persian: Frēdōn; Avestan: Θraētaona), also pronounced and spelled Freydun, Faridon and Afridun, is the name of an Iranian mythical king and hero from the kingdom of Varena. He is known as an emblem of victory, justice, and generosity in the Persian literature.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fereydun</string><key>nameImageName</key><string>MythPersianFemFEREYDOUN</string></dict>
    <key>GOVAD</key><dict><key>nameID</key><string>01.06.0.8</string><key>nameDescription</key><string>Vāyu-Vāta or Vāta-Vāyu (IPA: ʋɑːyu-ʋɑːt̪ə) is the Avestan language name of a dual-natured Zoroastrian divinity of the wind (Vayu) and of the atmosphere (Vata). The names are also used independently of one another, with 'Vayu' occurring more frequently than 'Vata', but even when used independently still representing the other aspect.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Vayu-Vata</string><key>nameImageName</key><string>MythPersianFemGOVAD</string></dict>
    <key>HORMAZD</key><dict><key>nameID</key><string>01.06.0.9</string><key>nameDescription</key><string>Ahura Mazda (/əˌhʊrəˌmæzdə/;[1]) (also known as Ohrmazd, Ahuramazda, Hourmazd, Hormazd, Harzoo and Hurmuz, Lord or simply as spirit) is the Avestan name for the creator and sole God of Zoroastrianism, the old Iranian religion predating Islam. Ahura Mazda is described as the highest spirit of worship in Zoroastrianism, along with being the first and most frequently invoked spirit in the Yasna. The literal meaning of the word Ahura is "mighty" or "lord" and Mazda is wisdom. Zoroastrianism revolves around three basic tenets – Good Thoughts, Good Words and Good Deeds.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ahura_Mazda</string><key>nameImageName</key><string>MythPersianFemAHURA MAZDA</string></dict>
    <key>HVARE KHSHAETA</key><dict><key>nameID</key><string>01.06.0.10</string><key>nameDescription</key><string>Hvare.khshaeta (Hvarə.xšaēta, Huuarə.xšaēta) is the Avestan language name of the Zoroastrian divinity of the "Radiant Sun."</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hvare-khshaeta</string><key>nameImageName</key><string>MythPersianFemHVARE KHSHAETA</string></dict>
    <key>JAM</key><dict><key>nameID</key><string>01.06.0.11</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAM</string></dict>
    <key>JAMSHED</key><dict><key>nameID</key><string>01.06.0.12</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAMSHED</string></dict>
    <key>JAMSHEED</key><dict><key>nameID</key><string>01.06.0.13</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAMSHEED</string></dict>
    <key>JAMSHID</key><dict><key>nameID</key><string>01.06.0.14</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAMSHID</string></dict>
    <key>KAVEH</key><dict><key>nameID</key><string>01.06.0.15</string><key>nameDescription</key><string>Kaveh the Blacksmith (Persian: کاوه آهنگر – Kāve ye Āhangar‎‎), also known as the Blacksmith of Isfahan,[1][2] is a mythical figure in the Iranian mythology who leads a popular uprising against a ruthless foreign ruler, Zahāk (Aži Dahāk). His story is narrated in Shahnameh, the national epic of Iran, by the 10th-century Persian poet Ferdowsi.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/K%C4%81ve</string><key>nameImageName</key><string>MythPersianFemKAVEH</string></dict>
    <key>KHURSHID</key><dict><key>nameID</key><string>01.06.0.16</string><key>nameDescription</key><string>Khorshīd or Khorshēd (Persian: خورشید‎‎, meaning the Sun or the "Radiant Sun"), also spelled as Khurshed and Khurshid, is a Persian given name. In the modern day as well as historical Iran, Turkey, and Azerbaijan, but also in Egypt, Central Asia and South Asia, it is mostly a given name for boys. The origin of the word is related to the Avestan divinity Hvare-khshaeta. In Turkish, it is sometimes written as Hurşit.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Khorshid</string><key>nameImageName</key><string>MythPersianFemKHURSHID</string></dict>
    <key>KSHATHRA VAIRYA</key><dict><key>nameID</key><string>01.06.0.17</string><key>nameDescription</key><string>Amesha Spenta (Aməša Spənta) is an Avestan language term for a class of divine entities in Zoroastrianism and literally means "Immortal (which is) holy"[1][n 1] The name Later Middle Persian variations of the term include the contraction 'Ameshaspand' as well as the specifically Zoroastrian 'Mahraspand' and 'Amahraspand'.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Amesha_Spenta</string><key>nameImageName</key><string>MythPersianFemGOVAD</string></dict>
    <key>MEHR</key><dict><key>nameID</key><string>01.06.0.18</string><key>nameDescription</key><string>Mithra (Avestan: Miθra, Old Persian: Miça) is the Zoroastrian angelic Divinity (yazata) of Covenant and Oath. In addition to being the Divinity of Contracts, Mithra is also a judicial figure, an all-seeing Protector of Truth, and the Guardian of Cattle, the Harvest and of The Waters.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mithra</string><key>nameImageName</key><string>MythPersianFemMITHRA</string></dict>
    <key>MITHRA</key><dict><key>nameID</key><string>01.06.0.19</string><key>nameDescription</key><string>Mithra (Avestan: Miθra, Old Persian: Miça) is the Zoroastrian angelic Divinity (yazata) of Covenant and Oath. In addition to being the Divinity of Contracts, Mithra is also a judicial figure, an all-seeing Protector of Truth, and the Guardian of Cattle, the Harvest and of The Waters.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mithra</string><key>nameImageName</key><string>MythPersianFemMITHRA</string></dict>
    <key>MITHRAS</key><dict><key>nameID</key><string>01.06.0.20</string><key>nameDescription</key><string>Mithra (Avestan: Miθra, Old Persian: Miça) is the Zoroastrian angelic Divinity (yazata) of Covenant and Oath. In addition to being the Divinity of Contracts, Mithra is also a judicial figure, an all-seeing Protector of Truth, and the Guardian of Cattle, the Harvest and of The Waters.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mithra</string><key>nameImageName</key><string>MythPersianFemMITHRA</string></dict>
    <key>NAIRYOSANGHA</key><dict><key>nameID</key><string>01.06.0.21</string><key>nameDescription</key><string>Yazata is the Avestan language word for a Zoroastrian concept with a wide range of meanings but generally signifying (or used as an epithet of) a divinity. The term literally means "worthy of worship or veneration",[1][2] and is thus, in this more general sense, also applied to certain healing plants, primordial creatures, the fravashis of the dead, and to certain prayers that are themselves considered holy. The yazatas collectively are "the good powers under Ohrmuzd", who is "the greatest of the yazatas".</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Yazata</string><key>nameImageName</key><string>MythPersianFemNAIRYOSANGHA</string></dict>
    <key>ORMAZD</key><dict><key>nameID</key><string>01.06.0.22</string><key>nameDescription</key><string>Ahura Mazda (/əˌhʊrəˌmæzdə/;[1]) (also known as Ohrmazd, Ahuramazda, Hourmazd, Hormazd, Harzoo and Hurmuz, Lord or simply as spirit) is the Avestan name for the creator and sole God of Zoroastrianism, the old Iranian religion predating Islam. Ahura Mazda is described as the highest spirit of worship in Zoroastrianism, along with being the first and most frequently invoked spirit in the Yasna. The literal meaning of the word Ahura is "mighty" or "lord" and Mazda is wisdom. Zoroastrianism revolves around three basic tenets – Good Thoughts, Good Words and Good Deeds.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ahura_Mazda</string><key>nameImageName</key><string>MythPersianFemAHURA MAZDA</string></dict>
    <key>RASHN</key><dict><key>nameID</key><string>01.06.0.23</string><key>nameDescription</key><string>Rashnu is the Avestan language name of the Zoroastrian yazata of justice. Together with Mithra and Sraosha, Rashnu is one of the three judges who pass judgment on the souls of people after death. Rashnu's standard appellation is "the very straight."</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rashnu</string><key>nameImageName</key><string>MythPersianFemRASHN</string></dict>
    <key>RASHNU</key><dict><key>nameID</key><string>01.06.0.24</string><key>nameDescription</key><string>Rashnu is the Avestan language name of the Zoroastrian yazata of justice. Together with Mithra and Sraosha, Rashnu is one of the three judges who pass judgment on the souls of people after death. Rashnu's standard appellation is "the very straight."</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rashnu</string><key>nameImageName</key><string>MythPersianFemRASHN</string></dict>
    <key>ROSTAM</key><dict><key>nameID</key><string>01.06.0.25</string><key>nameDescription</key><string>Rostam or Rustam (Persian: رُستَم‎‎, pronounced [ɾos'tæm, ɾʊs'tæm]) is the epic hero of the Persian epic Shahnameh in Persian mythology, and son of Zal and Rudaba. In the story, Rostam and his predecessors were natives of the Zabulistan region of Sistan (present-day Iran and Afghanistan). Rostam's mother Rudaba was a princess of Kabul.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Rostam</string><key>nameImageName</key><string>MythPersianFemROSTAM</string></dict>
    <key>SAAM</key><dict><key>nameID</key><string>01.06.0.26</string><key>nameDescription</key><string>Sām /sɑːm/ (سام), also transliterated Saam is a mythical hero of ancient Persia, and an important character in the Shahnameh epic. He was the son of Nariman, grandson of Garshasp and father to Zāl. He was Iran's champion during the rule of Fereydun, Manuchehr and Nowzar. He was appointed by Manuchehr to rule Zabulistan (Sistan), and then Mazandaran. After Manuchehr, because of Nowzar's corrupted and failed rulership, Iranian champions asked Sām to rule Iran. Sām didn't accept, he supported Nowzar and advised him to follow Fereydun and Manuchehr. Sām returned to Mazandaran, and died soon after that. Afrasiab then attacked Zabulistan.
        The name Sām is equivalent to the Avestan name 'Saama', which means dark and Sanskrit 'Shyaama' which means the same.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/S%C4%81m</string><key>nameImageName</key><string>MythPersianFemSAAM</string></dict>
    <key>SAM</key><dict><key>nameID</key><string>01.06.0.27</string><key>nameDescription</key><string>Sām /sɑːm/ (سام), also transliterated Saam is a mythical hero of ancient Persia, and an important character in the Shahnameh epic. He was the son of Nariman, grandson of Garshasp and father to Zāl. He was Iran's champion during the rule of Fereydun, Manuchehr and Nowzar. He was appointed by Manuchehr to rule Zabulistan (Sistan), and then Mazandaran. After Manuchehr, because of Nowzar's corrupted and failed rulership, Iranian champions asked Sām to rule Iran. Sām didn't accept, he supported Nowzar and advised him to follow Fereydun and Manuchehr. Sām returned to Mazandaran, and died soon after that. Afrasiab then attacked Zabulistan.
        The name Sām is equivalent to the Avestan name 'Saama', which means dark and Sanskrit 'Shyaama' which means the same.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/S%C4%81m</string><key>nameImageName</key><string>MythPersianFemSAM</string></dict>
    <key>SAROSH</key><dict><key>nameID</key><string>01.06.0.28</string><key>nameDescription</key><string>Sraosha (IPA: ['sroː.ʃa]) is the Avestan name of the Zoroastrian yazata of "Obedience" or "Observance", which is also the literal meaning of his name.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sraosha</string><key>nameImageName</key><string>MythPersianFemSAROSH</string></dict>
    <key>SHAHRIVAR</key><dict><key>nameID</key><string>01.06.0.29</string><key>nameDescription</key><string>Shahrivar (Persian: شهریور‎‎, Persian pronunciation: [ʃæhɾiːˈvæɾ][1]) is the sixth month of the Iranian calendar.[1] Shahrivar has thirty-one days.[1] It begins in August and ends in September by the Gregorian calendar</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Shahrivar</string><key>nameImageName</key><string>MythPersianFemGOVAD</string></dict>
    <key>SIAVASH</key><dict><key>nameID</key><string>01.06.0.30</string><key>nameDescription</key><string>Siyâvoš (in Persian: سياووش‎‎) , from Avestan Syâvaršan, is a major figure in Ferdowsi's epic, the Shahnameh. He was a legendary Iranian prince from the earliest days of the Iranian Empire. A handsome and desirable young man, his name literally means "the one with the black horse" or "black stallion". Ferdowsi, the author of the Book of Kings, (Shahnameh), names his horse Shabrang Behzād (Persian: شبرنگ بهزاد‎‎) literally "night-coloured purebred".</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Siy%C3%A2vash</string><key>nameImageName</key><string>MythPersianFemSIAVASH</string></dict>
    <key>SOHRAB</key><dict><key>nameID</key><string>01.06.0.31</string><key>nameDescription</key><string>Sohrāb or Suhrāb (Persian: سهراب‎‎) is a character from the Shahnameh, or the Tales of Kings by Ferdowsi in the tragedy of Rostam and Sohrab. He was the son of Rostam, who was an Iranian warrior, and Tahmineh, the daughter of the king of Samangam, a neighboring country. He was slain at a young age by his father Rostam. Rostam only found out he was his son after fatally wounding him in a duel. Kaykavous, the king of Iran, delayed giving Rostam the healing potion (Noush Daru) to save Sohrab as he feared losing his power to the alliance of the father and the son. Rostam gave Tahmine a bracelet as a reminder and a sign to his son and left Tahmine after the marriage.
        His name means literally Red from water in a sense of "beautiful and illustrious/shining face".</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sohrab</string><key>nameImageName</key><string>MythPersianFemSOHRAB</string></dict>
    <key>SOROUSH</key><dict><key>nameID</key><string>01.06.0.32</string><key>nameDescription</key><string>Sraosha (IPA: ['sroː.ʃa]) is the Avestan name of the Zoroastrian yazata of "Obedience" or "Observance", which is also the literal meaning of his name.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sraosha</string><key>nameImageName</key><string>MythPersianFemSOROUSH</string></dict>
    <key>SRAOSHA</key><dict><key>nameID</key><string>01.06.0.33</string><key>nameDescription</key><string>Sraosha (IPA: ['sroː.ʃa]) is the Avestan name of the Zoroastrian yazata of "Obedience" or "Observance", which is also the literal meaning of his name.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sraosha</string><key>nameImageName</key><string>MythPersianFemSRAOSHA</string></dict>
    <key>TAHMURAS</key><dict><key>nameID</key><string>01.06.0.34</string><key>nameDescription</key><string>Tahmuras or Tahmures (Persian: تهمورث or طهمورث‎‎), New Persian transliteration Ṭahmūraṯ, older Persian Tahmurat or Tahmurath, from Avestan Taxma Urupi, is the third Shah of the world according to Ferdowsi's epic poem, the Shahnameh. He is considered as the builder of Merv. There is no evidence for his existing as an earlier Aryan chief.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Tahmuras</string><key>nameImageName</key><string>MythPersianFemTAHMURAS</string></dict>
    <key>TAKHMA URUPI</key><dict><key>nameID</key><string>01.06.0.35</string><key>nameDescription</key><string>Tahmuras or Tahmures (Persian: تهمورث or طهمورث‎‎), New Persian transliteration Ṭahmūraṯ, older Persian Tahmurat or Tahmurath, from Avestan Taxma Urupi, is the third Shah of the world according to Ferdowsi's epic poem, the Shahnameh. He is considered as the builder of Merv. There is no evidence for his existing as an earlier Aryan chief.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Tahmuras</string><key>nameImageName</key><string>MythPersianFemTAHMURAS</string></dict>
    <key>VERETHRAGNA</key><dict><key>nameID</key><string>01.06.0.36</string><key>nameDescription</key><string>Verethragna (vərəθraγna) is an Avestan language neuter noun literally meaning "smiting of resistance" (Gnoli, 1989:510; Boyce 1975:63). Representing this concept is the divinity Verethragna, who is the hypostasis of "victory", and "as a giver of victory Verethragna plainly enjoyed the greatest popularity of old" (Boyce, 1975:63).
        The neuter noun verethragna is related to Avestan verethra, 'obstacle' and verethragnan, 'victorious'. (Gnoli, 1989:510) In Zoroastrian Middle Persian, Verethragna became Warahran, from which Vahram, Vehram, Bahram, Behram and other variants derive.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Verethragna</string><key>nameImageName</key><string>MythPersianFemVERETHRAGNA</string></dict>
    <key>VOHU MANAH</key><dict><key>nameID</key><string>01.06.0.37</string><key>nameDescription</key><string>Vohu Manah[pronunciation?] is the Avestan language term for a Zoroastrian concept, generally translated as "Good Purpose" or "Good Mind" (cognate with Sanskrit vasu manas), referring to the good moral state of mind that enables an individual to accomplish his duties. Its Middle Persian equivalent, as attested in the Pahlavi script texts of Zoroastrian tradition, is Wahman, which is a borrowing of the Avestan language expression and has the same meaning, and which continues in New Persian as Bahman and variants. Manah is cognate with the Sanskrit word Manas suggesting some commonality between the ideas of the Gathas and those of the rig veda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Vohu_Manah</string><key>nameImageName</key><string>MythPersianFemBAHMAN</string></dict>
    <key>YIMA</key><dict><key>nameID</key><string>01.06.0.38</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAM</string></dict>
    <key>YIMA KSHAETA</key><dict><key>nameID</key><string>01.06.0.39</string><key>nameDescription</key><string>Jamshid [ǰæmšīd] (Persian: جمشید‎‎, Jamshīd) (Middle- and New Persian: جم, Jam) (Avestan: Yima) is a mythological figure of Greater Iranian culture and tradition.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jamshid</string><key>nameImageName</key><string>MythPersianFemJAMSHID</string></dict>
    <key>ZAL</key><dict><key>nameID</key><string>01.06.0.40</string><key>nameDescription</key><string>Zāl (Persian: زال‎‎) is a legendary Persian King who ruled over Zabulistan and one of the greatest Persian warriors in Shahnameh.[1] He is the father of the equally legendary Persian hero, Rostam.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Z%C4%81l</string><key>nameImageName</key><string>MythPersianFemZAL</string></dict>


    
    
    </dict>
</plist>
