<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythNorseFem.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>BORGHILD</key><dict><key>nameID</key><string>01.04.1.1</string><key>nameDescription</key><string>In Norse mythology, Borghild was the first wife of Sigmund. She bore him two sons, Hamund and Helgi. She is the personification of the evening mist, or perhaps the moon, who kills the light of day.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Borghild</string><key>nameImageName</key><string>MythNorseFemBORGHILD</string></dict>
    <key>BORGHILDR</key><dict><key>nameID</key><string>01.04.1.2</string><key>nameDescription</key><string>In Norse mythology, Borghild was the first wife of Sigmund. She bore him two sons, Hamund and Helgi. She is the personification of the evening mist, or perhaps the moon, who kills the light of day.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Borghild</string><key>nameImageName</key><string>MythNorseFemBORGHILDR</string></dict>
    <key>BRYNHILDR</key><dict><key>nameID</key><string>01.04.1.3</string><key>nameDescription</key><string>In Norse mythology, Borghild was the first wife of Sigmund. She bore him two sons, Hamund and Helgi. She is the personification of the evening mist, or perhaps the moon, who kills the light of day.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Borghild</string><key>nameImageName</key><string>MythNorseFemBRYNHILDR</string></dict>
    <key>EIR</key><dict><key>nameID</key><string>01.04.1.4</string><key>nameDescription</key><string>In Norse mythology, Eir (Old Norse "help, mercy"[1]) is a goddess and/or valkyrie associated with medical skill.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Eir</string><key>nameImageName</key><string>MythNorseFemEIR</string></dict>
    <key>EMBLA</key><dict><key>nameID</key><string>01.04.1.5</string><key>nameDescription</key><string>In Norse mythology, Ask and Embla (from Old Norse Askr ok Embla)—male and female respectively—were the first two humans, created by the Gods. The pair are attested in both the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In both sources, three gods, one of whom is Odin, find Ask and Embla and bestow upon them various corporeal and spiritual gifts. A number of theories have been proposed to explain the two figures, and there are occasional references to them in popular culture.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ask_and_Embla</string><key>nameImageName</key><string>MythNorseFemEMBLA</string></dict>
    <key>ERNA</key><dict><key>nameID</key><string>01.04.1.6</string><key>nameDescription</key><string>In Norse mythology according to the Eddic poem Rígsþula, Erna was the mother of eleven sons by Jarl, the ancestors of the class of warriors in Norse society. Her father was Hersir, a tribal chief.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Erna</string><key>nameImageName</key><string>MythNorseFemERNA</string></dict>
    <key>FREA</key><dict><key>nameID</key><string>01.04.1.7</string><key>nameDescription</key><string>In Norse mythology, Freyja (/ˈfreɪə/; Old Norse for "(the) Lady") is a goddess associated with love, sex, beauty, fertility, gold, seiðr, war, and death. Freyja is the owner of the necklace Brísingamen, rides a chariot pulled by two cats, keeps the boar Hildisvíni by her side, possesses a cloak of falcon feathers, and, by her husband Óðr, is the mother of two daughters, Hnoss and Gersemi. Along with her brother Freyr (Old Norse the "Lord"), her father Njörðr, and her mother (Njörðr's sister, unnamed in sources), she is a member of the Vanir. Stemming from Old Norse Freyja, modern forms of the name include Freya, Freija, Frejya, Freyia, Fröja, Frøya, Frøjya, Freia, Freja, Frua and Freiya.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyja</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FREYA</key><dict><key>nameID</key><string>01.04.1.8</string><key>nameDescription</key><string>In Norse mythology, Freyja (/ˈfreɪə/; Old Norse for "(the) Lady") is a goddess associated with love, sex, beauty, fertility, gold, seiðr, war, and death. Freyja is the owner of the necklace Brísingamen, rides a chariot pulled by two cats, keeps the boar Hildisvíni by her side, possesses a cloak of falcon feathers, and, by her husband Óðr, is the mother of two daughters, Hnoss and Gersemi. Along with her brother Freyr (Old Norse the "Lord"), her father Njörðr, and her mother (Njörðr's sister, unnamed in sources), she is a member of the Vanir. Stemming from Old Norse Freyja, modern forms of the name include Freya, Freija, Frejya, Freyia, Fröja, Frøya, Frøjya, Freia, Freja, Frua and Freiya.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyja</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FREYJA</key><dict><key>nameID</key><string>01.04.1.9</string><key>nameDescription</key><string>In Norse mythology, Freyja (/ˈfreɪə/; Old Norse for "(the) Lady") is a goddess associated with love, sex, beauty, fertility, gold, seiðr, war, and death. Freyja is the owner of the necklace Brísingamen, rides a chariot pulled by two cats, keeps the boar Hildisvíni by her side, possesses a cloak of falcon feathers, and, by her husband Óðr, is the mother of two daughters, Hnoss and Gersemi. Along with her brother Freyr (Old Norse the "Lord"), her father Njörðr, and her mother (Njörðr's sister, unnamed in sources), she is a member of the Vanir. Stemming from Old Norse Freyja, modern forms of the name include Freya, Freija, Frejya, Freyia, Fröja, Frøya, Frøjya, Freia, Freja, Frua and Freiya.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Freyja</string><key>nameImageName</key><string>MythNorseFemFREYA</string></dict>
    <key>FRIGG</key><dict><key>nameID</key><string>01.04.1.10</string><key>nameDescription</key><string>In Germanic mythology, Frigg (Old Norse), Frija (Old High German), Frea (Langobardic), and Frige (Old English) is a goddess. In nearly all sources, she is described as the wife of the god Odin. In Old High German and Old Norse sources, she is also connected with the goddess Fulla. The English weekday name Friday (etymologically Old English "Frīge's day") bears her name.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Frigg</string><key>nameImageName</key><string>MythNorseFemFRIGG</string></dict>
    <key>GERD</key><dict><key>nameID</key><string>01.04.1.11</string><key>nameDescription</key><string>In Norse mythology, Gerðr (Old Norse "fenced-in"[1]) is a jötunn, goddess, and the wife of the god Freyr. Gerðr is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources; the Prose Edda and Heimskringla, written in the 13th century by Snorri Sturluson; and in the poetry of skalds. Gerðr is sometimes modernly anglicized as Gerd or Gerth.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ger%C3%B0r</string><key>nameImageName</key><string>MythNorseFemGERD</string></dict>
    <key>GRID</key><dict><key>nameID</key><string>01.04.1.12</string><key>nameDescription</key><string>In Norse mythology, Gríðr (Old Norse "greed"[1] or "greed, vehemence, violence, impetuosity"[2]) is a female jötunn who, aware of Loki's plans to have Thor killed at the hands of the giant Geirröd, helped Thor by supplying him with a number of magical gifts which included a pair of iron gloves, and a staff known as Gríðarvölr. These items saved Thor's life. She is also the mother of the god Víðarr by Odin.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gr%C3%AD%C3%B0r</string><key>nameImageName</key><string>MythNorseFemGRID</string></dict>
    <key>GRÍMHILDR</key><dict><key>nameID</key><string>01.04.1.13</string><key>nameDescription</key><string>In Norse mythology, Grimhild or Grímhildr (masked battle[1][2]) was a beautiful but evil woman. She was married to king Gjúki, of Burgundy. She had three sons, Gunnarr, Hǫgni and Guttormr, and a daughter, Gudrun. </string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Grimhild</string><key>nameImageName</key><string>MythNorseFemGRÍMHILDR</string></dict>
    <key>GRÓA</key><dict><key>nameID</key><string>01.04.1.14</string><key>nameDescription</key><string>In Norse mythology, Gróa (Old Norse "growing"[1]) is a völva and practitioner of seiðr, the wife of Aurvandil the Bold.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gr%C3%B3a</string><key>nameImageName</key><string>MythNorseFemGRÓA</string></dict>
    <key>GUDRUN</key><dict><key>nameID</key><string>01.04.1.15</string><key>nameDescription</key><string>In Norse mythology, Gudrun (Guðrún Gjúkadóttir) is the sister of king Gunnar. She falls in love with Sigurd, who does not care for her, as he is in love with the valkyrie Brynhild, to whom he once gave the ring of Andvaranaut. Gudrun's brother Gunnar also wished to marry Brynhild, but this was impossible as the latter had sworn to marry only the man who could defeat her in a fair fight, whom she knew to be Sigurd.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gudrun</string><key>nameImageName</key><string>MythNorseFemGUDRUN</string></dict>
    <key>GUÐRÚN</key><dict><key>nameID</key><string>01.04.1.16</string><key>nameDescription</key><string>In Norse mythology, Gudrun (Guðrún Gjúkadóttir) is the sister of king Gunnar. She falls in love with Sigurd, who does not care for her, as he is in love with the valkyrie Brynhild, to whom he once gave the ring of Andvaranaut. Gudrun's brother Gunnar also wished to marry Brynhild, but this was impossible as the latter had sworn to marry only the man who could defeat her in a fair fight, whom she knew to be Sigurd.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gudrun</string><key>nameImageName</key><string>MythNorseFemGUÐRÚN</string></dict>
    <key>GUNNR</key><dict><key>nameID</key><string>01.04.1.17</string><key>nameDescription</key><string>Gunnr (alternatively guðr) is an Old Norse term meaning "battle". It is the name of a valkyrie in Norse mythology, and was also used as a feminine given name. The modern forms Gun and Gunn remain in use as a feminine given name in Scandinavia.[1] The word is from Proto-Germanic *gunþiz, which is a common element of Germanic names not only in North but also in West Germanic, as second element especially frequent in feminine names (as in Hildegund), as first element also in masculine names (as in Gunther).</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gunnr</string><key>nameImageName</key><string>MythNorseFemVALKIRJA</string></dict>
    <key>HEIDRUN</key><dict><key>nameID</key><string>01.04.1.18</string><key>nameDescription</key><string>Heiðrún is a goat in Norse mythology, which consumes the foliage of the tree Læraðr and produces mead for the einherjar. She is described in the Poetic Edda and Prose Edda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hei%C3%B0r%C3%BAn</string><key>nameImageName</key><string>MythNorseFemHEIDRUN</string></dict>
    <key>HEIÐRÚN</key><dict><key>nameID</key><string>01.04.1.19</string><key>nameDescription</key><string>Heiðrún is a goat in Norse mythology, which consumes the foliage of the tree Læraðr and produces mead for the einherjar. She is described in the Poetic Edda and Prose Edda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hei%C3%B0r%C3%BAn</string><key>nameImageName</key><string>MythNorseFemHEIDRUN</string></dict>
    <key>HEL</key><dict><key>nameID</key><string>01.04.1.20</string><key>nameDescription</key><string>In Norse mythology, Hel is a being who presides over a realm of the same name, where she receives a portion of the dead. Hel is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In addition, she is mentioned in poems recorded in Heimskringla and Egils saga that date from the 9th and 10th centuries, respectively. An episode in the Latin work Gesta Danorum, written in the 12th century by Saxo Grammaticus, is generally considered to refer to Hel, and Hel may appear on various Migration Period bracteates.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hel_(being)</string><key>nameImageName</key><string>MythNorseFemHEL</string></dict>
    <key>HILDR</key><dict><key>nameID</key><string>01.04.1.21</string><key>nameDescription</key><string>In Norse mythology, Hildr (Old Norse "battle"[1]) is a valkyrie. Hildr is attested in the Prose Edda as Högni's daughter and Hedin's wife in the legend of Hedin and Högni. She had the power to revive the dead in battlefields and used it to maintain the everlasting battle between Hedin and Högni.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hildr</string><key>nameImageName</key><string>MythNorseFemHILDR</string></dict>
    <key>HULD</key><dict><key>nameID</key><string>01.04.1.22</string><key>nameDescription</key><string>In Scandinavian mythology, Huld is only referenced by völva or seiðkona, that is a woman who practiced the seiðr. She is mentioned in the Ynglinga saga, Sturlunga saga and a late medieval Icelandic tale.[1] In the latter source, she is Odin's mistress and the mother of the demi-goddesses Þorgerðr and Irpa.[1] As her name suggests, Huld may be in origin the same being as the Huldra and the German Holda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Huld</string><key>nameImageName</key><string>MythNorseFemHULD</string></dict>
    <key>HULDA</key><dict><key>nameID</key><string>01.04.1.23</string><key>nameDescription</key><string>In Scandinavian mythology, Huld is only referenced by völva or seiðkona, that is a woman who practiced the seiðr. She is mentioned in the Ynglinga saga, Sturlunga saga and a late medieval Icelandic tale.[1] In the latter source, she is Odin's mistress and the mother of the demi-goddesses Þorgerðr and Irpa.[1] As her name suggests, Huld may be in origin the same being as the Huldra and the German Holda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Huld</string><key>nameImageName</key><string>MythNorseFemHULD</string></dict>
    <key>IDUN</key><dict><key>nameID</key><string>01.04.1.24</string><key>nameDescription</key><string>In Norse mythology, Iðunn is a goddess associated with apples and youth. Iðunn is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In both sources, she is described as the wife of the skaldic god Bragi, and in the Prose Edda, also as a keeper of apples and granter of eternal youthfulness.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/I%C3%B0unn</string><key>nameImageName</key><string>MythNorseFemIDUN</string></dict>
    <key>IÐUNN</key><dict><key>nameID</key><string>01.04.1.25</string><key>nameDescription</key><string>In Norse mythology, Iðunn is a goddess associated with apples and youth. Iðunn is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson. In both sources, she is described as the wife of the skaldic god Bragi, and in the Prose Edda, also as a keeper of apples and granter of eternal youthfulness.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/I%C3%B0unn</string><key>nameImageName</key><string>MythNorseFemIDUN</string></dict>
    <key>NANNA</key><dict><key>nameID</key><string>01.04.1.26</string><key>nameDescription</key><string>In Norse mythology, Nanna Nepsdóttir or simply Nanna is a goddess associated with the god Baldr. Accounts of Nanna vary greatly by source.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Nanna_(Norse_deity)</string><key>nameImageName</key><string>MythNorseFemNANNA</string></dict>
    <key>SAGA</key><dict><key>nameID</key><string>01.04.1.27</string><key>nameDescription</key><string>Sagas are stories mostly about ancient Nordic and Germanic history, about early Viking voyages, the battles that took place during the voyages, about migration to Iceland and of feuds between Icelandic families. They were written in the Old Norse language, mainly in Iceland.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Saga</string><key>nameImageName</key><string>MythNorseFemSAGA</string></dict>
    <key>SIF</key><dict><key>nameID</key><string>01.04.1.28</string><key>nameDescription</key><string>In Norse mythology, Sif is a goddess associated with earth. Sif is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson, and in the poetry of skalds. In both the Poetic Edda and the Prose Edda, Sif is the wife of the thunder god Thor and is known for her golden hair.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sif</string><key>nameImageName</key><string>MythNorseFemSIV</string></dict>
    <key>SIGNÝ</key><dict><key>nameID</key><string>01.04.1.29</string><key>nameDescription</key><string>Signy or Signe (sometimes known as Sieglinde) is the name of two heroines in two connected legends from Scandinavian mythology which were very popular in medieval Scandinavia. Both appear in the Völsunga saga, which was adapted into other works such as Wagner's 'Ring' cycle, including its famous opera The Valkyrie. Signy is also the name of two characters in several other sagas.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Signy</string><key>nameImageName</key><string>MythNorseFemSIGNÝ</string></dict>
    <key>SIGRÚN</key><dict><key>nameID</key><string>01.04.1.30</string><key>nameDescription</key><string>Sigrún (Old Norse "victory rune"[1]) is a valkyrie in Norse mythology. Her story is related in Helgakviða Hundingsbana I and Helgakviða Hundingsbana II, in the Poetic Edda.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sigr%C3%BAn</string><key>nameImageName</key><string>MythNorseFemVALKIRJA</string></dict>
    <key>SIV</key><dict><key>nameID</key><string>01.04.1.31</string><key>nameDescription</key><string>In Norse mythology, Sif is a goddess associated with earth. Sif is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources, and the Prose Edda, written in the 13th century by Snorri Sturluson, and in the poetry of skalds. In both the Poetic Edda and the Prose Edda, Sif is the wife of the thunder god Thor and is known for her golden hair.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sif</string><key>nameImageName</key><string>MythNorseFemSIV</string></dict>
    <key>SKAÐI</key><dict><key>nameID</key><string>01.04.1.32</string><key>nameDescription</key><string>In Norse mythology, Skaði (sometimes anglicized as Skadi, Skade, or Skathi) is a jötunn and goddess associated with bowhunting, skiing, winter, and mountains. Skaði is attested in the Poetic Edda, compiled in the 13th century from earlier traditional sources; the Prose Edda and in Heimskringla, written in the 13th century by Snorri Sturluson, and in the works of skalds.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ska%C3%B0i</string><key>nameImageName</key><string>MythNorseFemSKAÐI</string></dict>
    <key>SKULD</key><dict><key>nameID</key><string>01.04.1.33</string><key>nameDescription</key><string>Skuld (the name possibly means "debt" or "future")[1] is a Norn in Norse mythology. Along with Urðr (Old Norse "fate"[2]) and Verðandi (possibly "happening" or "present"[3]), Skuld makes up a trio of Norns that are described as deciding the fates of people. Skuld appears in at least two poems as a Valkyrie.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Skuld</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>
    <key>SVANHILD</key><dict><key>nameID</key><string>01.04.1.34</string><key>nameDescription</key><string>Svanhild is the beautiful daughter of Sigurd and Gudrun in Germanic mythology, whose grisly death at the hands of her jealous royal husband Ermanaric was told in many northern European stories, including the Icelandic Poetic Edda (Hamðismál and Guðrúnarhvöt), Prose Edda and the Volsunga Saga; the Norwegian Ragnarsdrápa; the Danish Gesta Danorum; and the German Nibelungenlied and Annals of Quedlinburg.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Svanhildr</string><key>nameImageName</key><string>MythNorseFemSVANHILD</string></dict>
    <key>SVANHILDR</key><dict><key>nameID</key><string>01.04.1.35</string><key>nameDescription</key><string>Svanhild is the beautiful daughter of Sigurd and Gudrun in Germanic mythology, whose grisly death at the hands of her jealous royal husband Ermanaric was told in many northern European stories, including the Icelandic Poetic Edda (Hamðismál and Guðrúnarhvöt), Prose Edda and the Volsunga Saga; the Norwegian Ragnarsdrápa; the Danish Gesta Danorum; and the German Nibelungenlied and Annals of Quedlinburg.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Svanhildr</string><key>nameImageName</key><string>MythNorseFemSVANHILDR</string></dict>
    <key>URD</key><dict><key>nameID</key><string>01.04.1.36</string><key>nameDescription</key><string>Urðr (Old Norse "fate"[1]) is one of the Norns in Norse mythology.[1] Along with Verðandi (possibly "happening" or "present"[2]) and Skuld (possibly "debt" or "future"[3]), Urðr makes up a trio of Norns that are described as deciding the fates of people.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ur%C3%B0r</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>
    <key>VERDANDI</key><dict><key>nameID</key><string>01.04.1.37</string><key>nameDescription</key><string>In Norse mythology, Verðandi (Old Norse, meaning possibly "happening" or "present"[1]), sometimes anglicized as Verdandi or Verthandi, is one of the norns. Along with Urðr (Old Norse "fate"[2]) and Skuld (possibly "debt" or "future"[3]), Verðandi makes up a trio of Norns that are described as deciding the fates (wyrd) of people.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ver%C3%B0andi</string><key>nameImageName</key><string>MythNorseFemURD</string></dict>


    
    
    
    </dict>
</plist>
