<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythCelticFem.plist
   Nickname generator

   Created by Anton Novoselov on 20/05/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>AGRONA</key><dict><key>nameID</key><string>01.07.1.1</string><key>nameDescription</key><string>Agrona is the reconstructed Proto-Celtic name for the river Aeron in Wales. The river's name literally means 'carnage'.[1] It is hypothesized that there may have been an eponymous river-goddess associated with strife or war.[2]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Agrona</string><key>nameImageName</key><string>MythCelticFemAGRONA</string></dict>
        <key>ANDRASTE</key><dict><key>nameID</key><string>01.07.1.2</string><key>nameDescription</key><string>Andraste, also known as Andrasta or Andred, was, according to the Roman historian Dio Cassius, an Icenic war goddess invoked by Boudica in her fight against the Roman occupation of Britain in AD 60.[1] She may be the same as Andate, mentioned later by the same source, and described as "their name for Victory": i.e., the goddess Victoria.[2] Thayer asserts that she may be related to Andarta also. The goddess Victoria is related to Nike, Bellona, Magna Mater (Great Mother), Cybele, and Vacuna—goddesses who are often depicted on chariots.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Andraste</string><key>nameImageName</key><string>MythCelticFemANDRASTE</string></dict>
        <key>AOIFE</key><dict><key>nameID</key><string>01.07.1.3</string><key>nameDescription</key><string>Aoife (also spelled Aífe, Aeife; Irish pronunciation: [ˈiːfʲə]; /ˈiːfʲə/ ee-fə), is an Irish feminine given name. The name is probably derived from the Gaelic aoibh, which means "beauty" or "radiance".[1] It has been compared to the Gaulish name Esvios (Latinized Esuvius, feminine Esuvia), which may be related to the tribal name Esuvii and the theonym Esus.[2]
            In Irish mythology, Aífe is the daughter of Airdgeimm, a warrior woman in the Ulster Cycle of Irish mythology. Aífe or Aoife is also the second wife of King Lir in the Irish myth Children of Lir and the twin sister (or, at times, the enemy) of Scathach. T. F. O'Rahilly supposed that the Irish heroine reflects an otherwise unknown goddess representing a feminine counterpart to Gaulish Esus.[3]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Aoife</string><key>nameImageName</key><string>MythCelticFemAOIFE</string></dict>
        <key>BÉBINN</key><dict><key>nameID</key><string>01.07.1.4</string><key>nameDescription</key><string>Bébinn /bɛˈviːn/ aka Bé Binn, is an early Irish name applied to a number of related and unrelated figures in Irish mythology. In some sources Bébhinn (old orthography: Béḃinn) is a goddess associated with birth and the sister of the river-goddess, Boann. Bébinn is also described as being an underworld goddess in both Irish and Welsh mythology, inhabiting either the Irish underworld Mag Mell or the Welsh Annwn, although it is unknown which is the original source.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/B%C3%A9binn</string><key>nameImageName</key><string>MythCelticFemBÉBINN</string></dict>
        <key>BLÁTHNAT</key><dict><key>nameID</key><string>01.07.1.5</string><key>nameDescription</key><string>Bláthnat ("Little flower"),[1] sometimes Bláthíne,[2] is a character in early Irish literature, a king's daughter, wife of the warrior Cú Roí and the lover of his rival Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bl%C3%A1thnat</string><key>nameImageName</key><string>MythCelticFemBLÁTHNAT</string></dict>
        <key>BRIDGET</key><dict><key>nameID</key><string>01.07.1.6</string><key>nameDescription</key><string>Bridget or Brigid is a Celtic/Irish female name derived from the noun brígh, meaning "power, strength, vigor, virtue".[1] An alternate meaning of the name is "exalted one".[2] Its popularity, especially in Ireland, is largely related to the popularity of Saint Brigid of Kildare, who was so popular in Ireland she was known as "Mary of the Gael". This saint took on many of the characteristics of the early Celtic goddess Brigid, who was the goddess of agriculture and healing and possibly also of poetry and fire. One of her epithets was "Brigid of the Holy Fire".[3] In German and Scandinavian countries, the popularity of the name spread due to Saint Bridget of Sweden.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bridget_(given_name)</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGHID</key><dict><key>nameID</key><string>01.07.1.7</string><key>nameDescription</key><string>Bridget or Brigid is a Celtic/Irish female name derived from the noun brígh, meaning "power, strength, vigor, virtue".[1] An alternate meaning of the name is "exalted one".[2] Its popularity, especially in Ireland, is largely related to the popularity of Saint Brigid of Kildare, who was so popular in Ireland she was known as "Mary of the Gael". This saint took on many of the characteristics of the early Celtic goddess Brigid, who was the goddess of agriculture and healing and possibly also of poetry and fire. One of her epithets was "Brigid of the Holy Fire".[3] In German and Scandinavian countries, the popularity of the name spread due to Saint Bridget of Sweden.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bridget_(given_name)</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGID</key><dict><key>nameID</key><string>01.07.1.8</string><key>nameDescription</key><string>Bridget or Brigid is a Celtic/Irish female name derived from the noun brígh, meaning "power, strength, vigor, virtue".[1] An alternate meaning of the name is "exalted one".[2] Its popularity, especially in Ireland, is largely related to the popularity of Saint Brigid of Kildare, who was so popular in Ireland she was known as "Mary of the Gael". This saint took on many of the characteristics of the early Celtic goddess Brigid, who was the goddess of agriculture and healing and possibly also of poetry and fire. One of her epithets was "Brigid of the Holy Fire".[3] In German and Scandinavian countries, the popularity of the name spread due to Saint Bridget of Sweden.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bridget_(given_name)</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>BRIGIT</key><dict><key>nameID</key><string>01.07.1.9</string><key>nameDescription</key><string>Bridget or Brigid is a Celtic/Irish female name derived from the noun brígh, meaning "power, strength, vigor, virtue".[1] An alternate meaning of the name is "exalted one".[2] Its popularity, especially in Ireland, is largely related to the popularity of Saint Brigid of Kildare, who was so popular in Ireland she was known as "Mary of the Gael". This saint took on many of the characteristics of the early Celtic goddess Brigid, who was the goddess of agriculture and healing and possibly also of poetry and fire. One of her epithets was "Brigid of the Holy Fire".[3] In German and Scandinavian countries, the popularity of the name spread due to Saint Bridget of Sweden.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bridget_(given_name)</string><key>nameImageName</key><string>MythCelticFemBRIGID</string></dict>
        <key>CÉIBHFHIONN</key><dict><key>nameID</key><string>01.07.1.10</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemCÉIBHFHIONN</string></dict>
        <key>CLÍDNA</key><dict><key>nameID</key><string>01.07.1.11</string><key>nameDescription</key><string>In Irish mythology, Clíodhna (Clídna, Clionadh, Clíodna, Clíona, transliterated to Kleena in English) is a Queen of the Banshees of the Tuatha Dé Danann. Cleena of Carrigcleena is the potent banshee that rules as queen over the sidheog (fairy women of the hills) of South Munster, or Desmond.[1] She is the principal goddess of Ireland.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Cl%C3%ADodhna</string><key>nameImageName</key><string>MythCelticFemCLÍDNA</string></dict>
        <key>CLÍODHNA</key><dict><key>nameID</key><string>01.07.1.12</string><key>nameDescription</key><string>In Irish mythology, Clíodhna (Clídna, Clionadh, Clíodna, Clíona, transliterated to Kleena in English) is a Queen of the Banshees of the Tuatha Dé Danann. Cleena of Carrigcleena is the potent banshee that rules as queen over the sidheog (fairy women of the hills) of South Munster, or Desmond.[1] She is the principal goddess of Ireland.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Cl%C3%ADodhna</string><key>nameImageName</key><string>MythCelticFemCLÍDNA</string></dict>
        <key>DAIREANN</key><dict><key>nameID</key><string>01.07.1.13</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDAIREANN</string></dict>
        <key>DEIRDRE</key><dict><key>nameID</key><string>01.07.1.14</string><key>nameDescription</key><string>Deirdre (Irish pronunciation: [ˈdʲɛɾˠdʲɾʲə]; Old Irish: Derdriu /ˈderʲðrʲĭŭ/) is the foremost tragic heroine in Irish legend and probably its best-known figure in modern times.[1] She is known by the epithet "Deirdre of the Sorrows" (Irish: Deirdre an Bhróin). Her story is part of the Ulster Cycle, the best-known stories of pre-Christian Ireland.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Deirdre</string><key>nameImageName</key><string>MythCelticFemDEIRDRE</string></dict>
        <key>DERDRIU</key><dict><key>nameID</key><string>01.07.1.15</string><key>nameDescription</key><string>Deirdre (Irish pronunciation: [ˈdʲɛɾˠdʲɾʲə]; Old Irish: Derdriu /ˈderʲðrʲĭŭ/) is the foremost tragic heroine in Irish legend and probably its best-known figure in modern times.[1] She is known by the epithet "Deirdre of the Sorrows" (Irish: Deirdre an Bhróin). Her story is part of the Ulster Cycle, the best-known stories of pre-Christian Ireland.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Deirdre</string><key>nameImageName</key><string>MythCelticFemDEIRDRE</string></dict>
        <key>DOIREANN</key><dict><key>nameID</key><string>01.07.1.16</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDOIREANN</string></dict>
        <key>DOIREND</key><dict><key>nameID</key><string>01.07.1.17</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemDOIREND</string></dict>
        <key>ÉIMHEAR</key><dict><key>nameID</key><string>01.07.1.18</string><key>nameDescription</key><string>Emer [ˈẽβ̃əɾ], in modern Irish Eimhear or Éimhear (Eimer and Éimear are also used as modern versions, though historically incorrect)[1][2] daughter of Forgall Monach, is the wife of the hero Cú Chulainn in the Ulster Cycle of Irish mythology.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Emer</string><key>nameImageName</key><string>MythCelticFemÉIMHEAR</string></dict>
        <key>EMER</key><dict><key>nameID</key><string>01.07.1.19</string><key>nameDescription</key><string>Emer [ˈẽβ̃əɾ], in modern Irish Eimhear or Éimhear (Eimer and Éimear are also used as modern versions, though historically incorrect)[1][2] daughter of Forgall Monach, is the wife of the hero Cú Chulainn in the Ulster Cycle of Irish mythology.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Emer</string><key>nameImageName</key><string>MythCelticFemEMER</string></dict>
        <key>EPONA</key><dict><key>nameID</key><string>01.07.1.20</string><key>nameDescription</key><string>In Gallo-Roman religion, Epona was a protector of horses, ponies, donkeys, and mules. She was particularly a goddess of fertility, as shown by her attributes of a patera, cornucopia, ears of grain and the presence of foals in some sculptures.[1] She and her horses might also have been leaders of the soul in the after-life ride, with parallels in Rhiannon of the Mabinogion.[2] The worship of Epona, "the sole Celtic divinity ultimately worshipped in Rome itself",[3] was widespread in the Roman Empire between the first and third centuries AD; this is unusual for a Celtic deity, most of whom were associated with specific localities.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Epona</string><key>nameImageName</key><string>MythCelticFemEPONA</string></dict>
        <key>ÉRIU</key><dict><key>nameID</key><string>01.07.1.21</string><key>nameDescription</key><string>In Irish mythology, Ériu (Irish pronunciation: [ˈeːrʲu]; modern Irish Éire), daughter of Ernmas of the Tuatha Dé Danann, was the eponymous matron goddess of Ireland.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/%C3%89riu</string><key>nameImageName</key><string>MythCelticFemÉRIU</string></dict>
        <key>ÉTAÍN</key><dict><key>nameID</key><string>01.07.1.22</string><key>nameDescription</key><string>Étaín or Édaín (Modern Irish spelling: Éadaoin) is a figure of Irish mythology, best known as the heroine of Tochmarc Étaíne (The Wooing Of Étaín), one of the oldest and richest stories of the Mythological Cycle. She also figures in the Middle Irish Togail Bruidne Dá Derga (The Destruction of Da Derga's Hostel). T. F. O'Rahilly identified her as a sun goddess.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/%C3%89ta%C3%ADn</string><key>nameImageName</key><string>MythCelticFemÉTAÍN</string></dict>
        <key>FEDELM</key><dict><key>nameID</key><string>01.07.1.23</string><key>nameDescription</key><string>Fedelm (sometimes spelled Feidelm; modern Fidelma) is a female prophet and fili, or learned poet, in the Ulster Cycle of Irish mythology. She appears in the great epic Táin Bó Cuailnge, in which she foretells the armies of Medb and Ailill mac Máta will face against the Ulaid and their greatest champion, Cú Chulainn. A prophetess of the same name appears in another tale, which associates her with Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fedelm</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEDELMID</key><dict><key>nameID</key><string>01.07.1.24</string><key>nameDescription</key><string>Fedelm (sometimes spelled Feidelm; modern Fidelma) is a female prophet and fili, or learned poet, in the Ulster Cycle of Irish mythology. She appears in the great epic Táin Bó Cuailnge, in which she foretells the armies of Medb and Ailill mac Máta will face against the Ulaid and their greatest champion, Cú Chulainn. A prophetess of the same name appears in another tale, which associates her with Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fedelm</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEDLIMID</key><dict><key>nameID</key><string>01.07.1.25</string><key>nameDescription</key><string>Fedelm (sometimes spelled Feidelm; modern Fidelma) is a female prophet and fili, or learned poet, in the Ulster Cycle of Irish mythology. She appears in the great epic Táin Bó Cuailnge, in which she foretells the armies of Medb and Ailill mac Máta will face against the Ulaid and their greatest champion, Cú Chulainn. A prophetess of the same name appears in another tale, which associates her with Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fedelm</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEIDELM</key><dict><key>nameID</key><string>01.07.1.26</string><key>nameDescription</key><string>Fedelm (sometimes spelled Feidelm; modern Fidelma) is a female prophet and fili, or learned poet, in the Ulster Cycle of Irish mythology. She appears in the great epic Táin Bó Cuailnge, in which she foretells the armies of Medb and Ailill mac Máta will face against the Ulaid and their greatest champion, Cú Chulainn. A prophetess of the same name appears in another tale, which associates her with Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fedelm</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FEIDLIMID</key><dict><key>nameID</key><string>01.07.1.27</string><key>nameDescription</key><string>Fedelm (sometimes spelled Feidelm; modern Fidelma) is a female prophet and fili, or learned poet, in the Ulster Cycle of Irish mythology. She appears in the great epic Táin Bó Cuailnge, in which she foretells the armies of Medb and Ailill mac Máta will face against the Ulaid and their greatest champion, Cú Chulainn. A prophetess of the same name appears in another tale, which associates her with Cú Chulainn.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fedelm</string><key>nameImageName</key><string>MythCelticFemFEDELM</string></dict>
        <key>FINNGUALA</key><dict><key>nameID</key><string>01.07.1.28</string><key>nameDescription</key><string>In Irish mythology, Finnguala (modern spellings: Fionnghuala or Fionnuala; literally fionn-ghuala meaning "fair-shoulder") was the daughter of Lir of the Tuatha Dé Danann. In the legend of the Children of Lir, she was changed into a swan and cursed by her stepmother, Aoife, to wander the lakes and rivers of Ireland, with her brothers Fiachra, Conn and Aodh, for 900 years until saved by the marriage of Lairgren, son of Colman, son of Cobthach, and Deoch, daughter of Finghin, whose union broke the curse.[1] 'The Song of Albion', with lyrics by Thomas Moore[2] speaks of her wanderings.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fionnuala</string><key>nameImageName</key><string>MythCelticFemFINNGUALA</string></dict>
        <key>FINNUALA</key><dict><key>nameID</key><string>01.07.1.29</string><key>nameDescription</key><string>In Irish mythology, Finnguala (modern spellings: Fionnghuala or Fionnuala; literally fionn-ghuala meaning "fair-shoulder") was the daughter of Lir of the Tuatha Dé Danann. In the legend of the Children of Lir, she was changed into a swan and cursed by her stepmother, Aoife, to wander the lakes and rivers of Ireland, with her brothers Fiachra, Conn and Aodh, for 900 years until saved by the marriage of Lairgren, son of Colman, son of Cobthach, and Deoch, daughter of Finghin, whose union broke the curse.[1] 'The Song of Albion', with lyrics by Thomas Moore[2] speaks of her wanderings.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fionnuala</string><key>nameImageName</key><string>MythCelticFemFINNUALA</string></dict>
        <key>FIONNGHUALA</key><dict><key>nameID</key><string>01.07.1.30</string><key>nameDescription</key><string>In Irish mythology, Finnguala (modern spellings: Fionnghuala or Fionnuala; literally fionn-ghuala meaning "fair-shoulder") was the daughter of Lir of the Tuatha Dé Danann. In the legend of the Children of Lir, she was changed into a swan and cursed by her stepmother, Aoife, to wander the lakes and rivers of Ireland, with her brothers Fiachra, Conn and Aodh, for 900 years until saved by the marriage of Lairgren, son of Colman, son of Cobthach, and Deoch, daughter of Finghin, whose union broke the curse.[1] 'The Song of Albion', with lyrics by Thomas Moore[2] speaks of her wanderings.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fionnuala</string><key>nameImageName</key><string>MythCelticFemFIONNGHUALA</string></dict>
        <key>FIONNUALA</key><dict><key>nameID</key><string>01.07.1.31</string><key>nameDescription</key><string>In Irish mythology, Finnguala (modern spellings: Fionnghuala or Fionnuala; literally fionn-ghuala meaning "fair-shoulder") was the daughter of Lir of the Tuatha Dé Danann. In the legend of the Children of Lir, she was changed into a swan and cursed by her stepmother, Aoife, to wander the lakes and rivers of Ireland, with her brothers Fiachra, Conn and Aodh, for 900 years until saved by the marriage of Lairgren, son of Colman, son of Cobthach, and Deoch, daughter of Finghin, whose union broke the curse.[1] 'The Song of Albion', with lyrics by Thomas Moore[2] speaks of her wanderings.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Fionnuala</string><key>nameImageName</key><string>MythCelticFemFIONNUALA</string></dict>
        <key>GRÁINNE</key><dict><key>nameID</key><string>01.07.1.32</string><key>nameDescription</key><string>Gráinne (Irish pronunciation: [ˈɡɾˠaːn̪ʲə]) is the daughter of Cormac mac Airt in the Fenian Cycle of Irish mythology. She is one of the central figures in the Middle Irish text Finn and Gráinne and most famously, in the 17th-century tale The Pursuit of Diarmuid and Gráinne, which tells of her betrothal to Fionn mac Cumhaill, leader of the Fianna, and her subsequent elopement with Fionn's warrior Diarmuid Ua Duibhne.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Gr%C3%A1inne</string><key>nameImageName</key><string>MythCelticFemGRÁINNE</string></dict>
        <key>ISEULT</key><dict><key>nameID</key><string>01.07.1.33</string><key>nameDescription</key><string>Iseult (/ɪˈsuːlt/ or /ɪˈzuːlt/), alternatively Isolde (/ɪˈsoʊldᵊ/ or /ɪˈzoʊldᵊ/), Iseo, Yseult, Isode, Isoude, Izolda, Esyllt, Isotta, is the name of several characters in the Arthurian story of Tristan and Iseult. The most prominent is Iseult of Ireland, wife of Mark of Cornwall and adulterous lover of Sir Tristan. Her mother, the Queen of Ireland, is also named Iseult. The third is Iseult of the White Hands, the daughter of Hoel of Brittany, sister of Sir Kahedin, and eventual wife of Tristan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Iseult</string><key>nameImageName</key><string>MythCelticFemISEULT</string></dict>
        <key>ISOLDA</key><dict><key>nameID</key><string>01.07.1.34</string><key>nameDescription</key><string>Iseult (/ɪˈsuːlt/ or /ɪˈzuːlt/), alternatively Isolde (/ɪˈsoʊldᵊ/ or /ɪˈzoʊldᵊ/), Iseo, Yseult, Isode, Isoude, Izolda, Esyllt, Isotta, is the name of several characters in the Arthurian story of Tristan and Iseult. The most prominent is Iseult of Ireland, wife of Mark of Cornwall and adulterous lover of Sir Tristan. Her mother, the Queen of Ireland, is also named Iseult. The third is Iseult of the White Hands, the daughter of Hoel of Brittany, sister of Sir Kahedin, and eventual wife of Tristan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Iseult</string><key>nameImageName</key><string>MythCelticFemISOLDA</string></dict>
        <key>ISOLDE</key><dict><key>nameID</key><string>01.07.1.35</string><key>nameDescription</key><string>Iseult (/ɪˈsuːlt/ or /ɪˈzuːlt/), alternatively Isolde (/ɪˈsoʊldᵊ/ or /ɪˈzoʊldᵊ/), Iseo, Yseult, Isode, Isoude, Izolda, Esyllt, Isotta, is the name of several characters in the Arthurian story of Tristan and Iseult. The most prominent is Iseult of Ireland, wife of Mark of Cornwall and adulterous lover of Sir Tristan. Her mother, the Queen of Ireland, is also named Iseult. The third is Iseult of the White Hands, the daughter of Hoel of Brittany, sister of Sir Kahedin, and eventual wife of Tristan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Iseult</string><key>nameImageName</key><string>MythCelticFemISOLDE</string></dict>
        <key>MAEVE</key><dict><key>nameID</key><string>01.07.1.36</string><key>nameDescription</key><string>Medb (Old Irish spelling, [mɛðv]; Middle Irish: Meḋḃ, Meaḋḃ; early modern Irish: Meadhbh, [mɛɣv]; Modern Irish: Méabh [mʲeːv], Medbh or Maebh; sometimes Anglicised Maeve, Maev or Maive /ˈmeɪv/) is queen of Connacht in the Ulster Cycle of Irish mythology. Her husband in the core stories of the cycle is Ailill mac Máta, although she had several husbands before him who were also kings of Connacht. She rules from Cruachan (now Rathcroghan, County Roscommon). She is the enemy (and former wife) of Conchobar mac Nessa, king of Ulster, and is best known for starting the Táin Bó Cúailnge ("The Cattle Raid of Cooley") to steal Ulster's prize stud bull.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Medb</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MÉABH</key><dict><key>nameID</key><string>01.07.1.37</string><key>nameDescription</key><string>Medb (Old Irish spelling, [mɛðv]; Middle Irish: Meḋḃ, Meaḋḃ; early modern Irish: Meadhbh, [mɛɣv]; Modern Irish: Méabh [mʲeːv], Medbh or Maebh; sometimes Anglicised Maeve, Maev or Maive /ˈmeɪv/) is queen of Connacht in the Ulster Cycle of Irish mythology. Her husband in the core stories of the cycle is Ailill mac Máta, although she had several husbands before him who were also kings of Connacht. She rules from Cruachan (now Rathcroghan, County Roscommon). She is the enemy (and former wife) of Conchobar mac Nessa, king of Ulster, and is best known for starting the Táin Bó Cúailnge ("The Cattle Raid of Cooley") to steal Ulster's prize stud bull.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Medb</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MEADHBH</key><dict><key>nameID</key><string>01.07.1.38</string><key>nameDescription</key><string>Medb (Old Irish spelling, [mɛðv]; Middle Irish: Meḋḃ, Meaḋḃ; early modern Irish: Meadhbh, [mɛɣv]; Modern Irish: Méabh [mʲeːv], Medbh or Maebh; sometimes Anglicised Maeve, Maev or Maive /ˈmeɪv/) is queen of Connacht in the Ulster Cycle of Irish mythology. Her husband in the core stories of the cycle is Ailill mac Máta, although she had several husbands before him who were also kings of Connacht. She rules from Cruachan (now Rathcroghan, County Roscommon). She is the enemy (and former wife) of Conchobar mac Nessa, king of Ulster, and is best known for starting the Táin Bó Cúailnge ("The Cattle Raid of Cooley") to steal Ulster's prize stud bull.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Medb</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MEDB</key><dict><key>nameID</key><string>01.07.1.39</string><key>nameDescription</key><string>Medb (Old Irish spelling, [mɛðv]; Middle Irish: Meḋḃ, Meaḋḃ; early modern Irish: Meadhbh, [mɛɣv]; Modern Irish: Méabh [mʲeːv], Medbh or Maebh; sometimes Anglicised Maeve, Maev or Maive /ˈmeɪv/) is queen of Connacht in the Ulster Cycle of Irish mythology. Her husband in the core stories of the cycle is Ailill mac Máta, although she had several husbands before him who were also kings of Connacht. She rules from Cruachan (now Rathcroghan, County Roscommon). She is the enemy (and former wife) of Conchobar mac Nessa, king of Ulster, and is best known for starting the Táin Bó Cúailnge ("The Cattle Raid of Cooley") to steal Ulster's prize stud bull.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Medb</string><key>nameImageName</key><string>MythCelticFemMEDB</string></dict>
        <key>MÓR</key><dict><key>nameID</key><string>01.07.1.40</string><key>nameDescription</key><string>The Morrígan ("phantom queen") or Mórrígan ("great queen"), also known as Morrígu, is a figure from Irish mythology. The name is spelled Morríghan or Mór-ríoghain in Modern Irish.
            The Morrígan is primarily associated with fate, especially with foretelling doom and death in battle. In this role she appears as a crow, flying above the battlefield.[1] The Morrígan has thus been likened to the Valkyries and Norns of Germanic mythology. She is also associated with sovereignty, and her connection with cows may also suggest an association with wealth and the land.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/The_Morr%C3%ADgan</string><key>nameImageName</key><string>MythCelticFemMÓR</string></dict>
        <key>MORRIGAN</key><dict><key>nameID</key><string>01.07.1.41</string><key>nameDescription</key><string>The Morrígan ("phantom queen") or Mórrígan ("great queen"), also known as Morrígu, is a figure from Irish mythology. The name is spelled Morríghan or Mór-ríoghain in Modern Irish.
            The Morrígan is primarily associated with fate, especially with foretelling doom and death in battle. In this role she appears as a crow, flying above the battlefield.[1] The Morrígan has thus been likened to the Valkyries and Norns of Germanic mythology. She is also associated with sovereignty, and her connection with cows may also suggest an association with wealth and the land.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/The_Morr%C3%ADgan</string><key>nameImageName</key><string>MythCelticFemMORRIGAN</string></dict>
        <key>MÓRRÍGHAN</key><dict><key>nameID</key><string>01.07.1.42</string><key>nameDescription</key><string>The Morrígan ("phantom queen") or Mórrígan ("great queen"), also known as Morrígu, is a figure from Irish mythology. The name is spelled Morríghan or Mór-ríoghain in Modern Irish.
            The Morrígan is primarily associated with fate, especially with foretelling doom and death in battle. In this role she appears as a crow, flying above the battlefield.[1] The Morrígan has thus been likened to the Valkyries and Norns of Germanic mythology. She is also associated with sovereignty, and her connection with cows may also suggest an association with wealth and the land.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/The_Morr%C3%ADgan</string><key>nameImageName</key><string>MythCelticFemMÓRRÍGHAN</string></dict>
        <key>MUIRENN</key><dict><key>nameID</key><string>01.07.1.43</string><key>nameDescription</key><string>Muirne or Muireann Muncháem ("beautiful neck") was the mother of Fionn mac Cumhail in the Fenian Cycle of Irish mythology.
            She had many suitors, but her father, the druid Tadg mac Nuadat, had foreseen that her marriage would lead to the loss of his home on the hill of Almu, so he refused them all. But one of them, Cumhal, leader of the fianna, abducted her. Tadg appealed to the High King, Conn of the Hundred Battles, who outlawed and pursued Cumhal.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Muirne</string><key>nameImageName</key><string>MythCelticFemMUIRENN</string></dict>
        <key>MUIRGEN</key><dict><key>nameID</key><string>01.07.1.44</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemMUIRGEN</string></dict>
        <key>MUIRNE</key><dict><key>nameID</key><string>01.07.1.45</string><key>nameDescription</key><string>Muirne or Muireann Muncháem ("beautiful neck") was the mother of Fionn mac Cumhail in the Fenian Cycle of Irish mythology.
            She had many suitors, but her father, the druid Tadg mac Nuadat, had foreseen that her marriage would lead to the loss of his home on the hill of Almu, so he refused them all. But one of them, Cumhal, leader of the fianna, abducted her. Tadg appealed to the High King, Conn of the Hundred Battles, who outlawed and pursued Cumhal.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Muirne</string><key>nameImageName</key><string>MythCelticFemMUIRNE</string></dict>
        <key>NEAS</key><dict><key>nameID</key><string>01.07.1.46</string><key>nameDescription</key><string>Ness (Irish: Neasa, Nessa; Old Irish: Neas, Ness), also called Nessa, is a princess of the Ulaid and the mother of Conchobar mac Nessa in the Ulster Cycle of Irish mythology. Her father is Eochaid Sálbuide, king of the Ulaid.
            According to one version of the legend, she asks the druid Cathbad what that day is a good day for, and he replies that it is a good day to conceive a king. There are no other men around, so Ness takes Cathbad to bed, and Conchobar is conceived.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ness_(Irish_mythology)</string><key>nameImageName</key><string>MythCelticFemNEAS</string></dict>
        <key>NEASA</key><dict><key>nameID</key><string>01.07.1.47</string><key>nameDescription</key><string>Ness (Irish: Neasa, Nessa; Old Irish: Neas, Ness), also called Nessa, is a princess of the Ulaid and the mother of Conchobar mac Nessa in the Ulster Cycle of Irish mythology. Her father is Eochaid Sálbuide, king of the Ulaid.
            According to one version of the legend, she asks the druid Cathbad what that day is a good day for, and he replies that it is a good day to conceive a king. There are no other men around, so Ness takes Cathbad to bed, and Conchobar is conceived.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ness_(Irish_mythology)</string><key>nameImageName</key><string>MythCelticFemNEASA</string></dict>
        <key>NESS</key><dict><key>nameID</key><string>01.07.1.48</string><key>nameDescription</key><string>Ness (Irish: Neasa, Nessa; Old Irish: Neas, Ness), also called Nessa, is a princess of the Ulaid and the mother of Conchobar mac Nessa in the Ulster Cycle of Irish mythology. Her father is Eochaid Sálbuide, king of the Ulaid.
            According to one version of the legend, she asks the druid Cathbad what that day is a good day for, and he replies that it is a good day to conceive a king. There are no other men around, so Ness takes Cathbad to bed, and Conchobar is conceived.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ness_(Irish_mythology)</string><key>nameImageName</key><string>MythCelticFemNESS</string></dict>
        <key>NESSA</key><dict><key>nameID</key><string>01.07.1.49</string><key>nameDescription</key><string>Ness (Irish: Neasa, Nessa; Old Irish: Neas, Ness), also called Nessa, is a princess of the Ulaid and the mother of Conchobar mac Nessa in the Ulster Cycle of Irish mythology. Her father is Eochaid Sálbuide, king of the Ulaid.
            According to one version of the legend, she asks the druid Cathbad what that day is a good day for, and he replies that it is a good day to conceive a king. There are no other men around, so Ness takes Cathbad to bed, and Conchobar is conceived.[1]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ness_(Irish_mythology)</string><key>nameImageName</key><string>MythCelticFemNESSA</string></dict>
        <key>NIAMH</key><dict><key>nameID</key><string>01.07.1.50</string><key>nameDescription</key><string>Niamh (Irish pronunciation: [ˈniːəv], from Old Irish Niaṁ) is an Irish feminine given name (meaning "bright" or "radiant"),[1] anglicised as Neve or Neave /ˈniːv/.[2]
            In Irish mythology, Niamh is the daughter of the god of the sea, Manannán mac Lir and one of the queens of Tír na nÓg, the land of eternal youth. She was the lover of the poet-hero Oisín.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Niamh</string><key>nameImageName</key><string>MythCelticFemNIAMH</string></dict>
        <key>RIGANTONA</key><dict><key>nameID</key><string>01.07.1.51</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemRIGANTONA</string></dict>
        <key>RÍGHNACH</key><dict><key>nameID</key><string>01.07.1.52</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemRÍGHNACH</string></dict>
        <key>RÍOGHNACH</key><dict><key>nameID</key><string>01.07.1.53</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemRÍOGHNACH</string></dict>
        <key>SABIA</key><dict><key>nameID</key><string>01.07.1.54</string><key>nameDescription</key><string>In Irish mythology, Sadhbh (or Saba) was the mother of Oisín by Fionn mac Cumhail. She is either a daughter of Bodb Derg, king of the Síd of Munster, or may derive in part from Sadb ingen Chuinn, daughter of Conn of the Hundred Battles.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sadhbh</string><key>nameImageName</key><string>MythCelticFemSABIA</string></dict>
        <key>SADB</key><dict><key>nameID</key><string>01.07.1.55</string><key>nameDescription</key><string>In Irish mythology, Sadhbh (or Saba) was the mother of Oisín by Fionn mac Cumhail. She is either a daughter of Bodb Derg, king of the Síd of Munster, or may derive in part from Sadb ingen Chuinn, daughter of Conn of the Hundred Battles.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sadhbh</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SADBH</key><dict><key>nameID</key><string>01.07.1.56</string><key>nameDescription</key><string>In Irish mythology, Sadhbh (or Saba) was the mother of Oisín by Fionn mac Cumhail. She is either a daughter of Bodb Derg, king of the Síd of Munster, or may derive in part from Sadb ingen Chuinn, daughter of Conn of the Hundred Battles.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sadhbh</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SADHBH</key><dict><key>nameID</key><string>01.07.1.57</string><key>nameDescription</key><string>In Irish mythology, Sadhbh (or Saba) was the mother of Oisín by Fionn mac Cumhail. She is either a daughter of Bodb Derg, king of the Síd of Munster, or may derive in part from Sadb ingen Chuinn, daughter of Conn of the Hundred Battles.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Sadhbh</string><key>nameImageName</key><string>MythCelticFemSADB</string></dict>
        <key>SIONANN</key><dict><key>nameID</key><string>01.07.1.58</string><key>nameDescription</key><string></string><key>nameURL</key><string></string><key>nameImageName</key><string>MythCelticFemSIONANN</string></dict>
        <key>YSOLT</key><dict><key>nameID</key><string>01.07.1.59</string><key>nameDescription</key><string>Iseult (/ɪˈsuːlt/ or /ɪˈzuːlt/), alternatively Isolde (/ɪˈsoʊldᵊ/ or /ɪˈzoʊldᵊ/), Iseo, Yseult, Isode, Isoude, Izolda, Esyllt, Isotta, is the name of several characters in the Arthurian story of Tristan and Iseult. The most prominent is Iseult of Ireland, wife of Mark of Cornwall and adulterous lover of Sir Tristan. Her mother, the Queen of Ireland, is also named Iseult. The third is Iseult of the White Hands, the daughter of Hoel of Brittany, sister of Sir Kahedin, and eventual wife of Tristan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Iseult</string><key>nameImageName</key><string>MythCelticFemYSOLT</string></dict>

        
        
        
        
    
    </dict>
</plist>
