<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythRomanMasc.plist
   Nickname generator

   Created by Anton Novoselov on 03/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>AENEAS</key><dict><key>nameID</key><string>01.03.0.1</string><key>nameDescription</key><string>In Greco-Roman mythology, Aeneas (/ᵻˈniːəs/;[1] Greek: Αἰνείας, Aineías, possibly derived from Greek αἰνή meaning "praised") was a Trojan hero, the son of the prince Anchises and the goddess Venus (Aphrodite). His father was a first cousin of King Priam of Troy (both being grandsons of Ilus, founder of Troy), making Aeneas a second cousin to Priam's children (such as Hector and Paris). He is a character in Greek mythology and is mentioned in Homer's Iliad. Aeneas receives full treatment in Roman mythology, most extensively in Virgil's Aeneid where he is an ancestor of Romulus and Remus. He became the first true hero of Rome.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Aeneas</string><key>nameImageName</key><string>MythRomanMascAENEAS</string></dict>
        <key>AMULIUS</key><dict><key>nameID</key><string>01.03.0.2</string><key>nameDescription</key><string>In Roman mythology, Amulius was the brother of Numitor and son of Procas. He was the hostile uncle of Romulus and Remus' mother. He was said to have reigned 42 years (794-752 BC according to Dionysius of Halicarnassus)[1] before his overthrow by the twins Romulus and Remus.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Amulius</string><key>nameImageName</key><string>MythRomanMascAMULIUS</string></dict>
        <key>ARIES</key><dict><key>nameID</key><string>01.03.0.3</string><key>nameDescription</key><string>Aries (♈) /ˈɛəriːz/ (meaning "ram") is the first astrological sign in the Zodiac, spanning the first 30 degrees of celestial longitude (0°≤ λ ≤ 30°). Under the tropical zodiac, the Sun transits this sign mostly between March 20 and April 19 each year. This time duration is exactly the first month of Solar Hejri calendar (Farvardin). Under the sidereal zodiac, the sun currently transits Aries from April 15 to May 14(approximately). The symbol of the ram is based on the Chrysomallus, the flying ram that provided the Golden Fleece.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Aries_(astrology)</string><key>nameImageName</key><string>MythRomanMascARIES</string></dict>
            <key>CONSUS</key><dict><key>nameID</key><string>01.03.0.4</string><key>nameDescription</key><string>In ancient Roman religion, the god Consus was the protector of grains. He was represented by a grain seed.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Consus</string><key>nameImageName</key><string>MythRomanMascCONSUS</string></dict>
            <key>CUPID</key><dict><key>nameID</key><string>01.03.0.5</string><key>nameDescription</key><string>In classical mythology, Cupid (Latin Cupido, meaning "desire") is the god of desire, erotic love, attraction and affection. He is often portrayed as the son of the love goddess Venus and the war god Mars, and is known in Latin also as Amor ("Love"). His Greek counterpart is Eros.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Cupid</string><key>nameImageName</key><string>MythRomanMascCUPID</string></dict>
            <key>EVANDER</key><dict><key>nameID</key><string>01.03.0.6</string><key>nameDescription</key><string>In Roman mythology, Evander (from Greek Εὔανδρος Euandros, "good man" or "strong man": an etymology used by poets to emphasize the hero's virtue)[1] was a culture hero from Arcadia, Greece, who brought the Greek pantheon, laws, and alphabet to Italy, where he founded the city of Pallantium on the future site of Rome, sixty years before the Trojan War. He instituted the festival of the Lupercalia. Evander was deified after his death and an altar was constructed to him on the Aventine Hill.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Evander_of_Pallene</string><key>nameImageName</key><string>MythRomanMascEVANDER</string></dict>
            <key>EVANDRUS</key><dict><key>nameID</key><string>01.03.0.7</string><key>nameDescription</key><string>In Roman mythology, Evander (from Greek Εὔανδρος Euandros, "good man" or "strong man": an etymology used by poets to emphasize the hero's virtue)[1] was a culture hero from Arcadia, Greece, who brought the Greek pantheon, laws, and alphabet to Italy, where he founded the city of Pallantium on the future site of Rome, sixty years before the Trojan War. He instituted the festival of the Lupercalia. Evander was deified after his death and an altar was constructed to him on the Aventine Hill.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Evander_of_Pallene</string><key>nameImageName</key><string>MythRomanMascEVANDER</string></dict>
            <key>FAUNUS</key><dict><key>nameID</key><string>01.03.0.8</string><key>nameDescription</key><string>In ancient Roman religion and myth, Faunus was the horned god of the forest, plains and fields; when he made cattle fertile he was called Inuus. He came to be equated in literature with the Greek god Pan.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Faunus</string><key>nameImageName</key><string>MythRomanMascFAUNUS</string></dict>
            <key>GEMINI</key><dict><key>nameID</key><string>01.03.0.9</string><key>nameDescription</key><string>In Greek and Roman mythology, Castor[1] and Pollux[2] or Polydeuces[3] were twin brothers, together known as the Dioskouri.[4] Their mother was Leda, but Castor was the mortal son of Tyndareus, the king of Sparta, and Pollux the divine son of Zeus, who seduced Leda in the guise of a swan. Though accounts of their birth are varied, they are sometimes said to have been born from an egg, along with their twin sisters and half-sisters Helen of Troy and Clytemnestra.
                In Latin the twins are also known as the Gemini[5] or Castores.[6] When Castor was killed, Pollux asked Zeus to let him share his own immortality with his twin to keep them together, and they were transformed into the constellation Gemini. The pair were regarded as the patrons of sailors, to whom they appeared as St. Elmo's fire, and were also associated with horsemanship.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Castor_and_Pollux</string><key>nameImageName</key><string>MythRomanMascGEMINI</string></dict>
            <key>HERCULES</key><dict><key>nameID</key><string>01.03.0.10</string><key>nameDescription</key><string>Hercules is the Roman name for the Greek divine hero Heracles, who was the son of Zeus (Roman equivalent Jupiter) and the mortal Alcmene. In classical mythology, Hercules is famous for his strength and for his numerous far-ranging adventures.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hercules</string><key>nameImageName</key><string>MythRomanMascHERCULES</string></dict>
            <key>IANUS</key><dict><key>nameID</key><string>01.03.0.11</string><key>nameDescription</key><string>In ancient Roman religion and myth, Janus (/ˈdʒeɪnəs/; Latin: Ianus, pronounced [ˈjaː.nus]) is the god of beginnings, gates, transitions, time, doorways,[1] passages, and endings. He is usually depicted as having two faces, since he looks to the future and to the past. It is conventionally thought that the month of January is named for Janus (Ianuarius),[2] but according to ancient Roman farmers' almanacs Juno was the tutelary deity of the month.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Janus</string><key>nameImageName</key><string>MythRomanMascJANUS</string></dict>
            <key>IOVIS</key><dict><key>nameID</key><string>01.03.0.12</string><key>nameDescription</key><string>Jupiter, also Jove (Latin: Iuppiter [ˈjʊppɪtɛr], gen. Iovis [ˈjɔwɪs]), is the god of sky and thunder and king of the gods in Ancient Roman religion and mythology. Jupiter was the chief deity of Roman state religion throughout the Republican and Imperial eras, until Christianity became the dominant religion of the Empire. In Roman mythology, he negotiates with Numa Pompilius, the second king of Rome, to establish principles of Roman religion such as sacrifice.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jupiter_(mythology)</string><key>nameImageName</key><string>MythRomanMascJUPITER</string></dict>
            <key>ITALUS</key><dict><key>nameID</key><string>01.03.0.13</string><key>nameDescription</key><string>Italus or Italos (from Greek Ἰταλός) was a legendary king of the Oenotrians, who were among the earliest inhabitants of Italy. In his Fabularum Liber (or Fabulae), Gaius Julius Hyginus recorded the myth that Italus was a son of Penelope and Telegonus.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Italus</string><key>nameImageName</key><string>MythRomanMascITALUS</string></dict>
            <key>IUPPITER</key><dict><key>nameID</key><string>01.03.0.14</string><key>nameDescription</key><string>Jupiter, also Jove (Latin: Iuppiter [ˈjʊppɪtɛr], gen. Iovis [ˈjɔwɪs]), is the god of sky and thunder and king of the gods in Ancient Roman religion and mythology. Jupiter was the chief deity of Roman state religion throughout the Republican and Imperial eras, until Christianity became the dominant religion of the Empire. In Roman mythology, he negotiates with Numa Pompilius, the second king of Rome, to establish principles of Roman religion such as sacrifice.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jupiter_(mythology)</string><key>nameImageName</key><string>MythRomanMascJUPITER</string></dict>
            <key>JANUS</key><dict><key>nameID</key><string>01.03.0.15</string><key>nameDescription</key><string>In ancient Roman religion and myth, Janus (/ˈdʒeɪnəs/; Latin: Ianus, pronounced [ˈjaː.nus]) is the god of beginnings, gates, transitions, time, doorways,[1] passages, and endings. He is usually depicted as having two faces, since he looks to the future and to the past. It is conventionally thought that the month of January is named for Janus (Ianuarius),[2] but according to ancient Roman farmers' almanacs Juno was the tutelary deity of the month.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Janus</string><key>nameImageName</key><string>MythRomanMascJANUS</string></dict>
            <key>JOVE</key><dict><key>nameID</key><string>01.03.0.16</string><key>nameDescription</key><string>Jupiter, also Jove (Latin: Iuppiter [ˈjʊppɪtɛr], gen. Iovis [ˈjɔwɪs]), is the god of sky and thunder and king of the gods in Ancient Roman religion and mythology. Jupiter was the chief deity of Roman state religion throughout the Republican and Imperial eras, until Christianity became the dominant religion of the Empire. In Roman mythology, he negotiates with Numa Pompilius, the second king of Rome, to establish principles of Roman religion such as sacrifice.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jupiter_(mythology)</string><key>nameImageName</key><string>MythRomanMascJUPITER</string></dict>
            <key>JUPITER</key><dict><key>nameID</key><string>01.03.0.17</string><key>nameDescription</key><string>Jupiter, also Jove (Latin: Iuppiter [ˈjʊppɪtɛr], gen. Iovis [ˈjɔwɪs]), is the god of sky and thunder and king of the gods in Ancient Roman religion and mythology. Jupiter was the chief deity of Roman state religion throughout the Republican and Imperial eras, until Christianity became the dominant religion of the Empire. In Roman mythology, he negotiates with Numa Pompilius, the second king of Rome, to establish principles of Roman religion such as sacrifice.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Jupiter_(mythology)</string><key>nameImageName</key><string>MythRomanMascJUPITER</string></dict>
            <key>LIBER</key><dict><key>nameID</key><string>01.03.0.18</string><key>nameDescription</key><string>In ancient Roman religion and mythology, Liber /ˈlaɪbər/ ("the free one"; Latin: Līber [ˈliːbɛr]), also known as Liber Pater ("the free Father") was a god of viticulture and wine, fertility and freedom. He was a patron deity of Rome's plebeians and was part of their Aventine Triad. His festival of Liberalia (March 17) became associated with free speech and the rights attached to coming of age. His cult and functions were increasingly associated with Romanised forms of the Greek Dionysus/Bacchus, whose mythology he came to share.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Liber</string><key>nameImageName</key><string>MythRomanMascLIBER</string></dict>
            <key>MARS</key><dict><key>nameID</key><string>01.03.0.19</string><key>nameDescription</key><string>In ancient Roman religion and myth, Mars (Latin: Mārs, [maːrs]) was the god of war and also an agricultural guardian, a combination characteristic of early Rome.[1] He was second in importance only to Jupiter and he was the most prominent of the military gods in the religion of the Roman army. Most of his festivals were held in March, the month named for him (Latin Martius), and in October, which began the season for military campaigning and ended the season for farming.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mars_(mythology)</string><key>nameImageName</key><string>MythRomanMascMARS</string></dict>
            <key>MERCURIUS</key><dict><key>nameID</key><string>01.03.0.20</string><key>nameDescription</key><string>Mercury (/ˈmɜːrkjᵿri/; Latin: Mercurius [mɛrˈkʊr.jʊs]) is a major Roman god, being one of the Dii Consentes within the ancient Roman pantheon. He is the patron god of financial gain, commerce, eloquence (and thus poetry), messages/communication (including divination), travelers, boundaries, luck, trickery and thieves; he is also the guide of souls to the underworld.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mercury_(mythology)</string><key>nameImageName</key><string>MythRomanMascMERCURY</string></dict>
            <key>MERCURY</key><dict><key>nameID</key><string>01.03.0.21</string><key>nameDescription</key><string>Mercury (/ˈmɜːrkjᵿri/; Latin: Mercurius [mɛrˈkʊr.jʊs]) is a major Roman god, being one of the Dii Consentes within the ancient Roman pantheon. He is the patron god of financial gain, commerce, eloquence (and thus poetry), messages/communication (including divination), travelers, boundaries, luck, trickery and thieves; he is also the guide of souls to the underworld.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mercury_(mythology)</string><key>nameImageName</key><string>MythRomanMascMERCURY</string></dict>
            <key>NEPTUNE</key><dict><key>nameID</key><string>01.03.0.22</string><key>nameDescription</key><string>Neptune (Latin: Neptūnus [nɛpˈtuːnʊs]) was the god of freshwater and the sea[1] in Roman religion. He is the counterpart of the Greek god Poseidon.[2] In the Greek-influenced tradition, Neptune was the brother of Jupiter and Pluto; the brothers presided over the realms of Heaven, the earthly world, and the Underworld.[3] Salacia was his consort.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Neptune_(mythology)</string><key>nameImageName</key><string>MythRomanMascNEPTUNUS</string></dict>
            <key>NEPTUNUS</key><dict><key>nameID</key><string>01.03.0.23</string><key>nameDescription</key><string>Neptune (Latin: Neptūnus [nɛpˈtuːnʊs]) was the god of freshwater and the sea[1] in Roman religion. He is the counterpart of the Greek god Poseidon.[2] In the Greek-influenced tradition, Neptune was the brother of Jupiter and Pluto; the brothers presided over the realms of Heaven, the earthly world, and the Underworld.[3] Salacia was his consort.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Neptune_(mythology)</string><key>nameImageName</key><string>MythRomanMascNEPTUNUS</string></dict>
            <key>NUMITOR</key><dict><key>nameID</key><string>01.03.0.24</string><key>nameDescription</key><string>In Roman mythology, King Numitor /ˈnuːmᵻtər/[1] of Alba Longa, was the son of Procas, descendant of Aeneas the Trojan, and father of Rhea Silvia and Lausus</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Numitor</string><key>nameImageName</key><string>MythRomanMascNUMITOR</string></dict>
            <key>PLUTO</key><dict><key>nameID</key><string>01.03.0.25</string><key>nameDescription</key><string>Pluto (Greek: Πλούτων, Ploutōn) was the ruler of the underworld in classical mythology. The earlier name for the god was Hades, which became more common as the name of the underworld itself. In ancient Greek religion and mythology, Pluto represents a more positive concept of the god who presides over the afterlife. Ploutōn was frequently conflated with Ploutos (Πλοῦτος, Plutus), a god of wealth, because mineral wealth was found underground, and because as a chthonic god Pluto ruled the deep earth that contained the seeds necessary for a bountiful harvest.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Pluto_(mythology)</string><key>nameImageName</key><string>MythRomanMascPLUTO</string></dict>
            <key>POLLUX</key><dict><key>nameID</key><string>01.03.0.26</string><key>nameDescription</key><string>In Greek and Roman mythology, Castor[1] and Pollux[2] or Polydeuces[3] were twin brothers, together known as the Dioskouri.[4] Their mother was Leda, but Castor was the mortal son of Tyndareus, the king of Sparta, and Pollux the divine son of Zeus, who seduced Leda in the guise of a swan. Though accounts of their birth are varied, they are sometimes said to have been born from an egg, along with their twin sisters and half-sisters Helen of Troy and Clytemnestra.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Castor_and_Pollux</string><key>nameImageName</key><string>MythRomanMascPOLLUX</string></dict>
            <key>QUIRINUS</key><dict><key>nameID</key><string>01.03.0.27</string><key>nameDescription</key><string>In Roman mythology and religion, Quirinus ( /kwɪˈraɪnəs/;[2] Latin: Quirīnus, [kʷɪˈriːnʊs]) is an early god of the Roman state. In Augustan Rome, Quirinus was also an epithet of Janus, as Janus Quirinus.[3] His name may be derived from the Sabine word quiris "spear."</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Quirinus</string><key>nameImageName</key><string>MythRomanMascQUIRINUS</string></dict>
            <key>REMUS</key><dict><key>nameID</key><string>01.03.0.28</string><key>nameDescription</key><string>Romulus /ˈrɒmjᵿləs/ and Remus /ˈriːməs/ were the twin brothers and main characters of Rome's foundation myth. (The pronunciation in English is different from the Latin original Rōmulus and Rĕmus). According to Roman tradition, of which Livy's account is now the earliest to survive in full, their mother was Rhea Silvia, daughter of Numitor, king of Alba Longa. Before their conception, Numitor's brother Amulius seized power, killed Numitor's male heirs and forced Rhea Silvia to become a Vestal Virgin, sworn to chastity. Rhea Silvia conceived the twins by the god Mars.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Romulus_and_Remus</string><key>nameImageName</key><string>MythRomanMascROMULUS</string></dict>
            <key>ROMULUS</key><dict><key>nameID</key><string>01.03.0.29</string><key>nameDescription</key><string>Romulus /ˈrɒmjᵿləs/ and Remus /ˈriːməs/ were the twin brothers and main characters of Rome's foundation myth. (The pronunciation in English is different from the Latin original Rōmulus and Rĕmus). According to Roman tradition, of which Livy's account is now the earliest to survive in full, their mother was Rhea Silvia, daughter of Numitor, king of Alba Longa. Before their conception, Numitor's brother Amulius seized power, killed Numitor's male heirs and forced Rhea Silvia to become a Vestal Virgin, sworn to chastity. Rhea Silvia conceived the twins by the god Mars.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Romulus_and_Remus</string><key>nameImageName</key><string>MythRomanMascROMULUS</string></dict>
            <key>SATURN</key><dict><key>nameID</key><string>01.03.0.30</string><key>nameDescription</key><string>Saturn (Latin: Saturnus Latin pronunciation: [saˈtʊr.nʊs]) is a god in ancient Roman religion, and a character in myth. Saturn is a complex figure because of his multiple associations and long history. He was the first god of the Capitol, known since the most ancient times as Saturnius Mons, and was seen as a god of generation, dissolution, plenty, wealth, agriculture, periodic renewal and liberation. In later developments he came to be also a god of time. His reign was depicted as a Golden Age of plenty and peace.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Saturn_(mythology)</string><key>nameImageName</key><string>MythRomanMascSATURN</string></dict>
            <key>SATURNUS</key><dict><key>nameID</key><string>01.03.0.31</string><key>nameDescription</key><string>Saturn (Latin: Saturnus Latin pronunciation: [saˈtʊr.nʊs]) is a god in ancient Roman religion, and a character in myth. Saturn is a complex figure because of his multiple associations and long history. He was the first god of the Capitol, known since the most ancient times as Saturnius Mons, and was seen as a god of generation, dissolution, plenty, wealth, agriculture, periodic renewal and liberation. In later developments he came to be also a god of time. His reign was depicted as a Golden Age of plenty and peace.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Saturn_(mythology)</string><key>nameImageName</key><string>MythRomanMascSATURN</string></dict>
            <key>SILVANUS</key><dict><key>nameID</key><string>01.03.0.32</string><key>nameDescription</key><string>Silvanus (/sɪlˈveɪnəs/;[1] meaning "of the woods" in Latin) was a Roman tutelary deity of woods and fields. As protector of forests (sylvestris deus), he especially presided over plantations and delighted in trees growing wild</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Silvanus_(mythology)</string><key>nameImageName</key><string>MythRomanMascSILVANUS</string></dict>
            <key>SILVIUS</key><dict><key>nameID</key><string>01.03.0.33</string><key>nameDescription</key><string>In Roman mythology, Silvius, or Sylvius, (Latin: Silvǐus; Greek: Σιλούιος; said to have reigned 1139-1110 BC),[1] or Silvius Postumus,[2][3] was either the son of Aeneas and Lavinia or the son of Ascanius. He succeeded Ascanius as King of Alba Longa.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Silvius_(mythology)</string><key>nameImageName</key><string>MythRomanMascSILVIUS</string></dict>
            <key>SUMMANUS</key><dict><key>nameID</key><string>01.03.0.34</string><key>nameDescription</key><string>In ancient Roman religion, Summanus (Latin: Summānus) was the god of nocturnal thunder, as counterposed to Jupiter, the god of diurnal (daylight) thunder.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Summanus</string><key>nameImageName</key><string>MythRomanMascSUMMANUS</string></dict>
            <key>TATIUS</key><dict><key>nameID</key><string>01.03.0.35</string><key>nameDescription</key><string>Titus Tatius was, according to the ancient Roman tradition, the Sabine king of Cures, who, after the rape of the Sabine women, attacked Rome and captured the Capitol with the treachery of Tarpeia. The Sabine women, however, convinced Tatius and the Roman king, Romulus, to reconcile and subsequently they ruled jointly over the Romans and Sabines.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Titus_Tatius</string><key>nameImageName</key><string>MythRomanMascTATIUS</string></dict>
            <key>TERMINUS</key><dict><key>nameID</key><string>01.03.0.36</string><key>nameDescription</key><string>In Roman religion, Terminus was the god who protected boundary markers; his name was the Latin word for such a marker.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Terminus_(god)</string><key>nameImageName</key><string>MythRomanMascTERMINUS</string></dict>
            <key>ULYSSES</key><dict><key>nameID</key><string>01.03.0.37</string><key>nameDescription</key><string>Odysseus (/oʊˈdɪsiəs, oʊˈdɪsjuːs/; Greek: Ὀδυσσεύς [odysˈsews]), also known by the Latin name Ulysses (US /juːˈlɪsiːz/, UK /ˈjuːlɪsiːz/; Latin: Ulyssēs, Ulixēs), was a legendary Greek king of Ithaca and the hero of Homer's epic poem the Odyssey. Odysseus also plays a key role in Homer's Iliad and other works in that same epic cycle.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Odysseus</string><key>nameImageName</key><string>MythRomanMascULYSSES</string></dict>
            <key>VULCAN</key><dict><key>nameID</key><string>01.03.0.38</string><key>nameDescription</key><string>Vulcan (Latin: Volcānus or Vulcānus; pronounced [wɔlˈkaːnʊs], [wʊlˈkaːnʊs]) is the god of fire[1] including the fire of volcanoes, metalworking, and the forge in ancient Roman religion and myth. Vulcan is often depicted with a blacksmith's hammer.[2] The Vulcanalia was the annual festival held August 23 in his honor. His Greek counterpart is Hephaestus, the god of fire and smithery. In Etruscan religion, he is identified with Sethlans.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Vulcan_(mythology)</string><key>nameImageName</key><string>MythRomanMascVULCAN</string></dict>

        

    
    
    </dict>
</plist>
