<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythEgyptFem.plist
   Nickname generator

   Created by Anton Novoselov on 21/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>BAST</key><dict><key>nameID</key><string>01.05.1.1</string><key>nameDescription</key><string>Bastet was a goddess in ancient Egyptian religion, worshiped as early as the 2nd Dynasty (2890 BC). As Bast, she was the goddess of warfare in Lower Egypt, the Nile River delta region, before the unification of the cultures of ancient Egypt. Her name is also translated as Baast, Ubaste, and Baset.[1] In Greek mythology, she is also known as Ailuros.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bastet</string><key>nameImageName</key><string>MythEgyptFemBAST</string></dict>
        <key>BASTET</key><dict><key>nameID</key><string>01.05.1.2</string><key>nameDescription</key><string>Bastet was a goddess in ancient Egyptian religion, worshiped as early as the 2nd Dynasty (2890 BC). As Bast, she was the goddess of warfare in Lower Egypt, the Nile River delta region, before the unification of the cultures of ancient Egypt. Her name is also translated as Baast, Ubaste, and Baset.[1] In Greek mythology, she is also known as Ailuros.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Bastet</string><key>nameImageName</key><string>MythEgyptFemBAST</string></dict>
        <key>HATHOR</key><dict><key>nameID</key><string>01.05.1.3</string><key>nameDescription</key><string>Hathor (/ˈhæθɔːr/ or /ˈhæθər/;[2] Egyptian: ḥwt-ḥr; in Greek: Ἅθωρ, meaning "mansion of Horus")[1] is an Ancient Egyptian goddess who personified the principles of joy, feminine love, and motherhood.[3] She was one of the most important and popular deities throughout the history of Ancient Egypt. Hathor was worshiped by royalty and common people alike in whose tombs she is depicted as "Mistress of the West" welcoming the dead into the next life.[4] In other roles she was a goddess of music, dance, foreign lands and fertility who helped women in childbirth,[4] as well as the patron goddess of miners.[5]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hathor</string><key>nameImageName</key><string>MythEgyptFemHATHOR</string></dict>
        <key>HET-HERU</key><dict><key>nameID</key><string>01.05.1.4</string><key>nameDescription</key><string>Hathor (/ˈhæθɔːr/ or /ˈhæθər/;[2] Egyptian: ḥwt-ḥr; in Greek: Ἅθωρ, meaning "mansion of Horus")[1] is an Ancient Egyptian goddess who personified the principles of joy, feminine love, and motherhood.[3] She was one of the most important and popular deities throughout the history of Ancient Egypt. Hathor was worshiped by royalty and common people alike in whose tombs she is depicted as "Mistress of the West" welcoming the dead into the next life.[4] In other roles she was a goddess of music, dance, foreign lands and fertility who helped women in childbirth,[4] as well as the patron goddess of miners.[5]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Hathor</string><key>nameImageName</key><string>MythEgyptFemHATHOR</string></dict>
        <key>ISET</key><dict><key>nameID</key><string>01.05.1.5</string><key>nameDescription</key><string>Isis (/ˈaɪsɪs/; Ancient Greek: Ἶσις IPA: [îː.sis]; original Egyptian pronunciation more likely "Aset" or "Iset"[1]) is a goddess from the polytheistic pantheon of Egypt. She was first worshiped in Ancient Egyptian religion, and later her worship spread throughout the Roman Empire and the greater Greco-Roman world. Isis is still widely worshiped by many pagans today in diverse religious contexts; including a number of distinct pagan religions, the modern Goddess movement, and interfaith organizations such as the Fellowship of Isis.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Isis</string><key>nameImageName</key><string>MythEgyptFemISIS</string></dict>
        <key>ISIS</key><dict><key>nameID</key><string>01.05.1.6</string><key>nameDescription</key><string>Isis (/ˈaɪsɪs/; Ancient Greek: Ἶσις IPA: [îː.sis]; original Egyptian pronunciation more likely "Aset" or "Iset"[1]) is a goddess from the polytheistic pantheon of Egypt. She was first worshiped in Ancient Egyptian religion, and later her worship spread throughout the Roman Empire and the greater Greco-Roman world. Isis is still widely worshiped by many pagans today in diverse religious contexts; including a number of distinct pagan religions, the modern Goddess movement, and interfaith organizations such as the Fellowship of Isis.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Isis</string><key>nameImageName</key><string>MythEgyptFemISIS</string></dict>
        <key>NEITH</key><dict><key>nameID</key><string>01.05.1.7</string><key>nameDescription</key><string>Neith (/neɪθ/ or /niːθ/; also spelled Nit, Net, or Neit) was an early goddess in the Egyptian pantheon. She was the patron deity of Sais, where her cult was centered in the Western Nile Delta of Egypt and attested as early as the First Dynasty.[1] The Ancient Egyptian name of this city was Zau.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Neith</string><key>nameImageName</key><string>MythEgyptFemNEITH</string></dict>
        <key>NEPHTHYS</key><dict><key>nameID</key><string>01.05.1.8</string><key>nameDescription</key><string>Nephthys (Greek: Νέφθυς) or Nebthet was a goddess in ancient Egyptian religion. A member of the Great Ennead of Heliopolis in Egyptian mythology, she was a daughter of Nut and Geb. Nephthys was typically paired with her sister Isis in funerary rites[1] because of their role as protectors of the mummy and the god Osiris and as the sister-wife of Set.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Nephthys</string><key>nameImageName</key><string>MythEgyptFemNEPHTHYS</string></dict>
        <key>NIT</key><dict><key>nameID</key><string>01.05.1.9</string><key>nameDescription</key><string>Neith (/neɪθ/ or /niːθ/; also spelled Nit, Net, or Neit) was an early goddess in the Egyptian pantheon. She was the patron deity of Sais, where her cult was centered in the Western Nile Delta of Egypt and attested as early as the First Dynasty.[1] The Ancient Egyptian name of this city was Zau.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Neith</string><key>nameImageName</key><string>MythEgyptFemNEITH</string></dict>

        
        
    
    </dict>
</plist>
