<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MythPersianFem.plist
   Nickname generator

   Created by Anton Novoselov on 22/04/16.
   Copyright (c) 2016 Anton Novoselov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    <key>AMERETAT</key><dict><key>nameID</key><string>01.06.1.1</string><key>nameDescription</key><string>Ameretat (Amərətāt) is the Avestan language name of the Zoroastrian divinity/divine concept of immortality. Ameretat is the Amesha Spenta of long life on earth and perpetuality in the hereafter.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ameretat</string><key>nameImageName</key><string>MythPersianFemAMERETAT</string></dict>
    <key>AMORDAD</key><dict><key>nameID</key><string>01.06.1.2</string><key>nameDescription</key><string>Ameretat (Amərətāt) is the Avestan language name of the Zoroastrian divinity/divine concept of immortality. Ameretat is the Amesha Spenta of long life on earth and perpetuality in the hereafter.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ameretat</string><key>nameImageName</key><string>MythPersianFemAMERETAT</string></dict>
    <key>AMURDAD</key><dict><key>nameID</key><string>01.06.1.3</string><key>nameDescription</key><string>Ameretat (Amərətāt) is the Avestan language name of the Zoroastrian divinity/divine concept of immortality. Ameretat is the Amesha Spenta of long life on earth and perpetuality in the hereafter.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Ameretat</string><key>nameImageName</key><string>MythPersianFemAMERETAT</string></dict>
    <key>ANAHITA</key><dict><key>nameID</key><string>01.06.1.4</string><key>nameDescription</key><string>Anahita is the Old Persian form of the name of an Iranian goddess and appears in complete and earlier form as Aredvi Sura Anahita (Arədvī Sūrā Anāhitā); the Avestan language name of an Indo-Iranian cosmological figure venerated as the divinity of 'the Waters' (Aban) and hence associated with fertility, healing and wisdom. Aredvi Sura Anahita is Ardwisur Anahid or Nahid in Middle- and Modern Persian, Anahit or Anaheed in Armenian.[1] An iconic shrine cult of Aredvi Sura Anahita, was – together with other shrine cults – "introduced apparently in the 4th century BCE and lasted until it was suppressed in the wake of an iconoclastic movement under the Sassanids."[2]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Anahita</string><key>nameImageName</key><string>MythPersianFemANAHITA</string></dict>
    <key>ANAITIS</key><dict><key>nameID</key><string>01.06.1.5</string><key>nameDescription</key><string>Anahita is the Old Persian form of the name of an Iranian goddess and appears in complete and earlier form as Aredvi Sura Anahita (Arədvī Sūrā Anāhitā); the Avestan language name of an Indo-Iranian cosmological figure venerated as the divinity of 'the Waters' (Aban) and hence associated with fertility, healing and wisdom. Aredvi Sura Anahita is Ardwisur Anahid or Nahid in Middle- and Modern Persian, Anahit or Anaheed in Armenian.[1] An iconic shrine cult of Aredvi Sura Anahita, was – together with other shrine cults – "introduced apparently in the 4th century BCE and lasted until it was suppressed in the wake of an iconoclastic movement under the Sassanids."[2]</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Anahita</string><key>nameImageName</key><string>MythPersianFemANAHITA</string></dict>
    <key>ASHTAD</key><dict><key>nameID</key><string>01.06.1.6</string><key>nameDescription</key><string>Arshtat] (arštāt) is the Avestan language name of a Zoroastrian principle and signifies either "justice"[1] or "honesty."[2] As a substantive, arshtat designates the divinity Arshtat, the hypostasis of "Rectitude" and "Justice". Her standing epithet is "world-furthering" or "world-promoting."</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Arshtat</string><key>nameImageName</key><string>MythPersianFemASHTAD</string></dict>
    <key>HAURVATAT</key><dict><key>nameID</key><string>01.06.1.7</string><key>nameDescription</key><string>Haurvatat (haurvatāt) is the Avestan language word for the Zoroastrian concept of "wholeness" or "perfection." In post-Gathic Zoroastrianism, Haurvatat was the Amesha Spenta associated with water (cf. apo), prosperity, and health.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Haurvatat</string><key>nameImageName</key><string>MythPersianFemHAURVATAT</string></dict>
    <key>KHORDAD</key><dict><key>nameID</key><string>01.06.1.8</string><key>nameDescription</key><string>Haurvatat (haurvatāt) is the Avestan language word for the Zoroastrian concept of "wholeness" or "perfection." In post-Gathic Zoroastrianism, Haurvatat was the Amesha Spenta associated with water (cf. apo), prosperity, and health.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Haurvatat</string><key>nameImageName</key><string>MythPersianFemKHORDAD</string></dict>
    <key>KHURSHID</key><dict><key>nameID</key><string>01.06.1.9</string><key>nameDescription</key><string>Khorshīd or Khorshēd (Persian: خورشید‎‎, meaning the Sun or the "Radiant Sun"), also spelled as Khurshed and Khurshid, is a Persian given name. In the modern day as well as historical Iran, Turkey, and Azerbaijan, but also in Egypt, Central Asia and South Asia, it is mostly a given name for boys. The origin of the word is related to the Avestan divinity Hvare-khshaeta. In Turkish, it is sometimes written as Hurşit.</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Khorshid</string><key>nameImageName</key><string>MythPersianFemKHURSHID</string></dict>
    <key>MORDAD</key><dict><key>nameID</key><string>01.06.1.10</string><key>nameDescription</key><string>Mordad (Persian: مرداد‎‎, Persian pronunciation: [moɾˈdɒːd][1]) is the fifth month of the Iranian calendar.[1] Mordad has thirty-one days,[1] beginning in July and ending in August of the Gregorian calendar. It is the second month of summer after Tir, and is followed by Shahrivar.[1]
        The name "Mordad" derives from Middle Persian "Amurdad" from Avestan 'Ameretat', the Zoroastrian divinity of "immortality", and under whose protection the month stands</string><key>nameURL</key><string>https://en.wikipedia.org/wiki/Mordad</string><key>nameImageName</key><string>MythPersianFemMORDAD</string></dict>

    
    
    
    </dict>
</plist>
